[2020-07-16 17:04] StevenBarre commented on #296
Started discussions with F5 and DXC about options for a license. F5 has provided a 30 day eval.

[2020-07-16 17:06] tosazuwa commented on #192
@stewartshea , can you add updates to this ticket. Not sure what this is tracking

[2020-07-16 17:08] tosazuwa commented on #174
@stregear  to check with Scott on how we get an approval for the SDN Compartment tech note and also  confirm with Jeff Legault to confirm if internal STRA (AS ISS) needed

[2020-07-16 17:09] tosazuwa commented on #202
@sbarre-esit  to update

[2020-07-16 17:19] tosazuwa commented on #291
@j-pye , please add a summary of outcomes and conclusions from the fix if it has been resolved

[2020-07-16 17:22] jefkel commented on #90
Design meeting scheduled for Jul 21 for next steps.

[2020-07-16 17:29] jefkel commented on #205
Tracking renames of clusters with the redeployment to the SDN networks (which is when they will be renamed)

[2020-07-16 17:44] jefkel commented on #296
(Pulled extra detail from description)

Download speed of a 100MB file in Calgary DMZ
![pic2.jpg](https://images.zenhubusercontent.com/5d544a7a5faedc627998cd85/be81b982-1f18-4f8a-abb9-9d7bfd7276a7)

Download speed of a 100MB file in KLAB SDN
![pic1.jpg](https://images.zenhubusercontent.com/5d544a7a5faedc627998cd85/3ccc0360-2e62-4a89-853b-76cf08d34a61)

As building a new node or doing an OCP upgrad

[2020-07-16 17:58] sbarre-esit opened #297 "Create pipeline for EnCase Agent"
**Describe the issue**
[#221](https://app.zenhub.com/workspaces/openshift-4-build-out-5db73142897668000144f22b/issues/bcdevops/openshift4-rollout/221) created the basics of an EnCase DS but needs to be Argo-ified.

**Which Sprint Goal is this issue related to?**
TBD

**Definition of done Checklist (where applicable)**
- [ ] Create pipeline to build image
- [ ] Create pipeline to deploy image to la

[2020-07-16 17:59] StevenBarre commented on #221
Work will continue in #297

[2020-07-16 17:59] #221 closed, assigned to StevenBarre

[2020-07-16 18:00] StevenBarre opened #298 "Create pipeline for LLDPAD Agent"
**Describe the issue**
[#224](https://app.zenhub.com/workspaces/openshift-4-build-out-5db73142897668000144f22b/issues/bcdevops/openshift4-rollout/224) created the basics of an LLDP DS but needs to be Argo-ified.

**Which Sprint Goal is this issue related to?**
TBD

**Definition of done Checklist (where applicable)**
- [ ] Create pipeline to build image
- [ ] Create pipeline to deploy image to lab

[2020-07-16 18:00] StevenBarre commented on #224
Work will continue in #298

[2020-07-16 18:00] #224 closed, assigned to StevenBarre

[2020-07-16 18:03] StevenBarre commented on #49
KLAB F5 is up and running in SDN compartment. Basic cluster install tested with default VIPs.

Todo: Configure CIS and test non-http VIPs

[2020-07-16 18:15] StevenBarre commented on #35
Tested NAT access via Silver VCMP. Can connect to the internet, but not back into the DMZ due to firewall rules. Network team advises they need a week to complete re-purposing the vlans and getting the firewall rules updated.

[2020-07-16 18:44] StevenBarre commented on #271
Problem 1: ETCD will bootstrap itself using the first NIC, even if it's not the "production" interface. Tracked in [rhbz#1846093](https://bugzilla.redhat.com/show_bug.cgi?id=1846093) to possibly be fixed in 4.6.

Workaround for VMs is to just order the NICs correctly in the config options

[code]

Workaround for Physicals is to disable DHCP for non-prod interfaces until the ETCD bootstrap is compl

[2020-07-16 18:50] StevenBarre commented on #273
Draft PR started since OCP builds pull from GitHub https://github.com/bcgov-c/platform-tools/pull/12

Have now successfully built an image that can run as a job and has OCP and Ansible Runner. The test playbook so far just uses `k8s_info` module to list the nodes with a service account.

Next steps is to get some secrets / vaults injected and connect to Nagios to check if the hosts exist and then

[2020-07-16 18:56] StevenBarre commented on #255
Added Cluster and Service Networks to https://docs.google.com/spreadsheets/d/17TEPNx5_UbH-ZbPMChcw9Px6vbyR1-gIIuAc9D7ae-I/edit#gid=0

[2020-07-16 18:56] #255 closed, assigned to jefkel, StevenBarre

[2020-07-16 19:04] StevenBarre commented on #13
It's alive https://console-openshift-console.apps.klab.devops.gov.bc.ca/ !

Still need to run the cluster config automation. Don't have SSH access to my util server yet and working over the VMware Console is a bit of a pain. Network is fixing the mgmt network as a top priority though.

[2020-07-16 20:56] StevenBarre opened #299 "Enable Scheduled Image Updates"
**Describe the issue**
In OCP3 you can enable a [scheduled import](https://www.openshift.com/blog/automatically-update-red-hat-container-images-on-openshift-3-11) to ensure the images in the openshift namespace as well as others are kept up to date. This is managed through Ansible vars and changing the [master config](https://docs.openshift.com/container-platform/3.11/install_config/master_node_co

[2020-07-16 23:11] StevenBarre commented on #296
![image.png](https://images.zenhubusercontent.com/5d544a7a5faedc627998cd85/e4809a7f-6ad4-4e2b-b136-1c2aa618a987)
![image.png](https://images.zenhubusercontent.com/5d544a7a5faedc627998cd85/747f1f30-1d8b-4876-8de6-da9106d41f37)

Attempting to start the Trident pods is erroring out due to the slow network.

[2020-07-17 16:13] StevenBarre commented on #235
@jefkel can you help me create a DoD for this ticket?

I think we are done based on
1. OCP4 does not support separating Ops and Apps logs
2. OCP 4.5 switches to using one index for all logs, allowing better scaling
3. We've decided that 3 ES nodes with 64Gi RAM will be sufficient for our needs
4. I documented the current log volume
5. We've got log forwarding to the province SIEM set up via anothe

[2020-07-17 17:55] StevenBarre commented on #296
Upgrade from 4.3.0 to 4.3.28 with the Eval license (good till Aug 17th)

![pic3.jpg](https://images.zenhubusercontent.com/5d544a7a5faedc627998cd85/c07b3107-82e9-4d0e-9d38-d2147869bdae)

License sizes available are 200M, 1G, 3G, 5G and 10GB. We've requested quotes for 200M and 1G.

[2020-07-17 18:07] jefkel commented on #235
updated description with clear DoD as well as summary of planning information gathered.

[2020-07-17 18:07] #235 closed, assigned to jefkel, StevenBarre

[2020-07-20 18:40] mitovskaol opened #300 "Identify key performance metrics - SPIKE"
The Platform Services Team needs to identify/document key performance metrics for the new Openshift 4 platform that can be shared with the Platform stakeholders. Some examples are MTBF (mean time between failures) and MTTR (mean time to resolve).

What specific platform services/features should be tracked? (as well as where/how the metrics will be stored/tracked)

https://docs.pathfinder.gov.bc.ca

[2020-07-20 22:10] StevenBarre opened #301 "INC0038813 Trident creating corrupted volumes"
**Describe the issue**
Sometimes, newly created block volumes fail to mount and never recover.

**Definition of done Checklist (where applicable)**
- [x] Jeff is able to deploy patroni statefulsets with new storage reliably

[2020-07-20 22:12] StevenBarre commented on #301
Opened a case with NetApp.

Appears that sometimes new volumes are detected as being already formatted and so the code doesn't format them. But they are not validly formatted and thus can't be mounted.

[code]

[code]

[2020-07-21 16:58] j-pye commented on #291
This appears to be resolved.
Root cause is still unknown but pointed towards a policy issue between Kubelet(s) and Pods.
After adding the Kubelet Egress policy many of the networking issues went away. Remaining issues were solved by a restart of the SDN pod on impacted nodes.

Note: Aporeto's Discovery mode should not be used at the cluster namespace level as it does not appear to reliably allow a

[2020-07-21 16:58] #291 closed, assigned to j-pye, StevenBarre

[2020-07-21 17:04] j-pye commented on #249
During the OCP 4.4.11 upgrade we experienced issues relating to the Aporeto Network Access Policies. These issues did not block the upgrade, however, an upgrade should be tested with all enforcers enabled before closing this ticket.

All OCP Cluster Operators upgraded successfully during this upgrade.

[2020-07-22 16:07] StevenBarre commented on #264
Decomms ordered under iStore 1037992

[2020-07-22 18:20] StevenBarre commented on #271
Fix tested in KLAB. Code updated.

[2020-07-22 18:20] #271 closed, assigned to StevenBarre

[2020-07-22 19:35] StevenBarre commented on #202
https://image-registry.apps.klab.devops.gov.bc.ca/v2/ up and running. PR to follow soon.

[2020-07-22 22:27] StevenBarre commented on #264
KLAB now has 8 app nodes

[2020-07-22 22:27] StevenBarre commented on #264
Blocked waiting on the istore process

[2020-07-23 16:45] j-pye commented on #248
- Wating to hear back from PANW.
Case: https://supportcases.paloaltonetworks.com/apex/Communities_CaseDetail?id=5004u00002IywEFAAZ

- Waiting for KLAB to be accessible so CLAB can be used for disruptive testing.

[2020-07-23 17:39] Joe-Craig commented on #191
Still waiting for Province to approve the SCO

[2020-07-23 17:48] jefkel commented on #277
Closing ( Duplicate of #292 )

[2020-07-23 17:48] #277 closed, assigned to jefkel

[2020-07-23 17:52] Joe-Craig commented on #191
SCO returned for more wording changes.
Confusion over wording in the SOW attached to the iStore for professional services which did not make it clear that support was covered until we put in place a new service agreement for all OCP4 environments.

[2020-07-23 18:26] StevenBarre commented on #202
Results from the benchmark doing a push/pull of images of different sizes

[code]

[2020-07-23 19:14] jefkel commented on #202
mb and sec?

[2020-07-23 19:59] manderson-it commented on #279
- Suggested FQDNs were accepted by Justin Pye, Jeff Kelly, Marek Anderson
- Justin Pye moving ahead to file DNS name requests

[2020-07-23 20:04] StevenBarre commented on #202
Correct

[2020-07-24 20:30] manderson-it opened #302 "Add Vault license with Ansible module"
- Add Vault license with Ansible module https://github.com/TerryHowe/ansible-modules-hashivault

[2020-07-24 20:32] manderson-it commented on #279
- @j-pye has a meeting on Monday, Jul 27 about the certificate requests

[2020-07-24 20:33] manderson-it commented on #284
- @j-pye and I have a session scheduled on Thu Jul 30

[2020-07-24 20:35] manderson-it commented on #238
- @j-pye, Steven Barre (DXC), and I discussed the initial draft for the traffic flow through the load balancer into the OCP cluster today. I am updating the diagram right now and will post the updated version in our rocketchat channel

[2020-07-24 23:08] #264 closed, assigned to StevenBarre

[2020-07-24 23:08] StevenBarre commented on #264
Completed

[2020-07-24 23:10] StevenBarre commented on #301
Some more testing has shown that the volumes are failing to unmount when the pod is deleted.

[code]

[2020-07-24 23:14] #202 closed, assigned to caggles, jefkel, StevenBarre

[2020-07-24 23:15] StevenBarre commented on #205
KLAB and SILVER have been renamed. Still working on getting new TLS certs.

CLAB will be up next. Gold and GoldDR don't exist and so don't need any renames.

[2020-07-27 17:44] jefkel commented on #13
Pulled Aporeto install out of this task to better focus on MVP cluster availability for functional testing.

Added a task to validate the base cluster functionality as a checklist item (my thought is to block completion until workarounds or fixes for storage provisioning are available)

[2020-07-27 17:47] j-pye commented on #248
CLAB is now accessible for Aporeto Testing and I have started that. However, we are experiencing latency issues and i have tickets open with PANW.

[2020-07-27 17:48] j-pye commented on #261
Meeting scheduled for July 28th at 11am.

[2020-07-27 17:49] j-pye commented on #279
iStore orders have been submitted requesting a cert for the lab and prod.

Prod
[code]
Lab
[code]

[2020-07-27 17:55] jefkel opened #303 "Aporeto installation on KLAB"
**Describe the issue**
Aporeto is required to be installed on KLAB with all enforcement policies verified.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Aporeto installed
- [x] Aporeto Operator installed
- [x] All tests passed (specify what kind of testing is done) *Detail to be added for tests/validation require

[2020-07-27 17:58] jefkel opened #304 "Aporeto installation on SILVER"
**Describe the issue**
Aporeto is required to be installed on SILVER with all enforcement policies verified.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [ ] Aporeto installed
- [ ] Aporeto Operator installed
- [ ] All tests passed (specify what kind of testing is done) *Detail to be added for tests/validation requi

[2020-07-27 18:00] jefkel opened #305 "Installation of Aporeto on CLAB"
**Describe the issue**
Aporeto is required to be installed on CLAB with all enforcement policies verified.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Aporeto installed
- [x] Aporeto Operator installed
- [x] All tests passed (specify what kind of testing is done) *Detail to be added for tests/validation require

[2020-07-27 18:04] StevenBarre commented on #296
Set throttling on the F5 to 200M and ran an upgrade. It only throttled at a few spots. Appears the Red Hat Registry caps out around 100M for any individual TCP stream and so only a few spots were multiple nodes pulling DaemonSet images or CoreOS images at the same time.

[code]

[2020-07-27 23:33] StevenBarre commented on #301
This appears to be a race condition. If you scale down without deleting the PVCs then they clean up fine. Only if you delete the PVC first, or on the same command line as the scaledown does it fail.

Provided this info to NetApp and opened a case with Red Hat to see if they have any insights. Though they do mention "With CSI, all of that code around mount / unmount etc.. that was in k8s is now own

[2020-07-27 23:34] StevenBarre commented on #273
Updated PR with ansible code to create hosts and ran a test. Nagios died after, so currently unsure if it worked or not. Added some details to the README.

[2020-07-28 12:59] manderson-it commented on #238
- @stewartshea reached out to Shea P. to provision Azure Key Vaults, which are used to provide Auto-Unseal to HashiCorp Vault.

[2020-07-28 13:24] stewartshea commented on #238
I've had to reach out to Andy to get an SP created in Azure which will then allow us to use tf cloud to build the key vaults

[2020-07-28 17:53] manderson-it commented on #238
The initial design is completed. Future efforts will be captured in a new Vault Deployment Validation issue.

[2020-07-28 17:53] #238 closed, assigned to j-pye, manderson-it

[2020-07-28 19:00] StevenBarre opened #306 "Configure max overlay size"
**Describe the issue**
RH TAM documented in a [case](https://access.redhat.com/support/cases/#/case/02700090) for us that by default pods root disk is the size of the nodes disk. This could allow a single pod to fill up the whole disk on a node.

**Additional context**
TAM documented how to work around this

**Definition of done Checklist (where applicable)**
- [x] Add code to cluster config autom

[2020-07-29 18:07] jefkel opened #307 "Deploy lab Vault service"
**Describe the issue**
A lab deployment of the vault service

**Which Sprint Goal is this issue related to?**
Deploy lab Vault service

**Additional context**

**Definition of done Checklist (where applicable)**
Functional deployment of the vault service.

[2020-07-29 19:09] j-pye commented on #261
**Meeting Notes: (July 28th, 2020)**
- On August 4th, we have a meeting with PANW to discuss ongoing support, recommendations for handling enforcer/defender failure, prisma cloud features, etc.
- (ACTION) - Open a support case with PANW to get information on recommended practices for network policy and handling outages.
- An automated solution is needed for handling a full outage and possibly a pa

[2020-07-29 20:31] #232 closed, assigned to NickCorcoran

[2020-07-29 20:31] #241 closed, assigned to NickCorcoran

[2020-07-29 20:50] manderson-it commented on #307
- Two working sessions scheduled and confirmed for Thursday, July 30 with @j-pye

[2020-07-29 20:51] manderson-it commented on #307
- One working session scheduled but unconfirmed for Friday, July 31 with @j-pye and @jefkel

[2020-07-29 21:04] tosazuwa commented on #174
Jeff Legault and Nick to meet Aug 4th to discuss STRA.

David Ell to approve SDN technote before Go Live

[2020-07-29 21:09] #228 closed, assigned to stregear

[2020-07-29 21:11] tosazuwa commented on #284
Timeboxed for full sprint

[2020-07-29 21:33] StevenBarre commented on #49
Per https://github.com/BCDevOps/OpenShift4-RollOut/blob/master/docs/F5-vs-HAProxy.md we are moving away from leveraging the F5 for HTTP(S) traffic and just using the CRDs for non-http traffic.

# Old description

Verifying the following functionality is available and configurable by our cluster-admins (some provisioning activities to be automated at a later date)

- [x] Configure incoming VIP for

[2020-07-29 22:35] jefkel commented on #285
Initial postgres operator investigation ran into some deploy/build troubleshooting that will require additional time to resolve.

Resolved patroni build/deployment issues and updated the platform-services sample: https://github.com/BCDevOps/platform-services/pull/702

Closing for now to let the operator evaluation be a future options (blocker removed with updates to the patroni build/deploy)

[2020-07-29 22:35] #285 closed, assigned to jefkel

[2020-07-30 16:42] StevenBarre commented on #49
Created a test CRD in `steve-test` to expose an http service and it worked. Health monitor needs all its args supplied despite the docs saying some are optional. Though having a health check seems redundant.

[code]

[code]

[2020-07-30 17:36] StevenBarre commented on #306
https://github.com/bcgov-c/platform-ops/pull/277

[code]

[2020-07-30 17:41] StevenBarre commented on #49
MVP complete

[2020-07-30 17:41] #49 closed, assigned to StevenBarre

[2020-07-30 17:42] StevenBarre commented on #194
We've decided to use the build in HAproxy and only use CIS for non-http once it supports that.

[2020-07-30 17:42] #194 closed, assigned to jefkel, StevenBarre

[2020-07-31 22:20] StevenBarre commented on #35
VIPs and NAT configured on the Silver VCMP and appear to be working.

Once we get a cluster up and running we can test the CIS integration.

[2020-07-31 23:14] jefkel commented on #295
@caggles Focus for artifactory on OCP 4 troubleshooting:
- differences in the scripted commands for the statefulSet initContainers (between the new manifests and the old version).
- differences in the securityContext settings to bring the "run as a random UID" forward from the old version.

[2020-08-01 20:59] jefkel opened #308 "Create StorageMigration tool (migrate between clusters)"
**Describe the issue**
Extend the existing https://github.com/bcdevops/StorageMigration tool for a cross cluster data copy.

**Definition of done Checklist (where applicable)**
- [ ] Update the image and a deployment manifest to add in:
 - Remote cluster secret (should include namespace, service account and pod label to connect to)
 - deployment for each cluster (ocp 3 and ocp 4)
- [ ] Updated ope

[2020-08-05 16:35] jefkel opened #309 "Rename routes for default cluster services"
**Describe the issue**
Default cluster service names (routes) could be more friendly (current naming convention is service-namespace.apps.{cluster}.devops.gov.bc.ca).

The following names may need updating:
Developer facing:
`console-openshift-console.apps.{cluster}.devops.gov.bc.ca` - OpenShift web UI
`downloads-openshift-console.apps.{cluster}.devops.gov.bc.ca` - OpenShift CLI tool downloads
`ki

[2020-08-05 22:37] jefkel opened #310 "Deploy SSO to Silver Cluster for Pen Testing"
**Describe the issue**
The Security Pen test needs to have an installation of KeyCloak running on the platform to perform a generic penetration test against.  This test does not require a fully migrated version of the SSO service with authentication provider configuration.

**Which Sprint Goal is this issue related to?**

**Additional context**
A deployed instance of Keycloak (via #269) would be a

[2020-08-05 22:42] jefkel opened #311 "Deploy Rocket.Chat to Silver Cluster for Penetration Testing"
**Describe the issue**
The Security Pen test needs to have an installation of Rocket.Chat running on the platform to perform a generic penetration test against.  This test does not require a fully migrated version of the Rocket.Chat service.

**Which Sprint Goal is this issue related to?**

**Additional context**
A deployed dev or test instance of Rocket.Chat (via #101) would be acceptable for the

[2020-08-05 23:34] StevenBarre commented on #309
I'm not sure this is possible looking at the docs. I've opened a case with Red Hat to ask about it.

[2020-08-06 00:41] jefkel opened #312 "Create Migration related documentation hub"
**Describe the issue**
public hub of migration related documentation and links to external sources to be published via devhub

**Which Sprint Goal is this issue related to?**

**Additional context**
*Updates needed*

**Definition of done Checklist (where applicable)**
*Updates needed*

[2020-08-06 00:41] jefkel commented on #312
started in https://github.com/BCDevOps/openshift-wiki/pull/58

[2020-08-06 15:16] #302 closed, assigned to j-pye

[2020-08-06 20:34] lukegonis opened #313 "Explore automation options for managing capacity of the Docker image registry"
refer to this platform experience issue for more info:
https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/developer-experience/499

[2020-08-06 22:17] jefkel commented on #310
closing/cancel (duplicate of #269).

[2020-08-06 22:17] #310 closed, assigned to ShellyXueHan

[2020-08-06 22:18] jefkel commented on #311
Closing (Duplicate of #101)

[2020-08-06 22:18] #311 closed, assigned to caggles, ShellyXueHan

[2020-08-07 22:26] StevenBarre opened #314 "Upgrade Trident to v20.07"
**Describe the issue**
Trident [v20.07.0](https://github.com/NetApp/trident/releases/tag/v20.07.0) has been released. Discussing with Nick and AdvSol ISS it was decided to disable the new autosupport telemetry.

Adjust the cluster config automation to install/upgrade to the new version and then upgrade the two labs.

**Which Sprint Goal is this issue related to?**
TBD

**Definition of done Checkli

[2020-08-10 18:11] tosazuwa commented on #191
@stregear has submitted procurement requests for servers and NetApp and  @lukegonis  has been provided with all the information for the istore orders (4). Also submitted procurement request for Arista switches. Waiting on quote for HP switches

[2020-08-10 22:44] mitovskaol opened #315 "Enable ETCD Encryption in OCP 4"
ETCD Encryption is available in OCP 4 and is recommended to be enabled in all OCP 4 production clusters (Silver, Gold, Gold DR and ARO). This feature has been dicussed between Shea, Steven, Nick and Olena on Aug 10 and the decision has been made to enable it in OCP 4 Platform.

It is to be determined if this feature have to be enabled manually or will be added to cluster configuration management p

[2020-08-10 23:27] mitovskaol opened #316 "Develop Common Pipeline Component Strategy"
As a product team - either new or existing - looking to work on the Platform I would appreciate having access to reusable and extensible pipeline components that my team can use as a starting point for CI/CD on the project and extend as needed. I might also be interested in becoming a Technical Steward of a common pipeline tool and support their pipeline code and other products teams looking to us

[2020-08-12 20:46] stewartshea opened #317 "Move Backup Storageclass Readme from #155 into DevHub"
The backup storage class exists with a readme file. This file needs to be transferred into the devhub and developer friendly content.

**Definition of Done**
Documentation exists at developer.gov.bc.ca that developers can use to obtain their own backup storage volume / storage class.

[2020-08-12 23:04] StevenBarre commented on #301
NetApp believes this will be fixed in their September release when they move to the v1.19 CSI container sidecar.

[2020-08-12 23:06] StevenBarre commented on #37
Lots of progress here after much trial and error with bonded interfaces.

https://console-openshift-console.apps.silver.devops.gov.bc.ca/

Still needs some testing to confirm everything is happy, but 90% done.

[2020-08-12 23:08] StevenBarre commented on #209
iLOs configured by hand for now. Some DNS set up, but some still to do.

Completed first test install of OCP to confirm basics of the hardware and networking are functional.

[2020-08-12 23:08] StevenBarre commented on #253
Docs updated.

[2020-08-12 23:08] #253 closed, assigned to StevenBarre

[2020-08-14 20:49] StevenBarre commented on #317
Current doc location https://github.com/bcgov-c/platform-ops/blob/ocp4-base/ocp4/docs/Backup.md

[2020-08-14 23:19] caggles commented on #295
Artifactory is now running in KLAB, but requires some finesse to actually get it working.

Still to do:

- [x] clean up the helm manifest to use proper actual variables
- [x] clean up the installation playbook to rollback and stuff
- [x] figure out what the _heck_ is up with the fact that the installation works but only after you kill the pod 5 times?!?!?
- [x] install operator on klab

[2020-08-17 15:15] manderson-it opened #318 "Vault Disaster Replication Traffic Flow"
**Describe the issue**
Establish whether Vault cross-cluster disaster recovery replication traffic can flow through an OpenShift route (Layer 7) versus a TCP (Layer 4) load balancer.

**Which Sprint Goal is this issue related to?**
This relates to the epic Vault on OCP4.

**Additional context**
Details shared with the vendor.

**Definition of done Checklist (where applicable)**
• Get definitive an

[2020-08-17 15:16] manderson-it commented on #318
I sent an email with a supporting diagram to the vendor describing the current traffic flow design.

[2020-08-17 16:52] StevenBarre commented on #273
PR merged. Tested again on SILVER.

[2020-08-18 18:38] tosazuwa commented on #205
@sbarre-esit , can we create a separate ticket to track the KLAB and SILVER  SSL/TSL certs iStore order?  And link back to this EPIC. It will be easier to track that way.

[2020-08-18 19:20] manderson-it commented on #280
@j-pye the DNS names seem to be in place. I can resolve them.
Are the SSL certs done?

[2020-08-18 22:48] ShellyXueHan commented on #269
Update for Step 1 - Deploy sandbox SSO in OCP4:
- successfully imported image
- tested out a brand new deployment of SSO in ARO
- Blocker: patroni deployment does not work yet (Shea is currently troubleshooting this, either that we fix the current template or switch to operator)

[2020-08-19 16:20] j-pye commented on #280
Duplicate of #279?
Still waiting on SSL certs.
iStore order is being processed. CSRs have been provided for both vault and vault-lab certificates.

[2020-08-19 16:20] j-pye commented on #279
Still waiting on SSL certs.
iStore order is being processed. CSRs have been provided for both vault and vault-lab certificates.

[2020-08-19 16:58] tosazuwa opened #319 "OCP 4 iStore orders (pending)"
iStore orders submitted by Olena - Aug 18, 2020

- [x] `*apps.silver.devops.gov.bc.ca` (Critical)
- [x] `*.apps.klab.devops.gov.bc.ca` (Critical)
- [x] `*.apps.clab.devops.gov.bc.ca` (Normal)
- [x] `*.apps.gold.devops.gov.bc.ca` (Normal)
- [x] `api.silver.devops.gov.bc.ca` (Critical)
- [x] `api.klab.devops.gov.bc.ca` (Critical)
- [x] `api.clab.devops.gov.bc.ca` (Normal)
- [x] `api.gold.devops.gov.

[2020-08-19 17:51] tosazuwa commented on #161
OCP 4 /Platform Services Information management  discussion scheduled for Sep 1st

[2020-08-19 20:11] j-pye opened #320 "SG - OCP 4- Cluster Configuration Management MVP"
As a part of the OCP4 Rollout we need a way to manage our many clusters. To do this we have chosen to use a GitOps approach.

Tools:
- ArgoCD - GitOps
- Github Actions - CCM Generation
- Github App - CCM GitOps CI
- Sealed Secrets - Store Encrypted K8s Secrets in git

Definition of Done:
- [x] Document GitOps Flow and Git Repository Structure
- [x] Implement CCM Generation Workflow
- [x] Implement

[2020-08-19 20:21] sbarre-esit opened #321 "Identify parts of Cluster Config Ansible to migrate to CCM SPIKE"
**Describe the issue**
Currently the cluster config playbooks perform a lot of work standing up and configuring new clusters. We need to determine which parts of this can be moved into CCM/Argo and create tickets for each part.

**Which Sprint Goal is this issue related to?**

**Definition of done Checklist (where applicable)**
- [ ] Create tickets for each component that needs to be moved to CCM

[2020-08-19 21:28] tosazuwa opened #322 "Launch early adopter application"

[2020-08-19 21:34] manderson-it opened #323 "Auto Unseal with Azure Key Vault"
**Describe the issue**
Deploy Azure Key Vault for each Vault cluster.

**Which Sprint Goal is this issue related to?**
Related to the epic Vault MVP on OCP4

**Additional context**
The Azure Key Vault allows each Vault pod to be automatically unsealed and therefore eliminate the manual unseal process per pod.
An unseal operation is mandatory when a pod starts for the first time and on any pod rest

[2020-08-19 21:36] manderson-it commented on #323
Keeping track of different tasks on a more granular level with this.
@stewartshea already began the work with the appropriate teams in the previous sprint.

[2020-08-19 21:42] manderson-it opened #324 "Sending Vault Telemetry to central system"
**Describe the issue**
Vault can send telemetry to a central system, e.g., statsd, dogstatsd, prometheus, etc.
(see https://www.vaultproject.io/docs/configuration/telemetry for all options)

**Which Sprint Goal is this issue related to?**
Related to epic Vault MVP on OCP4.

**Additional context**
Entails server metrics such as leadership changes, request processing, write-ahead log processing, fil

[2020-08-19 21:47] manderson-it opened #325 "Vault Backup solution"
**Describe the issue**
The Vault backup mechanism needs to be established and verified end-to-end.

**Which Sprint Goal is this issue related to?**
Related to epic Vault MVP on OCP4.

**Additional context**
@j-pye mentioned the pattern is to write the backed up data to an NFS endpoint.

**Definition of done Checklist (where applicable)**
- [ ] Backup solution documented
- [x] Backup verified to ar

[2020-08-19 21:49] manderson-it commented on #318
Waiting on the final answer from the vendor.

[2020-08-19 21:58] manderson-it opened #326 "Provisioning method for Vault consumers"
**Describe the issue**
Define and establish the automation approach to onboard new consumers to Vault.

**Which Sprint Goal is this issue related to?**
Related to epic Vault MVP on OCP4.

**Additional context**

**Definition of done Checklist (where applicable)**
- [X] Method is defined
- [x] Peer-Reviewed
- [x] Method is implemented
- [x] Method is tested

[2020-08-20 13:59] stewartshea opened #327 "ARO Pathfinder Cluster Built"
Definition of done:
Small ARO Pathfinder Cluster operational.

[2020-08-20 13:59] stewartshea opened #328 "ARO Pathfinder Onboarded into Argo config management"
Definition of done:

ArgoCD is fully managing configuration of the cluster.

[2020-08-20 13:59] stewartshea opened #329 "ARO Pathfinder Storage Classes Created"
Definition of done:
Both block and file storage classes function.

[2020-08-20 13:59] stewartshea opened #330 "ARO Pathfinder SSO Integration Completed"
Definition of done;
Users can sign in with SSO.

[2020-08-20 13:59] stewartshea opened #331 "ARO Pathfinder Project Provisioning for auth users disabled"
Definition of done;
Users can log in but can't provision their own projects.

[2020-08-20 13:59] stewartshea opened #332 "ARO Pathfinder SSL Certificates Installed"
Definition of done;
Valid SSL certificates exist and are automatically rotated for the console / api / and wildcard apps domains.

[2020-08-20 13:59] stewartshea opened #333 "ARO Pathfinder JAG Namespaces Created"
Definition of done:
JAG team has access to one project set (4 namespaces) in the aro pathfinder cluster .

[2020-08-20 14:00] stewartshea opened #334 "ARO Pathfinder basic orientation for JAG"
Definition of done:
JAG team is able to deploy what they need in the new ARO cluster.

[2020-08-20 14:00] stewartshea opened #335 "ARO Pathfinder Build"
**Describe the issue**
The JAG team would like to test out some deployments in ARO. Due to the fact that the platform-services cluster will be a bit volatile and should be dedicated to platform-services tools, we need to buid a new ARO pathfinder cluster and create namespaces for the JAG team.

**Which Sprint Goal is this issue related to?**
ARO and Pathfinder Deployment.

**Definition of done Che

[2020-08-20 14:01] stewartshea commented on #327
Completed this week with Andy

[2020-08-20 14:01] #327 closed, assigned to nobody

[2020-08-20 16:28] j-pye opened #336 "Implement Base CCM Workflow for KLAB"
**Describe the issue**
Cluster Config Management (CCM) Implemented and Deployed for KLAB

**Which Sprint Goal is this issue related to?**
2. Complete Base CCM workflow implemented for KLAB (Sprint 14)

**Definition of done Checklist (where applicable)**
- [x] GitHub Repository Created for KLAB Configs
- [x] CCM Generation Workflow Updated to Support KLAB

[2020-08-20 16:30] j-pye opened #337 "Implement Base CCM Workflow for Silver"
**Describe the issue**
Cluster Config Management (CCM) Implemented and Deployed for Silver

**Which Sprint Goal is this issue related to?**
2. Complete Base CCM workflow implemented for Silver (Sprint 14) -- STRETCH

**Definition of done Checklist (where applicable)**
- [x] GitHub Repository Created for Silver Configs
- [x] CCM Generation Workflow Updated to Support Silver

[2020-08-20 16:58] stewartshea commented on #323
@manderson-it  I've worked with the cloud pathfinder team and now have a key vault provisioned for the lab. We can sync up on the sensitive details in a private meeting.

![image](https://user-images.githubusercontent.com/18314168/90802195-df992d00-e2e4-11ea-9b41-c30fbb6f881e.png)

[2020-08-20 18:12] StevenBarre opened #338 "Determine if NetApp NFS will work for Image Registry"
**Describe the issue**
Can a NFS volume be used for a OpenShift image registry?

https://docs.openshift.com/container-platform/4.5/scalability_and_performance/optimizing-storage.html#scaled-registry states that "The storage technology must support RWX access mode and must ensure read-after-write consistency." Does NetApp NFS ensure read-after-write consistency?

https://access.redhat.com/solutions

[2020-08-20 18:12] StevenBarre commented on #338
Opened a case with NetApp and asked on their Slack channel.

[2020-08-20 20:16] j-pye commented on #320
Additional Private Repositories have been requested for Cluster Specific Config Files
https://github.com/BCDevOps/devops-requests/issues/489

[2020-08-20 20:40] manderson-it commented on #323
I can confirm that the provided Azure Key Vault is functional to auto unseal HashiCorp Vault.
Next step: Test the Azure Key Vault with the initial lab deployment of Vault.

[2020-08-20 21:13] manderson-it commented on #307
Pending approval by @NickCorcoran for the MVP stage. Send out an invite for Friday 21st.

[2020-08-21 21:28] manderson-it commented on #307
After discussing the structure within Vault with @NickCorcoran, @j-pye and I deployed the MVP on the thetis cluster, including auto unseal with Azure Key Vault. It is an exciting first step on this journey. Thanks, everyone, for all your support! Once the FQDNs resolve and we get the TLS certificates, we will make the next steps.

[2020-08-21 21:30] manderson-it commented on #284
Nick, Justin, Jeff, and I discussed the structure within Vault today. Getting closer to the finish line.

[2020-08-21 21:31] manderson-it commented on #325
Send the CronJob definition to @j-pye. Justin will look into the NFS / final storage endpoint piece.

[2020-08-21 21:32] manderson-it commented on #323
The first part of the Definition of Done has been achieved. Justin and I did a screen share session for this.
- [X]  Vault LAB deployment is verified to be auto-unsealed with Azure Key Vault

[2020-08-22 23:16] j-pye opened #339 "Aporeto - Intermittent Build Issue (SPIKE)"
**Describe the issue**
With Aporeto Enforcers enabled in OpenShift 4, builds are failing intermittently during the `git clone`when the `git-clone` init container starts.

One of the following error messages occur during a build failure:
- Could not resolve host: github.com; Unknown error
- error: RPC failed; result=6, HTTP code = 0

**Which Sprint Goal is this issue related to?**
Aporeto Implement

[2020-08-22 23:43] j-pye commented on #339
**Update on Aporeto: **
I tested builds with and without the suggested workaround from Julian (PodInjectorSelector) in KLAB.
11/100 Builds Failed without the PodInjectorSelector
0/200 Builds Failed with the PodInjectorSelector

This issue is also present in CLAB (Thetis) so I have another set of tests running there just to confirm there's no remaining build issues.

Using the `PodInjectorSelector`

[2020-08-23 02:34] j-pye commented on #339
CLAB Tests
9/100 Builds Failed without the PodInjectorSelector
0/200 Builds Failed with the PodInjectorSelector

KLAB Tests - Round 2
20/200 Builds Failed without the PodInjectorSelector
0/200 Builds Failed with the PodInjectorSelector

Based on these results these are my current action items:
- Inform Aporeto/PANW the workaround is working and confirm this is their recommendation to proceed until

[2020-08-23 02:55] j-pye opened #340 "Use GitHub Actions for CCM Generation Workflow"
**Describe the issue**
In order to reduce the dependencies for the Cluster Configuration Management (CCM) Generation Workflow, the workflow should be moved to github actions. This reduces the install steps, removes the need for read deploy keys on the `platform-gitops-gen` repository in each cluster, and simplifies pipeline maintenance.

**Which Sprint Goal is this issue related to?**
Complete Bas

[2020-08-24 17:02] cvarjao commented on #254
Project/Namespaces provision vs Quota for dynamic/"ephemeral" (PR-Based) environments

[2020-08-24 17:05] cvarjao commented on #254
Understanding that a quota can be increased upon request, what are the max (there may be some technical limitation/constraint)

From the (Wildfire) predictive services teams:

[2020-08-24 17:41] mitovskaol commented on #254
CPU/RAM pod defaults:

CPU/RAM namespace quotas (per namespace):
*Small*:    ( provisioned by default for new namespaces) Long-running workload quotas:
CPU: 4 cores as request, 6 cores as limit
RAM: 16GBs as request,  32GBs as  limit

*Medium*: (needs to be requested and justified)
Long-running workload quotas:
CPU: 8 cores as request, 16 cores as limit
RAM: 32GBs as request,  64GBs as  limit

To

[2020-08-24 19:26] cvarjao commented on #254
I think the CPU, Memory, and Storage should each have their own size.

Maybe a team has **Small** CPU needs, **Medium** Memory needs, and **Large** Storage Needs.
We also needs to define the `Custom` size, and how are they incremented (maybe always by 1 `small` order of magnitude), and what is the upper limit/constraint?

As you already mentioned the `long running` vs `timeboud` quotas, we also ne

[2020-08-24 19:29] caggles commented on #292
@jefkel are we actually planning to do this or should i just close it because we're deploying straight into klab?

[2020-08-24 19:31] caggles opened #341 "Test Artifactory 7 deployment in 3.11"
Since we're having trouble with implementing Artifactory in OCP4 due to privilege issues, I would like to test a quick deployment into the 3.11 lab to see if the issues play out in the same way.

[2020-08-24 19:33] caggles opened #342 "Upgrade Artifactory Operator base image"
Upgrade the base image for the artifactory operator, build, deploy and test to make sure it all works as expected in OCP4.
Also add the docker cert to the operator.

[2020-08-24 19:34] #341 closed, assigned to caggles

[2020-08-24 19:36] caggles opened #343 "Build Developer Documentation for Artifactory"
Need to include instructions on:

- [x] artifactory basics (what it is, what you get)
- [x] how to pull an artifact with the caching repo
- [x] how to request a private repo
- [ ] how to push an artifact to a private repo
- [x] the intended use of artifactory (for prod images only)

[2020-08-24 19:38] caggles opened #344 "Operational Documentation for Artifactory"
Write up documentation for the operations team on how to install, use, troubleshoot Artifactory

[2020-08-24 19:48] WadeBarnes commented on #254
I like the idea of **Medium** being what is _standard_ now.  Small should be half and large should be double for simplicity.

I'm dealing with a few extremes; Cullen (kyrwwq-prod) which could easily fit into an **extra-small**, and OrgBook (devex-von-bc-tob-prod) that is already a **large** and bumps into scaling limitations.  However most environments could likely be fit into a **small**.

Small

[2020-08-24 23:55] jefkel commented on #292
Artifactory will need to be deployed to both (in order to start testing site replication), but for troubleshooting purposes while we work through Artifactory 7 issues, it would make sense to focus on klab for now (and put the updates in that ticket.).  This ticket should NOT be closed, but can be put back in the backlog.

[2020-08-25 16:10] j-pye commented on #279
SSL Certs received for Vault and Vault-Lab.

[2020-08-25 17:05] j-pye commented on #339
I'm thinking that applying these through project provisioning will be the best solution. Least effort, allows for self serve, and it's easy to remove or update via GitOps. I've also reached out to Julian for input. He sent me the following docs and is working on getting me the technical details of what exactly the aporeto init container is doing and what it has access to.

Docs:
https://docs.apore

[2020-08-25 17:36] StevenBarre commented on #339
Agreed.

[code]

Is that going to be a pain to update later when new versions of Apo are released? Should we instead use a local image that we update as part of Apo updates?

[2020-08-25 18:04] StevenBarre commented on #279
DNS records created

| Name                              | Type | Data           |
|-----------------------------------|------|----------------|
| one.vault-lab.developer.gov.bc.ca | A    | 142.34.151.118 |
| two.vault-lab.developer.gov.bc.ca | A    | 142.34.50.62   |
| one.vault.developer.gov.bc.ca     | A    | 142.34.194.118 |
| two.vault.developer.gov.bc.ca     | A    | 40.82.162.100  |

[2020-08-25 18:07] j-pye commented on #339
Good point! Moving the image to our registry might be good. The only reason it's even set is because the default CRD directs to an image tag that doesn't exist.  :/

The workflow without moving it would involve updating 1 or 2 templates for project provisioning and then triggering a run of all namespaces in the platform registry. If we move the image to the local registry we can give it a stable t

[2020-08-25 21:08] caggles opened #345 "Develop Plan to integrate Artifactory and Project Provisioner"
It's likely that artifactory will need to be integrated into the project provisioner (likely this will involve creating an artifactory service account as part of project creation, with basic access that allows the project team to pull from artifactory's caching repos).

- [x] provision artifactory service account and configure default registry credentials for artifactory in each namespace for a pr

[2020-08-25 21:10] jefkel commented on #339
if we are looking at this as part of our gitops flow, a possible process could be:

#### KLAB/Initial upgrade deployment

- pull image into specific namespace (From Aporeto) and tag appropriately (images are: enforcer(defender), aporeto-init-waitforpu, etc)
- testing includes any new config changes/etc for the new aporeto release

#### Silver upgrade deployment

- pull image into specific namespac

[2020-08-26 15:16] stewartshea commented on #78
Using RI's purchased by Todd

[2020-08-26 15:16] #78 closed, assigned to nobody

[2020-08-26 15:17] stewartshea commented on #79
Not applicable

[2020-08-26 15:17] #79 closed, assigned to nobody

[2020-08-26 15:17] stewartshea commented on #80
Not applicable

[2020-08-26 15:17] #80 closed, assigned to nobody

[2020-08-26 15:17] stewartshea commented on #82
Not applicable

[2020-08-26 15:17] #82 closed, assigned to nobody

[2020-08-26 15:18] stewartshea commented on #87
not applicable

[2020-08-26 15:18] #87 closed, assigned to nobody

[2020-08-26 18:26] tosazuwa opened #346 "Klab Resource Allocation"
**Describe the issue**
KLAB currently has 8 app nodes with 4 cores each. After system reservations and the many daemonsets, there isn't much room for actual workloads.

As we migrate the VMs from the old ESX Pathfinder cluster to the new Dell based ESX cluster, there is much more capacity for larger VMs.

We'll decomission 4 of the app nodes and scale up the remaining 4 to double their CPU and RAM

[2020-08-26 19:47] mitovskaol opened #347 "Design a process for project quota increase in OCP 4"
In the new Openshift 4 Platform all new namespaces will be provisioned with the small size default quota that includes a certain amounts of each of the 3 resource categories CPU/RAM/Storage as defined here

https://app.zenhub.com/workspaces/openshift-4-build-out-5db73142897668000144f22b/issues/bcdevops/openshift4-rollout/254

DOD:
- [x] Document a process product teams would need to follow to requ

[2020-08-26 22:31] StevenBarre commented on #209
Complete!

[2020-08-26 22:31] #209 closed, assigned to StevenBarre, Joe-Craig, stregear

[2020-08-26 22:32] StevenBarre commented on #273
Complete!

[2020-08-26 22:32] StevenBarre commented on #306
Complete!

[2020-08-26 22:32] #306 closed, assigned to StevenBarre

[2020-08-26 22:36] StevenBarre commented on #319
Followed up with CITZ Service Desk on status of `*.apps.clab.devops.gov.bc.ca` and found out it needs to be re-entered with correct Expense Authority.

[2020-08-27 05:46] #229 closed, assigned to j-pye

[2020-08-27 16:32] j-pye opened #348 "Implement Quotas into Project Provisioning Workflow"
**Describe the issue**
Along with namespaces and rbac for the admin of a project, we need to also generate quotas and limits for each Project namespace.

**Which Sprint Goal is this issue related to?**
N/A - Sprint 14/15

**Additional context**
Quotas should be taken from this ticket.
https://app.zenhub.com/workspaces/openshift-4-build-out-5db73142897668000144f22b/issues/bcdevops/openshift4-rollou

[2020-08-27 16:49] StevenBarre commented on #348
The cluster config ansible already handles some of this, and will later be moved into Argo. Specifically it sets the new-project template with the default small quotas. https://github.com/bcgov-c/platform-ops/tree/ocp4-base/ocp4/roles/quota

Out of scope of this ticket, but I think we also need a way to reconcile the quotas and limitranges for all projects on a daily basis to ensure they are what

[2020-08-27 16:58] j-pye commented on #348
Thanks -- Looks like we can take the quotas there and just turn them into templates for the project provisioner.

If we need to change the defaults for the 3 sizes that will be a simple vars change in ansible, and a workflow run of all namespaces. (part of the project provisioning workflow(s))

The reconciliation will be continuous through ArgoCD, so there's no need for another workflow or cron. W

[2020-08-27 17:03] #279 closed, assigned to j-pye, StevenBarre

[2020-08-27 17:08] j-pye commented on #340
I created a Github App yesterday to use with the GitOps Workflow. (Thanks Cailey) This Github App is necessary so that Pull Requests are not linked to one individuals personal account.

Later today I will be setting up the Github App to authenticate within the GH Actions workflow in order to create pull requests.

[2020-08-27 17:10] manderson-it commented on #307
DNS entries are created (see closed ticket [279](https://app.zenhub.com/workspace/o/bcdevops/openshift4-rollout/issues/279)).
TLS certificates received. Need to be implemented on appropriate OCP routes.

[2020-08-27 17:11] manderson-it commented on #280
All information for DNS and SSL certs is captured in the completed ticket [#279](https://github.com/BCDevOps/OpenShift4-RollOut/issues/279).
Closing this since it is a duplicate.

[2020-08-27 17:11] #280 closed, assigned to j-pye, manderson-it

[2020-08-27 17:28] StevenBarre commented on #37
Complete

[2020-08-27 17:28] #37 closed, assigned to StevenBarre

[2020-08-27 17:44] Joe-Craig commented on #191
SCO sent to Province
SCO signed off by Province
Procurement has been complete and PO sent to vendors

[2020-08-27 17:46] jefkel commented on #57
Pending F5 transceiver delivery to Calgary (shipped)

[2020-08-27 17:50] Joe-Craig commented on #296
Brief Note written for additional licenses
David Ell/ Olena approved the BN on 25th Aug.
Waiting for approval to arrive so we can produce a SCO.

[2020-08-27 17:52] NickCorcoran opened #349 "Penetration test - Schedule and testing"
- [ ] Schedule test time
- [ ] Kickoff meeting
- [ ] Execute test

[2020-08-27 17:53] j-pye commented on #248
Latency issues resolved.
Making a few changes after Steven's recent OCP upgrade in KLAB.

[2020-08-27 17:57] jefkel commented on #342
Failed deployment issue narrowed down to klab netapp-file-standard issue (unable to replicate on other clusters, or with netapp-block-standard).

Additional testing to isolate the storageClass issue to be completed
Afan (Arctiq) will validate installation/testing for Cailey and provide feedback for improvements/fixes.

[2020-08-27 17:58] jefkel commented on #345
Blocked pending working Artifactory deployment and Artifactory operator.

[2020-08-27 18:09] StevenBarre opened #350 "Configure Cluster Monitoring Operator"
**Describe the issue**
The Cluster Monitoring Operator (Prometheus, Grafana, AlertManager) needs to be configured by CCM and set to send alerts to RocketChat and Nagios.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Cluster Monitoring instance installed in each cluster
- [x] Test that alerts go to a per-cluster R

[2020-08-27 18:11] #102 closed, assigned to nobody

[2020-08-27 18:15] #41 closed, assigned to nobody

[2020-08-27 18:16] StevenBarre commented on #273
Added "Support iLO monitoring" and moving back to in-progress

[2020-08-27 18:27] jefkel opened #351 "Sysdig operational implementation"
**Describe the issue**
Sysdig to be deployed/configured through cluster config management gitops flow to KLAB cluster.

**Which Sprint Goal is this issue related to?**
The 'Milestone' should clearly list Sprint Goals - which one is this issue related to?

**Additional context**
Sysdig needs to have daemonsets and configuration deployments managed through the cluster configuration management.

**De

[2020-08-27 18:28] NickCorcoran opened #352 "Document Vault Secret Management Service Definition - DevHub"
- [x] Create a description of the Vault Secret Management Service and intended use for users.
- [x]  Link description to DevHub for visibility

[2020-08-27 19:02] manderson-it opened #353 "Document the onboarding process for teams/applications incl integration design patterns in DevHub (place in the Vault repo)"
**Describe the issue**
Developer documentation required (including developer integration/use samples) to describe access and use of the vault service.

**Which Sprint Goal is this issue related to?**
Related to the epic Vault MVP on OCP4.

**Additional context**

**Definition of done Checklist (where applicable)**
• Document completed
• Peer-Reviewed
• Document approved

[2020-08-27 23:09] StevenBarre commented on #112
What value does this provide to the Product Owner?

Do you want a map of each server and switchport? or just "hosts are plugged into a switch" ? How low level is required? What details specifically are needed?

[2020-08-28 19:25] #329 closed, assigned to stewartshea

[2020-08-28 19:25] #331 closed, assigned to stewartshea

[2020-08-28 19:25] #330 closed, assigned to stewartshea

[2020-08-28 19:25] #332 closed, assigned to stewartshea

[2020-08-28 19:25] #334 closed, assigned to stewartshea

[2020-08-28 19:32] cvarjao commented on #254
@mitovskaol , we didn't have time to talk about the impact of those resources in team using PR-Based pipelines with dynamic environments. While I agree that each environment should be very lightweight, it still needs to be representative (as close as possible) to the production in both architecture and data (it does not need to be a full dataset, just small, yet representative one).
I know i've ha

[2020-09-01 20:36] manderson-it commented on #325
@j-pye can you finish this before the end of Sprint? Happy to help.

[2020-09-02 17:28] jefkel opened #354 "Confirm Audit logging targets for OpenShift API"
**Describe the issue**
Confirm the level/location of the openshift API audit logs and the integration into any existing SIEMS steps.

Investigate audit level options and configure.

**Which Sprint Goal is this issue related to?**

**Additional context**
In OCP3, this was done through a separate master configuration with on-node logs.

OCP 4 resources:
Viewing existing:
https://docs.openshift.com/c

[2020-09-02 17:49] NickCorcoran opened #355 "Credentials discovery"
Identify all accounts used in the service of OCP.  Includes:
- IDIR (normal)
- IDIR (Service Accounts)
- Local Accounts (Servers)
- Tools accounts (if don't use SSO)
- Other

This will help us in resetting/rotating passwords and for entry into Vault when service is available.  We'll need to store this list in a secure location.

**Information to gather:**
Account Name
Account Type
System (i.e. OCP

[2020-09-03 15:41] manderson-it commented on #318
Sent out another email to the vendor today.
We are currently blocked here.

[2020-09-03 17:19] Joe-Craig commented on #191
RITM0068735 – Arista Switches – 11/23/2020
RITM0068520 & RITM0068519 – Dell servers – 9/16/2020 & 9/29/2020
RITM0068791 – HP Switches – Still waiting for ETA
RITM0068608 – NetApp – Still waiting for ETA

[2020-09-03 17:21] Joe-Craig commented on #296
SCO pricing done.
SCO being written by contracts department.

[2020-09-03 17:24] #35 closed, assigned to StevenBarre, DanDeane, stregear

[2020-09-03 17:25] Joe-Craig commented on #38
Silver configuration complete.

[2020-09-03 17:25] #38 closed, assigned to StevenBarre

[2020-09-03 17:27] Joe-Craig commented on #57
This is a priority for the network team. Completion date: 16th Sept 2020

[2020-09-03 17:27] Joe-Craig commented on #57
F5 Transceivers have been received in Calgary.

[2020-09-03 17:29] Joe-Craig commented on #60
F5 configuration should be complete in Calgary by 16th Sept 2020

[2020-09-03 21:07] mitovskaol opened #356 "Decide on the use of *.developer.gov.bc.ca domain"
Make and document a decision about the use of  *.developer.gov.bc.ca domain - will product teams be allowed to use it for application routes or will it be reserved for Platform  services only.

[2020-09-04 21:16] manderson-it commented on #276
@j-pye and I have updated the description and definition of done. We decided to remove the Vault DR replication from the MVP as it is currently blocked and tracked in the issue here [#318](https://app.zenhub.com/workspace/o/bcdevops/openshift4-rollout/issues/318).

[2020-09-04 22:03] j-pye opened #357 "Entitlements Issue"
**Describe the issue**
We are currently unable to build images in any of our OpenShift 4 clusters if the image is performing a package install that requires the Red Hat Subscription Manager.

**Additional context**
Jenkins Dockerfile
https://github.com/BCDevOps/openshift-components/blob/fix/issue-51/cicd/jenkins-basic/docker/Dockerfile
Error
[code]

**Definition of done Checklist (where applicable

[2020-09-04 22:05] j-pye commented on #357
Official Docs outlining how to enable builds with entitlements on a per namespace basis:
https://docs.openshift.com/container-platform/4.5/builds/running-entitled-builds.html#builds-source-input-subman-config_running-entitled-builds

Potential Workaround (Although comments suggest this might not work):
https://access.redhat.com/solutions/4908771

[2020-09-04 22:36] wmhutchison commented on #346
Have confirmed the iStore for decommissioning the four APP VMs since we now have suitable RITM tickets for each VM. Have processed the initial "Verify server decommission/QA server decommission" tickets, not yet seen the actual "shutdown OS" tickets drop yet.

[2020-09-08 17:34] sbarre-esit commented on #354
I've had a case open with RH for a while tracking this 02424743. Latest news is this should be arriving in v4.6 https://github.com/openshift/enhancements/blob/master/enhancements/kube-apiserver/audit-policy.md

[2020-09-08 19:17] manderson-it commented on #284
@j-pye can you peer-review [structue-within-vault.md](https://github.com/BCDevOps/platform-services/blob/feature/hc-vault/security/vault/docs/structure-within-vault.md) please?

[2020-09-08 22:10] #295 closed, assigned to caggles, jefkel

[2020-09-08 22:17] caggles commented on #342
I have the operator successfully updated to v0.19 - v1.0.0 upcoming!

[2020-09-08 22:39] caggles opened #358 "Artifactory end-to-end functional testing"
- [x] Install Artifactory from start to finish with no pre-existing set-up.
- [x] Install Operator from start to finish with no pre-existing set-up.
- [x] Make a private repo
- [x] Delete a private repo
- [x] Make an SA
- [x] Delete an SA
- [x] Pull from a caching repo
- [x] Pull from a private docker repo

[2020-09-09 12:47] manderson-it commented on #326
The method was defined with @j-pye and @jefkel. Documented in `provisioning-method-vault-consumers.md`

[2020-09-09 12:49] manderson-it commented on #318
Blocked.
Have not received a final answer from the vendor yet.
Will re-evaluate the TCP load balancer as an alternative traffic flow (Alternative to OCP route).

[2020-09-09 17:36] j-pye commented on #261
Moving to the backlog. Meeting scheduled for September 21st @ 11am

[2020-09-09 17:42] j-pye commented on #284
@manderson-it The doc looks good to me. My only note would be that the random 5 char string for the `AppName` could be replaced with the App license plate. It's essentially the same thing but it's one less thing to update if we decide to change the license plate length.

[2020-09-09 17:45] j-pye commented on #325
Vault Backup Install role updated. We'll likely need to make some minor changes in the future. CLAB/Thetis is currently down so I was unable to test with our current Lab deployment but I did test in a local k8s cluster.

Doc updates to come.

[2020-09-09 17:56] StevenBarre commented on #357
Opened a case with RH to track this as well https://access.redhat.com/support/cases/#/case/02748561

[2020-09-09 20:52] StevenBarre commented on #357
Matt says

There is an RFE in progress for this: https://github.com/openshift/enhancements/pull/384

[2020-09-09 20:54] StevenBarre commented on #357
https://github.com/openshift/enhancements/blob/master/enhancements/subscription-content/subscription-content-access.md

[2020-09-09 20:57] mitovskaol commented on #254
We will be implementing this model for all namespaces in the Silver cluster and will monitor if this approach works and if not the quotas will need adjustment .

[2020-09-09 21:00] #254 closed, assigned to stewartshea, jefkel, StevenBarre

[2020-09-09 21:02] mitovskaol commented on #348
Decided to add a label to a namespace when it gets provisioned/update to indicate what quota is was assigned ie.`small-RAM`, `small-CPU` and `small-storage`

[2020-09-09 21:14] mitovskaol commented on #290
Need to document the decisions in this ticket and include the teams impact section.

Recommend to provide an overview of the impact at the next Sprint Review on Sep 29

[2020-09-09 21:23] StevenBarre commented on #319
Got the last one. Closing.

[2020-09-09 21:23] #319 closed, assigned to StevenBarre, stregear

[2020-09-09 21:25] j-pye commented on #250
Not Needed

[2020-09-09 21:25] #250 closed, assigned to nobody

[2020-09-09 21:26] j-pye commented on #305
CLAB is currently out of commission as it moves to the SDN Compartment

[2020-09-09 21:27] j-pye commented on #339
The solution has been implemented and it works.
Full gitops support is included in the project provisioning templates.

[2020-09-09 21:52] jefkel commented on #162
Historic openshift WIKI repository
http://github.com/bcdevops/openshift-wiki
docs/OCP is where most of the platform documentation was originally(currently?) located

Repo that was originally planned for migration docs/notes (has a start on a couple of documents)
https://github.com/bcdevops/OpenShift4-Migration

[2020-09-10 17:41] Joe-Craig commented on #191
RITM0068791 – HP Switches – 09/22/2020
RITM0068608 – NetApp – 09/09/2020

[2020-09-10 18:49] StevenBarre commented on #338
So Slack says to use NFS v4.1 and `noac` mountoption. NetApp case suggested disabling the negative lookup cache, but has not provided how to do that yet.

Responded to case and CCd a bunch more people and said I was unimpressed with the speed and details of their responses.

[2020-09-10 21:08] jefkel opened #359 "Re-Locate Google Drive contents (OpenShift 4 Buildout Project)"
**Describe the issue**
A project folder (and subfolders) exist in a personal google drive and contain project specific documentation.  This folder (and contents) need to be re-located to a BCGov owned location.

**Which Sprint Goal is this issue related to?**
unknown

**Additional context**

**Definition of done Checklist (where applicable)**
All documents managed in private google drive are eithe

[2020-09-10 22:53] patricksimonian opened #360 "Install Argo Workflows in ARO Pathfinder"
It would be great to have the argo workflow CRD's installed on the cluster so that I could experiment app and pipeline migration from our 3.11 cluster to ARO.

:) 🔥

[2020-09-10 23:10] mitovskaol commented on #359
I've added @lukegonis  to this ticket who will be working with @tosazuwa to move the content

[2020-09-11 14:29] manderson-it commented on #318
Meeting with @jefkel @sbarre-esit @pfischer8989 on Sep 10 about F5 upcoming ingress options.
The issue with F5 is here https://github.com/F5Networks/k8s-bigip-ctlr/issues/1443
Timeline unknown. One due date shows Oct 21 though.
Also, there is an Enterprise Architecture Team assigned at HashiCorp to resolve this.

[2020-09-11 16:48] StevenBarre commented on #273
https://github.com/bcgov-c/platform-tools/pull/16

[2020-09-11 17:17] #273 closed, assigned to StevenBarre

[2020-09-11 18:06] StevenBarre commented on #315
https://github.com/bcgov-c/platform-ops/pull/290

[2020-09-14 20:41] jleach commented on #290
Notes from Meeting on 2020-09-11

- Need to figure out how to integrate CICD with Aqua; no Aqua on Day 1.
- Image versioning sample: `patroni-postgres-96:v1.1`; We will, in general, follow RHs name and version format (ie https://catalog.redhat.com/software/containers/rhel8/postgresql-96/5ba0ad1f5a134643ef2eeb9d).
- Jeff / Cailey: Req. meeting to hammer out life custom image life cycle:
 - - How lo

[2020-09-14 20:57] jleach opened #361 "Image Management Plan"
# The Problem

As part of the OCP Security Project the Platform Services (PS) team recognized that many of the images in the `openshift` namespace are not actively maintained. This is problematic because they are used by other teams leading to the propagation of security vulnerabilities; this will cause widespread security issues that will not be manageable when Aqua is put in play.

## The Soluti

[2020-09-14 20:58] jleach opened #362 "Image Management Plan"
# The Problem

As part of the OCP Security Project the Platform Services (PS) team recognized that many of the images in the `openshift` namespace are not actively maintained. This is problematic because they are used by other teams leading to the propagation of security vulnerabilities; this will cause widespread security issues that will not be manageable when Aqua is put in play.

## The Soluti

[2020-09-14 20:59] jleach commented on #362
Notes from Meeting on 2020-09-11

* Need to figure out how to integrate CICD with Aqua; no Aqua on Day 1.
* Image versioning sample: patroni-postgres-96:v1.1; We will, in general, follow RHs name and version format (ie https://catalog.redhat.com/software/containers/rhel8/postgresql-96/5ba0ad1f5a134643ef2eeb9d).
* Jeff / Cailey: Req. meeting to hammer out life custom image life cycle:
    * How lon

[2020-09-14 20:59] #361 closed, assigned to jleach

[2020-09-14 21:04] jleach opened #363 "Sort out how Aqua will scan *-prod namespaces"
Due to resource constraints we don't want to scan all images in the cluster at any scheduled interval. Rather, we want to periodically scan `*-prod` namespaces and let teams scan images are they are build (part of CICD pipeline) or when new images are added to the cluster.

[2020-09-14 21:06] jleach opened #364 "Develop semantic versioning guideline for PS images"
Platform Services will curate and maintain several images that will be used by the community. For this, we need a semantic versioning strategy that incorporates both the product version and the build version (made by us).

[2020-09-14 21:06] jleach commented on #364
We decided to follow what RedHat is doing as closely as possible.

[2020-09-14 21:07] jleach opened #365 "Develop image management guidelines for PS team members;"
We would like a document xor video that helps teams understand how to manage images and what are the surrounding best practices.

[2020-09-14 21:08] jleach commented on #365
Clecio created these illustrations that document what we prefer customers / users to do:

https://docs.google.com/presentation/d/1OsGFEP2RQUGQA_pwkswT3SQsSGL-W4WAqKQHaTLvTAI/edit#slide=id.g9116debed1_0_31

[2020-09-14 21:12] jleach opened #366 "Create bcgov namespace on all clusters"
Platform Services would like to store any bespoke images in a namespace (repo) separate from the `openshift` namespace. Please create a `bcgov` namespace on all clusters with sufficient access control so that all teams can read (images and/or templates) from the namespace.

[2020-09-14 21:13] jleach opened #367 "Configure the samples operator to exclude the following sample images"
Configure the production clusters to only show a subset of sample images and templates.

## OpenShift Image Catalog

| Remove  | Name |
| :---: | :------------------------- |
| [x] | apicast-gateway
| [x] | apicurito-ui
| [ ] | cli
| [ ] | cli-artifacts
| [ ] | dotnet
| [ ] | dotnet-runtime
| [x] | eap-cd-openshift
| [x] | eap-cd-runtime-openshift
| [x] | fis-java-openshift
| [x] | fis-karaf-opens

[2020-09-14 21:14] jleach commented on #367
Configure the production clusters to only show a subset of sample images and templates.

## OpenShift Image Catalog

| Remove  | Name |
| :---: | :------------------------- |
| [x] | apicast-gateway
| [x] | apicurito-ui
| [x] | cli
| [x] | cli-artifacts
| [ ] | dotnet
| [ ] | dotnet-runtime
| [x] | eap-cd-openshift
| [x] | eap-cd-runtime-openshift
| [x] | fis-java-openshift
| [x] | fis-karaf-opens

[2020-09-14 21:15] jleach commented on #367
These images are required for cluster ops:

cli
cli-artifacts
installer
installer-artifacts
must-gather
oauth-proxy
tests
tools

[2020-09-14 21:20] jleach opened #368 "Create CICD pipelines for images offered by platform services"
We would like to offer select images to the community that we believe will be of great benefit. Initial candidates include:

- Patroni
- Container backup image
- Jenkins
- NATS
- minio

[2020-09-14 21:22] jleach opened #369 "Scialize image management plan for OCP4 via OCP 101 training classes"
The `plan` which includes how images should be managed and maintained as well as best practices should be socialized to teams via any OCP4 training material as well as general training such as OCP 101 and 201.

[2020-09-14 21:22] jleach commented on #369
Suggest this be a Patrick / Shelly ticket.

[2020-09-14 21:25] jleach opened #370 "Wrap Artifactory credential creation into our GitOps process"
Since every team will most likely need to access Artifactory either as pull through or as a place to store their production images we would like to simplify the process. We will create the Artifactory credential as part of namespace provisioning so that it is easy and ready for use as soon as they on-board to the platform.

[2020-09-14 21:28] jleach opened #371 "Implement mechanics so we can build images with licensed entitlements"
On OCP3 we were able to build images with RH entitlements (RPMs) because the "licence" information was embedded as a shared file within docker. This meant that each team using entitlements would not need to do anything, like register credentials or licence details. On OCP4, because we no longer use docker this is not possible. We need to monitor RH for a solution to this.

[2020-09-14 21:30] jleach opened #372 "Create a better deployment template for the Jenkens"
The out-of-the-box Jenkins template has pretty pour resource allocation. We would like to remove it from the openshift templates catalog and replace it with a template maintained by platform services.

[2020-09-14 21:36] StevenBarre commented on #371
Is this a duplicate of #357 ?

[2020-09-14 21:39] jleach commented on #371
Probably. Closing.

[2020-09-14 21:39] #371 closed, assigned to j-pye

[2020-09-14 22:11] jefkel commented on #370
Duplicate of #345?

[2020-09-14 22:14] jefkel commented on #368
duplicate of #290?

[2020-09-14 22:29] jleach commented on #370
Yup. Closing.

[2020-09-14 22:29] #370 closed, assigned to j-pye, caggles

[2020-09-14 22:30] jleach commented on #368
Yup, duplicate. Closing.

[2020-09-14 22:30] #368 closed, assigned to nobody

[2020-09-14 22:31] jleach commented on #290
Some suggested images we could offer the community:

1. Patroni
2. Container backup image
3. Jenkins
4. NATS
5. minio

[2020-09-14 23:13] #315 closed, assigned to StevenBarre

[2020-09-15 17:36] #191 closed, assigned to Joe-Craig, stregear

[2020-09-15 19:04] StevenBarre commented on #338
Tested noac in klab and built 14 images with no push errors. Will create a PR shortly with the fix.

[2020-09-16 19:51] jleach opened #373 "Configure the samples operator to exclude the following templates"
| REMOVE|NAME                                            |DESCRIPTION                                                                     |
|:---:|:-----------------------------------------------|:-------------------------------------------------------------------------------|
| [x] |3scale-gateway                                  |3scale's APIcast is an NGINX based API gateway used to integrate y

[2020-09-16 20:46] jleach commented on #373
@j-pye @sbarre-esit @jefkel @cvarjao Hey, what do you think of the remove (marked with an X) list above?

[2020-09-16 20:46] jleach commented on #367
@j-pye @sbarre-esit @jefkel @cvarjao Hey, what do you think of the remove (marked with an X) list above?

[2020-09-16 20:49] jleach commented on #373
All Jenkins removed because we'll replace the templates with our own version with "sane" defaults for resource usage.

[2020-09-16 20:52] StevenBarre commented on #367
No objections to the list from me

[2020-09-16 20:55] StevenBarre commented on #373
LGTM. Once we've pruned everything I think I'll test creating all the templates that remain to ensure they all still work and we didn't over prune imagestreams needed by templates.

[2020-09-16 23:05] jleach opened #374 "Add image pull permissions when a project namespace set is provisioned"
When a project namespace is provisioned dev/test/prod will not have permission to pull images from `tools`. I think most teams will want to be able to pull images from tools, and even if they don't, its not a security issues. How about we create the permissions when we provision the namespaces:

Sample commands, run in each of dev/test/prod:
`oc policy add-role-to-user edit system:serviceaccount:b

[2020-09-17 17:51] #333 closed, assigned to stewartshea

[2020-09-17 17:54] #192 closed, assigned to stewartshea

[2020-09-17 17:55] StevenBarre commented on #57
GoldDR VCMP has been created.
CLAB Virtual Edition has been set up.

[2020-09-17 17:56] StevenBarre commented on #60
Building CLAB now and will test shortly.

[2020-09-17 17:56] jefkel commented on #90
Justin/Jeff to review for duplication with other CCM tickets.

[2020-09-17 17:56] jleach opened #375 "Rename the thetis cluster to clab"
The `thetis` cluster has its old project name and should be renamed to alight to our naming convention. Please rename to `clab`?

[2020-09-17 17:57] jleach commented on #375
@sbarre-esit @j-pye Created this so we don't loose track of this task. Not sure who can pound this issue into submission.

[2020-09-17 17:59] StevenBarre commented on #357
@j-pye can you check out https://github.com/bcgov-c/platform-tools/pull/17 for directions and a secret to enable build entitlements in a namespace.

[2020-09-17 18:00] j-pye commented on #340
This is still partially blocked by the github ssh issue we're working through with the network team today.

[2020-09-17 18:03] #174 closed, assigned to tosazuwa, stregear

[2020-09-17 18:04] StevenBarre commented on #375
Duplicate of #205. Cluster is being renamed as its rebuilt from DMZ to SDN compartment.

[2020-09-17 18:04] #375 closed, assigned to nobody

[2020-09-17 18:10] #31 closed, assigned to nobody

[2020-09-17 21:47] StevenBarre commented on #301
Poked NetApp for a ETA.

[2020-09-17 21:48] jefkel commented on #90
Completed - see epic #320

[2020-09-17 21:48] #90 closed, assigned to j-pye, jefkel

[2020-09-17 21:48] #57 closed, assigned to StevenBarre, wmhutchison, DanDeane

[2020-09-17 21:48] StevenBarre commented on #57
Components have been delivered. Closing this now and tracking any outstanding stuff in the Configure subtask

[2020-09-17 21:50] #205 closed, assigned to StevenBarre

[2020-09-17 21:50] StevenBarre commented on #205
CLAB has now been rebuilt in the SDN compartment (and thus renamed). We also have all the certs needed for it. Calling this done.

https://console-openshift-console.apps.clab.devops.gov.bc.ca/

[2020-09-17 21:53] StevenBarre commented on #60
Tested NAT is working.
Tested VIPs are working (api, apps)

TODO Set up CIS and test.

[2020-09-17 23:03] caggles commented on #342
We're going to name operator groups like this:

[product].devops.gov.bc.ca
do not pick shortnames that overlap with existing openshift objects.

[2020-09-17 23:06] jefkel opened #376 "Remove developer access to openshift "NetworkPolicies" objects"
**Describe the issue**
In order to reduce the confusion between openshift networkpolicy (a built in sdn implementation object) and our Aporeto network policies, we could remove RBAC access to networkpolicy objects in developer namespaces.

[2020-09-18 00:08] caggles commented on #342
Still to do: add docker cert to the operator.

[2020-09-18 17:50] jefkel opened #377 "Create ObjectStorage access for migration tool (CAM)"
**Describe the issue**
The RH Cluster Application Migration tool (CAM) uses an object storage bucket to transfer object manifests and state files between clusters.  An object bucket and bucket user are required to test the objectstore service (instead of standing up a temporary service)

**Which Sprint Goal is this issue related to?**
Configuring Application Migration tools

**Definition of done C

[2020-09-18 17:56] jefkel opened #378 "Deploy CAM Tool in Klab/pathfinder Lab for migration tool testing"
**Describe the issue**
Deploy and verify the RH Cluster Application Migration tool (CAM) to a lab environment, and document a simple namespace migration.

**Definition of done Checklist (where applicable)**
- [ ] CAM Tool successfully deployed to klab and lab.pathfinder clusters
- [ ] namespace migration successfully completed for a sample app.  (rc or other 2-piece application)

[2020-09-18 18:50] jleach commented on #362
Notes from Meeting on 2020-09-18
Cailey, Jason, Jeff, Justin, Steven.

- Add why use ephemeral or pers storage - why and when;
- Existing Jenkins will be OK for teams to use;
- Look into randomized UUID Q asked in RC. Need a FAQ to put common asked questions. <-- OCP4;
- Making a commonly used image saves many teams having to do the same work. P.S. should keep this to a minimum;
  - - Document rel

[2020-09-18 20:37] StevenBarre commented on #317
https://github.com/BCDevOps/openshift-wiki/pull/60

[2020-09-18 20:50] StevenBarre commented on #301
NetApp says

As soon as it is available, I will let you know

[2020-09-18 23:29] wmhutchison commented on #346
Some blockers were first hit and over-come:
- bootstrap kept on failing. Engaged network at first who could find nothing amiss. Red Hat then gave us a work-around since the URL fetch for machine config was taking longer than the default 10s. Tweaked automation so ignition files now reflect this as 2m which will become the new default shortlly.
- new ESXi cluster was misssing out-of-cluster connect

[2020-09-21 18:31] stewartshea opened #379 "Document ARO Update Process"
Provide documentation and links to the operational aspects of managing the ARO update process.
- Where is the documented support structure?
- Who is notified?
- Who can initiate an update?
- How is an update accomplished?

[2020-09-21 19:58] mitovskaol commented on #112
@sbarre-esit in my mind there are two target audiences for this kind of diagrams - product teams that may need the network details to establish connections between an app deployed on the Platform and other components (e.g. databases, BI servers, etc) deployed elsewhere (e.g. Zone B). I would think the teams need the similar level of detail like we have in the  F5 Networking diagram in Documize ->

[2020-09-21 19:59] NickCorcoran opened #380 "Information Incidents and Forensics"
Work with OCIO Investigations team:
- [ ] Initial meeting to discuss what they need in the event of incidents
- [ ] setup access for them to platform logging
- [ ] discussion around specific tooling to help

[2020-09-21 20:14] mitovskaol commented on #162
Questions for discussion before the early adopter orientation on Sep 22:
1) how many teams? **22 teams** (invasive species doesn't have DevOps skills)
Do a round-table using the survey submissions.

2) When can the early adopters bring production workloads?

- "early-access" window from mid-Oct (the week of Oct 12) to mid-Nov,

- the teams that are comfortable with bringing their prod workloads du

[2020-09-21 21:45] jleach opened #381 "Provision a DNS entry for the platform service registry"
We'd like to run the P.S. Registry at `registry.developer.gov.bc.ca`. Please provision this domain and point it to the Silver Cluster.

[2020-09-21 22:38] StevenBarre commented on #381
[code]

[2020-09-21 22:40] StevenBarre commented on #381
derp, silver not klab, one sec ...

[2020-09-21 23:20] StevenBarre commented on #381
[code]
That's better!

[2020-09-21 23:20] #381 closed, assigned to StevenBarre

[2020-09-22 16:44] wmhutchison commented on #346
All work is complete except for rebuilding the three MASTER nodes. All being well, expecting that to be completed by EOD today, or tomorrow at the latest depending on any possible new wrinkles/issues unique to the master nodes.

[2020-09-22 20:27] wmhutchison commented on #346
While CPU counts are accurate, the memory allotments for the replacement APP/INFRA nodes is half what it needs to be. Will coordinate both with VMWare team as well as other stakeholders to get these upgrades done.

[2020-09-22 22:04] wmhutchison commented on #346
Have scheduled this with Dan Deane to take place first thing in the morning on Wednesday September 23rd 2020.

[2020-09-22 22:09] StevenBarre commented on #112
https://docs.pathfinder.gov.bc.ca/s/bn6v0ac6f9gue7hhirbg/protected-platform-services/d/bsg9q3nu3u14r4kded80/ocp-4-prod-networks

[2020-09-22 22:09] StevenBarre commented on #301
https://github.com/NetApp/trident/releases/tag/v20.07.1

[2020-09-22 22:10] StevenBarre commented on #39
Completed

[2020-09-22 22:10] #39 closed, assigned to StevenBarre

[2020-09-22 22:18] StevenBarre commented on #317
Blocked while Patrick fixes up the DevHub content contribution system.

[2020-09-23 17:18] StevenBarre opened #382 "Burn in test of Silver NetApp"
**Describe the issue**
We need to do some performance and stability testing of the Silver NetApp prior to the Oct 14 go-live.

**Which Sprint Goal is this issue related to?**
TBD

**Additional context**
Create a StatefulSet to launch a pod on each node with a NFS (and then block volume) and run `dd if=/dev/urandom of=/test/a.bin bs=1M count=10240` and attempt to saturate the links. Have the pods r

[2020-09-23 20:31] StevenBarre commented on #301
KLAB upgraded and some tests run https://github.com/bcgov-c/platform-ops/pull/296

Passing to @jefkel to verify before closing

[2020-09-23 20:33] StevenBarre commented on #112
@stewartshea @mitovskaol now that this is in Documize, OK if I close it?

[2020-09-23 20:35] StevenBarre commented on #338
Tested https://github.com/bcgov-c/platform-ops/pull/294 in KLAB. No more issues.

[2020-09-23 20:36] patricksimonian opened #383 "ARO fallback image registry is not the internal registry"
## Problem

When referencing images inside of Deployments by `${IMAGE_NAME}:${IMAGE_TAG`. The fallback registry openshift uses when not explicitiy set is `docker.io`

## What I expected

Similar to our experience in 3.11, I'd expect it'd first fallback to the internal registry instead of docker.io

[2020-09-23 20:39] stewartshea commented on #112
I feel like more detail is required...
- subnets for the nodes
- how they are connected (ie. I assume dual bonded across separate switches)
- I don't even see nodes
- How does the NetApp factor in there with a "storage zone?"
- Whats the  POD CIDR's?

I guess a network architect may look for this information, and currently
they might ask all of those questions.

--
Shea Stewart (He/Him), Partner
A

[2020-09-23 20:47] wmhutchison commented on #346
Work with VMWare now complete, thus concluding this work along with all of the defined check-boxes listed above.

[2020-09-23 20:48] StevenBarre commented on #112
But DXC is the network architect here. We've got a bunch of ugly Visio's internally.

I don't see what value this provides to the Product Owner or the end users.

[2020-09-23 21:01] stewartshea commented on #112
IMBs have their own architects, especially when they are trying to connect
to external systems or even just understand how the internal routing works.
Questions always come in about the network architecture, and I expect no
difference in this case. Think of this as an opportunity to reduce further
questions coming your way about how things are set up. The more information
you share, the easier it

[2020-09-23 21:02] mitovskaol commented on #112
@stewartshea @sbarre-esit If you can confirm that the current network diagram provides enough details for building integrations between the Platform and other systems (external and inside the gov network) , then let's consider it "complete" and close the ticket.

[2020-09-23 21:25] stewartshea commented on #112
If all egress traffic exists out the stated IP in the diagram then it might
be good enough for now until additional questions arise.
--
Shea Stewart (He/Him), Partner
Arctiq: Intelligent Architecture
shea.stewart@arctiq.ca
+1-647-972-5191
http://www.arctiq.ca
Book at meeting here: https://x.ai/calendar/sheastewart

Why I Put Pronouns on my Email Signature
<https://medium.com/gender-inclusivit/why-

[2020-09-23 22:36] #112 closed, assigned to StevenBarre

[2020-09-23 23:22] mitovskaol commented on #112
@sbarre-esit  One comment I received from AG was to include the ingress IP in the diagram in addition to the egress IP and also to indicate more clearly (maybe a note?) that all traffic will egress from a single IP as it is a big change from the current OCP 3.11 network setup.  Another question was that given this is all going to be Aporeto protected space, to provide clarify whether  connectivity

[2020-09-23 23:39] #339 closed, assigned to j-pye

[2020-09-24 12:51] mrobson commented on #383
@patricksimonian This is defined in the /etc/containers/registries.conf

`unqualified-search-registries = ['registry.access.redhat.com', 'docker.io']`

You can address this via a MachingConfig as outlined in: https://access.redhat.com/solutions/5063741

[2020-09-24 17:19] #346 closed, assigned to StevenBarre, wmhutchison

[2020-09-24 18:56] j-pye opened #384 "Document NSP Operator Changes"
**NSP Operator Changes requiring documentation:**
- CRD ApiVersion changed from
     `apiVersion: security.developer.gov.bc.ca/v1alpha1`
      to
     `apiVersion: security.devops.gov.bc.ca/v1alpha1`
- External Networks CRs no longer support `ports` and `protocols`, the two fields have been combined into `servicePorts`.

**DoD:**
- [x] Update Developer Documentation with CRD API Version Changes
-

[2020-09-24 18:59] StevenBarre commented on #384
Can we add to the DoD?

- Update Developer Documentation with PodInjectorSelector information

Projects will come with one for Builds by default, but devs may want to add their own in addition.

[2020-09-24 20:14] j-pye commented on #384
For those in KLAB:
There are 2 scenarios:
- Network connectivity must not break
1. Write open NSP policies with the new CR ApiVersion -- Be sure to use a unique `metadata.name` that's not the same as any of your existing NSPs on the old CR ApiVersion
2. `oc apply -f <new nsp | new en>`
3. `oc delete -f <old nsp / old en>` that are currently in place.
4. Update the old files with the new CR ApiVers

[2020-09-24 20:33] StevenBarre commented on #216
https://github.com/sushilsuresh/ocp4-ansible-roles/tree/master/roles/etcd-backup might be worth stealing

[2020-09-24 22:04] StevenBarre commented on #217
Builds and deployment https://github.com/bcgov-c/platform-tools/pull/19

[2020-09-24 23:13] StevenBarre commented on #217
Image Registry Soft Prune is handled by OCP, though it still has some bugs to work out. Waiting on an RFE from RH to improve it.

[2020-09-25 04:28] j-pye commented on #384
Rolled out another update to the operator.
Fixes:
- Intermittent deletion failures caused by shortnames
- NSP Deletion Failures caused by Finalizer mismatches
- External Network Creation using `servicePorts` -- Internal note: operators automatically convert camelCase to snake_case. There is a way to disable this conversion but I decided to just update the role to support the conversion until we kn

[2020-09-25 04:46] j-pye commented on #249
September 23, 2020
- KLAB was upgraded to OCP 4.5.11
- Aporeto Enforcement was enabled on all nodes
- Prior to the upgrade we discovered the Router Metrics were failing and that there was a missing policy. This did not impact the upgrade.
- During our previous upgrade on September 18th, we discovered that Mutating/Admission webhooks directed at pods can cause an upgrade to fail if the webhook endp

[2020-09-25 04:46] #249 closed, assigned to j-pye, StevenBarre

[2020-09-25 05:09] j-pye commented on #261
Meeting was Rescheduled for September 22nd due to our Aporeto Contact being unavailable.

September 22, 2020
Meeting Notes / Action Items:
- Recommend policy backups to git on a nightly basis - Done
- Test backup restore process - ToDo
- Generate list of email recipients to subscribe to aporeto releases - ToDo
- Recommend node evac/cordon on enforcer failure
- Recommend Fail Closed on Enforcer Fai

[2020-09-25 17:11] StevenBarre commented on #366
Created the following on KLAB and Silver by hand.

[code]

Moving to blocked until CCM is ready to take this task on for us.

[2020-09-25 17:32] StevenBarre commented on #217
The image registry hard prune we have automated for v3 only runs once a quarter and is unreliable. There's a lot of edge cases that can cause it to fail and leave the registry in read-only mode. Combined with the fact this change is not being announced to the users of the platform causes some people headaches until Ops can get in and fix things up. I don't think automation is making our lives bett

[2020-09-25 20:25] mitovskaol commented on #217
@sbarre-esit  I think combining hard pruning and quaterly patching is a great idea. Is there a standard template for patching announcement that you use? If so, it can be updated to mentiong the registry prune, this way it will be communicated through the alerts channel together with the patching announcement.

[2020-09-25 20:29] StevenBarre commented on #217
I believe we just copy/paste from the previous quarters notification https://github.com/BCDevOps/platform-services-status-page-notifications/pull/90/files#diff-205535369f996e68de91f1f5c7da07a4 . But we might do the pruning as a separate RFC/notification and just do it once a quarter.

[2020-09-25 20:29] mitovskaol commented on #261
thank you for capturing the meeting notes @j-pye !
A couple of comments:
re:  Recommend Fail Closed on Enforcer Failure

- when an enforcer fails on a node, a monitoring script will detect the failure (how?) and will force evac all pods from the impacted node to another healthy node.
- when all enforcers fail on all the nodes, the monitoring scripts will detect that and will trigger the switch in

[2020-09-25 20:30] mitovskaol commented on #217
Sounds good as long as we don't forget to announce it to the Platform teams :)

[2020-09-25 21:05] #342 closed, assigned to caggles

[2020-09-25 21:06] #344 closed, assigned to caggles

[2020-09-25 22:42] jefkel commented on #301
I have not been able to replicate the issue in klab (with multiple deploy/destroy cycles of 3 separate patroni clusters.)

Looks good to me.

[2020-09-25 22:48] jefkel commented on #217
I am not sure that I agree that automation is not making our lives better here.

I thought that the issues leading up to the registry remaining in ReadOnly mode were not issues that required intervention (ie: when the issue was addressed, the ONLY thing that needed to be done was to redeploy the registry in RW mode?)

From an automation perspective, the outstanding work was to have a hard cutoff f

[2020-09-25 22:50] jefkel commented on #217
The developer impact is not relevant to an automation discussion other than the lack of announcements (maybe adding an RC announcement in the hard prune automation can help here?)

The troubleshooting that happens afterward is more related to how we prune, not whether the pruning is done via automation.

[2020-09-25 22:52] jefkel commented on #217
As the platform get's larger, and the registry more active, the expectation is that a hard prune (that helps cleanup used storage) could be run on a more frequent basis (assuming automation is in place and it doesn't require a lot of manual overhead)

[2020-09-25 23:56] StevenBarre commented on #217
I think the biggest problems come from an inability to test at scale without overtime or impact to users during the day, and part from the failure modes of pruning being an unknown black box. The pruner always runs fine in LAB. Only running it in PROD once a quarter and hoping you can figure out why it failed and fix it for next quarter is a nightmare. And running it multiple times with a human wa

[2020-09-28 16:48] #301 closed, assigned to jefkel, StevenBarre

[2020-09-28 16:48] #13 closed, assigned to j-pye, StevenBarre

[2020-09-28 16:55] StevenBarre commented on #350
After reviewing how Nagios and AlertManager think of alerts, I've decided to not connect them.

AlertManager supports wildcards in Alert definitions. For example it can have a rule to alert if a PVC in a namespace like `openshift-*` is full. Nagios on the other hand needs pre-created and known "services" for each thing that can alert and clear.

AlertManager does however support sending emails. So

[2020-09-28 21:12] StevenBarre commented on #262
In Silver I made a change to the worker MCP and timed the rollout. It took 30m to evac and restart the 9 physical app nodes. The cluster is pretty empty though.

I also ran an upgrade and it took an hour.

Evacuating fully loaded nodes in v3 currently takes 15m+. Lets assume that in v4 we can drain and reboot a node in 15m. With 45 app nodes currently planned for Silver that is 11.25h plus the ext

[2020-09-28 21:16] StevenBarre commented on #309
The console route has been added (the old one remains as well). The rest are not currently possible to change.

[2020-09-28 21:18] StevenBarre commented on #10
KLAB has now been moved into the SDN.

[2020-09-28 21:18] #10 closed, assigned to nobody

[2020-09-28 21:19] StevenBarre commented on #11
CLAB has been moved into the SDN.

[2020-09-28 21:19] #11 closed, assigned to nobody

[2020-09-28 21:20] StevenBarre commented on #14
CLAB has been moved to the SDN. Currently waiting on CCM to manage the cluster config and migrate work from the older ansible cluster config.

[2020-09-28 21:21] StevenBarre commented on #21
F5 Virtual Edditions set up in the SDN for both KLAB and CLAB

[2020-09-28 21:21] #21 closed, assigned to nobody

[2020-09-28 21:23] StevenBarre commented on #42
@stewartshea @jefkel could we get a better DoD on this? What exactly is "availability for Ops" mean?

[2020-09-28 21:24] StevenBarre commented on #83
@stewartshea is this task still relevant? Or are you just using native storage classes in Azure?

[2020-09-28 21:26] stewartshea commented on #83
Not relavent right now, we are indeed sticking with native storage classes for now

[2020-09-28 21:26] #83 closed, assigned to nobody

[2020-09-28 21:26] jefkel commented on #42
My take is that all tasks/configuration the operational team (DXC) need to have in place to be comfortable with supporting this as a production platform.

What were your ideas for a DoD?

[2020-09-28 21:32] StevenBarre commented on #314
Completed https://github.com/bcgov-c/platform-ops/pull/285

[2020-09-28 21:32] #314 closed, assigned to nobody

[2020-09-28 21:35] StevenBarre commented on #109
I believe this was covered by https://github.com/BCDevOps/OpenShift4-RollOut/blob/master/docs/F5-vs-HAProxy.md

@stewartshea @jefkel can we close this?

[2020-09-28 21:41] stewartshea commented on #109
I don't think so... This isn't a comprehensive enough and doesn't actually
show what the end-state is. A dedicated document that outlines the each
active environment and exactly how teams are to leverage ingress is what I
would like to see out of this ticket.
--
Shea Stewart (He/Him), Partner
Arctiq: Intelligent Architecture
shea.stewart@arctiq.ca
+1-647-972-5191
http://www.arctiq.ca
Book at meeti

[2020-09-28 22:12] StevenBarre commented on #42
Should we just close this and all the other "validate cluster availability for ops" tasks as duplicates of Develop Day 2 tasks #223 [EPIC] ? I had no ideas for a DoD since I didn't create this ticket and was unsure what it was referring to. I can't read Shea's mind from last November :P

[2020-09-28 22:13] #338 closed, assigned to StevenBarre

[2020-09-28 22:15] StevenBarre commented on #357
Moving this to Backlog as something to get the Project Registry / Argo to handle setting up the secret for all projects.

[2020-09-28 22:44] StevenBarre commented on #299
Scheduled image import is supposedly on by default in v4 and the tunables are not adjustable currently.

Going to use Docker Hub and a dummy image to test if it actually works or not.

[2020-09-28 22:49] jefkel commented on #262
Testing question:
- when maxUnavailable is turned up to 3
  - how long between node evacuations (or)
  - Are all evac notices given at once?

If node evacuations are parallel, we will need to keep this # low.
If node evacuations are serial, we need to know more about the delays between node evacs to be able to predict the impacts to deployed applications.

One way to speed up the rolling node upda

[2020-09-28 23:07] jefkel commented on #217
It seems like the manual step comment is missing the registry read-only remediation steps you take?

From my understanding, the remediation steps are
a) check state of job - (seems like it's usually "failed" by 9am?)
b) manually change deployment variable back to RW mode, and redeploy
c) confirm registry in RW mode (service restored)
d) gather as many logs as possible for failure investigation...

[2020-09-28 23:11] jefkel commented on #217
hmm.. or.. we can do a short term compromize?

Continue to run an auto-schedule
time it to start in a specific weekend window (instead of running between midnight and 5am?)
page if there are errors that end the job with a fail
page if the job goes longer than X hours

Ideally, if you're paging for a failure, you could also automate the service restart (either to be manually triggered by the on-cal

[2020-09-28 23:15] StevenBarre commented on #262
The evacs are done in parallel from previous testing. Agreed the number would be kept low. Even setting it to 2 would nearly half the update time though.

PDBs would be needed to ensure that two parallel evacs don't take out 2/3 clustered pods in any HA setup.

[2020-09-28 23:20] stewartshea commented on #42
Haha neither can I, I mean, these were all high level initial cards that we
knew would change. I'd vote to close it.

--
Shea Stewart (He/Him), Partner
Arctiq: Intelligent Architecture
shea.stewart@arctiq.ca
+1-647-972-5191
http://www.arctiq.ca

On Mon, Sep 28, 2020, 6:13 PM Steven Barre <notifications@github.com> wrote:

[2020-09-28 23:38] jefkel commented on #42
I like the Day 2 Epic ... way more detail in that that feels appropriate

[2020-09-29 13:20] manderson-it commented on #318
Two sessions with HashiCorp engineers/architects Sam Gabrail and James Anderton. The issue remains unresolved.

[2020-09-29 15:49] j-pye commented on #303
Aporeto Testing included the following tasks:
- Test Developer and Operations Builds - This lead to the use of the PodInjectorSelect which allows us to inject an init container so pods wait until they are protected before trying to start up and run the desired container applications.
- Test Namespace to Namespace communication - Policies must exist in both namespaces in order for an accepted flow

[2020-09-29 15:49] #303 closed, assigned to j-pye

[2020-09-29 16:05] mdditt2000 commented on #318
@manderson-it i can provide a CIS image later this week for F5Networks/k8s-bigip-ctlr#1443

[2020-09-29 16:13] manderson-it opened #385 "Test Vault recovery from backup"
**Description**
Test Vault recovery from backup

**Definition of Done**
- [] Use one of the raft.snap files created by the CronJob to restore a new separate Vault cluster
- [] Document the recovery process

[2020-09-29 16:14] j-pye commented on #284
Docs look good. No extra notes at this time.

[2020-09-29 16:18] manderson-it commented on #284
Final review with @j-pye completed.

[2020-09-29 16:18] #284 closed, assigned to j-pye, manderson-it

[2020-09-29 16:23] manderson-it commented on #325
Update the Kubernetes CronJob to use a sidecar with Vault's Kubernetes Authentication Method. Update docs accordingly.

[2020-09-29 16:25] manderson-it commented on #326
@patricksimonian reviewed the document and suggested feedback. The document needs to make it clear how secrets are consumed. @manderson-it to update the doc accordingly.

[2020-09-29 16:55] #299 closed, assigned to StevenBarre

[2020-09-29 16:55] StevenBarre commented on #299
Tested with @jleach and confirmed working

[2020-09-29 17:36] wmhutchison commented on #216
Will check out the link - moving this into In Progress with the intent of starting actual work on this during this week.

[2020-09-30 18:35] j-pye commented on #340
Gh Actions minutes limit blocker resolved. Moving back to in progress to test a github api change to make sure everything still works as expected. Afterwards this will move to review.

[2020-09-30 19:03] j-pye commented on #248
Testing in KLAB has gone well. DXC is still able to access the hosts for maintenance.
One additional policy is needed for Router Metrics on all Clusters which I've added and am verifying today.

[2020-09-30 19:34] j-pye opened #386 "CCM Resource Patching"
By default ArgoCD is meant to ensure a resource matches what's inside of the monitored GitHub repository. This does not work for patching existing resources such as the OpenShift Image Registry Operator.

The recommended solutions are to use one of the following:
- Operator - Continuously ensures resource state - **Current Solution**
- K8s Job on Pre or Post ArgoCD Application Sync
   - This is go

[2020-09-30 19:39] j-pye commented on #386
Patching KV Pairs for Nodes, Deployments, and DaemonSets works as expected.
No finalizer will be present. If a label has been added and needs to be removed we can discuss that further but I have a few simple ideas for handling that in GitOps style.

[2020-09-30 20:05] manderson-it commented on #318
Also opened tickets with HashiCorp support today https://support.hashicorp.com/hc/en-us/requests/35007
and https://support.hashicorp.com/hc/en-us/requests/35008
@j-pye has access to the HashiCorp support portal.

[2020-09-30 20:08] Joe-Craig commented on #296
SCO has been signed off and procurement process started - ETA before 12th Oct when the temporary licenses run out.

[2020-09-30 20:09] Joe-Craig commented on #189
First draft currently due end of October 2020.

[2020-09-30 20:11] j-pye commented on #305
This is waiting on CLAB availability which is waiting on CCM to be ready.

Edit:
- OIDC Cluster Auth needs to be setup
- CCM Needs to be setup for CLAB so that aporeto can be installed.

[2020-09-30 20:12] ShellyXueHan commented on #269
Update for Step 2 - Change SSO endpoints from {x}.pathfinder.gov.bc.ca -> {x}.oidc.gov.bc.ca:
- enabled new service name in dev instance, so far so good
- continue on to test and prod:
(tickets in another zenhub board)
https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/developer-experience/597
https://app.zenhub.com/workspaces/platform-experience-5bb7c5a

[2020-09-30 20:29] StevenBarre commented on #373
Some of the templates that are marked to be kept depend on images marked for removal in #367 . Can someone double check this list?

[2020-09-30 20:41] mitovskaol opened #387 "Decide on the authentication options for access to OCP 4 Console and Clusters"
As a Platform user I would like to have mutliple options available to accessing the Openshift 4 clusters and the console.  At this moment only GitHub 2FA authentication is supported for accessing the Openshift 4 Platform.

Github (bcdevops Organization with 2FA enforced at the GitHub org)
IDIR (leverage SSO realm to add IDIR authentication to the cluster)

See [PR718](https://github.com/BCDevOps/p

[2020-09-30 21:13] StevenBarre commented on #42
Closing in favor of  #223

[2020-09-30 21:13] #42 closed, assigned to nobody

[2020-09-30 21:14] #64 closed, assigned to nobody

[2020-09-30 21:14] StevenBarre commented on #64
Closing in favor of  #223

[2020-09-30 21:14] StevenBarre commented on #75
Closing in favor of  #223

[2020-09-30 21:14] #75 closed, assigned to nobody

[2020-09-30 21:14] StevenBarre commented on #86
Closing in favor of  #223

[2020-09-30 21:14] #86 closed, assigned to nobody

[2020-09-30 21:16] lukegonis opened #388 "KeyCloak SSO Service Name Migration to OIDC"

[2020-09-30 21:19] lukegonis opened #389 "Project Registry MVP with GitOps - new project provisioning"

[2020-09-30 21:24] lukegonis opened #390 "OCP 4 Platform Operational Tool MVP Implementation"

[2020-09-30 21:30] lukegonis opened #391 "Artifactory Shared Service MVP Implementation for Early Access"
Artifactory MVP implementation includes:

1. Service Account based access to all projects on OCP4
2. The ability to pull and cache images from a wide variety of commonly-used repositories
3. Documentation outlining how to use Artifactory's caching repos.

[2020-09-30 21:35] lukegonis opened #392 "Aporeto Shared Service MVP Implementation for Early Access"
Aporeto is a software defined network management tool for network security that is based on Zero Trust Model. This tool will control all communications on the new Platform. Only connections explicitely defined in Network Security Policies will be allowed.

[2020-09-30 21:56] jefkel commented on #387
This feels like multiple tickets to cover all the scope:
1: Choose implementation option for SSO integration (technical deployment choice to be made with business input re: pro's and con's)
2: Document provisioning steps to illustrate the developer team control of authorizations.

[2020-09-30 22:31] StevenBarre opened #393 "Automate Cluster Logging Upgrades"
**Describe the issue**
Cluster Logging is not upgraded automatically as part of cluster upgrades. The steps to upgrade are documented at https://docs.openshift.com/container-platform/4.5/logging/cluster-logging-upgrading.html and should be upgraded after a cluster upgrade.

**Which Sprint Goal is this issue related to?**
Ops Tool Implementation

**Definition of done Checklist (where applicable)**

[2020-09-30 22:32] StevenBarre commented on #393
Automation PR https://github.com/bcgov-c/platform-ops/pull/301

Tested in KLAB but Kibana broke. Opened a case with Red Hat to resolve.

[2020-09-30 22:40] StevenBarre opened #394 "Trident Improvements"
**Describe the issue**
After a call with a NetApp Trident SME some deficiencies in our current setup were identified.

1. We should be installing via the Operator instead of with the cli tool. https://netapp-trident.readthedocs.io/en/stable-v20.07/kubernetes/deploying/operator-deploy.html
2. We should make use of Virtual Storage Pools to handle `file-standard` and `file-backup` storage classes wit

[2020-09-30 22:44] StevenBarre commented on #394
Operator PR https://github.com/bcgov-c/platform-ops/pull/302

[2020-09-30 23:40] jefkel opened #395 "RBAC Investigation for IDIR controls on namespace access"
**Describe the issue**
Flexible approach is also needed to create a robust RBAC model around the namespace access where only IDIR users (gov employees) have a permission to grant access to a namespace to other users.

**Additional context**
Base solution could be quite easy:
1 - implement IDIR oauth provider for cluster
2 - require namespace provisioning to link product owner and product admin to

[2020-10-01 20:13] #165 closed, assigned to mitovskaol, tosazuwa

[2020-10-01 20:14] #198 closed, assigned to stewartshea, StevenBarre, mitovskaol

[2020-10-01 20:14] #322 closed, assigned to mitovskaol, tosazuwa

[2020-10-01 20:14] #359 closed, assigned to jefkel, mitovskaol, lukegonis, tosazuwa

[2020-10-01 20:46] mitovskaol opened #396 "Create monitoring for Artifactory service on Silver cluster"
As a Platform Services team member responsible for supporting the Artifactory service, I need :
1. Decide on an SLA (uptime, responsiveness, service availability from external client perspective), SLO (internal metrics for the SLA commitments) and SLI (actual measurements for the SLOs) for Artifactory service. Should not be higher than SLA/SLO/SLI for the Openshift Platform itself (SLA = 99.5% for

[2020-10-01 23:44] lukegonis opened #397 "Authentication Options Decision for OCP4 Access"

[2020-10-01 23:45] lukegonis opened #398 "SG - Vault Service Implemented and Operationalized in KLAB"
Vault is a secret management tools that will be available for product teams on the new Platform.

This Sprint we aim to implement the Vault Shared Service in a KLAB environment (our sandbox cluster) and build automation for building, deployment and configuration of the service.  Another deliverable will include  development of developer self-help documentation on how to integrate and use the Vault

[2020-10-01 23:46] lukegonis opened #399 "SG - Migrate Rocket.Chat from OCP 3.11 to OCP 4 Silver"
Platform Services Team needs to start migrating Shared Services app from OCP 3.11 to OCP 4 Platform (Silver cluster as the initial destination).

The goal of this Sprint is to migrate RocketChat app.

[2020-10-01 23:47] lukegonis opened #400 "Documentation/Tech Debt"

[2020-10-02 17:59] StevenBarre commented on #317
Done! https://developer.gov.bc.ca/OCP4-Backup-and-Restore

[2020-10-02 17:59] #317 closed, assigned to patricksimonian, jefkel, StevenBarre

[2020-10-02 18:26] StevenBarre commented on #198
We are deciding against setting maximums for pod resources. And will implement the minimum PVC size.

[code]

[2020-10-02 23:12] jefkel commented on #387
Original ticket:

Scope for this ticket narrowed to multiple options for accessing openshift 4.
Ticket created to address scope: Robust RBAC model [OpenShift4-Buildout board: 395](https://app.zenhub.com/workspaces/openshift-4-build-out-5db73142897668000144f22b/issues/bcdevops/openshift4-rollout/395)
Linked existing ticket for IDIR and 2FA support [PlatformExperience Board: 568](https://app.zenhub.

[2020-10-06 00:06] caggles opened #401 "Artifactory Operator Cluster Admin action for Silver Cluster"
Please head on over to https://github.com/BCDevOps/developer-experience/tree/cailey/artifactory/operator-upgrade/apps/artifactory/artifactory-operator/install and run the clusterAdmin.yml playbook that you find there. There is a little more detail on how to do this in the Readme.

Quick rundown of what it does:

1. adds the artifactoryrepository CRD
2. adds the artifactoryserviceaccount CRD
3. agg

[2020-10-06 17:17] StevenBarre commented on #401
Done! Please verify and close the ticket.

[2020-10-07 21:28] StevenBarre commented on #393
Logging no longer supports the syslog forwarding ConfigMap we had created. Removing it allowed the upgrade to complete.

Syslog forwarding (to the OCIO SIEM) will be reintroduced in v4.6

[2020-10-08 17:00] #248 closed, assigned to j-pye

[2020-10-08 17:07] j-pye opened #402 "Aporeto - Cluster Port-Forward/Proxy Issue - SPIKE"
As a developer, it is sometimes desirable to access a service using `oc proxy` or `oc port-forward`. Currently, Aporeto shows this traffic as coming from the Kubelet (Cluster IP) and does not register it as a Processing Unit (PU). Allowing any Cluster IP to contact the desired service pod will remove zero trust and allow any pod on any unenforced pod to communicate with your service pod. Another s

[2020-10-08 17:51] #349 closed, assigned to NickCorcoran

[2020-10-08 17:53] NickCorcoran commented on #352
- [x] Reviewed by J-Pye.
- [x] Reviewed by Marek

[2020-10-08 18:04] j-pye commented on #340
Changes tested. And working.

[2020-10-08 18:04] #340 closed, assigned to j-pye

[2020-10-08 18:07] j-pye opened #403 "Project Provisioning Pipeline Tools"
Definition of Done:
- [x] Argo CRDs Role created for CCM
- [x] Argo Events CRDs Role created for CCM
- [x] Deployed to KLAB through CCM
- [x] Deployed to Silver through CCM

[2020-10-08 18:08] #161 closed, assigned to jleach, mitovskaol, tosazuwa

[2020-10-08 18:09] j-pye opened #404 "Cluster SSO Implementation"
Definition of Done:
- [x] Authentication flows created for Github Org Restriction in Test Realm
- [x] Authentication flows created for Github Org Restriction in Prod Realm
- [x] OAuth Ansible Role for CCM

[2020-10-08 18:11] #307 closed, assigned to j-pye, manderson-it

[2020-10-08 18:19] lukegonis commented on #328
Blocked, waiting until Justin is available.

[2020-10-08 18:31] StevenBarre commented on #217
Built in soft pruner is enabled. But it fails to restart the registry to clear the caches.

Attempts to manually perform a restart fail due to the deployment being controlled by the operator.

Case 02694771 is open with Red Hat to track that the built in pruner fails to restart the registry as per the docs and the RFE.

Moving to blocked waiting on the RFE.

[2020-10-08 19:16] manderson-it opened #405 "Azure Key Vault for Auto-Unsealing Vault DR sites"
Describe the issue
Deploy Azure Key Vault for each Vault DR cluster.

Which Sprint Goal is this issue related to?
n/a

Additional context
The Azure Key Vault allows each Vault pod to be automatically unsealed and therefore eliminate the manual unseal process per pod.
An unseal operation is mandatory when a pod starts for the first time and on any pod restart scenario be it maintenance or failure.

[2020-10-08 19:17] manderson-it commented on #323
The other two Azure Key Vaults are captured in a separate issue #405.
This one is tested and done. Closing.

[2020-10-08 19:17] #323 closed, assigned to j-pye, manderson-it

[2020-10-08 19:30] manderson-it commented on #352
Reviewed. Good as-is. 👍  Minor edit suggestions send per RC DM.

[2020-10-08 19:40] caggles commented on #377
all done, the secret is called cam-objectstore!

[2020-10-08 21:40] jefkel commented on #345
decision complete to use existing operator functionality, and provision new namespaces with an appropriate customResource.

[2020-10-08 21:40] #345 closed, assigned to j-pye, caggles, jefkel

[2020-10-08 21:42] caggles opened #406 "Operator Service Account Pull Secret"
When making the artifactory service accounts, the operator currently just makes a generic secret and any pull secrets need to be created manually.  Let's update the operator to make it so that it creates the relevant pull secrets automatically, as part of service account creation!

[2020-10-08 23:13] StevenBarre commented on #393
https://github.com/bcgov-c/advsol-docs/pull/109/commits/a0919835b9280a26c7d98a4ad99b3b0f4449d574

[2020-10-08 23:13] #393 closed, assigned to StevenBarre

[2020-10-08 23:14] StevenBarre commented on #382
Ran a load test and saturated the 10G port on the NetApp.

Scheduled a failure test with DCM for Oct 9th @13:00

[2020-10-08 23:15] StevenBarre commented on #211
https://github.com/bcgov-c/advsol-docs/pull/109

[2020-10-09 17:16] caggles commented on #401
hey @sbarre-esit - i just updated clusterAdmin.yaml to include the creation of the role that's causing me problems. Please run the playbook again!

[2020-10-09 17:53] jleach opened #407 "Add a logo to the GitHub oAuth app so it looks more polished."
## Story

As a user of OCP4 I'd like to authenticate with my GitHub ID and know that authentication is more legitimate.

## Description

The default icon for our GitHub oAuth app looks pretty lame - like its a haxor site. It would be good to give it a proper name and icon so it looks polished.

![Screen Shot 2020-10-09 at 10.46.52 AM.png](https://images.zenhubusercontent.com/5c2fa1b7ce4f66381cd8d0

[2020-10-09 17:53] jefkel opened #408 "Private Repo Org sharing with Platform Services"
**Describe the issue**
With the broad adoption of Github Actions (both within the platform services team, and with application teams) the platform services team cannot reliably depend on Shared Github Actions as a cluster management pipeline.  To avoid conflicting demand for GitHub organizational resources, an organizational separation of platform services private repos and developer private repos

[2020-10-09 22:22] #401 closed, assigned to StevenBarre

[2020-10-13 21:29] StevenBarre commented on #382
With the help of DCM we pulled the active cable from a servers bond and it failed over in 200ms as expected. No noticeable impacts to the speed of I/O other than the short pause while the failover occurred. Traffic routed through the the secondary switch, to the core, and back to the primary switch and onto the NetApp.

DCM then pulled the primary cable from the NetApp. The NetApp switched traffic

[2020-10-13 21:33] StevenBarre commented on #382
File stress test job. This creates up to 10 pods in parallel writing a 10GB file and then checksumming it. As the pod finishes a new one is created by the job. Up to 1000 pods will run in total unless you delete the job sooner. Multiple sets of the job can be created to generate higher load.
[code]

[2020-10-13 21:35] StevenBarre commented on #382
Similar idea, but with block storage. Can't be run in parallel due to how iscsi works. Just run more jobs to get more parallelism. Also uses smaller files and PVC to cause pods to restart more often, as iscsi mounting is a larger issue than NFS.
[code]

[2020-10-13 21:35] StevenBarre commented on #382
@mitovskaol @jefkel anything else I need to document here before closing?

[2020-10-13 21:41] mitovskaol commented on #382
@sbarre-esit  the test summary looks good to me, lets get @jefkel 's approval and close the ticket.

[2020-10-14 15:58] jefkel commented on #382
Looks like a good test - I can't think of anything else to add.

[2020-10-14 16:06] #382 closed, assigned to StevenBarre

[2020-10-15 18:12] jefkel commented on #404
Integrations for cluster authentication have been completed for KLAB and SILVER clusters (and OAuth settings have been added to CCM flow to connect)

Question:
- Is the CCM role listed above just the OAuth configuration role for the cluster? (in which case it's done as well, and the ticket can be closed)
- or is the CCM role listed above related to codifying the SSO Realm configuration?

[2020-10-15 18:20] NickCorcoran opened #409 "Pen test Remediation"
Conduct the following remediation items.  See report for specific details.

- [x] Secure cookie [02817747](https://access.redhat.com/support/cases/#/case/02817747)
- [ ] Password autocomplete [02817749](https://access.redhat.com/support/cases/#/case/02817749)
- [ ] Strict Transport Security [02817751](https://access.redhat.com/support/cases/#/case/02817751)
- [ ] CSRF [02817754](https://access.red

[2020-10-16 00:17] #374 closed, assigned to j-pye

[2020-10-16 19:21] #294 closed, assigned to caggles

[2020-10-16 19:21] #358 closed, assigned to caggles

[2020-10-16 19:22] #343 closed, assigned to caggles

[2020-10-16 22:49] jefkel commented on #404
Note: limitation in SSO implementation that forces lowercase for all usernames.
https://issues.redhat.com/browse/RHBPMS-2882?attachmentViewMode=list

PR 1 - https://github.com/bcgov-c/devops-fulfillment-pipeline/pull/1
to fix project auto-provisioning in place, but additional documentation for Application Team RBAC is needed to ensure clarity on lowercase requirements for usernames.

[2020-10-16 22:55] jefkel opened #410 "SSO and RBAC documentation for teams"
**Describe the issue**
Many teams are still using the GUI to manage their access controls for their namespaces.  Documentation on preferred approach of using rolebinding manifests for user (and service account) access is needed.  Create documentation for teams to manage RBAC within their namespaces.

This needs to include any requirements re: usernames (as identified in the project provisioner - l

[2020-10-17 02:32] #245 closed, assigned to NickCorcoran

[2020-10-17 02:32] #283 closed, assigned to NickCorcoran

[2020-10-17 02:32] #244 closed, assigned to NickCorcoran

[2020-10-17 02:32] #243 closed, assigned to NickCorcoran

[2020-10-17 02:32] #242 closed, assigned to NickCorcoran

[2020-10-19 23:35] mitovskaol commented on #387
The decision has been made and documented.

[2020-10-19 23:35] #387 closed, assigned to jefkel, mitovskaol, ShellyXueHan

[2020-10-20 05:02] #296 closed, assigned to stregear

[2020-10-20 05:04] Joe-Craig commented on #189
Brief Note to be sent to province by 29th Oct 2020

[2020-10-20 15:45] NickCorcoran commented on #246
- [x] Signed off by business owner
- [x] Signed off by MISO
- [x] Signed off by MCIO
- [x] Submitted to OCIO ISB

[2020-10-20 17:42] #392 closed, assigned to nobody

[2020-10-20 17:43] #397 closed, assigned to nobody

[2020-10-20 17:52] #391 closed, assigned to caggles

[2020-10-20 17:52] #389 closed, assigned to nobody

[2020-10-20 17:57] manderson-it commented on #326
Work will continue once @j-pye is back on Monday Oct 26th.

[2020-10-20 17:57] manderson-it commented on #325
Work will continue once @j-pye is back on Monday Oct 26th.

[2020-10-21 18:44] StevenBarre opened #411 "Trident DaemonSet pods lose connection to provisioner | SPIKE"
**Describe the issue**
At some point the DS pods get restarted and are unable to communicate back to the main Trident pod. This causes them to be unable to perform CSI actions on the node such as mounting and unmounting volumes.

**Which Sprint Goal is this issue related to?**
SG - Sprint 19 Platform Hot Fixes

**Additional context**
Appears to have started once we switched to using the Trident Op

[2020-10-21 18:46] StevenBarre commented on #411
Operator appears to be re-creating the Deployment, DaemonSet and Secret for some reason. It appears the DS pods and deployment end up with different versions of the secret and thus can't communicate. Deleting the DS pods and letting them restart resolves the issue.

[code]

[2020-10-21 18:48] StevenBarre commented on #411
Looks like the kube-controller garbage collector deleted the DS?

[code]

Opened a case with RH.

Scaled down the Operator in KLAB and Silver.

[2020-10-21 18:52] StevenBarre opened #412 "Cluster Logging unavailable in SILVER | SPIKE"
**Describe the issue**
At 13:45 on Oct 15th the Cluster Logging stack on SILVER seems to have gone down. Prometheus can't scrape the metrics endpoints. Kibana is getting a timeout error connecting to ES. And the ES jobs for rollover and delete are failing.

**Which Sprint Goal is this issue related to?**
SG - Sprint 19 Platform Hot Fixes

**Definition of done Checklist (where applicable)**
- [x] C

[2020-10-21 18:52] StevenBarre commented on #412
Opened case with Red Hat.

[2020-10-21 19:05] StevenBarre opened #413 "Upgrade F5 CIS to 2.2.0"
**Describe the issue**
The F5 CIS is used to automate the F5 load balancer. A new version has been released and should be installed in KLAB and tested.
https://clouddocs.f5.com/containers/latest/reference/release-notes.html

**Which Sprint Goal is this issue related to?**

**Additional context**
This is needed for Vault to replicate properly

**Definition of done Checklist (where applicable)**
- [

[2020-10-21 22:21] mitovskaol opened #414 "Set up Artifactory Service Monitoring"
As a Platform Services team member responsible for supporting the Artifactory service, I need :
1. Decide on an SLA (uptime, responsiveness, service availability from external client perspective), SLO (internal metrics for the SLA commitments) and SLI (actual measurements for the SLOs) for Artifactory service. Should not be higher than SLA/SLO/SLI for the Openshift Platform itself (SLA = 99.5% for

[2020-10-21 22:28] mitovskaol opened #415 "Artifactory Service Operationalization Part 1"
Finish the remaining work on finishing the Artifactory implementation (i.e. private repo feature).
@caggles can you please add individual relevant tickets as dependencies to this Sprint Goal.

[2020-10-22 03:22] mitovskaol opened #416 "SG - OCP 4- Aporeto Service Operationalization Part 1"
As the Aporeto Network Security Service became a critical service running on the Silver cluster in the Openshift 4 Platform controlling all communications across the Platform, its namespaces and pods , the Platform Services Team want to look at the opportunities to further improve the stability and performance of the Service through automation of currently manual tasks and adding monitoring for th

[2020-10-22 04:36] j-pye commented on #348
Workflow now supports default quotas/limits (small). Would it be worth closing this in favor of a new ticket to track the registry and pipeline work for custom quotas?

[2020-10-22 04:40] j-pye commented on #404
Yes.

Should we move the remaining documentation and keycloak automation to other tickets?

[2020-10-22 16:16] jefkel commented on #404
Either create tickets for them separately, or explicitly add the documentation and sso realm configuration automation to this ticket as part of the definition of done.

my feeling is that the configuration automation is a specific enough piece of work that it could have it's own ticket, but if there are manual steps to configure the realm (for now), that documentation needs to be part of this tick

[2020-10-22 16:17] mitovskaol commented on #348
The change has been implemented in the Silver cluster before the early access go live on Oct 14.

[2020-10-22 16:17] #348 closed, assigned to j-pye

[2020-10-22 16:39] ShellyXueHan opened #417 "Automate SSO setup for OCP4 cluster auth"
**Describe the issue**
So far we only have doc on how to setup KeyCloak for OCP4 cluster login but no automation.

**Which Sprint Goal is this issue related to?**
TBD

**Definition of done Checklist (where applicable)**
1. Create ansible playbook to automate the setup
- (detailed tasks to be added)
2. create docs

[2020-10-22 16:41] ShellyXueHan commented on #404
### Automation ticket:
Here's the ticket for automation on sso/keycloak: https://github.com/BCDevOps/OpenShift4-RollOut/issues/417

### manual steps to setup OCP4 Cluster login KeyCloak flow:
1. create the app KeyCloak realms with `IDIR` and `GitHub` IDP, setup duplicate email and theme
2. Configure GitHub organization to role mapper:
  - in `_github` realm, go to IDP and add a `Role Importer` map

[2020-10-22 17:57] caggles commented on #415
Hi @mitovskaol ! I'm going to close this ticket as there are more granular tickets for this task in the developer-experience repo - since MVP has been reached, I would no longer consider the operationalization of Artifactory to be part of the OCP4 rollout. The remaining tickets here will be related only to fresh roll-outs on new OCP4 clusters!

[2020-10-22 17:57] #415 closed, assigned to caggles

[2020-10-22 17:59] caggles commented on #414
Closing, as this is a duplicate.

[2020-10-22 17:59] #414 closed, assigned to caggles

[2020-10-22 18:36] #390 closed, assigned to nobody

[2020-10-22 21:06] StevenBarre opened #418 "Fix Custom CA cert in Silver"
**Describe the issue**
After much testing in the labs, we've found that there is a bug in the cluster config ansible playbooks that is using a ca-bundle from RHEL in a spot that we only need the CA of the APPS cert.

**Which Sprint Goal is this issue related to?**
SG - Sprint 19 Platform Hot Fixes

**Definition of done Checklist (where applicable)**
- [x] PR against https://github.com/bcgov-c/plat

[2020-10-22 21:13] StevenBarre opened #419 "Enable Audit Logs to be captured"
**Describe the issue**
Audit logs are not captured by Cluster Logging by default. Need to adjust the cluster config ansible playbooks to add that.

**Which Sprint Goal is this issue related to?**
SG - Sprint 20 Platform Hot Fixes

**Additional context**
This may change in OCP 4.6 and will need to be revisited.
This is dependent on getting logging working again in Silver as well.

**Definition of d

[2020-10-22 21:13] jefkel commented on #417
update for 3. deployable as a pipeline task (which pipeline is still TBD .. )

[2020-10-22 21:21] StevenBarre opened #420 "Investigate NetApp NFS performance | SPIKE"
**Describe the issue**
The `mongodb-persistent` template fails to start in a timely fashion and fails its readyness check. This appears to be related to the speed of NFS storage.

[code]

We need to verify that the NFS settings we changed in ??? to get the image registry working are all needed and if they impact the performance at all.

**Which Sprint Goal is this issue related to?**
SG - Sprint 1

[2020-10-22 23:10] jefkel commented on #384
documentation/samples updated with apiVersion change (https://github.com/BCDevOps/platform-services/pull/726)

[2020-10-23 17:44] StevenBarre opened #421 "Load Balancer config changes for OCP4"
**Describe the issue**
Originally the VIPs for the OCP4 environments were set up with simple TCP health checks and long timeouts. This causes lots of errors in the logs like `http: TLS handshake error from 142.34.194.2:50532: EOF`. It also causes some issues when the endpoints are cycled during patching as the VIP doesn't fail over fast enough to new endpoints.

[The docs](https://docs.openshift.c

[2020-10-23 17:47] StevenBarre commented on #421
Change was made to KLAB and CLAB this morning. So far seems to be working well.

![image.png](https://images.zenhubusercontent.com/5d544a7a5faedc627998cd85/32d8d8e8-a092-4260-99f2-6c907e2fdf7f)

@mitovskaol when would you like this scheduled for in SILVER? There should be no impact to running services. The usual change window for load balancers is 6am on weekdays but I'm sure we could do another t

[2020-10-23 18:36] StevenBarre commented on #420
PR https://github.com/bcgov-c/platform-ops/pull/316

[2020-10-23 18:44] mitovskaol commented on #421
@sbarre-esit  if you have a standard time for this change, lets go with it. Just post a notice in the #devops-ocp4-migration channel today and a day before the change is implemented

[2020-10-23 21:00] StevenBarre commented on #418
https://github.com/bcgov-c/platform-ops/pull/318

[2020-10-23 21:32] StevenBarre commented on #419
PR https://github.com/bcgov-c/platform-ops/pull/317

[2020-10-23 21:55] StevenBarre commented on #421
CHG0019238 created for Oct 27th at 9am.

[2020-10-23 22:03] StevenBarre commented on #421
Notification PR https://github.com/BCDevOps/platform-services-status-page-notifications/pull/96

[2020-10-23 22:25] StevenBarre commented on #420
Created CHG0019243 and emailed for approval.
Notification PR https://github.com/BCDevOps/platform-services-status-page-notifications/pull/97

[2020-10-23 23:11] StevenBarre commented on #418
CHG0019254 created to apply to Silver
Notification PR https://github.com/BCDevOps/platform-services-status-page-notifications/pull/98

[2020-10-26 18:28] StevenBarre commented on #411
Opened an issue with Trident https://github.com/NetApp/trident/issues/474

And opened a case with NetApp 2008519395

Matt suspects there may be an issue with having the ClusterRole and ClusterRoleBinding having their ownerReference set to a namespaced item (TridentProvisioner)

[2020-10-26 20:06] StevenBarre commented on #420
Well that's better
[code]

[2020-10-26 20:44] #420 closed, assigned to StevenBarre

[2020-10-26 21:11] #403 closed, assigned to j-pye

[2020-10-26 22:55] j-pye opened #422 "Aporeto Developer Access"
As a developer, I'd like to be able to visually debug and view my network policies and external networks within the aporeto console.

Definition of Done:
- [x] Determine required Authorization Policy definition for each OpenShift Namespace
- [x] Implement automation to deploy authorization policies for each OpenShift Namespace
- [x] Document Automation and Access
- [x] PR Reviewed by Team

[2020-10-26 23:02] StevenBarre commented on #409
Looks like most of these are in OCP software, I'll have to make some tickets with RH for each of them.

[2020-10-26 23:03] j-pye opened #423 "Update Aporeto OIDC URL"

[2020-10-26 23:09] StevenBarre commented on #407
@jleach I think we can close this now that SSO is being used?

[2020-10-26 23:16] lukegonis commented on #286
Jenkins comes with the platform and works as expected

[2020-10-26 23:17] #286 closed, assigned to nobody

[2020-10-27 16:16] StevenBarre commented on #421
Completed in Silver

[2020-10-27 16:16] #421 closed, assigned to StevenBarre

[2020-10-27 18:06] StevenBarre commented on #211
@jefkel do I have the correct patching order in https://github.com/bcgov-c/advsol-docs/pull/109/files#diff-6c37ee1b50cdde5b34d4168785f05a1f5aee73c11d89a779f95ec2e6f99a65dfR3 ?

[2020-10-27 18:11] StevenBarre commented on #213
https://github.com/bcgov-c/advsol-docs/pull/109

[2020-10-27 18:12] StevenBarre commented on #214
https://github.com/bcgov-c/advsol-docs/pull/109

[2020-10-27 18:40] j-pye opened #424 "Aporeto: Document ExternalNetworks Usage"
**Describe the issue**
As a developer, I would like to know how to create external networks for use with network security policies. For example, allowing only egress to github on TCP Ports 80,443, and 22 for build pods

**Definition of done Checklist (where applicable)**
- [x] Documentation written
- [ ] Documentation Peer-Reviewed with Pull Request

[2020-10-27 18:40] jefkel commented on #211
That looks good.

Note: Re: patching, have you identified the configuration manifest that can be updated to kick off the upgrade? (to allow us to trigger the patch through the CCM workflow with approvals, etc..)

[2020-10-27 18:44] jefkel commented on #211
might be good to put some words around the timing between GoldDR and Gold cluster upgrades (to indicate the application responsibility to validate their application in the DR cluster within the timeframe)...

Alternatively, we can upgrade the Gold cluster first (and if there are service impacts, the DR site is still the "last known good" for failover?)

[2020-10-27 19:01] StevenBarre commented on #211
@jefkel there is none documented. The [docs](https://docs.openshift.com/container-platform/4.6/updating/updating-cluster-between-minor.html) state

Referring to changing from `stable-4.5` to `stable-4.6`

Once on the right channel you can [use the cli](https://docs.openshift.com/container-platform/4.6/updating/updating-cluster-cli.html#update-upgrading-cli_updating-cluster-cli) to `oc adm upgrade`

[2020-10-27 19:03] StevenBarre commented on #211
@mitovskaol thoughts on timing and order of gold/golddr cluster upgrades? I'm personally a fan of doing Gold first so people can fail over to the "known good" Gold DR if there are any issues. Once everyone has failed back and Gold is called good we can move on to Gold DR.

[2020-10-27 19:42] mitovskaol commented on #211
@sbarre-esit  I like the idea of patching Gold first so that the apps can failover to Gold DR that would still run on the last stable version, if needed. And Gold DR will be patched last so that the patching order for the OCP 4 Plattform can look like following:
KALB -> CLAB -> Silver -> Gold -> Gold DR
We should probably leave the ARO cluster out as it will be patched by Mcrosoft and my understan

[2020-10-27 20:23] StevenBarre commented on #211
@mitovskaol how long should we give teams between GOLD and GOLDDR to validate their apps? Would one week be enough?

As for ARO, my understanding was that point releases were auto-installed if they fixed a security issue. ie: 4.5.14 -> 4.5.16 . Minor version upgrades would become available, then later are forced if you haven't done it yourself yet. ie 4.5 -> 4.6. So we can trigger them on our own

[2020-10-27 20:34] mitovskaol commented on #211
@sbarre-esit  one week wait between Gold and Gold DR patching seems good to me.  If @stewartshea can confirm that we have control over the major version upgrades in ARO, then the upgrade sequence could be as this:
KALB -> 2 days -> CLAB -> 2 days -> ARO -> 2 days -> Silver -> 1 week -> Gold -> 1 week -> Gold DR

[2020-10-27 20:42] stewartshea commented on #211
Indeed, as far as I'm aware (and as has been my experience so far), the
upgrades to the ARO clusters need to be manually triggered by a user with a
cluster-admin role.

On Tue, Oct 27, 2020 at 4:24 PM Steven Barre <notifications@github.com>
wrote:

[2020-10-27 20:46] StevenBarre commented on #418
Done, and much faster now.

[code]

[2020-10-27 20:46] #418 closed, assigned to StevenBarre

[2020-10-27 21:50] jefkel commented on #51
Work completed, documentation required

[2020-10-27 23:36] StevenBarre commented on #411
Blocked on feedback from Red Hat or NetApp

[2020-10-28 15:42] StevenBarre commented on #411
Matt believes he's found the cause of this and provided details to NetApp on the fix. TL;DR; the `ClusterRole` and `ClusterRoleBinding` created by the operator are cluster scoped, but have their `ownerReference` set to the namespace scoped `TridentProvisioner` object. This causes kube to get grumpy and lose track of things.

[2020-10-28 17:32] StevenBarre opened #425 "OCP4 Web Console Asthetic Improvements"
**Describe the issue**
The web console should look different between each cluster. It should also have a useful `<title>` tag in the HTML.

**Additional context**
We can change the title tag with https://github.com/bcgov-c/platform-ops/blob/ocp4-base/ocp4/roles/web-console/tasks/main.yaml#L35

We can have a custom logo for each cluster.

We can add custom banners as we already do in LAB.

**Defini

[2020-10-28 17:59] StevenBarre commented on #218
Quick bash script
[code]

[2020-10-28 18:06] StevenBarre commented on #411
Temporary fix in SILVER that should provide some stability. Scaled down the operator to prevent reconciling the CR and CRB. Edited the CR and CRB to remove the `ownerReference`.

[code]

[2020-10-28 18:07] StevenBarre commented on #411
NetApp is going to prioritize the `ownerReference` anti-pattern.

Also, in the next release v20.10 the operator will better handle the order it starts pods in to prevent issues where the DaemonSet pods can't communicate with the primary pod.

[2020-10-28 18:41] StevenBarre commented on #218
New and improved. The `tac` stuff is to get only lines since the last NotReady message, else we might get lines from multiple past occurrences.

[code]

[2020-10-28 18:58] StevenBarre opened #426 "Move Trident to new namespace"
**Describe the issue**
OCP4 comes with a bunch of great built in monitoring, but a bunch of it only monitors namespaces prefixed with `kube-` or `openshift-` . We should move important ops things we want on-call teams to respond to into namespaces with those prefixes.

**Which Sprint Goal is this issue related to?**
TBD

**Additional context**
Aporeto will also need to be updated to go with this c

[2020-10-28 21:53] StevenBarre commented on #425
I think the best way to get what you are looking for is to just make that logo image really wide with the color and title in it.

We can only make changes in the ways supported by the operator. See the docs for all the options https://docs.openshift.com/container-platform/4.6/web_console/customizing-the-web-console.html

We should also look at maybe adding some links to docs to the little tick-tac

[2020-10-28 22:53] jleach opened #427 "Unable to connect from the Pathfinder cluster to Silver"
If you go to a Pod on OCP3 (pathfinder) and try to curl an endpoint on OCP4 the request will timeout.

The registry running on Silver; tested from the repomount pod in the `devhub` namespace on Pathfinder:

[code]

The console, tested from the same pod as above:
[code]

**Expected Result**

Pods on the pathfinder cluster should be able to connect on port 443/80 to any route published on the Silver

[2020-10-28 23:00] StevenBarre commented on #427
Confirmed in our firewall logs that this is being blocked. Will put in a ticket to have it un-blocked.

Is this urgent?

[2020-10-29 00:55] gjlawran commented on #427
It is not urgent. Tomorrow is great. Thanks @sbarre-esit

[2020-10-29 02:12] StevenBarre commented on #427
I think regular firewall changes take a week or two. Is that OK?

[2020-10-29 15:42] StevenBarre commented on #425
https://www.openshift.com/blog/blog-openshift-console-customization

[2020-10-29 16:14] StevenBarre opened #428 "Internal Registry Authentication Issues"
**Describe the issue**
Because we've added an [externally accessible route](https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/openshift4-rollout/309) to the Image Registry it is causing some issues with pulling images.

The default service accounts `.dockercfg` secret only contain tokens for the internal name `image-registry.openshift-image-registry.svc

[2020-10-29 16:14] StevenBarre commented on #428
Opened case 02787852 with Red Hat. Blocked waiting on a response.

[2020-10-29 16:26] StevenBarre commented on #218
I ended up just writing a bit of ad-hoc bash script and documented it https://github.com/bcgov-c/advsol-docs/pull/109/commits/f554514f3127dc6416439ef4c2f4aebcca775b77

[2020-10-29 16:26] #218 closed, assigned to StevenBarre

[2020-10-29 16:26] StevenBarre commented on #218
I ended up just writing a bit of ad-hoc bash script and documented it https://github.com/bcgov-c/advsol-docs/pull/109/commits/f554514f3127dc6416439ef4c2f4aebcca775b77

[2020-10-29 16:28] j-pye commented on #336
Closing in favor of a review of the whole system instead of the individual cluster.

[2020-10-29 16:28] #336 closed, assigned to j-pye

[2020-10-29 16:32] j-pye commented on #404
@jefkel @ShellyXueHan should the manual steps posted be moved to the keycloak or ocp4 repo before closing this ? or are we okay with referencing this ticket until automation is completed in the ticket Shelly linked?

[2020-10-29 16:36] j-pye commented on #402
Julian / PANW need more information regarding this issue. Additional information will be gathered this Friday.

[2020-10-29 16:39] #211 closed, assigned to StevenBarre

[2020-10-29 16:39] #213 closed, assigned to StevenBarre

[2020-10-29 16:39] #214 closed, assigned to StevenBarre

[2020-10-29 16:39] #215 closed, assigned to StevenBarre

[2020-10-29 16:40] j-pye commented on #423
Task completed by Shea S. as apart of another ticket. Will update this ticket with a ref. link.

[2020-10-29 16:40] #423 closed, assigned to j-pye

[2020-10-29 16:42] j-pye commented on #337
Closing in favor of a full review that's not cluster specific.

[2020-10-29 16:42] #337 closed, assigned to j-pye

[2020-10-29 16:52] j-pye opened #429 "CCM: Upgrade ArgoCD"
We need to move to a more controllable ArgoCD deployment so that we can tune and upgrade ArgoCD as needed

ArgoCD Changelog:
https://github.com/argoproj/argo-cd/blob/master/CHANGELOG.md

Definition of Done:
- [x] Playbook written for removing ArgoCD operator
- [x] CCM ArgoCD role upgraded to support ArgoCD 2.0.1
- [x] CCM ArgoCD role upgraded to support a fresh install without the operator
- [x] U

[2020-10-29 17:07] StevenBarre commented on #427
RITM0075658 created with the Network team to implement.

[2020-10-29 17:43] mitovskaol commented on #211
KALB -> 2 days -> CLAB -> 1 days -> ARO LAB -> 1 days -> ARO Pathfinder -> 2 days -> Silver -> 1 week -> Gold -> 1 week -> Gold DR

[2020-10-29 17:59] StevenBarre commented on #208
There are a bunch of improvements in OCP 4.6 to Log Forwarding that need to be re-tested with the SIEM team. Some of the current log forwarding settings had to be removed to fix issues in the current version of logging.

[2020-10-29 18:05] j-pye commented on #357
@sbarre-esit just to confirm this still needs to be done via project provisioning correct? if so, I'll add a task to this ticket to update the provisioning pipeline with the required templates.

[2020-10-29 18:11] sbarre-esit commented on #200
Updated the description to be more clear on what I'm looking to achieve with this task. Also tagging in Mr Pye to assist.

[2020-10-29 18:19] StevenBarre commented on #309
Moving to Blocked waiting on future feature updates to complete.

[2020-10-29 18:28] j-pye opened #430 "Aporeto: Upgrade"
There's a new release of the aporeto enforcers that fixes a couple bugs and reduces the spammy nflog output to Cluster Logging.

Definition of Done:
- [x] Aporeto Playbook updated to use new helm chart
- [x] Tested in KLAB / CLAB
- [x] Peer Reviewed
- [x] Update excluded namespaces to include new trident namespace

[2020-10-29 18:29] StevenBarre commented on #409
Initial estimate of 1 point to create all the tickets with Red Hat about these fixes. Will likely change once we get more details on what is needed to implement the fixes.

[2020-10-29 18:30] j-pye commented on #426
@sbarre-esit are we aiming for next sprint for this ticket?

Aporeto upgrade ticket that will include the added exclusion of the new trident namespace from enforcement.
https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/openshift4-rollout/430

[2020-10-29 18:30] jefkel commented on #428
Question:
Do we want to enable this path for developers?  (it's not an optimal solution or approach)

Current recommended practice:
Manifests deployed on a cluster use the internal service name for the registry
- Authentication is automatic for cluster service accounts
- reduces traffic, and dependency on cluster default ingress.

Developer teams to use the right names for the appropriate use
- tr

[2020-10-29 18:34] StevenBarre commented on #428
I think we want devs to be able to just copy/paste from `oc get is`. Having that fail is non-intuitive. Maybe having `oc get is` return the internal repo would be better?

Or maybe just having the internal repo in the default search path so you can just put `namespace/image` without the hosnmame?

[2020-10-29 18:40] StevenBarre commented on #357
Correct.

[2020-10-29 18:51] StevenBarre commented on #426
I had no particular sprint in mind. Just wanted to get the idea out of my head and into a ticket before I forgot.

Should we call the namespace `openshift-trident` or `openshift-advsol-trident` and put some of our other stuffs into `openshift-advsol-*` namespaces? Other stuffs wouldn't need Apo changes mind you.

[2020-10-29 18:54] StevenBarre commented on #427
Firewall change scheduled for 11/02/2020 19:30

[2020-10-29 22:27] StevenBarre opened #431 "OpenShift 4.6 Upgrade"
**Describe the issue**
This is an EPIC to track all the sub tasks needed to get all the clusters updated to 4.6. Subsets of these tasks can be added to Sprint Goals as we worth through this work which may take several sprints.

**Additional context**
- [Release Notes](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html)
- [What's New Webinar](https://youtu.be

[2020-10-29 22:43] StevenBarre opened #432 "OCP4.6 - New Ignition version spec"
**Describe the issue**
OCP 4.6 moves to [Ignition v3](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-ignition-spect-updated-v3).

Migration guide: <https://coreos.github.io/ignition/migrating-configs/#from-version-230-to-300>

**Which Sprint Goal is this issue related to?**

**Definition of done Checklist (where applicable)**
- [x] Does this impa

[2020-10-29 22:50] sbarre-esit opened #433 "OCP4.6 - Separate /var/lib/containers and /var/lib/etcd to its own disk"
**Describe the issue**
OCP 4.6 now supports moving [/var to its own partition](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-4k-var-partition-support). We had previously tried to move `/var/lib/ectd` and `/var/lib/containers` to a separate disk but ran into issues.

On the HPE servers, the primary disk is a 300G hard drive, with a secondary 800G

[2020-10-29 22:58] jefkel commented on #262
From a quality of life perspective I get that a long running job is hard to juggle, but there seems to be an assumption that this process needs eyes on it for the duration:

- How much manual intervention is required?
- What kind of intervention is required?
- Who needs to be doing the intervention (when required)?
- What is the impact of delayed manual intervention? (is there a time limit before

[2020-10-29 23:11] StevenBarre opened #434 "Update Cluster Metering Operator"
**Describe the issue**
As was previously done for [Cluster Logging](https://github.com/bcgov-c/platform-ops/pull/301) the Cluster Metering operator does not auto upgrade with OCP and so needs Ansible code to manage that upgrade path.

**Which Sprint Goal is this issue related to?**

**Definition of done Checklist (where applicable)**
- [ ] PR for ansible playbook to upgrade Cluster Metering
- [ ]

[2020-10-29 23:15] StevenBarre commented on #434
@jefkel @mitovskaol We installed the Cluster Metering operator back in [265](https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/openshift4-rollout/265), but haven't done any work to operationalize it. Thoughts on just removing it for now until we have the cycles to revisit figuring out what it does and if it has any use to us beyond just consuming memory

[2020-10-29 23:26] mitovskaol commented on #434
@stewartshea @jefkel  Unless we have an immediate need for the Operator, I suggest removing it until we figure out an overall approach to monitoring the Platform - what gets monitored , what tools are used for this and what kind of dashboards get created

[2020-10-29 23:34] StevenBarre opened #435 "OCP4.6 - Operator upgrades BEFORE cluster upgrade"
**Describe the issue**
[Important Operator upgrade requirements](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-operator-catalogs-per-version)

**Which Sprint Goal is this issue related to?**

**Additional context**
Currently installed Operators
- ArgoCD (has a [ticket](https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d1

[2020-10-29 23:40] StevenBarre commented on #429
https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-operator-catalogs-per-version

Will the new ArgoCD version work on OCP 4.6? Does this upgrade need to happen BEFORE we can upgrade OCP?

[2020-10-29 23:46] StevenBarre opened #436 "OCP4.6 - Document developer facing changes"
**Describe the issue**
Document what is new for developers and present a quick overview at the Nov 10th Sprint Review.

**Which Sprint Goal is this issue related to?**
SG - OCP 4 - Sprint 19 Platform Hot Fixes

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Documentation of new features
- [x] Presentation at Sprint Review

[2020-10-30 00:02] jefkel commented on #407
When I log into the clusters, it shows a BCGov logo (seems super small logo inside a large logo space?), and the text says:
![image.png](https://images.zenhubusercontent.com/5c37a278f6ef6263f5aa9cbe/a57e9f1e-5060-4f86-8f99-0a0c8a2f2f6d)

Would it make sense to keep this ticket until the "continue to" target is updated to reflect `oidc.gov.bc.ca`? (and maybe a larger BC gov logo in the circle?)

[2020-10-30 16:23] StevenBarre commented on #262
We simply don't have enough experience yet to answer most of those questions. The trouble comes from the fact that by the time we do have the experience and are having issues with upgrades, its then too late to go back and try and impose PDB on all teams.

The upgrade is run by an operator. There is no rollback, only forward. It will just keep retrying until it succeeds at whichever step it is on.

[2020-10-30 17:20] StevenBarre opened #437 "OCP4.6 - Compliance Operator"
**Describe the issue**

From the [docs](https://docs.openshift.com/container-platform/4.6/security/compliance_operator/compliance-operator-understanding.html)

It appears this tool scans the RHCOS hosts for vulnerability issues and alerts on them. While RHCOS is an "immutable OS" and should be secure out of the box, this can alert you if a host has become compromised.

**Which Sprint Goal is this

[2020-10-30 17:57] StevenBarre opened #438 "OCP4.6 - Configure OAuth Token timouts"
**Describe the issue**
The OAuth server provides tokens to use for logging in via the CLI and browser. The lifespan of these tokens is adjustable. New in 4.6 is [inactivity timeouts](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-oauth-token-inactivity-timeout). We need to work with the security team to determine appropriate timeouts.

**Which Sp

[2020-10-30 18:05] StevenBarre opened #439 "OCP4.6 - File Integrity Operator"
**Describe the issue**
OCP 4.6 adds a AIDE based [File Integrity Operator](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-file-integrity-operator). This helps alert if any files on the RHCOS nodes have changed unexpectedly.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)*

[2020-10-30 18:08] StevenBarre opened #440 "OCP4.6 - Update Aporeto Policy"
**Describe the issue**
OCP4.6 add some new `openshift-*` namespaces. Test the tools installed in those NS to see if they need to be excluded by Aporeto policy, or if we can write them some custom NSP rules.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [ ] Determine list of new namespaces
- [ ] Test if each of them n

[2020-10-30 18:12] StevenBarre opened #441 "OCP4.6 - Update ETCD Backup tool with new script version"
**Describe the issue**
OCP4.6 includes [updated cluster backup](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-cluster-scripts-updated) scripts. We need to ensure the ETCD backup tool is rebuild with the new version.

**Which Sprint Goal is this issue related to?**

**Additional context**
The [ETCD Backup tool](https://app.zenhub.com/workspaces/p

[2020-10-30 18:15] StevenBarre opened #442 "OCP4.6 - Rebuild EnCase Ops Tool"
**Describe the issue**
The [encase](https://github.com/bcgov-c/platform-tools/tree/ocp4-base/ocp4/encase) image is built on UBI8 and should be rebuilt as part of quarterly patching to pull in the latest security patches.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Rebuild the encase container image
- [x] Deploy

[2020-10-30 18:17] StevenBarre opened #443 "OCP4.6 - Rebuild lldpad Ops Tool"
**Describe the issue**
The [lldpad](https://github.com/bcgov-c/platform-tools/tree/ocp4-base/ocp4/lldpad) image is built on UBI8 and should be rebuilt as part of quarterly patching to pull in the latest security patches.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Rebuild the lldpad container image
- [x] Deploy

[2020-10-30 18:19] StevenBarre opened #444 "OCP4.6 - Rebuild Nagios Ops Tool"
**Describe the issue**
The [Nagios](https://github.com/bcgov-c/platform-tools/tree/ocp4-base/ocp4/nagios) image is built on the clusters cli image and should be rebuilt as part of the upgrade.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Rebuild the nagios container image
- [x] Deploy to LAB and test
- [x] Deplo

[2020-10-30 18:22] StevenBarre opened #445 "OCP4.6 - Rebuild the Pruner Ops Tool"
**Describe the issue**
The build and deployment [pruner](https://github.com/bcgov-c/platform-tools/tree/ocp4-base/ocp4/pruner) image is built on the clusters cli image and should be rebuilt as part of the upgrade.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Rebuild the pruner container image
- [x] Deploy to LAB

[2020-10-30 18:26] StevenBarre opened #446 "OCP4.6 - Test new version alerts"
**Describe the issue**
OCP4.6 now generates [alerts](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-web-console-improved-upgrade-experience) when new versions are available in the channel your cluster is on. We need to test how these alerts work and who gets notified. We don't want after hours "critical" alerts generated for on-call when a new ve

[2020-10-30 18:30] StevenBarre commented on #436
Customize columns on resource pages https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-web-console-column-management

Changes to the Developer Perspective https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-web-console-developer-perspective

[2020-10-30 18:58] StevenBarre opened #447 "OCP4.6 - Switch to OVN Container Network Interface"
**Describe the issue**
[OVN is now GA](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-ovn-kubernetes-ga) in OCP4.6. The default remains "OpenShift SDN". We need to determine if we want to make the switch and how to accomplish the switch.

**Which Sprint Goal is this issue related to?**

**Additional context**
The [migration](https://docs.openshif

[2020-10-30 21:06] StevenBarre commented on #412
Possibly related to https://github.com/openshift/elasticsearch-operator/pull/504

Will attempt an upgrade of the ES and CL operators on Monday morning.

[2020-11-02 17:17] NickCorcoran commented on #208
@sbarre-esit, the retentions will be something I work on w/ the SIEM team.  As it's part of their side config, and not ours, I think we can close this and I'll follow up w/ them in collaboration w/ OCIO security investigations.  I'll make my own ticket to track that.

[2020-11-02 23:10] StevenBarre commented on #262
Had a meeting to discuss and decided that longer upgrades possibly reaching past normal business hours is preferable to training all teams on the correct use of Pod Disruption Budgets. We will stay at maxUnavailable of 1.

As the cluster grows, the final cluster upgrade step of rolling out the updated MCP will work through nodes serially until complete. If there are issues and it gets stuck they c

[2020-11-02 23:10] #262 closed, assigned to StevenBarre

[2020-11-02 23:38] StevenBarre opened #448 "Investigate API options with NetApp AIQ | SPIKE"
**Describe the issue**
The NetApp Active IQ Unified Manager collects the stats and details about all our NetApp clusters. It has a [REST API](https://docs.netapp.com/ocum-97/index.jsp?topic=%2Fcom.netapp.doc.onc-um-api-dev%2FGUID-FFD3496F-2961-4EA6-965E-3A04B9B636AA.html). We've gotten the firewall rules in place to allow communication from the OCP4 clusters management interface to the AIQ managem

[2020-11-02 23:56] StevenBarre opened #449 "Upgrade Trident to v20.10"
**Describe the issue**
Trident v20.10 was [released](https://github.com/NetApp/trident/releases/tag/v20.10.0). Notable changes include:

- Support for K8S 1.19 (aka OCP 4.6)
- Fixed issue where Trident uses old Kubernetes secrets after Operator updates the service account. This is part of the issue with the DaemonSet failing in [#411](https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4

[2020-11-03 16:57] StevenBarre commented on #412
Upgraded the operators and ran into https://bugzilla.redhat.com/show_bug.cgi?id=1885674 . Uploaded more details to Red Hat and continue to wait on next steps.

[2020-11-03 17:02] #427 closed, assigned to StevenBarre

[2020-11-03 17:02] StevenBarre commented on #427
Firewall rules went in last night. Looks like its working to me.

[code]

[2020-11-03 19:34] mrobson commented on #435
comment

[2020-11-03 19:35] mitovskaol commented on #262
Adding that even when the size of the Silver cluster grows to its maximum projected size of 77 nodes, the upgrade cycle is expended to finish under 24 hrs.
The benefits of the automated upgrade approach in Openshift 4 (to be communicated to Platform Teams):
- Less manual effort by Platform Operations, all upgrades and patches are done in an automated fashion and therefore more reliable. Platform O

[2020-11-03 19:42] StevenBarre commented on #447
Pro
- Performance improvements from ditching iptables
- OVN network stack is the direction of new feature development with RH for networking.

Con
- Minor disruption to workloads during upgrade

[2020-11-04 00:28] matthieu-foucault commented on #376
+1 for this. Some helm charts in the wild come with the option to enable network policies, which to the untrained eye looks similar enough to a NetworkSecurityPolicy. cc @dleard
In addition to that, the Web Console UI has a Network Policies section, which adds to the confusion. I wonder if there is a way to hide that section?

[2020-11-04 19:39] StevenBarre commented on #394
Reverting the operator change, as it has a kube anti-pattern and gets deleted by the garbage collector.

[2020-11-04 20:09] StevenBarre commented on #449
https://github.com/bcgov-c/platform-ops/pull/321

I'm also reverting the previous change to use the Operator to manage the install. As the CLI install doesn't have the `ownerReference` issue.

[2020-11-04 20:10] StevenBarre commented on #411
https://github.com/bcgov-c/platform-ops/pull/321

This PR reverts to using the CLI install instead of the Operator while we wait for the operator to become stable. It also upgrades to the latest version.

[2020-11-05 00:25] StevenBarre opened #450 "OCP4.6 - Update Log Forwarding"
**Describe the issue**
OCP 4.6 makes the [LogForwarding CR](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-logging) generally available. We need to set it up again and ensure logs are being properly forwarded to the SIEM Hadoop cluster.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where

[2020-11-05 17:12] StevenBarre commented on #449
CHG0019726 - MCS SILVER - Upgrade Trident to v20.10.0
Completed in SILVER

[2020-11-05 17:12] #449 closed, assigned to StevenBarre

[2020-11-05 17:20] StevenBarre opened #451 "OCP4.6 - Enable monitoring for user-defined projects"
**Describe the issue**
OCP4.6 allows developers to set up custom prometheus scraping endpoints and custom alerts to be shown in their dashboard via [user-defined](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-monitoring-for-user-defined-projects) monitoring. We need to enable the feature.

**Which Sprint Goal is this issue related to?**

**Addit

[2020-11-05 17:29] StevenBarre opened #452 "OCP4.6 - Confirm new Insight Data Collection metrics are acceptable"
**Describe the issue**
OCP4.6 adds some [new metrics](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-insights-operator-data-collection-enhancements) to the telemetry sent back to Red Hat. Need to confirm there are no issues with this.

**Which Sprint Goal is this issue related to?**

**Additional context**
The two that jump out at me are

- The l

[2020-11-05 17:30] StevenBarre commented on #436
Monitoring user-defined projects https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-monitoring-for-user-defined-projects

[2020-11-05 17:32] jefkel commented on #404
Breadcrumb added to find this detail, I'm happy to close this.

[2020-11-05 17:34] StevenBarre commented on #436
https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-notable-technical-changes

**Warnings when using deprecated APIs**

Warnings are now visible in client-go and oc on every invocation against a deprecated API. Calling a deprecated API returns a warning message containing the target Kubernetes removal release and replacement API, if applicable.

For e

[2020-11-05 17:37] StevenBarre commented on #434
It is now [deprecated](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-metering-operator-deprecated) in OCP 4.6. Guess I'll remove it then.

[2020-11-05 17:41] StevenBarre opened #453 "OCP4.6 - Remove Metering Operator"
**Describe the issue**
The Metering Operator is [deprecated](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-metering-operator-deprecated) in OCP4.6. Since we never used it much anyways, we can just remove it.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] PR to c

[2020-11-05 17:45] StevenBarre commented on #434
Opened another [ticket](https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/openshift4-rollout/453) to track the removal. Closing this ticket.

[2020-11-05 17:45] #434 closed, assigned to StevenBarre

[2020-11-05 17:47] StevenBarre commented on #436
All [MongoDB](https://docs.openshift.com/container-platform/4.6/release_notes/ocp-4-6-release-notes.html#ocp-4-6-mongodb-removed) sample templates and images have been removed. @jleach

[2020-11-05 18:23] jefkel commented on #428
Is there a reason why we don't have the internal repo first in the default search path?  (feels like this could be a decent developer experience improvement)

If we make the easy-path work (default search path start with internal registry), that will ideally help the developers use that approach first, and it gives us a decent documentation point for when people cut and paste the output from the o

[2020-11-05 18:40] jleach opened #454 "Create a new URL for RocketChat"
Please create a new subdomain `chat.developer.gov.bc.ca` and use a CNAME to point it at `chat.pathfinder.gov.bc.ca`. I will do some testing to make sure the redirection work with Web, Desktop and Mobile clients. This will be a preliminary step on the way to RC migration to the Silver OCP4 cluster.

[2020-11-05 18:47] StevenBarre commented on #435
@mrobson we've already upgraded ES to elasticsearch-operator.4.5.0-202010161522.p0 and CL to clusterlogging.4.5.0-202010161522.p0 . Do any of our other operators need an upgrade before moving to 4.6?

[2020-11-05 18:49] StevenBarre commented on #447
@mrobson any advice you can provide around deciding if / when we should upgrade? It seems we need a cluster outage to perform this change. Not sure if the benefit is worth the downtime.

[2020-11-05 18:55] StevenBarre commented on #428
Because OCP didn't come configured like that out of the box. I've opened a RH case to ask if there is any reason we can't add it ourselves with a MachineConfig https://access.redhat.com/solutions/5063741

[2020-11-05 19:18] jleach commented on #436
The notes say "All MongoDB-based samples have been replaced, deprecated, or removed." Have you confirmed they were removed?

[2020-11-05 19:20] StevenBarre commented on #436
@jleach I haven't confirmed anything. Just reading the Release Notes. Once we get a LAB upgraded we can confirm.

[2020-11-05 19:52] mitovskaol commented on #347
The following has been decided in a group meeting on Nov 5, 2020:
 - Quota increases will only be allowed in this order: small -> medium -> large. No jumping from small to large will be allowed.
- There will be two separate processes for quota increases - one for CPU quota increase and the other for storage quota increase.
-  all quota increases will be  for a **specific namespace**  and not for t

[2020-11-06 00:30] StevenBarre commented on #412
Used the scripts from https://github.com/jcantrill/cluster-logging-tools/tree/master/scripts to check fluentd and kibana connectivity and got SSL errors.

Changed the ES operator in to unmanaged state, scaled down the ES pods, deleted the ES secret, then checked that the secret was recreated and scaled the ES pods back up.

[code]

Verified ES was green, then set back to Managed.

Deleted the curr

[2020-11-06 00:42] StevenBarre commented on #451
Created a case with Red Hat to ask
- Will I need to tune the AlertManager config to ensure user-defined alerts do not get sent to on-call?
- Will users have a way to define their own receivers for their alerts?

[2020-11-06 19:10] matthieu-foucault commented on #410
https://github.com/bcgov/cas-pipeline/pull/32 Might be of interest. TL;DR: One can do
[code]
To give admin access to everyone in the `bcgov/cas-owners` team, in all of the namespaces they want (`-pp` is short for `--project-prefixes`)

[2020-11-06 19:48] j-pye commented on #347
@mitovskaol I know it's not as common but I think we should also include the option for requesting memory quota increases as well. Not necessarily as apart of the registry yet but at least on the pipeline side of things so the templates are consistent.

[2020-11-06 19:50] StevenBarre commented on #347
I would think memory would be tied to CPU and increased in lockstep?

[2020-11-06 22:24] jefkel commented on #410
Thanks @matthieu-foucault , I think you may be looking for https://github.com/BCDevOps/OpenShift4-Migration/issues/7 for the community migration issue list.  (This repository is used for scrum management of the platform service team's tasks.)

[2020-11-07 03:19] mitovskaol commented on #347
@j-pye @sbarre-esit Happy to discuss it further, but I would suggest to keep the memory quota increase as a separate process to allow for more fine tune increase of resources on the Platform. If a team needs a memory increase, let them ask for it specifically in a separate request. Looking for ideas for what justification we will ask for for a memory quota increase request? We can take their word

[2020-11-09 17:03] j-pye commented on #404
Thanks for the breadcrumb :) Closing.

[2020-11-09 17:03] #404 closed, assigned to j-pye, ShellyXueHan

[2020-11-09 18:25] #239 closed, assigned to NickCorcoran

[2020-11-09 22:58] StevenBarre commented on #454
Done!

[2020-11-09 22:58] #454 closed, assigned to StevenBarre

[2020-11-10 00:39] jleach opened #455 "Update DNS record for chat.developer.gov.bc.ca"
Looks like my idea for #454 won't work because the domains don't match for the certificate `ERR_CERT_COMMON_NAME_INVALID`. Are you able to update `chat.developer.gov.bc.ca` to point to the OCP311 Pathfinder cluster? Thx. I think I'll get everyone to start using the new domain for RC then migrate the app.

[2020-11-10 00:53] StevenBarre commented on #436
Created a PowerPoint of all the changes noted above.

[2020-11-10 00:54] StevenBarre commented on #412
Logging has been stable since. Closing.

[2020-11-10 00:54] #412 closed, assigned to StevenBarre

[2020-11-10 00:55] StevenBarre commented on #411
PR applied to Silver. Trident seems stable so far. Closing.

[2020-11-10 00:55] #411 closed, assigned to StevenBarre

[2020-11-10 00:58] StevenBarre opened #456 "INC0044081 MCS SILVER - app 03 NotReady | SPIKE"
**Describe the issue**
On Saturday this node went NotReady. Investigation on Monday found it was completely hung and unresponsive.

**Which Sprint Goal is this issue related to?**
SG - OCP 4 - Sprint 19 Platform Hot Fixes

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Determine root cause with Red Hat
- [x] Return node to service
- [x] Patch cluster

[2020-11-10 00:59] StevenBarre commented on #456
Node rebooted and came back up as Ready. Opened a case with Red Hat and provided an sosreport and the journal logs.

[2020-11-10 01:07] StevenBarre commented on #455
Well its CNAMEd currently to `chat.pathfinder`, which is just part of `*.pathfinder` so technically it already does point at the v3 cluster.

If you accept the TLS error it currently just gives you the "app not configured" page, since the v3 router doesn't yet have a route for it.

Remember that DNS and HTTP are different layers of the OSI model.

[2020-11-10 02:47] jleach commented on #455
Thanks for explaining. I think I was expecting different behaviour but this makes sense. I can configure the route with the proper cert see if that resolves the issue.

J.

[2020-11-10 16:55] StevenBarre commented on #436
Closing as I'll be demoing this today.

[2020-11-10 16:55] #436 closed, assigned to StevenBarre

[2020-11-10 16:57] StevenBarre commented on #411
Documenting for Future Steve that NetApp confirms these logs are harmless.

[code]

[2020-11-10 17:23] jleach commented on #455
Will use the existing setup. Thx.

[2020-11-10 17:23] #455 closed, assigned to StevenBarre

[2020-11-10 18:35] manderson-it opened #457 "Integrate Vault and Terraform Cloud into Project Registry Provisioner"
**Describe the issue**
The Platform Registry Provisioning Tool must be able to communicate with the appropriate Terraform Cloud Workspaces through the lab and prod vault terraform repositories. The Terraform Cloud Workspace will subsequently provision the Vault artifacts into Vault, e.g., Vault Policies, etc.

**Additional context**
Requires changes to the Platform Registry Provisioning Container

[2020-11-10 18:38] manderson-it opened #458 "Publish and Test Terraform Cloud Module for Vault Resources"
**Describe the issue**
Modules in Terraform Cloud require a connection to a GitHub organization. Each Terraform Module has to be in its own GitHub repository conforming to the Terraform naming convention, e.g., **terraform-vault-resources**

**Additional context**

**Definition of done**
- [ ] Terraform Cloud Organization is connected to the GitHub organization
- [ ] Terraform Cloud can consume Te

[2020-11-10 18:43] manderson-it opened #459 "Create GitHub repository for Terraform Cloud"
**Describe the issue**
Terraform Cloud is backed by GitHub repositories to enforce the GitOps approach.
At least three GitHub repositories are required:
- One for the lab environment
- One for the production environment
- One for the Terraform Module, which is used to provision the initial resources to Vault for a new OpenShift project. This GitHub repository must follow the Terraform naming conve

[2020-11-10 18:54] StevenBarre commented on #453
PR https://github.com/bcgov-c/platform-ops/pull/322

[2020-11-10 20:12] StevenBarre commented on #428
Matt says the reason why it's not included is that it is bad practice to use image paths without a specific registry included.

[2020-11-10 20:13] StevenBarre commented on #428
Still waiting on a response to the first case. Matt is going to take over from the other support person.

[2020-11-10 20:18] #246 closed, assigned to NickCorcoran

[2020-11-10 20:27] NickCorcoran commented on #352
Published to Documize.  To be exposed to general community when service available.
https://docs.pathfinder.gov.bc.ca/s/bn6v0ac6f9gue7hhirbg/protected-platform-services/d/bulfciuipagu115fllm0/vault-service-description?currentPageId=bulfd0uipagu115fllmg

[2020-11-10 20:58] #290 closed, assigned to jleach

[2020-11-10 21:00] StevenBarre commented on #447
@j-pye will OVN impact Aporeto in any way?

[2020-11-10 21:26] #386 closed, assigned to j-pye

[2020-11-10 22:44] j-pye commented on #402
Enforcers are up and working.
`oc port-forward` has been tested by the registry team and I got another confirmation from Wade.

Aporeto has reviewed our policies and said they look good.

Closing this ticket as this issue has been resolved :)

[2020-11-10 22:44] #402 closed, assigned to j-pye

[2020-11-10 22:48] j-pye commented on #416
@mitovskaol this should be able to be closed now as the spike has been resolved.

[2020-11-10 23:18] #416 closed, assigned to j-pye

[2020-11-11 15:59] arendej commented on #308
https://github.com/BCDevOps/StorageMigration/pull/53 is in for initial push.
Continuing to iterate.

[2020-11-12 18:43] jleach commented on #287
Patroni is done. When we create new clusters we just need to make sure we import all our images.

[2020-11-12 18:43] #287 closed, assigned to nobody

[2020-11-12 18:45] jleach commented on #288
Still thinking about this one. I have S2I version working with Caddy / Node but I'm not sure including node is a good thing. I'm tending to think it should just be an S2I for Caddy and teams can chain in Node / Python / Bla as needed.

[2020-11-12 18:54] #289 closed, assigned to nobody

[2020-11-13 00:42] jleach opened #460 "Allow routes with .bcgov as the TLD to work on the Silver cluster"
Some peeps for AG would like to use routes with the bcgov TLD on OCP4. I was thinking we could make `*.apps.silver.devops.bcgov` or some variation work. Doable?

[2020-11-13 00:43] jleach commented on #460
They remarked this works on OCP3.

[2020-11-13 01:11] jleach commented on #460
The RC conversation on this is [here](https://chat.pathfinder.gov.bc.ca/channel/devops-ocp4-migration?msg=qS69axzMQEHWPzJPJ).

[2020-11-13 17:24] StevenBarre commented on #460
Per https://pathfinder-faq-ocio-pathfinder-prod.pathfinder.gov.bc.ca/OCP/Networking.html

OCP3 was behind the DMZ firewall and so you could connect to either the outside VIP or the inside VIP. OCP4 only has the outside VIP. And only has the one subnet in the SDN Zone that is not behind any firewalls.

Security should be achieved via [ACLs](https://docs.openshift.com/container-platform/4.5/networki

[2020-11-13 17:57] jleach commented on #460
@sbarre-esit Thanks for the explanation. I'll add this to our collection of issues.

[2020-11-13 17:57] #460 closed, assigned to StevenBarre

[2020-11-13 18:38] jleach opened #461 "Configure samples operator to remove templates and images"

[2020-11-13 18:40] jleach opened #462 "Configure samples operator to remove select images and templates"
The following is a list of templates and the associated images; ones mart as `N` in the "ON CLUSTER" column are generated artifacts from the template.  Some template names and/or images may be duplicated if as a template may depend on more than one image. This list was generated from the `Silver` cluster w/ OCP 4.5. More images may be removed after we've eliminated unnecessary templates.

To extra

[2020-11-13 18:41] jleach commented on #373
Replaced by #462

[2020-11-13 18:41] #373 closed, assigned to nobody

[2020-11-13 18:41] jleach commented on #367
Replaced by #462

[2020-11-13 18:41] #367 closed, assigned to nobody

[2020-11-13 18:52] jleach commented on #462
This [file](https://app.zenhub.com/files/217612857/098b1aa5-1017-41c8-ab83-0484e05098d9/download) contains the list and the script that generated the initial list (a person still needs to go through and mark template / images for removal).

[2020-11-13 21:39] j-pye commented on #459
These three github repositories have been created as apart of our private org.

terraform-vault-module
terraform-vault-lab
terraform-vault-prod

Closing ticket.

[2020-11-13 21:39] #459 closed, assigned to j-pye

[2020-11-13 21:57] j-pye commented on #352
Can this be closed? @NickCorcoran
Or should it be grouped with #353 ?

[2020-11-13 21:58] j-pye commented on #325
Explore Vault 1.6.0 new backup method and evaluate whether we can continue with our current solution or should switch to the new method.

[2020-11-13 22:07] j-pye commented on #405
We can still provision the Azure key vaults and Vault itself, but we can't activate the DR piece yet.

[2020-11-16 18:33] StevenBarre commented on #435
Confirmed that all our operators are sufficiently new to upgrade OCP.

[2020-11-16 18:33] #435 closed, assigned to mrobson, StevenBarre

[2020-11-16 23:55] jleach opened #463 "Please create an additional DNS entry for dev and test RC instances"
Please add an additional DNS CNAME records pointing:

`dev.chat.developer.gov.bc.ca` to `chat-dev.pathfinder.gov.bc.ca`.
`test.chat.developer.gov.bc.ca` to `chat-test.pathfinder.gov.bc.ca`.

[2020-11-16 23:58] StevenBarre commented on #216
PR for tool https://github.com/bcgov-c/platform-tools/pull/21

[2020-11-17 00:05] StevenBarre commented on #453
Metering has been removed from SILVER

[2020-11-17 00:05] #453 closed, assigned to StevenBarre

[2020-11-17 00:42] StevenBarre opened #464 "Enable tcp_mtu_probing = 1 on all OCP4 servers"
**Describe the issue**
https://access.redhat.com/solutions/61720

Some parts of our network are poorly configured and create MTU blackholes. All our other Linux hosts have this set to avoid issues. This needs to be added via tuned to all the OCP hosts.

**Which Sprint Goal is this issue related to?**
Hotfixes

**Additional context**
https://blog.cloudflare.com/path-mtu-discovery-in-practice/

**De

[2020-11-17 20:12] jefkel commented on #287
Is there a link to a flow document that describes the automatic build schedule and the automated image promotion between clusters?

[2020-11-17 21:30] jleach commented on #287
I posted a video of the solution to the image management discussion for feedback before I do any docs. So far crickets.

[2020-11-18 00:29] StevenBarre commented on #456
Matt is looking into if this is related to https://bugzilla.redhat.com/show_bug.cgi?id=1857446

[2020-11-18 00:31] StevenBarre commented on #428
Our best path here may be to just get rid of the external route once we get Artifactory running. Then `oc get is` will return the correct URL and everything will work.

[2020-11-18 00:36] StevenBarre commented on #419
CHG0020161 MCS SILVER - Enable Audit Log and MTU Probing

[2020-11-18 00:36] StevenBarre commented on #464
CHG0020161 MCS SILVER - Enable Audit Log and MTU Probing

[2020-11-18 19:24] jefkel commented on #377
Updated the secret with missing detail:
[code]

[2020-11-18 19:25] jefkel commented on #377
tested/verified.

[2020-11-18 19:25] #377 closed, assigned to caggles, jefkel

[2020-11-18 19:45] NickCorcoran commented on #438
Began consult w/ OCIO ISB on suggested token lifespans.

[2020-11-19 00:24] StevenBarre commented on #419
Done! /cc @NickCorcoran
![image.png](https://images.zenhubusercontent.com/5d544a7a5faedc627998cd85/e27a589f-fc71-4cb3-ae35-bed3872c6050)

[2020-11-19 00:24] #419 closed, assigned to StevenBarre

[2020-11-19 00:24] StevenBarre commented on #464
Change completed and verified

[2020-11-19 00:24] #464 closed, assigned to StevenBarre

[2020-11-19 23:21] jleach commented on #362
Meeting minutes from todays meeting w/ Olena, Justin, Cailey, and Jason.

- Check In
- Summary
- Agenda

## Agenda

- Will the platform restart if it crashed right now?
- Who owns this problem?
- Can we go enterprise?

## Minutes

- Justin / Jeff talked about (in a previous meeting today):
a) Using our own team credentials;
b) Copying our images to Artifactory private repo.
- Down side to (b) Arti

[2020-11-20 00:32] jefkel commented on #362
When the rate limiting was first announced, a decision that the only "support" work the platform services team was responsible for was to create education documentation for teams on how to configure an individual docker credential to be used in a namespace.  This is covered by the documentation efforts above, as well as the (eat your own dogfood) having platform services namespaces use a private c

[2020-11-20 01:15] jleach commented on #362
@jefkel Can't answer all questions but:

I think the plan didn't change.

Not much has changed w/ Artifactory per se. I think we touched on revisiting this solution when Artifactory goes HA / enterprise ready.

Probably cost more than what we'll pay for Docker Hub.

Good point. We're using DH now so this question is applicable regardless of if we pay or not.

We touched on this point. I think the

[2020-11-20 01:47] jefkel commented on #362
Thanks Jason, was just trying to make sure the question's were out there (not requiring answers all at once).  The key message I was trying to get out there is that this doesn't have to be a "fix immediately!" issue.  We have a perfectly acceptable solution, and all the extra work can be done via the Artifactory Service design work without rushing anything.

re: use of DockerHub
**now** (anonymous

[2020-11-20 02:00] jleach commented on #362
@jefkel yes, mostly. We now have an account so the nodes can pull when rebooted. Probably need something in place just before we go into GA on Dec 2 for the pull through cache. But nothing critical ATM.

Yup. And I think this will be in the future also. But, if we're offering Artifactory as a pull through service we want to make sure it doesn't hit the wall. Other than that, paying for Docker Hub

[2020-11-20 04:30] NickCorcoran commented on #438
For the default token value, I don't see a standard or recommended duration.  I suggest we set to 18 hrs and see how that goes.

For the inactivity timeouts:
https://www2.gov.bc.ca/assets/gov/government/services-for-government-and-broader-public-sector/information-technology-services/standards-files/05_-_access_control_security_standard_v10pdf.pdf
- indicates: "The session must be terminated or re

[2020-11-20 07:19] NickCorcoran commented on #452
- [x] Ask RH what namespaces JSON dumps apply to for this purpose.
- [x] inspect JSON dumps for an app in Lab once 4.6 is up there.  Then we can make the call whether to keep enabled or not.

[2020-11-20 17:03] StevenBarre commented on #362
For infra stuff, we can just put them in the local registry https://docs.openshift.com/container-platform/4.5/openshift_images/image-streams-manage.html#images-imagestreams-import_image-streams-managing

Then change Aporeto, Sysdig, etc to just pull from the local repo.

[2020-11-20 17:29] jleach commented on #362
@sbarre-esit What if the clusters down? Didn’t we kill it off last year with a rogue Ansible play book?

[2020-11-20 17:38] StevenBarre commented on #362
Ugh, why you gotta remind me of my greatest embarrassment 🤦

If we are using `imagePullPolicy: IfNotPresent` then most of the time the image will be cached locally on nodes when they come back up. Once the registry is restored then any straggler nodes can pull their image and finish starting up.

But that is a good argument for just using off-cluster registry for critical things. https://quay.io/p

[2020-11-23 18:22] StevenBarre commented on #447
Both SDNs can co-exist and communicate with each other. Routes will continue to operate throughout the change and intra-pod communication will still work. Nodes with the old SDN will be unable to accept new workloads. So the first App node evacuated will have no where to send its pods causing a delay in scheduling their replacements until the node is back up and ready. Once the first few app nodes

[2020-11-23 18:33] StevenBarre commented on #447
The original goal was to migrate to OVN before our production launch, but this was delayed until 4.6 (when OVN is generally available instead of Tech Preview)

We have made the decision to do the upgrade after the 4.6 upgrade as a separate maintenance and after testing Aporeto and Aqua if needed.

[2020-11-23 20:09] StevenBarre opened #465 "X-Forwarded-For is incorrect in SILVER"
**Describe the issue**
https://chat.pathfinder.gov.bc.ca/channel/devops-ocp4-migration?msg=4NiMNFcPZ7XQH65QW

**Which Sprint Goal is this issue related to?**
Hot Fix

**Additional context**
Possibly related to SNAT?

**Definition of done Checklist (where applicable)**
- [x] X-Forwarded-For is correct in SILVER apps

[2020-11-23 20:19] StevenBarre commented on #465
Yup, SNAT. Confirmed in KLAB and had Network remove the SNAT settings. KLAB now shows the correct IP.

http://foobla-steve-forwarder-test.apps.klab.devops.gov.bc.ca/

Will do some more testing then schedule in SILVER.

/cc @wmhutchison

[2020-11-24 22:13] NickCorcoran commented on #438
@sbarre-esit - can you help with playbook creation?  I have never done this before.

[2020-11-24 22:15] StevenBarre commented on #438
Yup, I'll take it from here.

[2020-11-25 00:47] StevenBarre opened #466 "OCP 4 Cluster Capacity PromQL"
**Describe the issue**
We need to create new PromQL queries for OCP4 that takes into considerations taints, schedulability, and readyness of the nodes. We need to document these queries and how they work since PromQL is a bit obscure of a language.

Queries we need:
- Active worker nodes
- CPU Usage
- Memory Usage
- CPU Requests
- CPU Limits
- Memory Requests
- Memory Limits
- Running Pods
- Pods

[2020-11-25 00:47] StevenBarre commented on #466
PR of the queries https://github.com/bcgov-c/advsol-docs/pull/123

[2020-11-25 00:55] StevenBarre commented on #456
Matt has confirmed it is related to the bug mentioned earlier. There is a kernel race condition when a cgroups memory is exhausted. The patch has been put into RHEL 8.4 and is being back ported to older RHEL 8 releases and eventually to RHCOS.

[2020-11-25 01:00] StevenBarre commented on #428
From RH:

We've added docs to advise devs about this in https://github.com/BCDevOps/OpenShift4-Migration/issues/14

I don't think we should be adding the internal registry to the default search path, as that enables bad practice.

@jefkel OK with you if we close this WONTFIX ?

[2020-11-25 01:05] jefkel commented on #428
I'm happy with it.. (as long as we keep that distinction and outcome super clear in the docs - ie: deployment configurations should NOT use the external registry URL for the internal registry service)

[2020-11-25 01:06] #428 closed, assigned to StevenBarre

[2020-11-25 16:12] jleach commented on #362
Community suggested topics:

- Don't forget Migration Considerations - port access and firewall requests.
- Would love a quick walk-through on how to effectively use Artifactory on OCP4
- Use backup container to backup data on V3 and restore it on V4
- Moving from RHEL7 to Universal Base Image
- And using the build entitlements for UBI/RHEL based images
- Re teams out there who have been using Jen

[2020-11-25 16:22] jleach opened #467 "Create content for OCP4 general availability"
Community suggested topics:

- [ ] Don't forget Migration Considerations - port access and firewall requests.
- [ ] Would love a quick walk-through on how to effectively use Artifactory on OCP4
- [ ] Use backup container to backup data on V3 and restore it on V4
- [ ] Moving from RHEL7 to Universal Base Image
- [ ] And using the build entitlements for UBI/RHEL based images
- [ ]  Re teams out ther

[2020-11-25 19:19] StevenBarre commented on #465
Testing looks good, and confirmed with the master of SNAT (Stuart) that we don't need this in SDN Zone. REQ0064227 entered to get CLAB, SILVER, and GOLD VIPs updated.

[2020-11-25 23:32] StevenBarre commented on #216
PR merged. Applied to Silver.

[2020-11-26 00:45] StevenBarre commented on #216
Reopening since cron is failing in Silver

[2020-11-26 18:40] StevenBarre commented on #465
This is scheduled for Wednesday December 2nd at 6am PST.

[2020-11-26 23:25] mitovskaol commented on #352
@NickCorcoran  Can you please move this Service Definition out of Documize and to https://github.com/BCDevOps/openshift-wiki/tree/master/docs where the other Service Definitions are stored. This way we will keep them all in one place and they are searchable in DevHub. Once this migration is finished and doc can be found in DevHub , this ticket can be closed.

[2020-11-26 23:30] NickCorcoran commented on #352
Will do! - @mitovskaol - documented in that repo, just have to do PR on DevHub repo.
https://github.com/BCDevOps/openshift-wiki/blob/master/docs/OCP/VaultServiceDescription.md

[2020-11-27 00:43] #466 closed, assigned to StevenBarre

[2020-11-27 00:44] StevenBarre commented on #216
Works in KLAB but fails in SILVER. Switching the namespace to Discovery Mode in Aporeto seems to solve the issue, but no flows are showing rejected so that we could write NSP to cover it.

[2020-11-27 23:07] mitovskaol commented on #261
@j-pye Can you please confirm that the actions listed in my previous comment have been implemented (maybe at least the first one ?) in SILVER?

[2020-11-28 00:16] jefkel commented on #351
Sysdig CM deployment successful to klab
TODO's:
 - [x] Integrate with docker.io CCM credentials (unknown?)
 - [x] Create more granular egress NSP (new ticket created to track as feature)
 - [x] Document approach to manage node label for `sysdig-agent: "true"`.  For now, this is a manual process as node labels are not managed via GitOps at the moment.
 - [x] Document flow and current configuration

[2020-11-30 21:03] caggles commented on #293
Closing this because we have two major epics dealing with the artifactory stuff, and I'm moving all of this into one.

[2020-11-30 21:03] #293 closed, assigned to nobody

[2020-11-30 21:06] #230 closed, assigned to caggles, jefkel

[2020-11-30 21:06] caggles commented on #230
closed as out-dated

[2020-11-30 21:09] jefkel commented on #293
@caggles please update with links to duplicate tickets/requirements.  This was a large ticket with multiple requirements - have all of the included requirements been identified in duplicated tickets? (mapping would be great)

[2020-11-30 21:11] jefkel commented on #230
Please update with tickets that capture the design requirements for the following:
- Aqua integration design
- cross cluster sync (ie: multi-cluster artifactory deployment designs)

[2020-11-30 22:36] #400 closed, assigned to nobody

[2020-11-30 23:02] StevenBarre opened #468 "Upgrade Trident"
**Describe the issue**
Trident v20.10.0 currently only supports OCP 4.5 https://netapp-trident.readthedocs.io/en/stable-v20.10/support/requirements.html

So we need to wait for a new Trident release that supports 4.6

**Which Sprint Goal is this issue related to?**
TBD

**Additional context**
https://github.com/NetApp/trident/releases/tag/v20.10.1

**Definition of done Checklist (where applicable)

[2020-12-01 20:13] #406 closed, assigned to nobody

[2020-12-02 14:38] #465 closed, assigned to StevenBarre

[2020-12-02 14:38] StevenBarre commented on #465
Change completed by networks. Verified that the header is correct now.

[2020-12-02 17:32] StevenBarre commented on #216
NSP created https://github.com/bcgov-c/platform-tools/pull/22 but also need some changes in Aporeto enforcer policy from @j-pye

[2020-12-02 17:52] StevenBarre commented on #40
@j-pye I think we can close this?

[2020-12-02 17:54] StevenBarre commented on #304
@j-pye I think this can be closed?

[2020-12-02 18:07] StevenBarre opened #469 "Upgrade SILVER to 4.5.20"
**Describe the issue**
To meet our requirements for quarterly patching and ensure that SILVER has all the latest security fixes we need to get it patched before Dec 31st. As the 4.6 general availability keeps getting delayed, we'll instead just update to the latest 4.5.x.

**Which Sprint Goal is this issue related to?**

**Additional context**
CHG0020627 MCS SILVER - Upgrade to OCP 4.5.20 is sched

[2020-12-02 18:44] NickCorcoran commented on #352
PR made to DevHub

[2020-12-02 18:44] #352 closed, assigned to j-pye, manderson-it, NickCorcoran

[2020-12-02 19:30] wmhutchison opened #470 "OCP GOLD - Configure iDRAC for the GOLD Dell hardware"
**Describe the issue**
The new hardware received and available in our Data Centre has yet to be configured. We need to configure the iDRAC settings for each physical server both for achieving our standards regarding server management as well as for allowing us access to parse MAC address information for the network interfaces that will feed our ability to generate appropriate inventory files for l

[2020-12-02 19:31] wmhutchison opened #471 "OCP GOLD - Order Firewall Rules for external API access to GOLD cluster"
**Describe the Issue**
Thanks to the SDN Compartment project, the amount of firewall rules involved to allow an Openshift cluster to function has been all but eliminated. The only firewall rules now required going forward are for allowing external (outside the SiS firewall) access to the API service and for DXC management servers.

**Which Sprint Goal is this issue related to?**

**Additional cont

[2020-12-02 19:32] wmhutchison opened #472 "OCP GOLD - Build UTIL Server for GOLD Cluster"
**Describe the Issue**
The UTIL server is integral for both the building and operations/maintenance of an OCP4 cluster.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of Done Checklist (where applicable)**
- [x] place iStore order
- [x] Build MCS-GOLD-UTIL.DMZ server as standard DXC Linux server build.
- [x] Create initial inventory files for GOLD cluster
-

[2020-12-02 19:34] wmhutchison opened #473 "Build Kamloops GOLD Cluster"
**Describe the issue**
This is an EPIC to track all the sub tasks needed to get all of the dependencies for building the new Kamloops GOLD cluster fulfilled as well as subsequent testing of this cluster.

Subsets of these tasks can be added to Sprint Goals as we work through them which may take several sprints. Current suggestion from Olena is to place tasks into the relevant Operational Tasks SG

[2020-12-02 22:12] jefkel commented on #261
Looking through the tasks, I am unable to find implementation tasks associated with the output of this ticket, I would expect to see:
Ticket: Monitor enforcer daemonset on each node
Ticket: Monitoring of enforcer daemonset to add additional action to add a taint label to a node when the enforcer is in a "failed" state.

Those would be the implementation steps I could see for your first bullet.

As

[2020-12-02 22:24] #272 closed, assigned to nobody

[2020-12-02 22:51] mitovskaol commented on #347
The quota increase request feature will be available to product teams in  Project Registry. Tere

The quotas have been discussed and approved by the PS team and is documented [here](https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/openshift4-rollout/254)  representatives of the Developer Community. It was decided that going with a more granular approac

[2020-12-02 23:22] StevenBarre opened #474 "Monitor Aporeto Enforcer health"
**Describe the issue**
Related to [Discuss Alternatives for Handling Aporeto Failure](https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/openshift4-rollout/261).

We need to alert on-call should a node no longer be able to enforce network security.

**Which Sprint Goal is this issue related to?**
SG - Sprint 21 Platform Operations

**Additional context**

[2020-12-02 23:30] StevenBarre commented on #474
@j-pye how hard would it be to rename the enforcer namespace? Then we could take advantage of a bunch of the built in alerting rules like https://console.apps.silver.devops.gov.bc.ca/monitoring/alertrules/2079999808

[2020-12-03 18:53] StevenBarre commented on #462
From your list I kept `must-gather` image stream, as its part of the cluster and not a sample. PR is https://github.com/bcgov-c/platform-ops/pull/332 and has been run on KLAB. @jleach can you please review the PR and the IS and Templates available in KLAB to confirm we've got the right items left available?

[2020-12-03 19:58] StevenBarre commented on #409
Red Hat responses

## Secure cookie 02817747

I'll take a look at this, but the console should already leverage secure cookies.

## Password autocomplete 02817749

I will open an RFE for this. I do not see anything currently on the roadmap.

## Strict Transport Security 02817751

There is an RFE for this already

This will be in 4.7 or 4.8 - I will let you know

## CSRF 02817754

This looks very n

[2020-12-03 19:59] StevenBarre commented on #409
Moving to blocked while we wait on RH to release fixes.

[2020-12-03 20:46] jleach commented on #462
@sbarre-esit Will do.

[2020-12-04 17:25] StevenBarre commented on #474
Here's the pre-build alerting rules I'm hoping to leverage.

[code]

[code]

[code]

[code]

[code]

As they are all `severity: warning` we'll need some routing in Alertmanager to direct these alertnames in those namespaces to the on-call handler.

[2020-12-04 17:56] StevenBarre opened #475 "Aporeto pod count monitoring"
**Describe the issue**
Create a custom script to monitor that the number of running Aporeto pods and compare to the number of nodes in the cluster and if the numbers do not match, raise an alarm.

**Which Sprint Goal is this issue related to?**
Aporeto Monitoring

**Additional context**
https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/openshift4-rollou

[2020-12-04 19:35] kuanfandevops commented on #254
I would agree with the notes from Clecio.

We are using the BCDK pipeline, it's a PR based pipeline, it builds and spins up all apps for the PR and remove them after the changes are tested. So we need Large CPUs and memories but Small storage for our Dev.
For our Test and Prod, we need Medium CPUs and memories and Large storage.

[2020-12-04 19:43] mitovskaol commented on #254
@kuanfandevops  We discussed it as a team, and it was found that having different quotas for different namespaces would create too much administractive overhead for us to manage, thus, all namespaces in the project set will be given the same quota, either small or medium or large. This functionalist has now been implemented in the Project Registry, however, we will be asking for justification from