[2019-10-08 21:01] tosazuwa opened #208 "Integration of logging w/ OCIO SIEM"
Fwd logs to SIEM for longer-term retention

- [x] determine SIEM end-points
- [x] determine protocol and payloads
- [ ] test out
- [ ] set retention schedules on different types of logs

[2019-10-08 21:41] NickCorcoran commented on #208
NRM including Kafka as subscription service in the SIEM development (VADER)
- Investigate integrate Kafka as an intermediary to provide access/app logs to OCIO SIEM and Ministry SIEMs
- Learn from NRMs implementation before we start.  Louis Kraak developing Ansible scripts for deployment in their environment.

[2019-10-28 19:01] lukegonis opened #1 "Set up Scrum events"

[2019-10-28 19:02] lukegonis opened #2 "Define team member from DXC"
Identify the key technical resource from DXC that will be dedicated to this project.

[2019-10-28 19:02] lukegonis opened #3 "Set roadmap milestones"
**December 1 - Release 1**
-OCP 4.2 Labs stood up in Calgary and Kamloops DMZ
-Includes NetApp storage, DNS, F5
-Production cluster running in DMZ

**January 2 - Release 2**
-Operational tools (Aporeto, Sysdig etc) deployed to all clusters

**January 15 - Release 3**
-Redeploy of OCP Lab Clusters with version 4.3
-Prod redeployed to 4.3 as well

**January 31 - Release 4**
-Labs redeployed to Cloud

[2019-10-28 19:03] lukegonis opened #4 "Create assumption registry"

[2019-10-28 19:04] lukegonis opened #5 "Create detail architecture for Stage 1"
We need one more level of detail on the network diagram that includes the number of nodes and cores per stage.

[2019-10-28 19:04] lukegonis opened #6 "Create OCP 4 dependency map"
To create a Dependency Map  to allow the  team to visualize the critical cross-project dependencies throughout the duration of the project

- [x] Create dependency map highlighting current blockers/dependencies

[2019-11-04 22:36] stewartshea opened #7 "Board Legend - Do not move from this lane"
Sprints:
- Sprints are tracked as milestones in zenhub

EPIC:
- Epics will be used to track a grouping of issues within a release (ie. Lab deployment in Calgary)

Labels:
- Tech labels
- Environment Labels

Releases:
- There are 3 major states of this deployment, they will be releases.

[2019-11-05 16:04] stewartshea opened #8 "Azure "Platform Services" Cluster Deployment"
The platform services team would like to run a small OpenShift cluster in a cloud target. This solution should be small but highly available and will host some of the platform services tools such as;
- Rocket.Chat
- KeyCloak/SSO
- Status Page
- CI & CD Components

This cluster will provide the platform-services team with the ability to directly learn more about the OpenShift 4 platform and also de

[2019-11-05 16:13] stewartshea opened #9 "Silver Cluster Deployment in Kamloops in SDN Compartment"
Deploy the hardware, netapp, switches and install OpenShift on the Silver cluster.

[2019-11-05 16:14] stewartshea opened #10 "Lab Cluster Deployment in Kamloops DMZ"
Prior to the Cloud Zone being ready, the operations team would like to deploy OpenShift 4.2 in the DMZ to validate all deployment and configuration automation.

[2019-11-05 16:16] stewartshea opened #11 "Lab Cluster Deployment in Calgary DMZ"
Prior to the Cloud Zone being ready, the operations team would like to deploy OpenShift 4.2 in the DMZ to validate all deployment and configuration automation.

[2019-11-05 16:22] stewartshea opened #12 "Move / Redeploy Prod Cluster in Kamloops SDN Compartment"
When the SDN Compartment is ready, the production cluster must be redeployed and tested for onboarding / migration of teams.

[2019-11-05 16:25] stewartshea opened #13 "Redeploy KLAB Cluster into the SDN Compartment"
**Describe the issue**
Deploy KLAB with all the new SDN networking.

**Which Sprint Goal is this issue related to?**
Initial deployment of KLAB in SDN

**MVP**
KLAB cluster available to the Platform Experience Team for functional testing on the cluster.

**Definition of done Checklist (where applicable)**
- [x] Ensure ESX hosts have all needed vlans trunked to them
- [x] Have DXC/ATT configure F5

[2019-11-05 16:26] stewartshea opened #14 "Move / Redeploy the Lab Cluster in Calgary SDN Compartment"
When the SDN Compartment is ready, the lab cluster must be redeployed and tested for onboarding / migration of teams.

[2019-11-05 16:33] stewartshea opened #15 "Migrate users from OCP 3.11 Pathfinder Cluster to OCP 4"
Existing project namespaces and applications will need to be migrated from the OpenShift 3.11 Pathfinder cluster to the new 4.2+ Production cluster in Kamloops.

[2019-11-05 16:37] stewartshea opened #16 "Decommission 3.11 Pathfinder Cluster"
When the cluster has been emptied, fully decommission the cluster in preparation for a new pathfinder deployment in Azure.

[2019-11-05 16:40] stewartshea opened #17 "Deploy DR Cluster in Calgary"
With the 3.11 Pathfinder cluster decommissioned, ship all remaining hardware to Calgary and deploy the DR Cluster in Calgary.

[2019-11-05 16:43] stewartshea opened #18 "Deploy New Pathfinder Cluster in Azure"
As the Pathfinder name and purpose will live on, it will start fresh in Microsoft Azure. Deploy a new OpenShift cluster for the Pathfinder project in Azure.

[2019-11-05 16:46] stewartshea opened #19 "Build a Multi-Site Developer Logging Solution for Lab"
As applications will be distributed across multiple sites (at least prod and dr), a centralised logging solution is needed for developers to see logs from all systems. This task builds it into the lab prior to production rollout.

[2019-11-05 16:48] stewartshea opened #20 "Build a Multi-Site Developer Logging Solution for Prod"
As applications will be distributed across multiple sites (at least prod and dr), a centralised logging solution is needed for developers to see logs from all systems. This task builds it into the lab prior to production rollout.

[2019-11-05 17:28] stewartshea opened #21 "Deploy Virtual F5 in Lab"
A standalone virtual F5 will be required in the lab for integration with the OpenShift 4 environment.

- [x] Kamloops
- [x] Calgary

[2019-11-05 17:30] stewartshea opened #22 "Obtain Virtual F5 Entitlements for Lab"
An entitlement will be required for both lab environments.

- [ ] Kamloops
- [ ] Calgary

[2019-11-05 17:31] stewartshea opened #23 "Deploy Virtual NetApp in Lab"
Virtual NetApp devices will be required at each location:

- [x] Kamloops
- [x] Calgary

[2019-11-05 21:04] stewartshea opened #24 "Create Platform Services Azure Cluster Design & Initial Deploy"
We will need a cluster design for Azure some high level items to determine.
- [x] Azure SP Account
- [x] Azure regions and zones
- [x] DNS Name & Azure DNS config
- [x] Azure Network decisions
- [x] VM sizing & count decisions
- [x] VM disk sizing
- [x] Cluster storage options
- [x] Pull secret

[2019-11-05 21:04] stewartshea opened #25 "Create Platform Services Azure Deployment Plan (Terraform + Ansible)"
Deployment and post deployment configuration of the OCP4 cluster in Azure should be as automated as possible. The installer is pretty automated with the use of an install-config.yaml. There may be some issues with terraform calling the terraform installer.

- [x] install-config.yaml settings & process documented
- [x] Post install config process ,finalized. TF? Ansible?
- [x] Everything documented

[2019-11-05 21:05] stewartshea opened #26 "Obtain Azure account access determine account credential management strategy"
- [x] Phil user access to Azure portal
- [x] SP account for OCP4 cluster
- [x] SP account permission set up
- [x]  Store creds in Azure KeyVault

[2019-11-05 21:05] stewartshea opened #27 "Create communication plan for platform-services application users"

[2019-11-05 21:06] stewartshea opened #28 "Determine new DNS FQDN for platform-services cluster"

[2019-11-05 21:07] stewartshea opened #29 "Automation Validation - Deploy, Destroy, and Redeploy Platform Services Azure Cluster"

[2019-11-05 21:09] stewartshea opened #30 "Procure Software Subscriptions for Azure Platform Services Cluster (Sysdig, Aporeto, Aqua)"

[2019-11-05 21:11] stewartshea opened #31 "Configure SSO realm and Platform Services Azure Cluster Integration"

[2019-11-05 21:12] stewartshea opened #32 "Integrate the Azure Platform Services Cluster into Vault for Secrets Management"

[2019-11-07 20:24] stewartshea opened #33 "Create detailed architecture for Kamloops Prod"
Current documentation is for an MVP deployment of the production migration target.

With changes to the procurement timelines, adjustments need to be made to the MVP architecture.

[2019-11-07 20:25] stewartshea opened #34 "Order Servers for Kamloops Prod"
This is broken into multiple orders and delivery steps:
Step 1 (provide infra for Release 1):
- [x] Order VMs for Masters, Infra, Boot Service, and NetApp Virtual OnTap hosts
- [x] Identify workaround for internal storage (**DXC**)

Step 2 (order hardware to replace Virtual and SAN hardware to be ready for build-out in Release 2)
- [x] Order 15 x physical hosts (see spreadsheet for host details) (

[2019-11-07 20:25] stewartshea opened #35 "Deliver F5 components for Kamloops Silver"
- [x] Provision Network requirements
  - [x] Order / SCO additional Transceivers to connect the F5 to the core switches
  - [x] Create additional VLANs
  - [x] Update routing to flow traffic from the WAN to the VCMP and bypass the Firewall
- [x] Provision F5 components
    - [x] Stand up VCMP and configure
- [x] Hand access keys off to Cluster Deployment team
- [x] Test/Validate F5
  - [x] Validat

[2019-11-07 20:25] stewartshea opened #36 "Order NetApp devices for Kamloops/Calgary Prod"
Physical NetApp Appliances to be ordered/delivered (loading dock) before end of fiscal.

- [x] Decision on physical vs virtual
- [x] SCO for NetApp Physicals approved
- [x] Hardware ordered from Vendor
- [x] Hardware confirmed on loading dock

[2019-11-07 20:25] stewartshea opened #37 "Deploy Silver Cluster in SDN Compartment"
- [x] Build Master/Infra VMs
- [x] Deploy Temporary NetApp VMs while we await production physical #154

Once Hardware Arrives, cluster to be re-built using physical hosts.
- [x] Have DXC update switchports to new vlan tags

- [x] Install OCP 4 on nodes - Will require some trial and error to handle physicals vs vms in the build process (bonded networks, physical disks/raid)

[2019-11-07 20:25] stewartshea opened #38 "Configure F5 integration for Kamloops Silver"

[2019-11-07 20:25] stewartshea opened #39 "Configure NetApp devices for Kamloops Silver"
- [x] Establish Cluster Name - MCS-KPROD-NETAPP
- [x] Order gear under #36
- [x] Plan network design
- [x] Reserve IP Addresses and DNS Names from Network Team
- [x] Storage Team - Download latest ONTAP firmware and install and configure
  - [ ] Submit request for SMTP to Infrastructure Group
  - [ ] Configure AutoSupport for HTTPS  (Firewall requests)
  - [ ] Configure Timezone and NTP
  - [ ] Cr

[2019-11-07 20:25] stewartshea opened #40 "Integrate Kamloops Silver into SSO"

[2019-11-07 20:25] stewartshea opened #41 "Integrate DevSecOps Tools in Silver Cluster"
EPIC to track the deployment of the platform operations tools/services required for a working cluster.

Required
- [ ] SysDig
- [ ] AdvSol Monitoring
- [ ] Artifactory

Desired
- [ ] Aqua
- [ ] Vault

[2019-11-07 20:25] stewartshea opened #42 "Validate cluster availability for Ops"

[2019-11-07 20:26] stewartshea opened #43 "Validate cluster availability for Dev / Apps for Silver Cluster"
Platform Services confirmed:

- [ ] Artifactory Image Pull Through
- [ ] Artifactory Private Repositories
- [ ] bcgov managed images
- [ ] openshift managed images?
- [ ] project provisioning
- [ ] Network Security Policies (aporeto operator)

[2019-11-07 20:28] stewartshea opened #44 "Create detailed architecture for Kamloops Lab"

[2019-11-07 20:28] stewartshea opened #45 "Order Servers for Kamloops Lab"
VM Hosts ordered for the Kamloops Lab cluster, tracking delivery and availability here:

- [x] iStore submitted for 14 VMs (part of large initial VM order)
- [x] 1 x VM delivered (bootstrap small host)
- [x] 10 x VMs delivered (3 masters, 3 infra, 4 app)

[2019-11-07 20:28] stewartshea opened #46 "Deliver F5 components for Kamloops Lab"
- [x] Provision Network requirements
- [x] Provision F5 components
- [ ] Test/Validate F5
  - [ ] Test 1
  - [ ] Test 2
- [ ] Hand access keys off to Cluster Deployment team

[2019-11-07 20:28] stewartshea opened #47 "Order NetApp licenses for Kamloops Lab"
- [x] SCO for licenses approved
- [x] Order to vendor
- [x] Licenses Received
- [ ] Licenses Applied

[2019-11-07 20:28] stewartshea opened #48 "Deploy OpenShift 4 on Virtuals in Kamloops Lab"
- [x] Deploy OCP
- [x] Configure storage (This is mostly working, issues are being tracked in #50)
- [x] Configure authentication
- [x] Confirm all 3 LB access points are working (api, api-int, *.apps)

[2019-11-07 20:28] stewartshea opened #49 "Configure F5 MVP in Kamloops Lab"
Per the [F5 vs HAProxy Recommendation](https://github.com/BCDevOps/OpenShift4-RollOut/blob/master/docs/F5-vs-HAProxy.md) the F5 just needs to be automated for CRDs for non-http traffic. CRD support is currently [ALPHA](https://github.com/F5Networks/k8s-bigip-ctlr/blob/master/docs/_static/config_examples/crd/CustomResource.md) in CIS 2.1 and only supports HTTP and HTTPS.

The F5 then also needs sta

[2019-11-07 20:28] stewartshea opened #50 "Configure NetApp devices for Kamloops Lab"
- [x] Establish Cluster Name - MCS-KLAB-NETAPP
- [x] Order gear under #47
- [x] Plan network design
- [x] Reserve IP Addresses and DNS Names from Network Team
- [x] Storage Team - Download latest ONTAP firmware and install and configure
  - [x] Dan to deploy VMs
  - [x] Submit request for SMTP to Infrastructure Group
  - [x] Configure AutoSupport for HTTPS  (Firewall requests)
  - [x] Configure Ti

[2019-11-07 20:28] stewartshea opened #51 "Integrate Kamloops Lab into SSO"

[2019-11-07 20:28] stewartshea opened #52 "Integrate DevSecOps Tools in Kamloops Lab"
Checklist for deployment of all 3rd party DevSecOps tools for Kamloops Lab.

- [ ]  Sysdig
- [ ]  Aporeto
    - [ ]  Host protection mode
    - [ ]  networksecuritypolicy operator
- [ ]  Aqua
- ... ?

[2019-11-07 20:28] stewartshea opened #53 "Validate cluster availability for Ops Kamloops Lab"
- [ ]  Storage Pool Configuration (netapp-block-standard, netapp-file-standard)
- [ ]  Registry Configuration with storage (S3? NFS?)
- [ ]  Certificates for external endpoints (may need procurement)
- [ ]  Service Catalog
    - [ ]  *Samples* operator (looks like it might keep openshift namespace images and templates up to date)
    - [ ]  *Template Service Broker*
    - [ ]  *Ansible Broker* (Do

[2019-11-07 20:29] stewartshea opened #54 "Validate cluster availability for Dev / Apps for Kamloops Lab"

[2019-11-07 20:29] stewartshea opened #55 "Create detailed architecture for Calgary Lab"

[2019-11-07 20:29] stewartshea opened #56 "Order Servers for Calgary Lab"
VM Hosts ordered for the Calgary Lab cluster, tracking delivery and availability here:

- [x] iStore submitted for 14 VMs (part of large initial VM order)
- [x] 1 x VM delivered (bootstrap small host)
- [x] 10 x VMs delivered (3 masters, 3 infra, 4 app)

[2019-11-07 20:29] stewartshea opened #57 "Deliver F5 components for Calgary Lab"
- [x] Provision Network requirements
- [x] Provision F5 components
- [x] Test/Validate F5
  - [ ] Test 1
  - [ ] Test 2
- [x] Hand access keys off to Cluster Deployment team

[2019-11-07 20:29] stewartshea opened #58 "Order NetApp Licenses for Lab environments"
- [x] SCO for licenses approved
- [x] Order to vendor
- [x] Licenses Received
- [x] Licenses Applied

[2019-11-07 20:29] stewartshea opened #59 "Deploy OpenShift 4 on Virtuals in Calgary Lab"

[2019-11-07 20:30] stewartshea opened #60 "Configure F5 integration for Calgary Lab"

[2019-11-07 20:30] stewartshea opened #61 "Configure NetApp devices for Calgary Lab"
- [x] Establish Cluster Name - MCS-CLAB-NETAPP
- [x] Order gear under #58
- [x] Plan network design
- [x] Reserve IP Addresses and DNS Names from Network Team
- [x] Storage Team - Download latest ONTAP firmware and install and configure
  - [x] Dan to deploy VMs
  - [x] Submit request for SMTP to Infrastructure Group
  - [x] Configure AutoSupport for HTTPS  (Firewall requests)
  - [x] Configure Ti

[2019-11-07 20:30] stewartshea opened #62 "Integrate Calgary Lab into SSO"

[2019-11-07 20:30] stewartshea opened #63 "Integrate DevSecOps Tools in Calgary Lab"

[2019-11-07 20:30] stewartshea opened #64 "Validate cluster availability for Ops Calgary Lab"

[2019-11-07 20:30] stewartshea opened #65 "Validate cluster availability for Dev / Apps for Calgary Lab"

[2019-11-07 20:31] stewartshea opened #66 "Create detailed architecture for Calgary DR"

[2019-11-07 20:31] stewartshea opened #67 "Ship Servers for Calgary DR"
Repurposed hosts from last of OCP3.11 servers to be shipped to Calgary for the GoldDR cluster.

Minimum: 3 masters (128G RAM), 3 infra (256G RAM), 4 App (256G RAM) (App node count to be determined by capacity planning targets.)

All hosts to leverage internal SSD's taken from OCS nodes, and NetApp expected to be in-place for cluster build activities.

[2019-11-07 20:31] stewartshea opened #68 "Order any F5 components for Calgary DR"

[2019-11-07 20:31] stewartshea opened #69 "Order any NetApp devices for Calgary DR"

[2019-11-07 20:31] stewartshea opened #70 "Deploy OpenShift 4.2 on Virtual/Physical mix in Calgary DR"

[2019-11-07 20:31] stewartshea opened #71 "OCP GOLD DR - Configure F5 integration for Calgary DR"

[2019-11-07 20:31] stewartshea opened #72 "Configure NetApp devices for Calgary DR"

[2019-11-07 20:31] stewartshea opened #73 "Integrate Calgary DR into SSO"

[2019-11-07 20:31] stewartshea opened #74 "Integrate DevSecOps Tools in Calgary DR"

[2019-11-07 20:32] stewartshea opened #75 "Validate cluster availability for Ops Calgary DR"

[2019-11-07 20:32] stewartshea opened #76 "Validate cluster availability for Dev / Apps for Calgary DR"

[2019-11-07 20:41] stewartshea opened #77 "Create detailed architecture for Azure Pathfinder"
- [x] Review from team confirming vaules are correct. ( cpu, ram, node count, logging resources, etc)

[2019-11-07 20:41] stewartshea opened #78 "Order Servers for Azure Pathfinder"

[2019-11-07 20:42] stewartshea opened #79 "Order any F5 components for Azure Pathfinder"

[2019-11-07 20:42] stewartshea opened #80 "Order any NetApp devices for Azure Pathfinder"

[2019-11-07 20:42] stewartshea opened #81 "Deploy OpenShift 4.2 on Virtual/Physical mix in Azure Pathfinder"

[2019-11-07 20:42] stewartshea opened #82 "Configure F5 integration for Azure Pathfinder"

[2019-11-07 20:42] stewartshea opened #83 "Configure NetApp devices for Azure Pathfinder"

[2019-11-07 20:42] stewartshea opened #84 "Integrate ARO clusters to new SSO Realm"
Both ARO clusters have functioning integration to the Next Gen Security realm.  This needs to be re-pointed to the appropriate realm.

- [ ] Configure Realm client for pathfinder.aro cluster in `?xxx?` realm
- [ ] Update authentication configuration on pathfinder.aro cluster to use `?xxx?` realm.

--

- [ ] Configure Realm client for platform-services.aro cluster in `?xxx?` realm
- [ ] Update auth

[2019-11-07 20:42] stewartshea opened #85 "Integrate DevSecOps Tools in Azure Pathfinder"

[2019-11-07 20:42] stewartshea opened #86 "Validate cluster availability for Ops Azure Pathfinder"

[2019-11-07 20:42] stewartshea opened #87 "Validate cluster availability for Dev / Apps for Calgary Azure Pathfinder"

[2019-11-07 21:20] stewartshea opened #88 "Determine Console Customizations"
The Web Console allows for a number of [customizations](https://docs.openshift.com/container-platform/4.2/web-console/customizing-the-web-console.html). As a user of the platform, it would be nice to see in the webui distinguishable differences for each web console outside of the FQDN. Currently we have a "red" banner for the lab environment, and in this case we could extent the configuration furt

[2019-11-07 21:22] stewartshea opened #89 "Create overall High-Level Service Design"
Outline the architecture and design decisions as it relates to managing services across all clusters.

[2019-11-07 21:38] stewartshea opened #90 "Create Cluster Configuration Automation Design"
As an operator of many platforms, I would like a GitOps approach towards managing configuration of each cluster.
- [x] Determine tooling
- [x] Determine flow/logic
- [x] Create implementation plan

[2019-11-07 21:42] stewartshea opened #91 "Create Service Mesh Design"

[2019-11-07 22:00] stewartshea opened #92 "Get teams to self-asses and categorize their apps"

[2019-11-07 22:00] stewartshea opened #93 "Create migration tools/strategies for each application class"

[2019-11-07 22:01] stewartshea opened #94 "Build a migration schedule for teams"

[2019-11-07 22:01] stewartshea opened #95 "Build a "migration support team""

[2019-11-07 22:05] stewartshea opened #96 "Identify teams that will be multi-site"

[2019-11-07 22:08] stewartshea opened #97 "Create Multi-Cluster DNS Design"

[2019-11-07 22:12] stewartshea opened #98 "Create authentication and authorisation design for all clusters"

[2019-11-07 22:51] stewartshea opened #99 "Build and Test Multi-Site Application Deployment Pattern"
As a user of the platform, I would like to follow some deployment pattern recommendations for deploying a cluster across the Prod and DR sites:
- [ ] Network Architecture
- [ ] Service Discovery
- [ ] Failover Operations
- [ ] Data Replication
- [ ] Deployment tools

I think we this card should focus on a maximum of 2 deployment patterns at this point in time. Stateless applications and stateful a

[2019-11-07 23:02] stewartshea opened #100 "Migrate Status Page"

[2019-11-07 23:02] stewartshea opened #101 "Migrate RocketChat to OCP 4"
Description:
Rocket.Chat deployment needs to be migrated from the pathfinder cluster to the silver (ocp4) cluster.

- [x] Change Rocket.Chat endpoints from chat.pathfinder.gov.bc.ca -> chat.developer.gov.bc.ca
- [x] Request and implement SSL certificates; send iStore to other team member as backup.
- [x] Create dev instances on Silver;
- [ ] Create test instances on Silver;
- [x] Create prod insta

[2019-11-07 23:02] stewartshea opened #102 "Migrate KeyCloak"

[2019-11-07 23:02] stewartshea opened #103 "Migrate platform-services apps to Azure OpenShift Cluster"

[2019-11-07 23:06] stewartshea opened #104 "Deploy CI & CD Tooling"

[2019-11-07 23:08] stewartshea opened #105 "Operational Automation Refactoring Planning"
As an operator of the existing platform, I would like to understand how my day 2 operations tasks will change with the new environment. A lab environment should be used to test out each of the standard operational tasks and learn how they need to be refactored for the new environment.
- [ ] Initial collection of day 2 ops tasks
- [ ] Document / outline each task and the anticipated changes
- [ ] C

[2019-11-07 23:10] stewartshea opened #106 "Create Certificate Management Strategy"

[2019-11-07 23:26] stewartshea opened #107 "Create / Update Training Modules"
This epic will capture all training material that needs to be created or updated.

[2019-11-07 23:32] stewartshea opened #108 "Build Multi-Cluster Deployment Workshops"
As a user of the platform, I would like to attend a 1 or 2 day training workshop that allows me to learn, lab, and test a multi-site deployment pattern.

[2019-11-08 00:09] StevenBarre commented on #105
- Upgrades
- sos reports
- troubleshooting / reading system logs
- API Audit logs
- Router certificate re-key
- Master/Node/ETCD certs regeneration
- Build/Deploy/Image pruning

[2019-11-08 14:58] stewartshea opened #109 "Create Ingress design"

[2019-11-08 14:58] stewartshea opened #110 "Create Storage integration design"

[2019-11-08 14:58] stewartshea opened #111 "Create Service Mesh design"

[2019-11-08 14:58] stewartshea opened #112 "Detailed / Low Level Network Diagram"
For each environment, provide a document of the low-level network components, as well as a diagrams of the physical network connectivity.

[2019-11-15 18:23] stewartshea commented on #93
Moving this to the "migration" project.

[2019-11-15 18:23] #93 closed, assigned to nobody

[2019-11-15 18:24] stewartshea commented on #94
Moving this to the "migration" project.

[2019-11-15 18:24] #94 closed, assigned to nobody

[2019-11-15 18:24] stewartshea commented on #95
Moving this to the "migration" project.

[2019-11-15 18:24] #95 closed, assigned to nobody

[2019-11-15 18:30] stewartshea opened #113 "Resource Allocation Documented"
We need a fully documented roster of people who are point contacts for each team.

[2019-11-15 18:37] #113 closed, assigned to nobody

[2019-11-15 18:37] stewartshea commented on #113
duplicate

[2019-11-15 19:08] stewartshea opened #114 "Get final OCP core entitlement documented"
For the architecture documents we need to know the total core count so that we can divy them up between each cluster .

[2019-11-15 19:10] stewartshea opened #115 "Complete briefing note"
In order to continue with this project, a costing briefing note must be completed and presented Hosting Branch

[2019-11-15 19:15] stewartshea opened #116 "Create Professional Services Order iStore request"
A PSO iStore order is required for DXC to conduct these services.

We will need to determine the initial commitment expectation of hours based on our sprint structure.

[2019-11-15 21:38] Joe-Craig commented on #114
![RedHat-OpenShift-Licenses](https://user-images.githubusercontent.com/45772546/68977446-18800080-07ad-11ea-8dbd-f8c58f15e63e.JPG)

[2019-11-18 17:58] tosazuwa opened #117 "Sprint 0 Planning & Project kick off"
Initial meeting with team to define:
•	Team Name; Project Name; Team Composition; Team Roles & Responsibilities (who is doing what)
•	Define Product/Team Vision, Goals, Project timeline and high level Road Map (milestones & dates) - Todd
•	Discuss project method & tools ( Scrum for project delivery; ZenHub, Rocketchat, Zoom, GitHub - collaboration & communication
•	Discuss what our Sprint length,

[2019-11-18 18:19] stewartshea commented on #114
@Joe-Craig What about the ESXi Lab Environment? They were fully entitled sockets... did those get converted in the purchase?

Also, can you confirm that the above are the actual entitlement numbers, which are used per vCPU pair. The math being that that we have 416 entitlements which allows for 832 vCPU cores. Thanks!

[2019-11-18 18:28] Joe-Craig commented on #114
@stewartshea the 208 includes the licenses for the ESXi cluster, so yes they were converted as part of the deal. So we can either license the underlying virtual host and build as many clusters or license the machines running on the VMs.
![image.png](https://images.zenhubusercontent.com/5dcf1d4541ec08000170595e/637389c4-f18e-43c9-afd5-c8c240833059)

[2019-11-18 18:28] Joe-Craig commented on #114
![image.png](https://images.zenhubusercontent.com/5dcf1d4541ec08000170595e/8d76c0f7-789b-4b0a-b3d8-95ab4e8d904b)

[2019-11-18 18:38] tosazuwa commented on #3
![image.png](https://images.zenhubusercontent.com/5d547d685cc9f75541f33187/efde97bc-b6ad-4ac5-be79-3b08c609d75f)

[2019-11-18 18:46] kelpisland commented on #116
I have a meeting tomorrow with David to fine tune the expectations and scope of the Prof Serves ask. Stay tuned.

[2019-11-18 18:46] tosazuwa commented on #2
Hi @DanDeane , just following up on if we already have the resource confirmed from DXC for the project. Please confirm. Thanks

[2019-11-18 18:48] #117 closed, assigned to tosazuwa

[2019-11-18 23:10] DanDeane commented on #2
Hi @tosazuwa,  yes Steven Barre and myself.

[2019-11-18 23:23] tosazuwa commented on #2
Perfect. Thanks

[2019-11-19 18:27] sheaphillips commented on #3
I'd like to discuss the roadmap and where it came from - there are more releases than previously discussed. I think it would make sense to capture the roadmap using the roadmap feature in ZenHub.  We already have "releases" defined, so it's really a matter of replicating those over into the roadmap (I believe "projects" is the equivalent construct on the roadmap side)

[2019-11-19 19:47] #2 closed, assigned to DanDeane

[2019-11-19 22:23] jefkel opened #118 "Order Professional Services Draw-down for DXC"
As discussed in the infrastructure planning meeting, a professional services iStore order needs to be placed for the Release 1 project work.

[2019-11-19 22:23] #118 closed, assigned to kelpisland, tosazuwa

[2019-11-19 22:28] jefkel opened #119 "Create iStore Request for VMs"
42 VMs ordered
- 10 x 3 Cluster Environments (K-Prod, K-lab, C-lab)
- 9 Netapp VMs
- 3 small bootservice VMs

- [x] Submit iStore requests for VMs
- [x] Confirm Available capacity for Release 1
- [x] Confirm Approved iStore orders in DXC

[2019-11-20 00:18] Joe-Craig commented on #115
After meeting with Todd, David Ell, Nainesh, et al. It was agreed that we would proceed as a project using a professional service request (T&M) and iStore orders for infrastructure to the end of Release 1.

At that time we would have enough information to write the Brief Note and progress with a SCO.

[2019-11-21 18:04] tosazuwa commented on #5
@jefkel @stewartshea, is this still a Sprint 0 deliverable?

[2019-11-21 19:40] tosazuwa opened #120 "Provide "approximate" drawdown bucket size for i-store order for Professional services"

[2019-11-21 19:59] tosazuwa opened #121 "Migrate Change Management package"

[2019-11-21 20:01] tosazuwa opened #122 "DXC Professional Service Agreement complete"
- [x] Professional Services agreement sent to Hosting Branch for approval

- [x] DXC to create high level SOW and send to Hosting branch

- [x] Hosting branch to approve i-store request and send to Todd for approval

- [x] i-store request approved by Todd

- [x] Hosting branch/DXC confirms PSA sent/recieved

- [x] PSA order is in effect, and the services and billing to DevOps to begin

[2019-11-21 20:06] tosazuwa opened #123 "Application/Team Migrations"

[2019-11-21 22:48] stewartshea commented on #5
I feel like this will be pushed to Sprint 1 due to time constraints this week @tosazuwa

[2019-11-22 16:46] tosazuwa commented on #5
Sounds good

[2019-11-22 16:49] tosazuwa commented on #115
Hi @Joe-Craig , i am going to move this ticket back to the backlog and we can review when ready. I will be deleting the "parked" swim lane. Any ticket/activity we want to defer can sit in the backlog till we are ready to execute. Just to avoid having multiple swim lanes that wont be used often

[2019-11-22 16:51] #1 closed, assigned to tosazuwa

[2019-11-22 17:06] tosazuwa commented on #3
![OPC 4 Roadmap.PNG](https://images.zenhubusercontent.com/5d547d685cc9f75541f33187/d2e91908-3eb0-408a-84a8-466344f4f5f3)

[2019-11-22 20:44] stewartshea commented on #114
That's a sneaky move; re: hyperthreading. ugh.

[2019-11-23 00:09] StevenBarre commented on #114
@stewartshea isn't that a good thing? All the ESXi hosts have HT enabled. So a 4 cpu worker VM only uses 2 cores of licensing, or one license unit (since each unit is for 2 cores).

[2019-11-23 00:22] stewartshea commented on #114
@sbarre-esit I think I might be reading his responses the other way around; to be honest the examples and responses above aren't very clear. For example, if you had 132 cores, you wouldn't license 132x core price, your would license half that amount since every entitlement covers 2 cores. And then the example jumps to hyperthreading and 20 or 40 cores. It's still unclear to me, but maybe I'm just

[2019-11-23 00:30] StevenBarre commented on #114
@stewartshea So looking at the 96 seats for the 12 new nodes we can do some maths. The new nodes are dual socket 8 core processors with hyper threading = 16 real cores and 32 cores visible to OS.

96/12=8 So each server is using 8 seats or 4 virtual cores to a seat.

[2019-11-23 00:52] sheaphillips opened #124 "Define/design provisioning solution for namespace/resource provisioning, user onboarding and access management"
As part of ongoing platform improvements in user experience, operability and observability, we need to implement an improved solution for handling request for resources (OCP namespace, keycloak realms, etc.) and user access management.  Currently this process is largely manual.

[2019-11-23 00:56] sheaphillips opened #125 "Summarize high level functionality for provisioning solution"
In order to help us evaluate different approaches and solutions, we need to have a concise description of the functionality that is required to solve of pain points in this area.  This activity will involve documenting that functionality.

[2019-11-23 00:59] sheaphillips opened #126 "Consult with NG Security Team to gather needs and ensure alignment on provisioing/access management"

[2019-11-23 04:58] stewartshea commented on #114
Thanks @sbarre-esit I appreciate the comment and the example. I was hoping not to rely on existing assumptions (ie. assumptions that what was purchased for the existing nodes was indeed the correct amount of entitlements).

That said, your math is correct. Validated  this up from the latest sizing and licensing guide;

Virtual machines use virtualized CPUs.

For hyperthreaded systems
- To determin

[2019-11-23 04:59] #114 closed, assigned to Joe-Craig

[2019-11-25 19:25] tosazuwa opened #127 "Design Storage Topography Physical/virtual"
Orders in this fiscal year

[2019-11-25 19:32] stewartshea opened #128 "Procure Software Entitlements for Cluster Add-Ons"
Contract amendments for the following;
- [x] Sysdig
- [x] Aporeto
- [x] Aqua
- [x] Artifactory?
- [x] Vault

[2019-11-25 19:44] StevenBarre commented on #127
Storage team would like to know the expected performance required for PROD. IOPS, MB/s, Latency, and total storage. This will help them better plan for sizing and capacity.

[2019-11-25 20:03] StevenBarre opened #129 "Determine cluster-name for each cluster"
Per [OCP 4](https://docs.openshift.com/container-platform/4.2/installing/installing_bare_metal/installing-bare-metal.html#installation-dns-user-infra_installing-bare-metal) install docs, there are a bunch of DNS records that need to exist for each cluster. They end in `<cluster_name>.<base_domain>`.

Base domain to order for our clusters: devops.gov.bc.ca
Individual cluster names:
- `cowichan`.dev

[2019-11-25 20:19] StevenBarre opened #130 "Order /26 network for Calgary Lab"

[2019-11-25 20:19] tosazuwa opened #131 "Update OpenShift 4 Infrastructure List"
https://docs.google.com/spreadsheets/d/1aRbWq3quyUZumMSkc6I12WiSq8LuTbp1IHlhZpo9kHU/edit?usp=drive_web&ouid=106502627101184943364

- [x] List Updated with host details (cores/RAM/Storage needs)
- [x] Confirm Data Centre Virtual Capacity
- [x] Confirm Data Centre Physical Capacity (for Release 2 targets)

[2019-11-25 20:21] StevenBarre opened #132 "Order /25 network for Kamloops Prod"

[2019-11-25 20:26] StevenBarre opened #133 "Order /26 storage network for Kamloops Lab"

[2019-11-25 23:45] StevenBarre opened #134 "Order /26 storage network for Calgary Lab"

[2019-11-25 23:46] StevenBarre opened #135 "Order /25 storage network for Kamloops Prod"

[2019-11-26 18:55] tosazuwa commented on #4
To confirm with @kelpisland if this artefact is needed

[2019-11-26 18:56] tosazuwa commented on #6
To confirm with @kelpisland if this artefact is needed

[2019-11-26 18:57] #3 closed, assigned to sheaphillips, stewartshea, jefkel, tosazuwa

[2019-11-26 19:47] tosazuwa opened #136 "Azure “Platform Services” cluster deployment"

[2019-11-26 19:56] jefkel commented on #131
List Updated and being reviewed by Dan/Steven

[2019-11-26 20:29] StevenBarre commented on #130
Ordered via RITM0048235. Moving to blocked waiting on the Network team to provision.

[2019-11-26 20:30] StevenBarre commented on #132
Ordered via RITM0048236. Moving to blocked waiting on the Network team to provision.

[2019-11-26 20:31] StevenBarre commented on #133
Ordered via RITM0048237. Moving to blocked waiting on the Network team to provision.

[2019-11-26 20:32] StevenBarre commented on #134
Ordered via RITM0048238. Moving to blocked waiting on the Network team to provision.

[2019-11-26 20:32] StevenBarre commented on #135
Ordered via RITM0048239. Moving to blocked waiting on the Network team to provision.

[2019-11-26 22:44] kelpisland commented on #120
Got the breakdown from Joe today. We are good to go.

[2019-11-26 22:47] #120 closed, assigned to DanDeane, Joe-Craig

[2019-11-27 15:30] DanDeane commented on #131
I have confirmed virtual capacity for release 1.

[2019-11-27 17:43] jefkel commented on #119
1 of 4 separated iStore request #s has been seen on the DXC side, still waiting for the others to appear.

[2019-11-27 18:21] #116 closed, assigned to kelpisland, lukegonis

[2019-11-27 18:33] tosazuwa commented on #24
Hi @filiy , can you add details to this ticket

[2019-11-27 18:46] tosazuwa opened #137 "Discussion on Storage Platform design"
To discuss:
What criteria do we want to use to decide if we go physical or not?
Pro and cons for either Platform based on our requirements?

Tolu to book meeting for week of Dec 2nd, 9am-10am

[2019-11-27 18:47] tosazuwa opened #138 "Provide info on details for Net App licenses purchase"
Dan to confirm what we need to order for NetAPP procurement i-store order.

[2019-11-27 18:51] StevenBarre opened #139 "Reserve Cluster and Service nets"
The OpenShift SDN requires two ranges that do not overlap with any networks a pod might route too elsewhere in the datacenter.

Each host needs a subnet big enough to give an IP to each pod. Currently kublet limits to 250 pods per host but our RH TAM suggests this may change in the future. So we'll get a /23 per host. We are very unlikely to have more than 128 nodes in a cluster so a /16 ClusterNe

[2019-11-27 18:55] stewartshea commented on #139
I'm scoping around 180 pods / host at the moment @sbarre-esit ; I'm not thinking I'd like to increase above that based on our current node size. Just an FYI.

[2019-11-27 18:58] StevenBarre commented on #139
@stewartshea ya it's unlikely we'd need more than a /24 per host, but its not something you can change after the cluster is built, so better to future proof ourselves. I don't think a /17 is that much easier to find compared to a /16 either.

[2019-11-27 18:59] StevenBarre commented on #139
Ordered via RITM0048337. Moving to blocked waiting on the Network team to provision.

[2019-11-28 18:45] tosazuwa commented on #138
@DanDeane , can you confirm what DXC specific deliverable is to enable the province to purchase the NetApp licenses? Whats the timeline on this too?

[2019-11-28 23:19] sbarre-esit commented on #119
iStore numbers
- 1002583
- 1002590
- 1002594
- 1002870

[2019-11-29 18:24] StevenBarre commented on #139
Network team advises us this is something we need to ask the Province for. @DanDeane is going to talk to David Ell about getting some reserved private ranges.

[2019-11-29 20:04] DanDeane commented on #139
Have spoken with Scott McWilliams regarding this as he is the entry way into all conversations with David from the AdvSol perspective and he is drafting and sending a note to David to get this going as we speak / type.

[2019-11-29 21:01] tosazuwa commented on #5
Closing ticket #5 as its a duplicate for #44, #55, #33

[2019-11-29 21:01] #5 closed, assigned to stewartshea, jefkel

[2019-12-02 18:54] jefkel commented on #119
Update: Service Desk is re-submitting the iStore request with 35 VMs broken into groups of 5, I will update once I have new iStore #'s to track.  (existing order for the 3 BootService VMs has gone through)

[2019-12-02 18:57] tosazuwa commented on #47
Waiting on estimates from @DanDeane before the i-store order can be placed

[2019-12-02 19:00] DanDeane commented on #47
We had a meeting this morning regarding this.  What further estimates are needed here?  We know how much storage is required.  I will follow up on what paper work would be required for these to move ahead.  @Joe-Craig may have that as he helped with the cluster for the existing 3.11 lab.  @Joe-Craig ?

[2019-12-02 19:46] Joe-Craig commented on #47
@tosazuwa  @DanDeane: Are we still looking at 1 HA pair with 2Tb available storage?
If so the SCO for the last ones was "SCO-PROV-156 Amend SCO-PROV-152" so you should just be able to order the same again.

[2019-12-02 19:54] tosazuwa commented on #47
@lukegonis , is this sufficient info?

[2019-12-02 21:41] jefkel commented on #119
Updated iStore orders for tracking, and moved to blocked - pending orders confirmed in DXC system.

Orders confirmed through to DXC order system:
- [x] 1002870 - REQ0040749 3 x bootservice VMs (1 CORE, 6GB RAM, 50GB storage)
- [x] 1004120
- [x] 1004122
- [x] 1004123
- [x] 1004127
- [x] 1004132
- [x] 1004136
- [x] 1004138
- [x] 1004141
- [x] 1004143 - REQ0041280 3 x NetApp nodes

[2019-12-02 22:08] jefkel commented on #137
Meeting completed with following outcomes:
- Expected that Capital Cost budget will be available and preferred over ongoing operational costs for the design of the solution.
- Agreed to maintain and report on the performance of the 3.11 Virtual NetApp as additional load is added. The performance metrics of the back end to be reported by DXC as requested.
- On demand performance tests by Wade to he

[2019-12-03 00:14] tosazuwa commented on #128
Had a conversation with @lukegonis . We will be speaking with someone in Finance/Procurement in the next few weeks, for the contracts modification process

[2019-12-03 00:15] jefkel commented on #47
For clarity's sake, @Joe-Craig @DanDeane can you confirm that luke can proceed with ordering:

**3 x "SCO-PROV-156 Amend SCO-PROV-152"**

This covers ONLY the OnTap licenses for the Release 1 implementation (see cluster worksheets for sizing detail), and the Virtual Machines and SAN storage is part of another iStore request.

[2019-12-03 18:51] tosazuwa commented on #47
@DanDeane @Joe-Craig Please update ticket

[2019-12-03 19:10] DanDeane commented on #58
assigning over to Joe.

[2019-12-03 19:15] DanDeane commented on #139
Blocked by network team for production network segments.  ETA 2 - 3 weeks.  I will be escalating today.
Good to go lab network segments in Kamloops only.

[2019-12-03 19:18] StevenBarre commented on #130
142.34.113.0/26 vlan 1282

[2019-12-03 19:18] #130 closed, assigned to StevenBarre

[2019-12-03 19:18] StevenBarre commented on #134
192.168.100.0/26 vlan 3026
Waiting on DXC to add it to the switches

[2019-12-03 19:46] StevenBarre commented on #133
192.168.102.128/26 Vlan 3032
Waiting on DXC to add it to the switches

[2019-12-03 19:46] StevenBarre commented on #135
192.168.102.0/25 Vlan 3031
Waiting on DXC to add it to the switches

[2019-12-03 19:57] tosazuwa commented on #137
Hi @jefkel , can we call this done? Thanks for capturing the notes

[2019-12-04 18:23] filiy commented on #24
Details are above in check-list form.

Just adding in some files to the repo today

[2019-12-04 19:34] sheaphillips commented on #125
A set of functionality was summarized and provided and circulated to determine if there is an existing corporately-offered service that would be suitable. In the meantime, work will focus on investigation of other commercially available solutions.

[2019-12-04 22:21] tosazuwa opened #140 "DXC/Network Team to setup networks"
DXC/Network teams to set up all the networks.

- [x]  subnets  to be configured in the infrastructure (switches, FW’s, F5 etc)

- [x]  vlans added to the trunks

- [ ]

- [ ]

- [ ]

- [ ]

[2019-12-04 22:26] tosazuwa commented on #138
Duplicate of #47

[2019-12-04 22:26] #138 closed, assigned to Joe-Craig

[2019-12-04 23:54] Joe-Craig commented on #47
I am talking with our finance department about whether this is a new SCO or we can use the existing.
@jefkel As we have not finalized whether production is going to be physical or virtual are we still going to go ahead and order a third ONTAP setup for production at this time?

[2019-12-04 23:56] Joe-Craig commented on #47
@jefkel Looks like a new SCO needs to be done for this request. I will keep you posted.

[2019-12-05 17:04] tosazuwa commented on #116
Hi @kelpisland , @lukegonis ,do we have an i-store for this pls?

[2019-12-05 17:27] jefkel commented on #47
@Joe-Craig after the standup yesterday, I believe we were waiting to hear options from DXC on how best to proceed and still meet the project targets.

[2019-12-05 17:42] Joe-Craig commented on #47
@jefkel  I am working with finance to expedite the SCO. Will talk with the storage team about possibly using a temp license to bridge the gap.

[2019-12-05 18:49] kelpisland commented on #140
@DanDeane and I had a good conversation, internal escalation is underway. We should have an update on timing by EOD Friday

[2019-12-05 18:49] tosazuwa commented on #116
i-store order now recieved by @Joe-Craig . I-store #1003935

[2019-12-08 19:27] filiy commented on #24
Azure readme file has been updated:
https://github.com/BCDevOps/OpenShift4-RollOut/blob/openshift4-azure/openshift4-azure/openshit4-azure-readme.md

Waiting on:
Dan - DNS subdomain delegation
Pull Secret - I'll grab this from Todd or Gov team
SP Account - I don't have permissions to create SP. Will need to track down Azure AD gov admin to create.

[2019-12-08 23:32] StevenBarre commented on #24
@filiy I can get you a pull secret

[2019-12-09 17:17] kelpisland commented on #47
Based on the outage we suffered this weekend regarding CNS we need to accelerate the rollout of NetApp. Short term is to increase Virtual to 20tb and start migration immediately. Then procure physical ASAP.

Let’s treat storage as a separate concern outside of the platform service agreement to avoid unnecessary dependencies. @DanDeane  @Joe-Craig

[2019-12-09 17:20] tosazuwa commented on #140
@DanDeane, pkease update ticket based on Fridays conversation with @kelpisland

[2019-12-09 18:09] jefkel commented on #131
@DanDeane are you able to confirm physical space available based on the release 2 worksheet?

[2019-12-09 18:23] jefkel commented on #137
With the update from the last storage review, it looks like we are going to go ahead with both the netapp Virtual orders (to be in place by early January as storage team is short-staffed for the rest of the month) as well as the physical netapp orders ready to go by the first week of January.  The timeline will be extremely tight between a decision re: physical vs virtual and needing to get any or

[2019-12-09 18:26] #137 closed, assigned to jefkel, StevenBarre, DanDeane, Joe-Craig, tosazuwa

[2019-12-09 18:35] jefkel commented on #119
@sbarre-esit could you confirm whether the orders/quantities of vms in the last round of iStore requests matches the release 1 spreadsheet?

[2019-12-09 18:36] jefkel commented on #45
Pending confirmation of VMs from @sbarre-esit

[2019-12-09 20:15] jefkel commented on #56
Pending confirmation of VMs from @sbarre-esit

[2019-12-09 22:04] DanDeane commented on #131
yes @jefkel , @sbarre-esit and I met with our datacenter team on Friday and they have confirmed that there should be no issues for HW.

[2019-12-09 23:10] #131 closed, assigned to jefkel, DanDeane

[2019-12-10 00:04] lukegonis commented on #34
Order drafted, sharing with SB to make sure we have all the correct information, will submit after review.

[2019-12-10 16:16] DanDeane commented on #140
escalation complete with an ETA at the end of the this week [2019-12-13].  I will be following up today to ensure that the network team is on track.  I will provide updates once I have followed up with them.

[2019-12-10 17:06] kelpisland commented on #140
Thanks @DanDeane - that’s good news!

[2019-12-10 17:17] tosazuwa commented on #140
Thanks @DanDeane . You rock!

[2019-12-10 18:31] #119 closed, assigned to jefkel, lukegonis, DanDeane, tosazuwa

[2019-12-10 20:49] filiy commented on #24
Got the pull secret from Steve! Thanks!
Dan also got the DNS record updated!

[code]

Just need to get the SP account created now

[2019-12-10 23:44] #129 closed, assigned to jefkel

[2019-12-11 00:33] jefkel commented on #127
High level targets for the Cluster storage solution:

Cluster provisioned storage is designed for a mixed workload with the expectation of high performance.  The idea is to provide SSD level performance for a wide variety of workload types.

Storage Sizing expectations are to be consuming ~30-40 TB within the first year.  Planned growth of the cluster will approximately double that capacity.

[2019-12-11 00:39] jefkel commented on #127
For specific performance from an IPS/MB/s, Latency we can look at the current CNS provided storage and use the performance numbers for IOPS, MB/s, Latency as a starting point.

[2019-12-11 17:37] tosazuwa commented on #45
@sbarre-esit , could you confirm these orders please?

[2019-12-11 18:42] tosazuwa commented on #139
@DanDeane  to meet with David Ell to discuss reserved private IP ranges

[2019-12-11 19:07] tosazuwa opened #141 "Proactive monitoring of netapp Virtuals (tools in place as well as new tools from netapp)"
Confirm and test netapp monitoring and escalation processes before going Live

- [ ] tools: existing and new netapp specific tools
- [ ] roles: DXC has control, will need to present data as it's not exposed to other teams
- [x] storage team monitors netapp (bruce/jody/etc), and that includes the VM appliance monitoring. (ESX team is monitoring the esx hosts for issues.)
- [ ] alerts platform team

[2019-12-11 19:12] tosazuwa commented on #127
@DanDeane  to follow up with Storage team and providing some comments this afternoon

fyi!:
 * Order netapp licenses in larger chunks (10/20/40 TB quarterly) and then order SAN in smaller chunks as needed to keep monthly costs down.
* Is there a rebate plan for when we switch to physical? (Jim knudson? (netapp sales rep)

[2019-12-11 19:19] tosazuwa opened #142 "Virtual to Physical conversation: Go/No Go decision timeframe for physicals"
•	iops on SAN
•	Load on netapp vms (network/cpu/etc)
•	NICS on hosts
•	Understand upstream network impacts (netapp physicals are all IP network and will impact data network saturation)
•	What are the best price→ size options?
•	Concluded that early Jan is go-nogo decision timeframe for physicals or not going to happen in time for rollout.
•	Leaning toward Physical NetApps as sizing expectations to

[2019-12-11 21:28] DanDeane commented on #139
Correction here....Scott and Paul from our architecture and engineering group are talking with David Ell and Charles Middleton regarding these subnets.  No update today on their progress.

[2019-12-11 23:50] StevenBarre opened #143 "Order load balacers for Calgary Lab"

[2019-12-11 23:54] StevenBarre opened #144 "Order load balacers for Kamloops Prod"

[2019-12-11 23:56] StevenBarre opened #145 "Order firewall rules for Calgary Lab"
Following the directions at https://github.com/bcgov-c/advsol-docs/blob/ocp-4-docs/OCP-4-Install.md#order-firewall-rules submit an order for firewall rules and confirm they are working.

[2019-12-11 23:58] StevenBarre opened #146 "Order firewall rules for Kamloops Prod"
Following the directions at https://github.com/bcgov-c/advsol-docs/blob/ocp-4-docs/OCP-4-Install.md#order-firewall-rules submit an order for firewall rules and confirm they are working.

[2019-12-12 00:17] StevenBarre commented on #34
@Joe-Craig has forwarded the info over to our Finance/Procurement team to get the ball rolling on our end while this works though the gov side of iStore.

[2019-12-12 00:29] StevenBarre commented on #127
While standard RH Gluster Server does have a way to do some [monitoring](https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.5/html-single/monitoring_guide/index) it isn't implemented in CNS. So I don't have a good way to get current IOPS, MB/s, Latency.

I've made a rough estimate based on `iostat` that the average MB/s is 12 with a peak of around 100. But I don't have a good

[2019-12-12 17:12] jefkel commented on #45
VMs confirmed, just holding ticket open until network provisioning is completed (to be able to begin the provision tasks)

[2019-12-12 17:13] jefkel commented on #56
VMs confirmed, just holding ticket open until network provisioning is completed (to be able to begin the provision tasks)

[2019-12-12 17:51] jefkel commented on #34
VMs for Step 1 have been ordered and are only waiting for provision-able networks for that checkbox to be complete.

Holding on order for temporary SAN storage for existing physicals until we have a better idea of when we can actually build the cluster.

Holding on order for physical NetApp until go/no-go decision early Jan, but expect to have SCO ready to submit by the beginning of Jan.

[2019-12-12 18:03] filiy commented on #24
SP Account created with Todd's help.

Waiting to get permissions enabled for the SP as Todd does not have access to this.

[2019-12-12 23:25] StevenBarre commented on #45
Progress!
![image.png](https://images.zenhubusercontent.com/5d544a7a5faedc627998cd85/94a066de-7f75-45be-b0f5-9a997046b719)

[2019-12-16 18:48] jefkel opened #147 "Installation of tools infrastructure hosts"
Installation of the 3 boot service hosts

- [x] Kamloops Lab Boot service host
- [x] Calgary Lab boot service host
- [x] Kamloops Prod Boot service host

@sbarre-esit will be creating playbooks and roles to set up `httpd`, `tftpd`, and `dhcpd` on the servers as well as generate the correct CoreOS ignition files to build the cluster.

TODO:
- [x] Figure out DHCP advertising of routes
- [x] Add iSCS

[2019-12-16 18:55] jefkel opened #148 "Deploy F5 in Kamloops Lab"
initial deployment and configuration of the F5 in Kamloops Lab

[2019-12-16 19:10] jefkel commented on #47
Blocked (vacations)

[2019-12-16 19:12] jefkel commented on #58
Blocked (vacations)

[2019-12-16 19:13] jefkel commented on #36
Blocked (vacations)

[2019-12-17 18:33] jefkel commented on #34
Confirmation that the order for 15 hosts has been submitted and confirmed in iStore (1007227)

[2019-12-20 16:16] filiy commented on #24
- Updates to Azure set up, a new RG has been set up and SP is created. Waiting for internet access in Azure to get sorted

- I need to look into the https cert and see if the Azure LB will support it, or I can load it on the nodes
- Look into infrastructure nodes if needed or just master and worker nodes?

[2019-12-23 19:37] StevenBarre commented on #34
Sigh, the iStore that came through on our end was only for 1 server. @lukegonis will need to re-submit for the other 14.

[2020-01-02 22:05] jefkel commented on #127
Can this ticket be closed/completed? @Joe-Craig @sbarre-esit

[2020-01-02 22:08] jefkel commented on #34
@lukegonis has re-submitted the iStore order and brought in the same people that helped with the VM orders to assist.

[2020-01-03 18:28] DanDeane commented on #148
blocked waiting on DXC/AT&T network team.  they have not extended the required vlan all the way to our hosts.  It is on the network core...so that is a start.

[2020-01-03 18:30] DanDeane commented on #46
have required software and test licensing....for the lab env.  no purchase has been done yet, as we need to figure out what is required in the end eg.....use the existing F5 gear or buy virtuals....this will be determined once we have finished the PoC in the lab.

[2020-01-03 18:30] DanDeane commented on #57
have required software and test licensing....for the lab env. no purchase has been done yet, as we need to figure out what is required in the end eg.....use the existing F5 gear or buy virtuals....this will be determined once we have finished the PoC in the lab.

[2020-01-03 18:30] DanDeane commented on #22
completed by AT&T.

[2020-01-03 18:30] #22 closed, assigned to DanDeane

[2020-01-03 18:31] DanDeane commented on #140
escalated and asked for an update this morning.

[2020-01-03 18:32] DanDeane commented on #147
vm's deployed....over to Steven to configure.

[2020-01-03 19:41] StevenBarre commented on #127
@jefkel I'm not sure? What is our Definition of Done here? I think we're still waiting on a decision on physical vs virtual for the prod clusters?

I think that decision is waiting on quotes from our Storage team, and then David Ell to see the cost difference of physical to virtual.

[2020-01-06 17:30] StevenBarre commented on #139
Paul followed up with David Ell on Friday, no reply yet.

[2020-01-06 17:34] tosazuwa commented on #46
Hi @DanDeane , can we get a specific timeline for when this PoC will be completed in the Lab so a decision can  be made? Is there anything you require from us to help this move along quicker?

[2020-01-06 18:05] jefkel commented on #97
- Each cluster will have it's own DNS
- Applications that need to span multiple clusters will need to have their own vanity DNS (and certificates) that points to the BigIP loadbalancer, and that will direct the traffic to the active cluster.

Initial documentation can be found here: https://github.com/BCDevOps/OpenShift4-RollOut/blob/master/docs/design/dns-design.md

[2020-01-06 20:54] StevenBarre commented on #143
Network team says ETA 2 weeks (Jan 17th)

[2020-01-06 20:54] StevenBarre commented on #144
Network team says ETA 2 weeks (Jan 17th)

[2020-01-06 22:45] Joe-Craig commented on #127
ROM pricing for both physical and virtual have been supplied. David has questions regarding what upstream impacts have been considered.

New action on @Joe-Craig and @Scott-McWilliams to review the current data center infrastructure and suggest upgrades to move it towards the 40/100 model.

[2020-01-07 18:44] StevenBarre commented on #142
@kelpisland @jefkel this was decided as physical correct?

[2020-01-07 18:44] Joe-Craig commented on #47
SCO-188 Amend SCO-156 NetApps ONTAP Storage - Complete and sent to the contract office.

[2020-01-07 18:46] Joe-Craig commented on #58
SCO-188 Amend SCO-156 NetApps ONTAP Storage - Complete and sent to the contract office.

[2020-01-07 18:48] Joe-Craig commented on #47
Assign to Tolu to chase down with contract office..

[2020-01-07 18:51] Joe-Craig commented on #36
ROM pricing sent to client for approval and decision on whether to use physical or virtual.
Client has responded that Physical is the preferred choice.

Move to building an SCO for the physical solution.

[2020-01-07 18:53] Joe-Craig commented on #142
ROM pricing sent to clients.

[2020-01-07 18:54] Joe-Craig commented on #142
Todd has indicated that the preferred route is to use physical NetApps for the production environments.

[2020-01-07 18:54] #142 closed, assigned to kelpisland

[2020-01-07 19:09] jefkel commented on #34
Confirmation from serviceDesk of 3 more iStore #'s to track:
1009749
1009751
1009754

[2020-01-07 21:11] StevenBarre commented on #140
Re: Prod and storage vlans #132 #133 #134 #135 from network team

[2020-01-07 23:13] tosazuwa commented on #47
I am currently following up with Leanne Howes (Hosting Services) to figure out who needs to sign the contract

[2020-01-08 17:31] StevenBarre commented on #144
Target implementation date is Jan 16 to 21

[2020-01-08 17:31] StevenBarre commented on #143
Target implementation date is Jan 16 to 21

[2020-01-09 18:20] Joe-Craig commented on #47
David Ell has asked questions about the quantities in the SCO. I have supplied answers and I believe that addresses David's issues.

[2020-01-09 18:22] tosazuwa commented on #24
network blocker for Azure is removed - phil.arctiq should be good to go. If he needs help from hosting branch Jonathan McCaig <Jon.McCaig@gov.bc.ca> is the contact

[2020-01-09 18:23] Joe-Craig commented on #36
Met with the storage team yesterday to confirm that we are moving ahead with a full quote/SCO for the physical solution. They will speak to NetApp and get updated quotes.

We are deciding on where any costs for upgrading the network bandwidth should fall, either this SCO or the second request from David Ell for future proofing the data center network.

[2020-01-09 18:34] tosazuwa commented on #47
Also, the SCO-188 Amend SCO-156 NetApps ONTAP Storage from DXC with the contract Office, should be cleared in 2 days (estimating Monday Jan 13th)

[2020-01-09 19:21] StevenBarre commented on #145
Ordered via RITM0052007

[2020-01-09 19:21] StevenBarre commented on #146
Ordered via RITM0052008

[2020-01-09 19:38] StevenBarre commented on #56
Most of the VMs are created.
![image.png](https://images.zenhubusercontent.com/5d544a7a5faedc627998cd85/f54a78ce-d3f7-4bde-afac-a995491d4361)

[2020-01-10 20:32] tosazuwa commented on #46
Hi @DanDeane , can you add the latest update to this ticket please?

[2020-01-10 20:43] tosazuwa commented on #140
@sbarre-esit , can you add a bit more detail to the description above and add your specific tasks to this ticket? I have added a task list. This will help with trackability. I took a first stab at it

[2020-01-10 20:57] StevenBarre commented on #46
The needed vlans for the F5 Virtual were added to ESX hosts today. So Dan should be able to stand up the virtuals next week and let ATT start working on them.

Once we get the klab ocp cluster up and running we can start experimenting with connecting ocp to the F5.

[2020-01-10 21:17] tosazuwa opened #150 "OCP 3.11 Patching cycle vs. OCP 4 Migration Cycle"

[2020-01-10 23:53] tosazuwa commented on #139
Emailed David Ell today. He confirmed his team has submitted an iStore order to Charles’s team for the private IPs, and it’s making it through the process.  Should be done soon.

[2020-01-11 01:32] jefkel commented on #34
Luke has updated the iStore orders with the required paperwork, and they should be showing up on the DXC side soon.

[2020-01-12 17:13] jefkel commented on #34
@sbarre-esit is chasing the additional storage order for the existing 8 hosts.  The iStore order is blocked as the iStore team is unable to attach the order to the appropriate assets

[2020-01-13 16:42] filiy commented on #24
More testing has been completed. Due to Azure being locked down there are some issues with the ocp4 installer. Email sent to Jon.McCaig.:

Also there seems to be an issue with the SP account. Will need to test some more.

`[phil@c3po ~]$ az login --service-principal --username b819d41f-b8f7-44a9-9837-3e562bccd7d  --password XXXX --tenant 6fdb5200-3d0d-4a8a-b036-d3685e359adc
Get Token request retur

[2020-01-13 21:38] tosazuwa opened #151 "Order 2 physical NetApp appliances for production clusters in Kamloops and Calgary"
- [ ]

- [ ]

- [ ]

- [ ]

[2020-01-13 22:28] StevenBarre commented on #151
See also #36

[2020-01-13 23:12] filiy commented on #24
I'm able to successful deploy and configure OCP 4 on Azure in the `DevOps Platform Services` subscription. Still haven't heard back from Jon about the other subscription.

Tested the Azure File storage class options and documented. Updated readme & arch docs pushed.

Destroying cluster for today.

[2020-01-13 23:22] tosazuwa commented on #128
Hi Team. Can we add updates to the ticket please?

[2020-01-13 23:29] stewartshea commented on #128
No final numbers yet. This is in progress. Waiting on some detail from @jefkel before we can provide some quotes to move forward with contract amendments

[2020-01-15 16:56] filiy commented on #24
I would say this is unblocked. I've been able to deploy/destroy the cluster twice now in Azure. The OG RG Todd set up is working. Still waiting to hear back from Jon about the RG he set up.

I will keep using the working RG for now to test.

Working on post cluster config now for adding in infra machine set and moving "infa" objects onto the new cluster.

https://docs.openshift.com/container-platf

[2020-01-16 04:53] Joe-Craig commented on #47
Still waiting for the sign off of " SCO-188 Amend SCO-156 NetApps ONTAP Storage"

[2020-01-16 04:53] Joe-Craig commented on #58
Still waiting for " SCO-188 Amend SCO-156 NetApps ONTAP Storage" to be signed off

[2020-01-16 17:29] stewartshea commented on #128
Numbers are confirmed and requests are put out for pricing.

[2020-01-20 15:58] DanDeane commented on #148
Initial F5 cluster configuration completed by AT&T.  Ready for testing.

[2020-01-20 15:59] #148 closed, assigned to DanDeane

[2020-01-20 16:19] DanDeane commented on #46
deployment of F5 gear for the lab in kamloops is complete.  We now need to finish coming up with test plans and timelines for getting to end of job.

[2020-01-20 16:19] DanDeane commented on #140
all storage networks provided and added to the clusters.
Ready for Steven to begin building and for the additional NetApp clusters to be deployed.

[2020-01-20 18:32] tosazuwa commented on #46
@DanDeane , for the test plans for the F5 gear deployment for Kamloops Lab
 , is that an activity for this ticket or we create another ticket to track? And how long will this activity take? I would need timelines please

[2020-01-20 19:17] DanDeane commented on #46
@tosazuwa - lets get a new card going for testing as it will help us clearly document the test cases and results.  I think we would need a few days to test [ 3 ].

[2020-01-20 20:02] tosazuwa opened #152 "Testing of F5 components for Kamloops Lab"
- [ ] Create Test Plans

[2020-01-20 20:18] tosazuwa commented on #122
The Professional Services order is being expedited. The contracts team will confirm the availability of the professional services resources no later than end of day Monday Jan 20th

[2020-01-20 20:24] tosazuwa opened #153 "Testinfg of F5 components for Kamloops Lab"
- [ ] Create Test Plans

[2020-01-20 20:43] Joe-Craig commented on #122
@tosazuwa Could you clarify, Is that the DXC contracts team or the Provinces one? Not sure what the comment about availability of resources relates to. Thanks

[2020-01-20 20:47] Joe-Craig commented on #47
Provinces contract office have returned the SCO requesting changes which will need to be approved and re-issued. Still unable to move to procurement.

[2020-01-20 20:48] Joe-Craig commented on #58
Provinces contract office have returned the SCO requesting changes which will need to be approved and re-issued. Still unable to move to procurement.

[2020-01-21 00:14] #153 closed, assigned to DanDeane

[2020-01-21 15:53] filiy commented on #25
Work has been started. Terraform local-exec calling the openshift installer doesn't work well (terraform calling terraform). May need to use a ansible as the wrapper.

Post-install config started with terraform. Using local exec and `oc` commands for now. Will need to add storage account creation for the file SC.

[2020-01-21 15:54] filiy commented on #77
This has been started but not fully finalized.

[2020-01-21 15:55] filiy commented on #136
Inital cluster deployments are done. Still back/forth on final location of rg and settings.

[2020-01-21 16:00] filiy commented on #77
Sounds like we need to go through a proxy. Not sure if this will work with azure. GCP instructions are here. need to test.
https://docs.openshift.com/container-platform/4.2/installing/installing_gcp/installing-gcp-user-infra.html

[2020-01-21 17:39] jefkel commented on #153
Duplicate of #46

[2020-01-21 17:41] StevenBarre commented on #147
Making progress on an ansible playbook to install and configure HTTPD, TFTPD, DHCPD, and generate the Ignition files for the cluster.

[2020-01-21 17:50] StevenBarre commented on #45
Storage vlan completed

[2020-01-21 17:50] #45 closed, assigned to jefkel, StevenBarre

[2020-01-21 17:51] StevenBarre commented on #56
Storage vlan completed

[2020-01-21 17:51] #56 closed, assigned to jefkel, StevenBarre

[2020-01-21 18:08] StevenBarre commented on #143
Load balancers created!

[2020-01-21 18:08] #143 closed, assigned to StevenBarre

[2020-01-21 18:08] StevenBarre commented on #144
Load balancers created!

[2020-01-21 18:08] #144 closed, assigned to StevenBarre

[2020-01-21 18:08] StevenBarre commented on #145
Firewall rules implemented!

[2020-01-21 18:08] #145 closed, assigned to StevenBarre

[2020-01-21 18:09] StevenBarre commented on #146
Firewall rules implemented!

[2020-01-21 18:09] #146 closed, assigned to StevenBarre

[2020-01-21 18:29] stewartshea commented on #128
I have pricing for Sysdig, Artifactory, and most of the Vault pieces; waiting on the others.

[2020-01-21 18:47] jefkel commented on #50
Removed block of ordering licenses as these tasks can be done using the trial licenses, with the expectation that we will destroy/re-deploy once we have appropriate licenses.

[2020-01-21 18:57] jefkel commented on #34
Looks like SSDs for existing 8 hosts will be included in the 15 physical host purchase, pending confirmation from DXC when SCO is finalized.

[2020-01-21 19:06] jefkel commented on #34
@Joe-Craig I've added you in the hopes that you can provide some clarity with regard to the ordering process and any additional items we need to track.

Specifically tasks and status updates for the following:
Order of 15 additional hosts (see above for iStore orders) - iStore submitted, what comes next? what should we track?)
Order of internal SSDs for 8 existing physical hosts - Cannot submit iS

[2020-01-21 19:08] jefkel commented on #61
Removed blocker as expectation is to deploy using Trial licenses and destroy/re-deploy once permanent licenses are available.

[2020-01-21 19:08] #134 closed, assigned to StevenBarre

[2020-01-21 19:08] StevenBarre commented on #134
Completed!

[2020-01-21 19:16] jefkel opened #154 "Configure Temporary NetApp Virtuals for Kamloops Prod"
With a physical NetApps to be purchased/delivered, we expect a delay for the physical hardware to arrive.  Virtual NetApp appliances are to be used until we can re-build the prod storage using the physicals.  (VM's and storage have been delivered and are waiting for provisioning)

- [x] Establish Cluster Name - MCS-VKPROD-NETAPP
- [x] Order gear under #36
- [x] Plan network design
- [x] Reserve IP

[2020-01-21 19:27] jefkel commented on #36
@Joe-Craig
Are we tracking multiple tickets for ordering NetApp Physicals? (ie: one for Kamloops Prod, and one for Calgary DR?) or are we ordering/tracking both with a single SCO/order?

[2020-01-21 19:47] StevenBarre commented on #135
Completed

[2020-01-21 19:47] #135 closed, assigned to StevenBarre

[2020-01-21 19:48] #133 closed, assigned to StevenBarre

[2020-01-21 19:48] StevenBarre commented on #133
Completed

[2020-01-22 01:36] Joe-Craig commented on #151
Pricing is now complete and we can move on to generating the SCO. Need to discuss with David Ell whether the network upgrades he wants should be put into the SCO or a separate one.

[2020-01-22 01:44] Joe-Craig commented on #34
@jefkel  I will try and elaborate on where we are with these orders...

- 15 additional hosts: As these are not standard specification machines they have to be ordered on an SCO not just through iStore. We are getting quotes from our vendor on these machines and when they come in our finance will put together a pricing. This is then put into an SCO (Service Offering) which goes to OCIO to be appro

[2020-01-22 01:45] Joe-Craig commented on #47
I believe this went back out to the Provinces contract office today, @tosazuwa can you follow up?

[2020-01-22 01:45] Joe-Craig commented on #122
@tosazuwa  Any update on this?

[2020-01-22 17:49] jefkel commented on #34
Thanks @Joe-Craig , Do we have an ETA for having the SCO's above sent in for approval?

[2020-01-22 17:57] jefkel commented on #97
Initial documentation has been reviewed, and is expected to be updated as we build the environments.

Closing.

[2020-01-22 17:57] #97 closed, assigned to jefkel

[2020-01-22 17:58] #44 closed, assigned to jefkel

[2020-01-22 17:58] jefkel commented on #44
Initial documentation completed, updates expected during buildout of environments.
Closing.

[2020-01-22 17:59] jefkel commented on #55
Initial Architecture completed, updates expected as environment is built.
Closed.

[2020-01-22 17:59] #55 closed, assigned to jefkel

[2020-01-22 18:00] jefkel commented on #33
Initial Architecture complete, updates expected as we build and make additional decisions.
Closed.

[2020-01-22 23:38] tosazuwa opened #155 "NetBackup StorageClass Implementation"
Implement NetApp and Netbackup Integrated storageClass for the cluster

- [x] Deploy test implementation in Labs
- [x] Determine physical storage commitment in production NetApp as per Steven's comment below (15%? 20%?)
- [x] Initial documentation for "How to Request a Restore"

[2020-01-27 17:46] StevenBarre commented on #139
Network ranges received!

[2020-01-27 17:46] #139 closed, assigned to StevenBarre, DanDeane, Joe-Craig, tosazuwa

[2020-01-27 17:58] StevenBarre commented on #132
Completed

[2020-01-27 17:58] #132 closed, assigned to StevenBarre

[2020-01-27 18:57] jefkel opened #156 "Physical Server count change"
Todd mentioned that he is looking at adding additional servers to the physical server order (currently 15 hosts)

- [x] Todd to confirm final count of hosts
- [x] Update iStore request with new count of hosts
- [x] Additional TOR switches *may* be part of this?

Needs to be finalized ASAP to get order in before end of fiscal.

[2020-01-27 18:59] StevenBarre opened #157 "Validate all new provisioned networks"
Set up a pair of VMs, ping one from the other on each interface, move one of the VMs around to all the ESX hosts to ensure its working.

- [x] KLAB
- [x] CLAB
- [x] KPROD
- Confirm KPROD prod subnet is the full /25 by pinging from a low IP to a high one.

[2020-01-27 19:08] jefkel opened #158 "Confirm SDN Compartment Go/No Go"
With a re-deploy required to move from the DMZ to the SDN Compartment, we need an availability date to plan toward.

Definition of done:
- [x] A confirmed availability date of the SDN Compartment

- [x] Designs handed to DXC from Hosting branch

- [x] Plans added for the re-deploy of the clusters with dates attached.

[2020-01-27 19:12] #140 closed, assigned to kelpisland, DanDeane

[2020-01-27 19:14] #127 closed, assigned to jefkel, Joe-Craig

[2020-01-27 19:20] Joe-Craig opened #159 "Scope Out Service Description for OCP4"
Build a shell outline of the services that will be available going forward for the OCP 4.
These services should form the core of the SCO that will be drawn up by Advanced Solutions, once the SCO is complete and signed off the services described can then be iStored ordered by the client.

High level:
-  [x] Adding a new cluster (Virtual, Physical)
- [x]  Adding a new worker node to the cluster (Non

[2020-01-27 19:21] tosazuwa opened #160 "Assess impact of OCIO network improvements request"
- [x]  Decision from Todd re physical servers and network topology for NetApps and improvements to TOR (Top Of Rack) switches

- [ ] SCO/procurement of any outstanding items

[2020-01-27 19:25] DanDeane commented on #157
klab and kprod are working.

[2020-01-27 19:26] #24 closed, assigned to filiy

[2020-01-27 19:37] tosazuwa commented on #158
Email sent to David Ell regarding cloud zone availability

[2020-01-27 20:48] DanDeane commented on #157
clab network confirmed as working across all hosts in the cluster.

[2020-01-27 20:48] #157 closed, assigned to StevenBarre, DanDeane

[2020-01-27 22:22] tosazuwa opened #161 "Create OCP4 Migration/Communication Plan"
- [x] Create OCP 4 Communications repository
https://github.com/BCDevOps/OpenShift4-Migration  for the early access migration lesson learned and pro tips documentation
https://docs.pathfinder.gov.bc.ca -> Protected Space -> OCP 4 Build Out for the OCP 4 Platform technical information
https://status.developer.gov.bc.ca/ for OCP 4 project milestones and roadmap progress communication

- [x] Create i

[2020-01-27 22:32] tosazuwa opened #162 "Create OCP 4 Migration Guide"
**Goal**
Create a set of resources for developer teams to leverage when planning an application migration to OCP4

**Outcomes**
- [x] OCP 4 migration workshop
- [x] Migration Checklist Template
- [x] post it/make available
- [x] 'how to contribute' guide

1. Domain Migration

 *Migrating Vanity Domains*
When migrating to OCP4 you will be moving clusters and will need a plan to migrate your vanity

[2020-01-27 22:49] tosazuwa commented on #161
- [ ]  Create OCP 4 Landing page

- [ ]

[2020-01-28 17:10] filiy commented on #26
We have a test Azure subscription that is more open that we are using to test Azure deployments `DevOps Platform Services`.

There is also another subscription and RG that is more locked down that sounds like will be the final install place. Permissions are still being sorted out for this.

[2020-01-28 17:10] filiy commented on #26
Azure keyvault seems to be working well for storing cluster related creds.

[2020-01-28 17:11] filiy commented on #26
Need to test OCP 4.3 installer in Azure to see if it is more flexible that 4.2 installer.

[2020-01-28 17:32] tosazuwa commented on #158
Heard back from David Ell. He has met with his team yesterday (Jan 27) and they are still in the initial design phases.  He states that they wouldn’t expect the Cloud Zone to be available until late Spring/early Summer.

We will need to adjust the OCP 4 Road map and discuss impact/work arounds, etc@kelpisland

[2020-01-29 18:13] tosazuwa commented on #158
Meeting scheduled with @kelpisland & David Ell for Friday Jan 31 with Hosting Branch, to discuss Cloud zone availability and timelines

[2020-01-29 19:52] tosazuwa commented on #156
Meeting scheduled for Friday Jan 31st with David Ell to finalize final numbers for hosts

[2020-01-29 20:08] tosazuwa commented on #50
Virtual Servers and SAN for the KLAB and CLAB storage now moving forward. NetApp Virtuals to be deployed in LAB (Calgary & Kamloops) and handed off to the Storage team by Feb 7th 2020

[2020-01-29 20:09] tosazuwa commented on #50
@sbarre-esit @DanDeane , can you check off any of the activities listed above?

[2020-01-29 20:10] tosazuwa commented on #61
Virtual Servers and SAN for the KLAB and CLAB storage now moving forward. NetApp Virtuals to be deployed in LAB and handed off to the Storage team by Feb 7th 2020

@sbarre-esit @DanDeane , can we check off activities (list above) as we complete them please?

[2020-01-29 20:12] tosazuwa commented on #47
SCO 188 for the ONTAP Select licenses is now signed off and Bruce (DXC) is taking it to procurement. @Joe-Craig, please provide ETA for delivery

[2020-01-29 20:13] tosazuwa commented on #58
SCO 188 for the ONTAP Select licenses is now signed off and Bruce (DXC) is taking it to procurement. @Joe-Craig, please provide ETA for delivery

[2020-01-29 20:16] tosazuwa commented on #36
ONTAP Physical Storage Solution has been priced and the SCO is being drawn up by DXC – Over to Province by EOD Friday Jan 31st.

[2020-01-29 20:23] tosazuwa commented on #34
SSD drives are priced and waiting to go onto an SCO. This SCO will also contain the 15 KPROD physical servers, which we are waiting on pricing. Murray to provide a quote for the 15 servers by EOD Wednesday Jan 29th

@Joe-Craig , i need a hard date for when the SCO will be sent in for approval. I know there are 2 meetings this week to finalize numbers. Once you have all the needed information, when

[2020-01-29 21:29] StevenBarre commented on #122
@tosazuwa can you please provide a date when the PSA will be signed?

[2020-01-29 23:55] tosazuwa commented on #122
I sent an email to Leanne. Still waiting on her response. I usually apply the 24 hour rule before i send a reminder:)

[2020-01-30 00:49] tosazuwa commented on #122
Update from Leanne Jan 29th- Hosting Branch:

Yes, we received a SOW and it meets our needs. I’ve approved the iStore quote to move forward for Todd to apply his EA. (I’m guessing he is the EA).

Once that is completed, the order is in effect, and the services and billing to DevOps will begin.

Cheers,
Leanne

[2020-01-31 19:38] tosazuwa commented on #151
Closing this ticket as its a duplicate of #36

[2020-01-31 19:38] #151 closed, assigned to DanDeane, Joe-Craig

[2020-01-31 19:50] filiy commented on #77
need to update arch with logging info, elasticsearch count, size, etc.

[2020-01-31 20:52] #125 closed, assigned to sheaphillips

[2020-01-31 21:55] #46 closed, assigned to DanDeane

[2020-01-31 22:09] tosazuwa commented on #158
Meeting outcome:

David Ell & Team are working on the design pattern for Cloud Zone. Tentatively to be completed by end of Feb 2020. David Ell will provide bi-weekly updates and confirm when design is ready.
Cloud Zone availability milestones could be pushed into May 2020.

Dependency on David Ell & team vetting design pattern, impact of design etc

[2020-01-31 22:17] tosazuwa commented on #156
This i-store order will possibly not be placed this fiscal. TBC for next fiscal

[2020-01-31 22:23] tosazuwa opened #163 "Implement Silver Cluster Switches"
- [x] Rough pricing has been completed by DXC

- [x] DXC to create SCO and submit to Hosting Branch for approval and signing

- [x] DXC goes to procurement and places order

- [x] Confirm deployment and configuration of the switches

[2020-01-31 22:28] tosazuwa opened #164 "Create SCO for Calgary PROD Racks"
- [ ] DXC to get quote from Data centre management

- [ ] DXC to produce SCO

- [ ] SCO sent to Province for approval and signing

- [ ] Procurement done

[2020-02-03 22:49] tosazuwa opened #165 "Deliver Roadshows to Stakeholder Groups"
- [x] 4000 Seymour

- [x] NRM

- [x] JAG

- [x] Health

- [x] Education

- [x] GDX

[2020-02-04 17:58] DanDeane commented on #50
required vlans are in place as of last night, firewall rules go in tonight.

[2020-02-04 17:59] DanDeane commented on #61
required vlans are now in place as of last night and required firewall rules drop tonight.

[2020-02-04 18:29] Joe-Craig commented on #160
Met with Todd and David Friday and got a clear direction on what the plan is with the budget spend.
Working internally to draw up the new plan for SCOs to deliver the requested items before end of fiscal.

Have meetings today (4th feb) to discuss the new plan and get the DXC teams approvals to proceed.

[2020-02-04 18:35] Joe-Craig commented on #34
After meeting with Todd this is not a priority for this fiscal. SCO is complete.

[2020-02-04 18:56] Joe-Craig commented on #47
Have reached out internally to try and get an ETA..

[2020-02-04 18:56] #122 closed, assigned to Joe-Craig, tosazuwa

[2020-02-04 18:58] Joe-Craig commented on #36
SCO-194 NetApp for OpenShift has been submitted to OCIO. @tosazuwa Can you chase on your end, I have sent out an email to Todd/David to keep them informed.

[2020-02-04 19:00] Joe-Craig commented on #164
Closing as #163 will be used to track this as one item..

[2020-02-04 19:00] #164 closed, assigned to Joe-Craig

[2020-02-04 19:01] Joe-Craig commented on #163
Have updated this ticket to cover the ToR switches and the new racks needed for both Kamloops and Calgary to house the new OpenShift v4 environments.

[2020-02-04 19:02] Joe-Craig commented on #163
Working with Datacenter Management to define the list of items needed for the OpenShift environments.

[2020-02-06 06:07] filiy commented on #77
Updated arch document, getting close to filling in all the details but will need some review.

[2020-02-06 06:09] filiy commented on #103
Projects have been set up on the new cluster for EPIC to work on. Set up and tested metering stack for them to trial.

[2020-02-06 06:09] filiy commented on #25
Made some more updates to TF post config. Will need to test this with an new cluster install.

[2020-02-06 06:10] filiy commented on #29
This is happening. Just need to finalize the post deploy automated steps

[2020-02-07 14:48] DanDeane commented on #50
Kamloops Lab NetApp clusters deployed yesterday and handed over to our storage team to configure.

[2020-02-07 14:48] DanDeane commented on #61
Calgary Lab NetApp clusters deployed yesterday and handed over to our storage team to configure.

[2020-02-11 23:35] filiy opened #166 "Azure OCP4 DNS Connection Issues"
There seems to be a DNS issues where lookups intermittently fail. This is causing pod deploy and builds to sometimes fail as they can't pull images or packages as DNS resolution fails.

You can reproduce this by rsh into a pod and `watch dig google.com` and waiting for a ` ;; connection timed out; no servers could be reached` error which should not come up at all.

- Checked resources on masters n

[2020-02-12 21:57] #6 closed, assigned to tosazuwa

[2020-02-12 21:57] tosazuwa commented on #6
Completed. Document is living and will updated regularly

[2020-02-14 18:41] StevenBarre commented on #49
Started work on this with John from ATT. Followed the directions but traffic is not passing from the F5 to the pods currently.

Blocked waiting on John to have time for us amongst his other priorities.

Suggested next step is for Todd to talk to Stuart Restall about the priority and deadlines of this project so Stuart can pass that info back onto the network team to properly prioritize this work.

[2020-02-14 18:42] StevenBarre commented on #61
Storage team has handed the cluster over to me to configure.

[2020-02-14 18:44] StevenBarre commented on #37
3 of the 8 hosts have been switched back into the OCP 3 network subnets.

The masters and infra VMs have been built.

[2020-02-14 18:44] StevenBarre commented on #59
Done https://console-openshift-console.apps.thetis.devops.gov.bc.ca/

[2020-02-14 18:44] #59 closed, assigned to StevenBarre

[2020-02-14 18:46] StevenBarre commented on #147
Done!

[2020-02-14 18:46] #147 closed, assigned to StevenBarre, DanDeane

[2020-02-14 22:28] daveram commented on #166
Also noticed that this is worse in the afternoons and is more successful late in the evening around 11pm. In the afternoon, one can get failure up to 13 times before a single successful build and around 2-3 times in the evenings. Also, success more likely when deployment configs are done separately i.e. Public, Admin and API run separately

[2020-02-18 20:30] jefkel commented on #33
Updated architecture to reflect changes in app node count and NetApp physical appliance decision.

[2020-02-19 23:33] filiy commented on #29
Re-Deplopy 4.3 and testing automation steps again.

To do:
- oauth with github not working - need to check oauth on github
 -- adding yaml didn't work also, need to test again
- Infra machinesets. Remove worker label??
https://docs.openshift.com/container-platform/4.3/machine_management/creating-infrastructure-machinesets.html
- Disabling project self-provisioning. Seems like the autoupdate bit ne

[2020-02-20 17:54] daveram commented on #166
Issues have dissappeared with the new 4.3 cluster build, is now stupid quick!

[2020-02-20 18:29] DanDeane commented on #57
pending results in Kam Lab before figuring out what to do to move this forward.

[2020-02-20 18:30] tosazuwa commented on #49
@sbarre-esit worked with F5 support and got one route working. Call with F5 team to understand how the routes work and ingress services

[2020-02-20 18:31] DanDeane commented on #35
on hold pending results of testing and Lab configuration.
Also requires conversations with DXC Network team on support and design going forward

[2020-02-20 18:32] DanDeane commented on #152
adding @sbarre-esit

[2020-02-20 18:38] tosazuwa commented on #47
Closed. Duplicate of #58

[2020-02-20 18:38] #47 closed, assigned to kelpisland, jefkel, DanDeane, Joe-Craig, tosazuwa

[2020-02-20 22:01] StevenBarre commented on #29
Hey @filiy I've got some of my cluster setup steps at https://github.com/bcgov-c/advsol-docs/blob/ocp-4-docs/OCP-4-Install.md#configure-github-auth if that helps. I had Shelly make me the github oauth keys.

I did

[2020-02-21 00:13] StevenBarre commented on #49
Call with F5 helped understand the way HA works and some of the underlying networking.

Tested using a configmap to create a virtual server to expose Postgresql https://clouddocs.f5.com/containers/v2/kubernetes/kctlr-create-service-vs.html

Next steps are to understand how that can be safely used in a multi-tenant environment.

[2020-02-21 00:15] StevenBarre commented on #48
Working on docs for setup of auth and moving stuff to Infra nodes. More research needed on moving all components possible to infra.

Working on creating machine configs to set needed config for NetApp integration.

[2020-02-21 00:16] StevenBarre commented on #50
Testing of Trident and the two storage classes. Some work was needed to get iscsi working properly on RHCOS.

Now testing an issue with file volumes having permissions issues. Emailed NetApp support with details.

[2020-02-21 00:17] StevenBarre commented on #61
This has been on the back burner while I finish testing the setup in KLAB #50

[2020-02-21 00:18] StevenBarre commented on #50
Storage team applied the license today!

[2020-02-21 00:21] StevenBarre commented on #37
Moving to backlog as its a lower priority than the other tickets I'm working on

[2020-02-21 00:22] StevenBarre commented on #152
@jefkel Any suggestions for test plans for this? What features are you looking for?

[2020-02-21 19:17] StevenBarre commented on #34
David Ell has asked we remove the SAN Fiber Channel cards from the 15 servers. Getting new quotes from HPE now and then updating the SCO.

[2020-02-21 19:35] tosazuwa commented on #156
Closing ticket. 15 servers/hosts will be tracked in ticket #34

[2020-02-21 19:35] #156 closed, assigned to kelpisland, tosazuwa

[2020-02-22 00:53] stregear commented on #163
SCO 201 for the new racks/cage modifications in Kamloops and Calgary approved by the Province.  Service Orders for the new racks have been submitted to Q9.   SCO 201 did not include switches.

[2020-02-25 17:13] filiy commented on #29
Nice. Thanks @sbarre-esit !

Also need to figure this one out. The command the suggest doesn't work. This is for removing self project provisioning
[code]

[2020-02-25 17:27] Joe-Craig commented on #160
Impact has been assessed and the outcome documented.
SCO have been created to purchase the agreed upgrade hardware for the data center improvements.

[2020-02-25 17:27] #160 closed, assigned to kelpisland, Joe-Craig

[2020-02-25 17:28] Joe-Craig commented on #34
New quote for servers requested. Will re-price and re-issue the SCO to reflect the changes requested by David Ell.

[2020-02-25 17:30] Joe-Craig commented on #159
Working on outline. Will be meeting with Steve Hiley today (25th Feb) to confirm that outline conforms to format for contracts.

[2020-02-25 18:52] filiy commented on #26
Need to finalize this with Jon

[2020-02-26 17:43] jefkel commented on #152
Duplicate of issue #49
Closing

[2020-02-26 17:43] #152 closed, assigned to StevenBarre, DanDeane

[2020-02-27 18:38] Joe-Craig commented on #34
Delivery of new NetApp physicals to datacenters by end of March 2020.

[2020-02-27 18:40] jefkel commented on #58
Licenses for both Lab environments have been applied.

[2020-02-27 18:40] #58 closed, assigned to tosazuwa

[2020-02-27 18:43] Joe-Craig commented on #36
Delivery to Kamloops by end of march 2020..

[2020-02-27 23:53] StevenBarre commented on #49
Joined the F5 Slack. Asking for assistance with a route using custom TLS certs not working. Asking for guidance on using Virtual Servers with Services in a multi-tenant environment.

[2020-02-27 23:54] StevenBarre commented on #48
Discovered that the clusters APIs are not accessible from outside the datacenter. Opened an INC with networks to investigate.

[2020-02-27 23:55] StevenBarre commented on #50
Working with Red Hat on NFS permissions issue. Still not working.

[2020-02-28 21:49] StevenBarre commented on #61
Trident set up and configured. Basic testing complete and ran into the same issues as #50

[2020-03-02 20:14] jefkel opened #168 "Decision support for IPI vs UPI in Azure"
Based on latest deployment issues with IPI installer in Azure, we are being asked to change our deployment strategy to use the UPI installation method in Azure to allow us to target a specific Resource Group.

- [x] pro/con of UPI vs IPI
- [x] work estimates for changing deployment strategy
- [x] Vendor Timelines for possible support of customizing resource group target vs timeline for UPI deploym

[2020-03-02 20:18] jefkel opened #169 "Integrate DevSecOps Tools in Azure "Platform Services" cluster"

[2020-03-02 20:20] jefkel opened #170 "Validate cluster availability for Dev / Apps for Azure "Platform Services" cluster"

[2020-03-03 17:47] StevenBarre commented on #48
Wrote a playbook to configure the infra nodes, instead of doing it by hand.

Wrote a playbook to generate the MachineConfig files and apply them, instead of doing it by hand.

[2020-03-06 04:39] filiy commented on #168
After talking to Jon from Gov and Gerald from Red Hat, UPI is going to be the path forward. OCP 4.4 with UPI will allow us to leverage all the same Azure features as using IPI.

Jon would like to have some control about how we install the cluster.

[2020-03-06 04:40] #168 closed, assigned to filiy

[2020-03-06 04:42] filiy commented on #103
Moving this into backlog and removing high-priority. We are in a holding pattern in deploying anything to the cloud.

[2020-03-06 04:44] filiy commented on #25
This is done. Needs a final test.

[2020-03-06 04:45] #77 closed, assigned to filiy

[2020-03-06 04:47] filiy commented on #26
This is done and documented.

[2020-03-06 04:47] #26 closed, assigned to kelpisland

[2020-03-06 04:51] filiy commented on #29
done. Need to do a final test of post-install config but that is tracked in another issue.

[2020-03-06 04:51] #29 closed, assigned to filiy

[2020-03-06 04:52] filiy commented on #8
Moving to backlog until update on cloud deployment direction.

[2020-03-06 04:55] filiy commented on #166
The 4.3 deploy seems to have fixed this. Closing!

[2020-03-06 04:55] #166 closed, assigned to filiy

[2020-03-06 05:05] filiy opened #171 "Create/Test Terraform files for deploying UPI OCP 4.4"
We will need Terraform config to stand up required infrastructure for Azure UPI 4.4.

We may be able to re-use some of the tf files that the UPI installer creates

[2020-03-06 05:08] filiy opened #172 "Test and Deploy Azure OCP 4.4 UPI"
OCP 4.4 on Azure will need to be installed with the UPI method.

[2020-03-06 20:18] StevenBarre commented on #49
Had a meeting this week with @stregear and ATT to discuss where we are and where we are going. Wrote up a scope/requirements docs for Sharon.

[2020-03-06 20:31] StevenBarre commented on #154
Poked at the storage team to get this back on the radar

[2020-03-09 16:39] tosazuwa opened #173 "Implement Cluster Configuration Automation"
Encompasses all post-install configuration activities and will be tracked in their own tickets (under this EPIC)

See doc:
https://github.com/BCDevOps/OpenShift4-RollOut/blob/cluster-config-auto/docs/deploy/DeploymentChecklists.md

[2020-03-09 16:59] StevenBarre commented on #49
Marking as Blocked while I wait for more support from F5. Apparently we're getting some Professional Services ordered.

[2020-03-09 17:08] StevenBarre commented on #50
After much back and forth between NetApp support and Red Hat support, the root issue appears to be that Trident CSI sidecar is not setting the `fsType` to none or blank, causing the default of ext4 to be used. On a remount, volumes with a `fsType` set and RWO get pased to code to `chmod -R` which is failing. Action appears to be on NetApps hands to fix Trident.

- https://github.com/kubernetes/kub

[2020-03-09 17:10] StevenBarre commented on #48
Calling this done for now and tracking further work in other tickets.

[2020-03-09 17:10] #48 closed, assigned to StevenBarre

[2020-03-09 17:21] tosazuwa commented on #128
The OCP 4 Project has committed funding to proceed with software entitlements licenses for 2019/2020  fiscal. @mitovskaol leading the procurement effort.

[2020-03-09 17:23] tosazuwa commented on #158
Cloud Zone (now known as SDN Compartment) design meeting held Friday Mar 6th. Next steps to hand designs to DXC for deployment

[2020-03-09 17:45] #30 closed, assigned to nobody

[2020-03-09 17:47] Joe-Craig commented on #34
SCO was returned by province with edits. Going back to the province today (9th March 2020)

[2020-03-09 17:48] jefkel opened #174 "Gain Approval for SDN Compartment deployments"
In order to deploy into the SDN Compartment (Cloud Zone), a document needs to be prepared for Hosting Services (David Ell) that describes how the openshift platform will meet the requirements for the SDN Compartment

- [x] Discuss our specific SDN solution with ISS, to determine how it fits into the SDN Compartment pattern.
- [x] Document this in a tech note for JTSAWG approval.
- [ ] David Ell ap

[2020-03-09 17:51] Joe-Craig commented on #159
A proposed service evolution framework was presented Friday 6th March. The framework was accepted as a good basis for taking forward. It was agreed that this work cannot and does not need to be done at this time. We still have to wait till the service is stabilized so we can build the detail of the service descriptions.

[2020-03-09 17:51] #159 closed, assigned to Joe-Craig

[2020-03-09 17:51] Joe-Craig commented on #159
Completion of this does not impact the delivery of the OCP 4 rollout project so closing ticket.

[2020-03-09 17:53] Joe-Craig commented on #158
Will speak to Paul Bartle and Scott McWilliams about what work DXC needs to do to move the OCP clusters to the SDN compartment.

[2020-03-09 17:55] jefkel commented on #90
Initial tooling ideas:

Ansible as automation tool
 - standalone playbooks?
 - Ansible Tower?
 - Argo-CD?

Github as repository to hold code/documentation
 - Private Repo to start?
 - Existing? or New?

[2020-03-09 18:01] jefkel opened #175 "F5 Recommendation to David Ell"
Steps required to finalize our F5 implementation (vCMP vs separate VM)

- [x] Confirm the routing path purposed from the WAN router to the F5s will work (Stuart)
- [x] Create diagrams of network objects and traffic flows in the SDN compartment (Scott)
- [x] Create a Brief Note on the use of the F5s in the OCP environment (Scott)
- [x] Present to Brief Note to JTSAWG and JOC (OCIO Hosting Services)

[2020-03-09 18:27] tosazuwa commented on #111
Closing this. Duplicate of #91

[2020-03-09 18:27] #111 closed, assigned to nobody

[2020-03-10 16:57] jefkel commented on #174
**Must leverage the standard Government Identity Provider services**
- Currently we leverage Github OpenID services as SiteMinder/IDIR does not currently support OpenID.
- We are actively investigating using KeyCloak as an authentication provider for our clusters, This would enable using IDIR as an identity provider.

**Must leverage Government standard Multi Factor Authentication for all user-bas

[2020-03-10 21:31] jefkel opened #176 "Aquire SSL Certs for cluster endpoints"
Order/Track (via iStore) the following certificates for each cluster we are deploying.
iStore #: 1026043

- [ ] Kamloops Lab
  - [ ] api.cowichan.devops.gov.bc.ca
  - [ ] *.apps.cowichan.devops.gov.bc.ca

- [ ] Calgary Lab
  - [ ] api.thetis.devops.gov.bc.ca
  - [ ] *.apps.thetis.devops.gov.bc.ca

- [ ] Kamloops Prod
  - [ ] api.pacific.devops.gov.bc.ca
  - [ ] *.apps.pacific.devops.gov.bc.ca

[2020-03-10 21:53] jefkel opened #177 "Automate: Infra node creation"
Automate configuring infrastructure nodes from worker nodes.
 - add initial services that can be added there.

[2020-03-10 21:54] jefkel opened #178 "Automate: Cluster Logging"
Configure/deploy cluster logging services

[2020-03-10 21:56] jefkel opened #179 "Automate: Generic Node Host Setup"
Configure machineconfigs for nodes

- [x] idmapd.conf Set NFS Domain
- [x] iscsid.conf Set node.session.timeo.replacement_timeout = 5
- [x] Enable iscsid service
- [x] Enable multipathd service
- [x] initiatorname.iscsi Set InitiatorName
- [x] Set up other system configs
- [x] chrony.conf set NTP servers
- [x] Set vga=14c

[2020-03-10 21:58] jefkel opened #180 "Automate: Netapp Storage configuration"
Set up Trident configs
- [x] Set up Trident
- [x] Configure the SVM
- [x]  *Install tridentctl
- [x]  *Install Trident
- [x]  *Set up backends
- [x]  *Create storage classes
- [x]  *Storage Pool Configuration (netapp-block-standard, netapp-file-standard)
- [x]  Create new storage classes (flexvol direct volumes eg: netapp-block-extended, netapp-block-extended)

[2020-03-10 22:01] jefkel opened #181 "Automate: RBAC and Authentication"
Configure authentication and platform service RBAC setup.

- [x] Set up GitHub authentication, delete default kubeadmin
- [x] Cluster Admins, Cluster Viewers
- [x] BCDevExch Service account and "oc --as" permission setup
- [x] Restricted project/namespace creation

[2020-03-10 22:07] jefkel commented on #176
@sbarre-esit can you let me know when we have CSRs for the above? (I'll followup with the iStore certificate requests)

[2020-03-10 22:58] StevenBarre commented on #176
From [DigiCert](https://www.digicert.com/easy-csr/openssl.htm)

Not sure who the TLS provider for the Province is, but hopefully they allow the same thing. So I'll just generate one CSR for each for `*.apps` and you can add in the SANs when ordering.

[code]

[2020-03-10 23:12] StevenBarre commented on #176
@jefkel I've emailed you the CSRs

[2020-03-11 17:38] jefkel commented on #53
Review whether this is duplicated in automation epic #173

[2020-03-12 17:43] jefkel commented on #158
Tolu has mentioned that the new servers (the 15 we've ordered) will be able to be built directly in the SDN Compartment.  This brings up a question:

Are we able to re-deploy our current OCP 4 clusters as an SDN Compartment deployment now?
- If **yes**, then let's get that moved up ASAP in our project
- if **no**, then what steps are required to allow this? and what is the target date that we can

[2020-03-12 22:40] tosazuwa commented on #159
[https://app.zenhub.com/files/217612857/a8bcae39-0b2d-41ef-81ac-06166c662001/download

[2020-03-13 16:05] StevenBarre commented on #158
Steps:
- Meeting yesterday with A&E to discuss the implementation design
- Confirm the routing path purposed from the WAN router to the F5s will work (Stuart)
- Create diagrams of network objects and traffic flows in the SDN compartment (Scott)
- Create a Brief Note on the use of  the F5s in the OCP environment (Scott)
- Present to Brief Note to JTSAWG and JOC (OCIO Hosting Services) for approval

[2020-03-13 21:38] StevenBarre commented on #158
We'll also require Aporeto (or other SDN) config understood before we can stand up PROD. This includes ensuring we have rules that can't be overridden by developers to enforce the zone model.

[2020-03-15 01:33] jefkel commented on #158
Great list @sbarre-esit we should capture that in the ticket to implement.  This was the “can we get started” decision.

I am not quite sure whether we want to remove the port 80 feature just yet.  I’d suggest further discussion with the team.

WRT IPs, not sure at the moment as we are setting up for the initial migration, I don’t know that we will require more than the base cluster needs to start

[2020-03-17 21:41] jefkel commented on #176
Certs have been ordered

Service Desk ticket #s (pending updates with actual iStore request #s)
Kamloops Prod: 51829
Kamloops Lab: 51827
Calgary Lab: 51828 (iStore: 1022390)

[2020-03-18 17:41] stewartshea opened #182 "Network Security Solution Review"
# Network Security Tooling Evaluation

# Purpose

---

In order to ensure we are making the right technical decisions in our zero-trust network security management goal for OpenShift and other areas of the network, we need to evaluate other tools and compare them to the current Aporeto deployment. The following list of requirements should be used as guidance when looking at new tools.

Why?

The A

[2020-03-18 18:08] jefkel opened #183 "OCP 4 Lab Availability for Security Team"
Provide access to the security team to begin tool deployments and validations in OCP 4.

Target OCP 4 cluster: Calgary Lab (https://console-openshift-console.apps.thetis.devops.gov.bc.ca)

**Current cluster state:**
OCP 4 installed
Limited cluster services

**Active Issues:**
File based storage with NetApp is currently not working (block storage is ok)

Documented needs for security team:
- [x] Te

[2020-03-18 19:10] StevenBarre commented on #50
Had a call with NetApp today to figure out why they couldn't reproduce. It was related to Security Context Constraints. They can now hopefully reproduce the errors I'm having.

They will be fixing the `fsType` bug hopefully in the 20.04 release of Trident at the end of April.

A workaround for now seems to be to open up the SCC in a namespace.

[code]

[2020-03-19 17:18] jefkel opened #185 "Redeploy Clusters to SDN Compartment (Cloud Zone)"
The target network environment for the OpenShift 4 clusters is the new **SDN Compartment**.  All clusters will need to be re-deployed as SDN compartment tenants.

This Epic is to track both the pre-requisite tasks before we can begin re-deployment, as well as the individual cluster re-deployments.

This Epic will be complete when all clusters have been successfully deployed as SDN Compartment tena

[2020-03-19 17:38] Joe-Craig commented on #34
SCO now signed by Province and procurement process is started.

[2020-03-19 18:41] Joe-Craig commented on #36
Appliances delivered to both datacenters.

[2020-03-19 18:42] Joe-Craig commented on #36
Appliances cannot be commissioned currently. Due to the COVID-19 pandemic there has been a freeze at the datacenter and the new racks cannot be energized.

[2020-03-19 18:45] Joe-Craig commented on #163
A price comparison of using all Arista switches as apposed to a mix of Arista/HPE has been requested. Working to get quotes and build price comparison.

[2020-03-20 17:49] StevenBarre commented on #180
PR in progress https://github.com/bcgov-c/platform-ops/pull/189

[2020-03-20 17:50] StevenBarre commented on #177
Node config PR https://github.com/bcgov-c/platform-ops/pull/186

[2020-03-20 18:25] StevenBarre commented on #179
Completed via https://github.com/bcgov-c/platform-ops/pull/186

[2020-03-20 18:25] #179 closed, assigned to StevenBarre

[2020-03-20 22:28] StevenBarre commented on #177
PR to move Trident, route, and registry to Infra nodes
https://github.com/bcgov-c/platform-ops/pull/190

[2020-03-23 14:40] stewartshea commented on #128
Sysdig has agreed to a 30 day extension... we need to get these procurements moving along quickly.

[2020-03-23 17:59] j-pye commented on #181
I've been reading through the Github and IdentityProvider setup for OCP4. This might be a case where a throw away cluster would be useful for testing from scratch @filiy
Just so i can start from nothing and test setting up auth with Github.

I was hoping the GIthub setup could be automated via the Github API but it looks like that functionality is being removed from their API in favor of the githu

[2020-03-23 18:28] StevenBarre commented on #181
Pretty sure we can handle this with a template and some vaulted vars. See my [other docs](https://github.com/bcgov-c/advsol-docs/blob/master/OCP-4-Install.md#configure-github-auth) for the manual set of steps.

[code]

[2020-03-23 18:30] StevenBarre commented on #181
I think the RBAC rules for OCP4 should be moved into the platform-ops repo with the code for the cron/operator.

Pros/Cons of cronjob vs operator?

[2020-03-23 20:00] j-pye commented on #181
The other docs you pointed to are what I was hoping would work. The OCP4 docs weren't quite as clear. :)

RBAC rules in the platform-ops repo makes sense to me.

TL;DR: The operator is probably faster and easier to implement but will use CRDs/CRs so current RBAC yaml files would need to be altered.

This is where I'm at: (Mid-thought)

**Cron - Pros:**
- Periodic resource usage
- Current RBAC yaml

[2020-03-23 21:25] jefkel commented on #181
I'm not sure where we're going with this.  Is there a reason why we're jumping into creating an operator for a cluster initialization/creation script?  (seems like scope creep)

I don't believe we were looking at creating an operator at this time for ongoing maintenance of RBAC rules, but rather the initial "Day 1 cluster configuration" automation.  Once we have the automation scripts that can bui

[2020-03-23 21:39] j-pye commented on #181
@jefkel It was mentioned to me that it'd be nice to have something that ensures each clusters RBAC always matches the code in the repo such as a cronjob which is where the operator suggestion came from.

If we just want a playbook that applies the RBAC rules that's fine but a task should be created to automate the maintenance of RBAC whatever solution that is. (I can't do that, i don't have enough

[2020-03-23 21:53] jefkel commented on #181
I think an automated solution to ensure the RBAC matches the code will also require more work than you think (ie: what do you need to remove, not just what do you want to add...)  And as I said, I'm not against it, it's just not part of this scope.

Once we get multiple clusters re-deploying based off our automated post-install configuration I'd be happy to have a conversation along the lines of h

[2020-03-23 21:54] stewartshea commented on #181
Folks, you shouldn't write this yourself... Think Flux or ArgoCD.
Eventually I'd like to take us down the Argo road for application
deployment; it might work just as well for cluster customizations as well,
such as RBAC manifests.
--
Shea Stewart, Partner
Arctiq: Intelligent Architecture
shea.stewart@arctiq.ca
+1-647-972-5191
http://www.arctiq.ca
Book at meeting here: https://x.ai/calendar/sheaste

[2020-03-23 22:06] StevenBarre commented on #181
I'd rather avoid two separate ways to do RBAC, one for "day one" and a separate one for ongoing management, I'd rather just deploy the ongoing tool on day one.

[2020-03-24 00:00] StevenBarre commented on #178
Draft PR https://github.com/bcgov-c/platform-ops/pull/192

[2020-03-24 14:25] filiy commented on #181
@jefkel @j-pye @sbarre-esit

Some of this is automated already.

https://github.com/BCDevOps/OpenShift4-RollOut/blob/openshift4-azure/openshift4-azure/auto-config/azure-ocp4-postconfig.yml#L60

- [x] Set up GitHub authentication
- [x] Restricted project/namespace creation

Also add in the default project template (which would need an update for ocp4). request from SheaP

https://github.com/BCDevOp

[2020-03-24 14:26] filiy commented on #181
Also @j-pye, just give me a shout if you need a cluster in Azure to test. I can get one up today

[2020-03-24 18:21] DanDeane commented on #182
add baremetal

[2020-03-24 18:31] DanDeane commented on #182
IPS inline? vs outside of the solution and back again.

[2020-03-25 03:00] stewartshea commented on #181
I think you're missing the point on the larger conversation... how are you
going to centralize this across multiple clusters. We need to think GitOps
for multiple clusters and not single cluster configurations.
This also includes more checklist items than the above... there will be a
number of RBAC bindings that need to be deployed outside of  the
authorization provider (GitHub (which should pivot

[2020-03-30 20:00] tosazuwa commented on #25
Completed

[2020-03-30 20:00] #25 closed, assigned to filiy

[2020-03-30 20:02] tosazuwa commented on #61
Refer to ticket #50 for update.  Still blocked

[2020-03-30 20:06] tosazuwa commented on #53
Closing. Duplicate of #173

[2020-03-30 20:06] #53 closed, assigned to jefkel

[2020-03-30 20:09] jefkel opened #186 "NetApp NFS Permissions vendor bug"
Working with NetApp support to resolve an ongoing bug in the NFS Permissions when Trident is provisioning Persistent Volumes

Vendor case ID 2008214274

After much back and forth between NetApp support and Red Hat support, the root issue appears to be that Trident CSI sidecar is not setting the fsType to none or blank, causing the default of ext4 to be used. On a remount, volumes with a fsType set

[2020-03-30 20:09] StevenBarre commented on #154
Completed except for issue tracked in #186

[2020-03-30 20:09] #154 closed, assigned to StevenBarre, DanDeane

[2020-03-30 20:10] StevenBarre commented on #61
Completed except for issue tracked in #186

[2020-03-30 20:10] #61 closed, assigned to StevenBarre, DanDeane

[2020-03-30 20:11] #50 closed, assigned to StevenBarre, DanDeane

[2020-03-30 20:11] StevenBarre commented on #50
Completed except for issue tracked in #186

[2020-03-30 20:11] tosazuwa commented on #37
Blocked pending OCP  4 Architecture update

[2020-03-30 20:12] jefkel commented on #186
Blocked pending vendor bugfix

[2020-03-30 20:36] StevenBarre opened #187 "Have MCS team member rebuild a cluster"
Validate all the steps, docs, and automation

- https://github.com/bcgov-c/advsol-docs/blob/master/OCP-4-Install.md
- https://github.com/bcgov-c/platform-ops/tree/ocp4-base/ocp4

[2020-03-30 20:37] jefkel commented on #158
Closing, Tracking implementation progress in #185

[2020-03-30 20:37] #158 closed, assigned to kelpisland, tosazuwa

[2020-03-30 20:47] tosazuwa commented on #174
@stregear  to follow up with Scott McWilliams re this ticket

[2020-03-30 20:48] tosazuwa commented on #175
To  escalate if no decision reached by Apr 14

[2020-03-30 20:50] jefkel commented on #33
Update documentation with additional kamloops cluster
Breaking Prod cluster into Tools-Dev-Test cluster and Prod cluster.

[2020-03-30 21:21] Joe-Craig opened #188 "Submit Professional Service Order (PSO) request to cover OCPv4 resoure usage"
Back in December it was agreed that due to the fluid nature of the OCPv4 rollout trying to define the ongoing service costs did not make sense at that time. Instead a Professional Service Order (PSO) would be raised through iStore that would act as a draw-down to fund the resources until the end of January.

Due to the extension of the OCPv4 rollout work a new draw-down needs to be put in place to

[2020-03-31 17:38] #180 closed, assigned to StevenBarre

[2020-03-31 17:38] StevenBarre commented on #180
PR merged

[2020-03-31 17:39] #178 closed, assigned to StevenBarre

[2020-03-31 17:39] StevenBarre commented on #178
PR merged

[2020-03-31 17:39] StevenBarre commented on #177
PR merged

[2020-03-31 17:39] #177 closed, assigned to StevenBarre

[2020-03-31 17:40] StevenBarre commented on #176
Blocked while the TLS certs are on order.

[2020-03-31 20:01] NickCorcoran opened #239 "OCP 4 STRA"
Security Threat and Risk Assessment for OCP 4 and supporting tools

[2020-03-31 20:07] NickCorcoran commented on #239
OCP 4 STRA Activities
- [ ] OCP 4 details collection
- [ ] OCP 4 Threat Model
- [ ] OCP 4 ISO Controls
- [ ] OCP 4 Critical Systems Standard Assessment
- [ ] OCP 4 Recommendations
- [ ] OCP 4 Penetration Test
- [ ] OCP 4 Penetration Test Remediation
- [ ] OCP 4 STRA Review
- [ ] OCP 4 STRA Submission and Sign-off

Associated Security Assessments
- [x] Aporeto STRA
- [x] Aqua STRA
- [x] Aporeto Clo

[2020-04-02 15:47] tosazuwa opened #189 "Complete DXC Service Agreement"
Just checking where we are with the DXC Service Agreement based on David Ell's presentation in Feb. Next steps @mitovskaol ?

[2020-04-02 16:44] mitovskaol commented on #189
@tosazuwa We are still waiting on the next steps from them. Will let you know as soon as we get any new information.

[2020-04-03 16:14] StevenBarre commented on #186
Vendor is somehow still unable to reproduce. sigh.

I have found a better workaround. Setting the NFS export policy to `-anon 0` allows root to manage the permissions on the filesystem and stops the "operation not permitted" errors without needing the anyuid scc.

I think this is at least a good enough fix for us to move forward on and shouldn't block further efforts to build clusters.

[2020-04-06 20:48] jefkel commented on #176
Updated/Replaced Certificate iStore request that encompasses all 3 cluster certs:
iStore#: 1026043

[2020-04-09 17:43] #34 closed, assigned to kelpisland, Joe-Craig

[2020-04-09 17:44] #36 closed, assigned to Joe-Craig

[2020-04-09 17:45] Joe-Craig commented on #163
SCO drafted and sent to province for sign-off

[2020-04-15 18:03] Joe-Craig commented on #163
Still waiting for hosting branch to approve.

David Ell waiting for new OCPv4 architecture to see if there is any need for additional switches. When Jeff has finished architecture we can re-visit the rack layouts and true-up the number of switches needed and whether we need to extend the rack space.

[2020-04-15 19:29] StevenBarre commented on #49
Have had a few discussions with the F5 vendor about scaling and config and their docs lacking in detail.

Have switched to using the AS3 agend instead of the CCCL agent which has improved my luck with using TLS certs on routes.

Have now run into more issues but haven't heard back in a week. Followed up with an email. There are hints that CiS doesn't currently support having multiple services with

[2020-04-15 19:30] StevenBarre commented on #186
Followed up again with the vendor after no response since Apr 3rd.

[2020-04-15 19:30] StevenBarre commented on #37
We no longer have physicals to deploy onto as they were moved back into the OCP3 cluster.

[2020-04-15 19:31] StevenBarre commented on #176
Generated CSRs and sent to ISB

[2020-04-15 19:35] StevenBarre commented on #181
MVP for now includes:

- A reduced set of privs from https://github.com/bcgov-c/devops-platform-operations-docs/tree/master/rbac with some basic automation. Will also set the project provisioning perms
- A reduced set of quotas from https://github.com/bcgov-c/platform-ops/tree/master/playbooks/run/quota-applyer with some basic automation. This also sets the default project template.

[2020-04-15 19:35] StevenBarre commented on #181
@jefkel any progress on thoughts around how to separate config for clusters? Separate repos? forks? branches? folders?

[2020-04-15 19:36] StevenBarre commented on #181
@j-pye said he has some half done code I can use as a jumping off point. Waiting on a PR to hand over that code so I know what else is remaining.

[2020-04-15 19:46] j-pye opened #190 "Update Aporeto Deployment Automation for OCP 4"
Tasks:

- [x] Upgrade Aporeto Playbook for current Aporeto Release
- [x] Ensure Cordon/Evac Install and Upgrades work as expected
- [x] Upgrade BCGov Network Policy Operator to a supported Operator-SDK version and Test
- [ ] Move any remaining policy, enforcer, or namespace related policy configuration to NS Management Playbook

[2020-04-15 21:18] Joe-Craig commented on #188
Estimate spreadsheet created.

[2020-04-15 21:23] jefkel opened #191 "Order Servers and Storage for Gold cluster"
Order hardware for second production cluster
- [x] Create BN for Gold Cluster
- [x] Create pricing for Gold components
- [x] Issue SCO for Gold Cluster
- [x] Province to approve the SCO
- [x] Order VMs for Boot Service
- [x] Order 19 (was 14) x physical hosts (see spreadsheet for host details)
- [x] Order 1 physical NetApp appliance for second production cluster in Kamloops
- [x] Order switches fo

[2020-04-15 21:23] jefkel commented on #191
Blocked waiting on final design approval

[2020-04-16 00:15] jefkel commented on #181
I would lean toward separate repos with fork/pr's from a central point mainly because it could reduce the false-positive "changed" trigger for any tool (argo) is using to monitor it's config, while helping my brain keep the configuration repositories separated for each cluster.

That said, let's test out the operational process with the 2 cluster's we have and see which gitflow option you like bet

[2020-04-17 18:10] jefkel commented on #174
Initial feedback from Scott McWilliams provided, as well as a sample Tech Note for section and formatting suggestions.

Ask is that Arctiq (Jeff) complete the initial Tech Note as Joe and Scott do not have bandwidth available to take this on.

[2020-04-17 22:38] StevenBarre commented on #181
Ugh, I dislike collective nouns in sentences. Everyone assumes someone else will do it :stuck_out_tongue:

[2020-04-18 00:30] jefkel commented on #181
True, let me be more clear:

I would like @sbarre-esit and DXC team to test an operational process with the 2 clusters we have, and form an opinion on which gitflow they like better.  ;)

[2020-04-21 22:27] StevenBarre commented on #176
Role created and all certs applied.

[2020-04-21 22:27] #176 closed, assigned to jefkel, StevenBarre

[2020-04-23 17:40] jefkel commented on #128
All software license procurements  have been awarded and are working through the final procurement process and will be available as invoices close.

[2020-04-23 17:45] tosazuwa opened #192 "Buildout of Azure Cluster"
Dependency: Availability of OCP 4.3 in ARO Azure

[2020-04-23 17:46] tosazuwa commented on #192
Use Cases
1. Leverage it for OCP 101, 201 Training
2.  Failover for RC

[2020-04-23 17:57] jefkel commented on #34
Update on expected arrival:
June 8th.

[2020-04-23 18:02] #183 closed, assigned to stewartshea, jefkel, StevenBarre

[2020-04-23 18:35] jefkel opened #193 "Order replacement App Nodes for Silver cluster"
Order of 4 VM's  for 3rd cluster to allow additional cluster validation space for platform services deployments and validation.  We already have master/infra nodes available, as well as netApp VMs with 2TB of storage.  The only piece missing from being able to deploy a 3rd cluster today is the application nodes (original app nodes have been re-claimed by OCP 3 cluster)

To be ordered:
- [x] 4 x Li

[2020-04-23 18:36] StevenBarre commented on #193
This is for KPROD / PACIFIC correct?

I believe Pop will need to initiate the istores for these.

[2020-04-23 18:59] jefkel commented on #193
That sounds good @sbarre-esit , he's added as well.  Could you (or william) work with him to make sure he has the required technical pieces in his iStore order?

[2020-04-29 17:09] NickCorcoran opened #231 "Penetration test for new cluster"
- [x] Create SoW
- [x] Agree on vendor/procurement w/ OCIO ISB
- [x] Agree on scope and reporting w/ OCIO ISB
- [ ] Schedule testing
- [ ] Remediate issues
- [ ] Retest remediated issues

[2020-04-29 18:53] NickCorcoran commented on #208
Initial meeting w/ OCIO SOC team complete

[2020-04-29 22:36] jefkel commented on #174
Review and feedback on initial draft requested:
https://docs.google.com/document/d/1nZWwsaUsBIBUv-ezVx7GhFnp92cmJoa97DAe2csmgRs/edit?usp=sharing

[2020-04-29 23:31] StevenBarre commented on #208
So appears the SIEM only supports Syslog format RFC5424 and RFC3164 over various UDP/TCP ports and with/without TLS.

However, OCP4 only has the option of the older RFC3164 format and it is deprecated.

[Docs](https://docs.openshift.com/container-platform/4.3/logging/config/cluster-logging-external.html#cluster-logging-collector-syslog_cluster-logging-external)

OCP3 does support RFC3164 by just s

[2020-04-30 17:36] jefkel commented on #174
Once Review is completed, Checklist needs to be updated with next steps and assigned resources.

[2020-04-30 18:02] StevenBarre commented on #174
Network diagram has HAProxy in it. Has the arch changed to no longer leverage the BIG-IP / CIS for HTTP traffic?

The rest looks good to me.

[2020-04-30 18:50] jefkel commented on #174
Leveraging the BIG-IP / CIS for HTTP was always "let's test this", and with the questions around F5 capacity, having a reasonable (validated) alternative is not a bad thing.  The arch is not something final, but rather something that we are all working on as we actively build labs and testing the clusters.  This *will* lead to changes to the designs as the clusters are built and our assumptions te

[2020-04-30 18:56] StevenBarre commented on #208
RFC5424 support is coming in OCP 4.5 which should GA mid July.
OCP 4.4 which should GA any day now will have API Audit logs.
Added old style syslog to COWICHAN

[2020-05-01 21:50] stregear commented on #193
Thank you – it is on my list ☺
---------------------------------------------
Sharon Tregear
Project Manager, SPMO
T: 250.405.4500.opt1. ext. 4576
M: 236.464.0251
sharon.tregear@dxcas.com<mailto:sharon.tregear@dxcas.com>

Advanced Solutions, a DXC Technology Company
2200 - 4464 Markham Street
Victoria, BC  V8Z 7X8
www.dxcas.com<http://www.dxcas.com/>
The information transmitted herein is intended o

[2020-05-04 21:49] stewartshea commented on #128
This is all complete.

[2020-05-04 21:49] #128 closed, assigned to stewartshea, jefkel, mitovskaol, tosazuwa

[2020-05-04 23:38] StevenBarre commented on #49
Opened https://github.com/F5Networks/k8s-bigip-ctlr/issues/1281

Had some discussions with Mark on Slack about our issue and tried out a nightly build.

Having a call with Mark and some devs tomorrow at 8am

[2020-05-05 18:23] NickCorcoran opened #240 "OCP 4 STRA - Details collection"
- [x] Obtain previous OCP STRA
- [x] Review OCP 4 Architecture
- [x] Review OCP Security Guide
- [x] Validate best practices with intended approach
- [x] Identify gaps for inclusion in analysis

[2020-05-05 18:25] NickCorcoran opened #241 "OCP 4 STRA - Threat Model"
- [ ] Draw diagram
- [ ] Extract threats

[2020-05-05 18:26] NickCorcoran opened #242 "OCP 4 STRA - NIST Controls"
- [x] Obtain NIST STRA template from OCIO
- [x] Select STRA assessment type
- [x] Identify
- [x] Protect
- [x] Detect
- [x] Respond
- [x] Recover
- [x] Identify Gaps
- [x] Document in SoAR

[2020-05-05 18:27] NickCorcoran opened #243 "OCP 4 STRA - Critical Systems Standard Assessment"
- [x] Obtain critical systems standard requirements
- [x] Map STRA controls to critical systems standard requirements
- [x] Identify gaps between STRA controls and critical systems standard requirements
- [x] Document in SoAR

[2020-05-05 18:28] NickCorcoran opened #244 "OCP 4 STRA - Recommendations"

[2020-05-05 18:29] NickCorcoran opened #245 "OCP 4 STRA - Review"

[2020-05-05 18:29] NickCorcoran opened #246 "OCP 4 STRA - Submission and Sign-off"

[2020-05-06 17:00] #181 closed, assigned to j-pye, StevenBarre

[2020-05-06 21:08] jefkel commented on #155
(Content added from original message to track decision requirements)
Fr: Steven

Hello Todd and Stephanie
Jeff has asked me to look into our options for connecting NetBackup to NetApp for the OCP 4 build. I had a call with our NetApp experts and think we now have a plan for how to move forward.
NetBackup can be pointed at either the whole NetApp, or a pattern matched set of volumes. To accomplish

[2020-05-06 21:21] StevenBarre commented on #186
Call with vendor on Apr 29th. We agreed on a path forward. I did some more debugging and came up with a simpler way to reproduce showing it is related to the permissions of the folder being mounted in the container image.

Response on Tues saying "that looks like it should work". Storage team is going to escalate.

[2020-05-06 21:23] StevenBarre commented on #49
My GH issue should get fixed in CIS 2.1

[2020-05-06 21:23] StevenBarre commented on #187
In progress.

[2020-05-06 21:24] StevenBarre commented on #193
iStore submitted

[2020-05-06 21:27] jefkel opened #194 "F5 Configuration Testing"
Create pro/con evaluation for leveraging F5 for OCP route object replacement vs keep OCP routes.

F5 VIP -> OpenShift HA-Proxy routers (same design as current)

F5 VIP -> OCP service definition (OCP router replacement)

Build pro/con list for each of the above:
- F5 performance testing results (how does it scale with # of ingress routes?)
- Automation and other edges for route creation?
- Route fe

[2020-05-06 21:29] jefkel opened #195 "GitOps Configuration Management (Argo)"
Demo/test leveraging Argo for cluster configuration management tasks:

- [x] RBAC configuration
- [x] Project/Namespace provisioning

[2020-05-06 21:32] j-pye opened #196 "Aqua Automation for OCP"
Update Automation for deploying Aqua on OCP4

- [ ] Upgrade to the latest version of Aqua (4.6)
- [ ] Ensure Active High-Availability for Aqua Console -- Not Passive
- [ ] Configure backups
- [ ] Discuss plan for post launch aqua configuration automation

[2020-05-06 21:36] j-pye opened #197 "Validate MachineConfig Behavior"
Answer the following:

How do MachineConfigs rollout when:
- Multiple MCs are created for the same Node Pool
- Master / Worker MCs are created at the same time

[2020-05-07 17:33] Joe-Craig commented on #189
After meeting with Todd, David Ell, Nainesh, et al. It was agreed that we would proceed as a project using a professional service request (T&M) and iStore orders for infrastructure to the end of Release 1.

At that time we would have enough information to write the Brief Note and progress with a SCO.

[2020-05-07 17:34] Joe-Craig commented on #189
Nainesh and David Ell agreed the new service description could not be complete until the OCPv4 environment is delivered and has settled in. This is targeted for July 2020

[2020-05-07 17:35] Joe-Craig commented on #189
Considering the changes to the OCPv4 project the impact of COVID-19 and the pushing back of the delivery of the OCPv4 environment, this deadline is likely to be extended.

[2020-05-07 17:37] Joe-Craig commented on #189
Hosting branch and DXC have been in discussion over the way that storage used for the OCPv4 cluster is charged. A new storage type has been proposed for the contract that would cover the management/maintenance of the NetApp storage used in OpenShift.

[2020-05-07 20:59] StevenBarre commented on #193
iStore 1030281

[2020-05-07 21:37] StevenBarre opened #198 "Decide on new values for default LimitRange"
Right now we have defaults for request/limit specified. RH recommends that we also implement maximums as well.

- https://kubernetes.io/docs/concepts/policy/limit-range/
- https://github.com/bcgov-c/platform-ops/blob/ocp4-base/ocp4/roles/quota/quotas/default-limits.yaml
- https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/memory-default-namespace/#motivation-for-default-memory-li

[2020-05-07 23:40] StevenBarre opened #199 "Switch to F5 Operator"
Do we want to switch from the current automation to the operator? Pros/Cons?

https://devcentral.f5.com/s/articles/Using-F5-BIG-IP-Controller-Operator-for-OpenShift

[2020-05-08 17:05] NickCorcoran opened #232 "Pen test SoW creation"
- [x] Obtain previous SoW for pen test
- [x] Update SoW to reflect current state and objectives
- [ ] Review with OCIO ISB

[2020-05-12 18:18] jefkel opened #200 "Ops Tools pipeline"
Registry Cleaning pipeline to automate the registry operation scheduled jobs
- [ ] Build ops scripts image
- [ ] Deploy Registry cleaning cronjob (using ops scripts image) to Lab clusters
- [ ] Deploy Registry cleaning cronjob (using ops scripts image) to Silver cluster
- [ ] Deploy Registry cleaning cronjob (using ops scripts image) to Gold clusters

[2020-05-12 18:19] stewartshea opened #201 "Jenkins Optimization"
Based on dashboard results, we can get some headroom by reducing jenkins cpu requests;
- [x] Create dashboard of Jenkins usage
- [ ] Test Jenkins startup time with various configurations
- [ ] Send note to teams around results

[2020-05-12 18:26] stewartshea commented on #201
Current dashboard is here: https://app.sysdigcloud.com/#/dashboards/164792/l:3600?scope=kubernetes.pod.name%20contains%20%22jenkins%22

[2020-05-12 18:41] jefkel opened #202 "Image Registry configuration"
OCP 4 will leverage Artifactory as a production image registry source with individual OCP Registries for local cluster build/test targets, additional design for backing storage is needed:

- [Object storage is the recommended storage for OpenShift registry](https://docs.openshift.com/container-platform/4.4/scalability_and_performance/optimizing-storage.html#scaled-registry)
- Object storage is sup

[2020-05-12 19:09] StevenBarre opened #203 "Create kube-reserved vlaues"
Unsure if this is still needed in OCP4, or how to do it yet. But need to verify if these need to be set and create automation to set them.

[2020-05-12 19:14] sbarre-esit commented on #200
Looks like some of the registry pruning can be automated in OCP 4.4, but we still need to do hard pruning, and prune builds and deployments. https://docs.openshift.com/container-platform/4.4/applications/pruning-objects.html

https://github.com/bcgov-c/platform-ops/blob/master/tools/cronjobs/cron-scripts/soft-prune

[2020-05-12 19:21] StevenBarre commented on #201
This is more https://github.com/BCDevOps/developer-experience than OCP4 I think?

I ran a quick test yesterday of jenkins with limits of 4cpu and 4gi and various requests. Both 1 and 10m request cpu started in the same time.

I think https://access.redhat.com/errata/RHBA-2019:4106 was affecting us though and is now fixed.

[2020-05-13 02:15] #81 closed, assigned to nobody

[2020-05-13 02:17] stewartshea opened #204 "Build ARO (azure) 4.x Cluster for Training and Learning"
We would like to understand the ARO offering better and need to offload training use cases from the OCP 3.11 cluster:

- [x] Build ARO Cluster
- [x] Configure ARO Cluster
- [x] Test training guides on new cluster
- [x] Handover to Platform Experience team to retrofit OCP 101 training to OCP4 material
- [x] Move to Canada

[2020-05-13 02:18] stewartshea commented on #204
Finally got the cluster built and working on basic configuration to prepare this for training usage.

[2020-05-13 02:18] stewartshea commented on #204
Currently built out into us-west2 until Canada has an available region.

[2020-05-13 21:32] jefkel opened #205 "Name/Label clusters consistently"
The current cluster naming convention started as "bodies of water", and that naming convention does not match the kprod/cprod/klab names of the physical hosts, or the story telling names of silver/gold.  To reduce confusion when communicating about each cluster, the names used could be consistent.

Names involved:
- Host names for individual nodes/hosts/devices that make up each cluster
  - rename

[2020-05-13 22:01] StevenBarre commented on #205
👍 Let's pick one naming convention, then stick with it. Renaming things now will be a bit of a pain, but I'd prefer if hostnames and DNS matched cluster names.

[2020-05-14 17:43] tosazuwa opened #206 "OCP 4 Assumptions"
-

-

[2020-05-14 17:46] tosazuwa opened #207 "Early Adopters -Application Migration"
Set of activities that include preparation and migration. Also includes the standup and making operational the Silver cluster.

[2020-05-14 19:11] StevenBarre commented on #194
Asked on F5 Slack

Steven Barre May 11th at 2:28 PM
Does it make sense for us to keep trying to completely replace the OpenShift Router with CIS? or should we look at just replacing specific routes and using configmaps to expose non-http services? What are the advantages of using CIS/Big-IP as an HTTP endpoint vs just passing the TCP traffic onto OCP/HAProxy?
4 replies

Steven Barre  3 days ago
I

[2020-05-14 19:18] StevenBarre commented on #194
The CIS can be configure to build all route objects on the BIG-IP, or just ones with a specific label.

The BIG-IP has TLS hardware offload for improved performance. Most routes in the platform are TLS enabled using the default cert, so that could be a big plus and remove some load from the Infra nodes.

Today the CIS pod is not very performant at maintaining the config with a lot of routes, but s

[2020-05-14 19:21] StevenBarre commented on #194
Adding here since I don't know where else to put it, hopefully CIS 2.0 will support using CRDs instead of ConfigMaps for non-http virtual servers.

https://github.com/F5Networks/k8s-bigip-ctlr/issues/579

[2020-05-14 20:25] StevenBarre commented on #186
When Trident provisions a volume it assigns the Trident created export policy to that volume. When Trident provisions the qtree it assigns the vservers default export policy to the qtree.

So our options to work around the applyFSGroups issue is to

1) set default export policy to Superuser Security Type = Any

CLAB_SVM1::> vserver export-policy rule modify  -policyname default -ruleindex 1 -super

[2020-05-14 22:46] jefkel commented on #194
I'm seeing 2 themes here:
1: uncertainty that the CIS can:
- perform well with the large number of routes as our "Default" with the current release of CIS
- be feature compatible with existing route types
(Both of which look to be addressed in a future release)

2: can selectively implement:
- we can look at adding direct F5 integration "as needed" instead of default

It seems like by maintaining

[2020-05-14 22:51] StevenBarre commented on #208
Is there still a desire to do this in OCP3?

[2020-05-14 22:58] NickCorcoran commented on #208
I think that knowing how to connect and proving that out was the desire for this initial investigation.  @jefkel we should probably document as part of new architecture, and decide how we may wish to leverage this capability.

[2020-05-14 23:16] jefkel commented on #208
@sbarre-esit I think that the log collection using Syslog RFC3164 does not give us the metadata we would like to leverage in the SIEMS solution.  Without RH deployed support for RFC5424 in OCP3, I don't believe we would be well served to continue with OCP3.

@NickCorcoran At this point, will reference future work for the logging service integration in the OCP4 architecture.  As you mention, there

[2020-05-14 23:17] NickCorcoran commented on #208
sounds good

[2020-05-15 16:32] stewartshea commented on #201
I'd like to run a few more tests and then document who we can target for resource reduction; we can move to the other repo if you like.

[2020-05-15 16:33] #201 closed, assigned to stewartshea

[2020-05-15 18:24] StevenBarre commented on #186
Trident issue to track integrating the sidecar https://github.com/NetApp/trident/issues/402

[2020-05-19 15:39] #188 closed, assigned to tosazuwa, stregear

[2020-05-19 17:57] jefkel commented on #205
Cluster Naming, to be updated from docs through SSL Certificates

`silver.devops.gov.bc.ca` (production Silver cluster in Kamloops)
`gold.devops.gov.bc.ca` (production Gold cluster in Kamloops)
`golddr.devops.gov.bc.ca` (production Gold (DR) cluster in Calgary)
`klab.devops.gov.bc.ca` (ops lab cluster in Kamloops)
`clab.devops.gov.bc.ca` (ops lab cluster in Calgary)

(Please comment here ASAP if c

[2020-05-19 21:36] StevenBarre commented on #49
KLAB is going to be redeployed to SDN Compartment where we can continue testing.

[2020-05-19 21:42] StevenBarre commented on #187
@wmhutchison rebuild kprod/Pacific onto 4.3 and made some PR changes to docs.

[2020-05-19 21:49] StevenBarre commented on #35
A plan has been developed for setting up a VCMP on the leveraged BIG-IP HA Pair in Kamloops and approved by OCIO.

[2020-05-19 21:57] StevenBarre opened #209 "Set Up Silver Cluster Hardware"
- [x] Datacenter provider upgrade rack power #210
- [x] Rack ToR Switches #163 to order them
- [x] Rack NAS Switches #163 to order them
- [x] Rack servers - Delivery expected May 22
- [x] Rack NetApp
- [x] Set up DNS for hosts
- [ ] Add iLOs to OneView

[2020-05-19 22:01] StevenBarre opened #210 "Energize racks for Silver cluster"
The 3 racks for the silver cluster have been upgraded to support additional power needed for the high density nodes.

However, the datacenter needs to take 3 planned maintenance windows to energize the racks.

This is required to be able to power up any of the equipment in these racks.

[2020-05-19 22:06] jefkel commented on #205
@sbarre-esit Can you have a look at the list and let me know if we're missing any rename tasks in the description? (once we think we've got a list, we can create tickets for them and match them as dependencies here.)

[2020-05-19 22:15] StevenBarre commented on #205
@jefkel description updated with additional tasks

[2020-05-19 22:22] StevenBarre opened #211 "Document OCP4 Upgrade proceedure"
Write documentation on how to perform a OCP4 upgrade and which order clusters should be done in.

[2020-05-19 22:22] StevenBarre opened #212 "Document procedure to add additional nodes to an existing cluster"

[2020-05-19 22:22] StevenBarre opened #213 "Document troubleshooting OCP4"
Document the basic troubleshooting steps for OCP4.

[2020-05-19 22:24] StevenBarre opened #214 "Document monitoring tools"
Document how Nagios and Alert Manager are set up and what kinds of alerts they may generate.

[2020-05-19 22:25] StevenBarre opened #215 "OCP 4 Operational Documentation"
Write the needed documentation to support OCP4 and manage on-call.

[2020-05-19 22:26] StevenBarre opened #216 "Create ETCD Backup / Restore tools"
**Describe the issue**
ETCD is the core storage of all OCP configs. For disaster recovery purposes it should be backed up.
https://docs.openshift.com/container-platform/4.5/backup_and_restore/backing-up-etcd.html

**Definition of done Checklist (where applicable)**
- [x] Create tooling to back up ETCD
- [x] Document tooling
- [ ] Document restore process

[2020-05-19 22:27] StevenBarre opened #217 "Create pruning tools"
**Describe the issue**
An OpenShift cluster needs regular pruning to keep healthy. This includes the image registry soft and hard prune, as well as old builds and deployments.
https://docs.openshift.com/container-platform/4.4/applications/pruning-objects.html

Develop the needed CronJobs or other tooling to effect the pruning of the cluster

**Definition of done Checklist (where applicable)**
- [x

[2020-05-19 22:32] StevenBarre opened #218 "Create tool to get list of evicted pods on a host failure"
**Describe the issue**
When a OCP host crashes or goes NotReady it is helpful to be able to get a list of pods that needed to be rescheduled to other nodes. In OCP3 we have a playbook to scrape the master controller logs and pull this data.

**Definition of done Checklist (where applicable)**
- [x] Tool to generate a text file listing impacted pods on a node failure
- [x] Documentation on how to u

[2020-05-19 22:32] sbarre-esit opened #219 "Develop procedure for host firmware patching"

[2020-05-19 22:33] StevenBarre opened #220 "Create HPE tools DaemonSet"

[2020-05-19 22:33] StevenBarre opened #221 "Create EnCase DaemonSet"
**Describe the issue**
The OCIO requires that all servers have EnCase on them and exposed to them.

**Definition of done Checklist (where applicable)**
- [x] Build a container image of the encase service
- [x] Deploy a DaemonSet of EnCase agents to a lab cluster

[2020-05-19 22:33] StevenBarre opened #222 "Create ocp-monitor DaemonSet"

[2020-05-19 22:36] StevenBarre opened #223 "Develop Day 2 tasks"
**Describe the issue**
An OpenShift cluster needs several tool to support monitoring and ongoing maintenance such as operators, cronjobs, and daemonsets. This EPIC is to track the creation of those tools.

**Which Sprint Goal is this issue related to?**
TBD

**Definition of done Checklist (where applicable)**
Complete all sub-tasks

[2020-05-19 22:47] StevenBarre opened #224 "Create LLDP DaamonSet"
**Describe the issue**
The Network team wants us to have an Link Layer Discovery Protocol agent running on servers to publish their details to the upstream network switches.

**Definition of done Checklist (where applicable)**
- [x] Build a container image containing the LLDP agent
- [x] Deploy a DaemonSet of LLDP agents to a lab cluster

[2020-05-19 22:47] StevenBarre opened #225 "Create CronJob to enable DeDupe/Compression on NetApp volumes"

[2020-05-19 22:56] stregear commented on #210
DXC DCM sent in request to Q9  proceed and have requested new dates to light up the rack, Q9 will work with ICBC to find a date/time.   Q9 would like to avoid starting May 25th and June 5th.   Q9 will come back with dates, if they are told there is still a freeze Sharon will escalate to David Ell.  The 3 maintenance windows will take between 3 and 4 weeks to complete.

[2020-05-19 23:23] stregear commented on #209
TOR and NAS switches for the silver cluster are still with procurement and finance, so  a PO has not yet been cut expect this will take another week and a half  to get a PO out of the door.
Switches: Once switches arrive, will take DCM approx 4 hours to rack and cable each switch;   Network team will need another 4 hours per  switch to assign IP addresses, names etc. and load the configuration.

[2020-05-20 00:19] stregear commented on #209
If the servers arrive May 22, they should be completely racked by the end of next week  May 29th.   The 1GB management switches we have in stock and those 2 connections per server can be cabled.   The remaining cabling (60 cables) cannot be completed until the switches arrive.  DCM will manually configure the iLOs , however,  this will require  DNS assignments and the iLO IP which typically takes

[2020-05-20 00:22] stregear commented on #209
Time (aprox) :

1 week an 2 days to rack servers/NetApp (cabling when the switches finally arrive may take another 3-4 days) and it will take 4 hrs to rack and cable each switch plus 4 hrs to build each switch.
2 days to rack/cable and configure the temporary HP NAS switches.
2-3 weeks to configure the NetApp.
2- 3 weeks to build a cluster and 2 - 3  week to burn it in and test.
F5 /SDN - a month

[2020-05-20 00:54] Joe-Craig commented on #115
BN was complete and sent to Hosting Branch. They will present to BC DEvExchange and give the OK to move forward to SCO.

[2020-05-20 00:54] #115 closed, assigned to Joe-Craig

[2020-05-20 00:56] Joe-Craig commented on #163
Arista switches are with finance (final step to procurement)
HP switches are still needing a refreshed quote to do final pricing.

[2020-05-20 00:58] Joe-Craig commented on #175
BN presented and accepted by hosting branch.
Additional SCO to purchase new transceivers is required to implement the F5 recommendations.

[2020-05-20 00:58] #175 closed, assigned to DanDeane, Joe-Craig, stregear

[2020-05-20 18:18] jefkel opened #226 "Default namespace NetworkPolicy"
Implement (partial) Zero trust network policy as the default for namespaces in the clusters.

Base Allow (for cluster operations):
- [ ] OpenShift monitoring access
- [ ] OpenShift ingress access **(?)**
- [ ] more ... ?

[2020-05-20 18:44] jefkel opened #227 "Automate F5 Virtual Server to Service Mapping"
Automation is required for creating non-http ingress, but should not allow direct manipulation of the F5 resource by development teams.

Current idea:
CR in app namespace requesting F5 server mapping to specific service.
Operator creates F5 Server -> namespace service ingress (using specific IP/port from a managed pool)
Operator updates app namespace CR with external IP:Port assignment.

Assumes t

[2020-05-20 20:36] mitovskaol opened #228 "SDN Compartment is Available- Klab"
This is the external dependency to track the status of the SDN Compartment that is being built by the Hosting Branch and needs to be available before the OCP 4 Clusters can be deployed there.

- [x] VLAN for hosts and F5 for NATing
- [x] Public IP addresses routing to the new VLAN

[2020-05-20 21:07] mitovskaol opened #229 "Create Automation for Project Provisioning in OCP 4"
A placeholder to develop automation and standards for project namespace provisioning in OCP 4

Link to the corresponding ticket in Platform Experience ZenHub.
https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcgov/platform-services-registry/22

Definition of Done:
- [ ] Project Provisioning Pipeline Implemented (GitOps)
- [ ] Project Provisioning Pipeline Docum

[2020-05-20 21:22] mitovskaol opened #230 "Determine Implementation design pattern for Artifactory in OCP 4 (SPIKE)"
Explore the use case of using Artifactory as a primary production image repository

Design Elements:
- [ ] Integration with AQUA for Artifactory use enforcement for production deployments
- [ ] Cross cluster sync for image repositories
- [x] Pull-Through/Caching repository for external repo sources (dockerhub/redhat/etc)
- [x] Additional project provisioning requirements

[2020-05-22 19:33] StevenBarre commented on #221
https://github.com/bcgov-c/platform-tools/tree/master/images/bcgov-encase

[2020-05-22 19:56] StevenBarre commented on #193
Nodes added to cluster

[2020-05-22 19:56] #193 closed, assigned to StevenBarre, tosazuwa, stregear

[2020-05-25 18:49] jefkel commented on #194
See PR https://github.com/BCDevOps/OpenShift4-RollOut/pull/233 for decision support/recommendations.

[2020-05-25 18:57] jefkel commented on #199
Assuming no issues with decision in Ticket #194, then I would like to leverage this update as it supports a better pattern for the non-http ingress automation. (ie: leveraging the operator and CRD's for route objects rather than config maps)

[2020-05-25 19:04] jefkel commented on #187
Can we also track how long it takes to re-build a cluster?  I would expect drops in time required as we practice/automate, but eventually we could also see increases in time due to additional automated steps?

The goal being that we want to have as much documentation about known deployment times for a given cluster, along with clear pre-requisites and external dependency documentation where it is

[2020-05-25 19:09] jefkel commented on #187
Also, links in the documentation reference cluster build automation that is not accessible as part of the developed automation: (https://github.dxc.com/AdvSol/rhcos-ignition-builder).

Is this not included as automation code for the project?

[2020-05-25 20:44] jefkel opened #234 "Move Azure Diagram to Documize"
- [x] put the following diagram under the protected space in Documize together with the rest of the OCP 4 diagrams
- [x] remove from github content
https://github.com/BCDevOps/OpenShift4-RollOut/blob/master/openshift4-azure/docs/azure-ocp4-network-diagram.png

[2020-05-25 21:44] tosazuwa commented on #174
@stregear , do we have a new status on this ticket?

[2020-05-25 21:54] mitovskaol commented on #185
@stregear can you please update the checklist in the ticket where the tasks have been complete. Thanks!

[2020-05-25 22:26] jefkel opened #235 "Separate OPS from Developer logs"
RedHat Recommendation for our OCP deployment was to look at separating the operational logs from the developer logs.  To design a split logging system, the following pieces of information are for planning purposes:

**DoD:**
- [x] Gather current log utilization averages for future planning
- [x] Determine internal log support for splitting log services as described.

**Outcomes**
No separation of

[2020-05-25 22:27] jefkel commented on #235
@sbarre-esit could you update this ticket with the current ingestion averages for the OCP3 platform, storage size/consumed, shards, etc?

[2020-05-25 23:25] stregear commented on #174
The Tech Note for the SDN Compartment is still with JTSAWG.  Requested that this move forward as soon as possible.

[2020-05-26 21:38] jefkel opened #236 "Recommendation: Cluster IP Network re-use or unique?"
Currently we have multiple IP Networks in use by each cluster with a small number of public IP addresses required for ingress and egress.  Some of these private networks could be re-used across multiple clusters in order to reduce the unique network requirements for the data-centres.

At the moment, we are re-using the internal pod and service networks within each of the clusters as a quick decisi

[2020-05-27 16:32] StevenBarre commented on #199
I don't think the Operator is needed for [CRDs]https://github.com/F5Networks/k8s-bigip-ctlr/blob/master/docs/_static/config_examples/crd/CustomResource.md#how-cis-works-with-crds) ? I think the CIS pods themselves handle the VirtualServer objects. The Operator is just for deploying the CIS pods in a more modern way.

I think I just need to check that the Operator supports all the options we want t

[2020-05-27 19:17] j-pye commented on #197
OCP 4.4
Notes:
- Machine Config Operator only takes action on 1 MachineConfigPool and 1 Node at a time.
- Applying a MachineConfig while another is still rolling out will not impact any additional nodes, rollout proceeds with the updated rendered MC until all nodes are up to date.
- The Machine Config Operator will not remove files even if the rendered config no longer contains those files.
- Duri

[2020-05-27 19:51] j-pye opened #238 "Vault Automation Design for OCP 4"
- Work with Jeff/Marek to determine Vault design.

[2020-05-27 21:15] Joe-Craig commented on #163
HP switches have been ordered and Arista switches are with procurement.

[2020-05-27 21:20] StevenBarre commented on #194
Blocked while KLAB is moved to the SDN Compartment

[2020-05-27 21:23] tosazuwa commented on #234
Move to Archive folder in Documize-Tolu

[2020-05-27 21:27] Joe-Craig commented on #191
Brief Note issued for review - May 15th

[2020-05-27 21:27] Joe-Craig commented on #191
Additional servers where requested to be added to the Brief Note - 18th May

[2020-05-27 21:28] Joe-Craig commented on #191
Brief Note re-issued with additional hardware (8 more worker nodes) - 18th May

[2020-05-27 21:28] Joe-Craig commented on #191
Awaiting - Confirmation from Davis Ell to move to SCO

[2020-05-27 21:33] StevenBarre commented on #197
Refreshing my memory, this is related to https://github.com/bcgov-c/platform-ops/pull/224

So to answer the questions

- Multiple MCs are created for the same Node Pool

If a playbook creates several MCs, one node might have to get restarted twice to get it fully up to date, but the rest of the nodes will only update straight to the latest MCP.

- Master / Worker MCs are created at the same time

[2020-05-27 21:44] Joe-Craig commented on #209
I was just given dates for completing the electrical energizing of the 3 new racks.

CHG0034704 K147 - Branch Circuit Maintenance - YELLOW on 6/25/20
CHG0034696 K147 - Branch Circuit Maintenance - RED on 6/21/20
CHG0034705 K147 - Branch Circuit Maintenance – BLUE on  6/18/20

With the latest date being June 25th, that is the first date where all racks will have full power diversity.
Each rack will

[2020-05-27 22:00] NickCorcoran commented on #243
https://www2.gov.bc.ca/assets/gov/government/services-for-government-and-broader-public-sector/information-technology-services/standards-files/criticalsystemsstandard_v30.pdf

https://www2.gov.bc.ca/assets/gov/government/services-for-government-and-broader-public-sector/information-technology-services/standards-files/css_guidelines_v30.pdf

[2020-05-27 22:01] StevenBarre commented on #210
These have now been scheduled

- Branch Circuit Maintenance – BLUE on  June 18
- Branch Circuit Maintenance - RED on June 21
- Branch Circuit Maintenance - YELLOW on June 25

[2020-05-28 18:04] Joe-Craig commented on #163
ETA for HP switches is June 25th for both Kamloops and Calgary

[2020-05-28 19:39] StevenBarre commented on #235
Ops logs per day average. Total storage required would be double as there are two copies of the data.
[code]

Developer logs per day average. Total storage required would be double as there are two copies of the data.
[code]

Plus account for some free space, as ES gets grumpy above about 80% per node.

[2020-05-28 19:54] StevenBarre commented on #235
We should also take into consideration the number of ES nodes needed. Matt has previously told me ES doesn't scale much past 64G of Memory. Half of that is for the Java heap. [ES recommends](https://www.elastic.co/guide/en/elasticsearch/reference/current/scalability.html) 20 shards per GB of heap. There are 2 shards per namespace per day.

[2020-05-29 18:20] DanDeane opened #247 "Confirm availability/timeline of Backup & Storage Teams to configure NetBackup & Netapp Config"
Confirm availability/timeline of Backup & Storage Teams to configure NetBackup & Netapp Config

[2020-05-29 18:21] DanDeane commented on #247
storage team has stated that they should be able to have the solution figured out and working by the end of June as long as all required storage solutions are ready and online.

[2020-05-29 18:22] #247 closed, assigned to DanDeane

[2020-06-01 21:21] StevenBarre commented on #155
While working on the LUN ID issue today, I leaned that I can in fact target a Storage Class to a specific backend without needing separate Aggregates. The `storagePools` parameter can take wildcards of just the backend name. https://github.com/NetApp/trident/blob/master/trident-installer/sample-input/storage-class-gold-regex.yaml#L7

I've tested this in CLAB and was able to get different volume pr

[2020-06-02 17:50] Joe-Craig commented on #163
PO has been cut for Arista switches but  no ETA for their arrival yet.

[2020-06-02 21:24] mitovskaol commented on #163
@Joe-Craig Thank you for the update about the switches. Can you please confirm if we build the Silver cluster with HP switches or will need both types of switches -  HP and Arista - to build the Silver cluster?

[2020-06-02 21:32] StevenBarre commented on #163
We need both. The netapp will be accessed via the HPE switches, and the openshift intra-node traffic will flow over the Arista switches.

[2020-06-02 21:47] Joe-Craig commented on #163
@mitovskaol Yes the current design is (as Steven says.) NAS using HP and ToR using Arista.

[2020-06-02 22:30] StevenBarre commented on #155
Decided that we won't worry about splitting the disks into two aggregates given the new info.
Decided that we will start with netapp-backup-standard running on NFS Economy mode as its unlikely people will need self serve snapshots and preserving FlexVols will be important in the new system.

[2020-06-03 19:14] StevenBarre commented on #235
As ops logs are fairly small, if we are separating them out I'd prefer we look at a longer retention, say 30 days, as finding stuff in Kibana can be quite helpful for debugging cases with Red Hat. Cases aren't always resolved in under 7 days and we need to look back further.

[2020-06-03 19:17] StevenBarre commented on #235
I've opened a case with Red Hat to double check some of my previous assumptions around ES pod sizing.

[2020-06-04 15:59] j-pye opened #248 "Aporeto: Configure / Verify Host Protection Policies"
Definition of Done:
- [x] Host Protection Policies Created with Templates for other Clusters
- [x] Host Protection Policies Configured
- [x] Verified by DXC
- [x] Verified by Platform-Services.

[2020-06-04 16:01] j-pye opened #249 "Aporeto: Validate OCP Upgrade"
During the OCP 4.3.18 -> OCP 4.4.4 Upgrade we experienced an issue with a  MutatingWebhookConfiguration blocking the network operator from upgrading. Aporeto was installed but disabled at the time. After deleting the Aporeto operator the installation continued as expected.

- [x] Verify Aporeto Operator will not block OCP Upgrades
- [x] Verify Aporeto Enforcers will not block OCP Upgrades

[2020-06-04 16:08] j-pye opened #250 "Aporeto: Verify Network Policies Meet SDN Requirements"
- Insert SDN Requirements

[2020-06-04 16:09] j-pye opened #251 "Aporeto on OCP4"
Definition of Done:
Aporeto is ready to install on any cluster with the following requirements:
- [x] Playbooks support the install, upgrade, and install of Aporeto
- [x] Host Protection Enabled and Configured
- [x] Enforcer covers all nodes
- [x] OCP can be upgraded without needing to disable Aporeto
- [ ] Protective measures in case of Aporeto Failure have been put in place
-  [ ] Update Aporeto

[2020-06-04 17:36] mitovskaol commented on #197
Needs more investigation around the behaviour of unschedulable nodes.

[2020-06-04 17:36] mitovskaol commented on #174
Waiting on David to provide his approval before we can proceed.

[2020-06-04 17:38] mitovskaol commented on #186
Need time to automate the workaround.

[2020-06-04 17:40] mitovskaol commented on #49
Waiting for transivers for F5, the quotes are with Finance for review and approval. @stregear  will find out what the next step is going to be and an ETA.

[2020-06-04 17:47] mitovskaol commented on #37
The decision was made to use the HP switches that have been intended for the DR site in Calgary for the Silver cluster in Kamloops. When Arista switches, that have originally been intended for use in the Silver cluster, arrive (some time in August), they will be swaped with the HP switches. NOTE: Platform wide outage is expected during the switch swap. Need to prepare and communicate with the prod

[2020-06-04 17:49] j-pye commented on #190
Testing latest version of Enforcer: 3.14.4

[2020-06-04 17:51] mitovskaol commented on #191
Received an approval to move to SCO. Will start working on the SCO, ETA for the having the SCO complete is June 12. After that the next step is to submit to Leanne for signing.

[2020-06-04 18:02] mitovskaol commented on #33
@jefkel Can you please update the BCGov OCP4 Cluster Worksheets spreadsheet with the new 8 nodes that we have ordered recently so that we know whether they will be used for the Silver cluster and/or Gold.

[2020-06-04 18:05] mitovskaol commented on #187
@wmhutchison will rebuild the cluster and measure the time it takes.

[2020-06-04 18:07] mitovskaol commented on #163
See the update in ticket #37

[2020-06-04 18:08] mitovskaol commented on #195
Still in progress, need more time to explore Argo.

[2020-06-08 16:45] mitovskaol opened #252 "Research and Document Migrationo Standalone Aporeto to Prisma Cloud Compute"
**Need to understand the amount of effort and steps involved in migrating from the Aporeto implementation that we currently have in OCP 4 to PCC.**

[2020-06-08 16:58] mitovskaol commented on #252
The early integration points  for Prisma Cloud won't be available until August. Putting this ticket in the Icebox until that time.

[2020-06-08 17:11] jefkel opened #253 "Update Cluster Hardware documentation"
**Purpose: **
Keep the shared *BCGov OCP4 Cluster Worksheets* spreadsheet up to date with hardware assignments

**Background:**
Found in the shared Google Drive:
`Openshift 4 Buildout Project`->`Technical Diagrams/Design/Architecture`->`BCGov OCP4 Cluster Worksheets`

**Release 2: Cluster Infrastructure** tab reflects current (pre-migration) cluster hardware lists.
**Release 3: Cluster Infrastruct

[2020-06-08 17:31] jefkel commented on #33
@mitovskaol I was not involved in the direct planning for those hosts when they were ordered, but I would recommend that they are included in the Silver cluster to bump up the capacity for that cluster.  The initial migration will not include any Gold cluster project targets, so we can minimize the App Node hardware in the Gold cluster until the migration is well underway.

I have created ticket #

[2020-06-08 18:20] mitovskaol commented on #33
@sbarre-esit Can you please update the spreadsheet with the details of the new 8 nodes. Thanks!

[2020-06-08 19:15] StevenBarre commented on #253
@stregear @Joe-Craig can one of you take this on? I don't know the details of the 8 new hosts.

[2020-06-08 20:16] mitovskaol opened #254 "Design new CPU/RAM Resource Allocation Quotas for Silver and Gold Cluster"
With the goal to make the resource usage on the Platform more efficient, a new quota system is needed to allocate resources to projects on OCP 4 Platform (Silver and Gold/DR clusters).
One approach is to have a T-shirt size based resource allocation - small, medium and large where a certain amount of resources from the 3 resource categories (CPU/RAM/Storage) will be pre-packaged together and appli

[2020-06-08 21:12] tosazuwa commented on #185
Worked with Sharon to check off complete tasks
Sharon Submitted a request to IIS waiting to confirm if an STRA is required.

[2020-06-08 21:18] mitovskaol commented on #185
@tosazuwa FYI @NickCorcoran is working on the OCP 4 STRA at the moment.

[2020-06-08 21:38] jefkel commented on #253
@mitovskaol , @Joe-Craig Quick question re: 8 new hosts (and 6 VM's for existing 3.11 too I guess)

Have additional RedHat OCP entitlements been ordered with the VMs and the 8 additional hosts?  (Those extra cores are NOT covered under the existing core entitlement counts we have available)

[2020-06-08 21:41] mitovskaol commented on #230
Moving to the Backlog to discuss in the next Sprint Planning.

[2020-06-08 21:46] Joe-Craig commented on #253
@jefkel We have not received any request to purchase more RedHat subscriptions. Either for the 8 new nodes or the 6 Vms.

[2020-06-09 23:29] StevenBarre commented on #254
I prefer the idea "small is default for all environments prod and non-prod, if a bigger size is required , request a justification from the product team"

There is also the idea of Terminating and Non-Terminating pods, which have separate quotas. Terminating are things like the deployer pod, builds, and cron jobs. Since these are short lived they can reasonably have larger quota as its not used al

[2020-06-10 19:12] StevenBarre commented on #254
Matt just showed me we can manage quotas at a more global scale in OCP4 with [ClusterResourceQuota](https://docs.openshift.com/container-platform/4.4/applications/quotas/quotas-setting-across-multiple-projects.html) that might be helpful for implementing tshirt sized quotas.

[2020-06-10 19:13] StevenBarre commented on #254
LOL, nevermind.

[2020-06-10 22:37] wmhutchison commented on #187
Rebuild KPROD/Pacific cluster, starting from a state where all VMs are powered off and about to power up the bootstrap VM for imaging, and ends with all nodes in the cluster up, and automation ran to configure up Trident/Github authentication/EFK Logging.

Take 1: 61 minutes approx.
- 1:50pm to 1:53pm (turn on and image bootstrap, wait for initial API response)
- 1:54pm to 2:07pm (turn on and imag

[2020-06-10 23:36] wmhutchison commented on #187
FYI if curious, took about 47 minutes to complete a cluster upgrade for KPROD/Pacific which has zero user workloads on it (3 masters, 3 infra, 4 app).

[2020-06-11 16:47] StevenBarre commented on #235
Here are some details around logging config and scale.

Tested with: GCP n1-standard-64 for ElasticSearch nodes
GCP: 64 core, 240GB RAM

Worker nodes: n1-standard-4
GCP: 4CPU, 15GB RAM

ElasticSearch configured with 3 nodes, SingleRedundancy, 61GB pod memory request and limit and 36 cpu request and limit and 200GB storage
fluentd: Pods producing increasing rates of messages to stdout from 1000 1KB

[2020-06-11 19:03] jefkel commented on #236
see https://github.com/BCDevOps/OpenShift4-RollOut/blob/master/docs/Cluster-Internal-networks.md for recommendation.

Discussions here:
https://github.com/BCDevOps/OpenShift4-RollOut/pull/237

[2020-06-11 19:03] #236 closed, assigned to jefkel

[2020-06-11 19:07] jefkel commented on #194
F5 and HAProxy decision recommendation can be found here: https://github.com/BCDevOps/OpenShift4-RollOut/blob/master/docs/F5-vs-HAProxy.md

[2020-06-11 19:18] jefkel opened #255 "Request second set of Internal Cluster IP Ranges"
An extra set of Internal Cluster IP Ranges has been recommended:
https://github.com/BCDevOps/OpenShift4-RollOut/blob/master/docs/Cluster-Internal-networks.md

- [x] 2 new Private, Non-Routable /16 networks to be requested.  These networks will be the internal cluster networks for the Calgary DC (Region) clusters.
- [x] Architecture documentation updated with new networks

[2020-06-12 19:27] StevenBarre commented on #235
In OCP 4.5 ES will be changed to not use an index per project, so ES should be much more efficient with its resource usage. See https://github.com/openshift/enhancements/blob/master/enhancements/cluster-logging/cluster-logging-es-rollover-data-design.md for more details.

I think going with 3 nodes at 64Gi memory as we have in OCP3 should be fine for OCP4

[2020-06-12 23:18] StevenBarre commented on #255
Requested. Got some pushback and provided some more details.

[2020-06-15 16:55] jefkel commented on #255
Had a call with David Ell, seems like we reached a go forward:

- Separate /16's for Kamloops and Calgary works better for OCIO tracking of private network usage
- We get different internal IP blocks for potential service discovery in the future (across regions)

win/win for us I think?

[2020-06-15 17:00] jefkel commented on #33
Closing this as the initial architecture work is complete, and further updates to the documentation will be covered in their own tasks.

Archiving the individual cluster documents in favor of a broader platform architecture document.  Individual cluster details will be found within this 1 document, or within additional tracking documentation.

Platform Architecture document:
https://docs.google.co

[2020-06-15 17:00] #33 closed, assigned to jefkel, StevenBarre

[2020-06-15 22:04] #190 closed, assigned to j-pye

[2020-06-15 22:19] j-pye commented on #197
@sbarre-esit Finished testing with unscheduled nodes.

- Multiple MCs are created for the same Node Pool
If a playbook creates several MCs, one node might have to get restarted twice to get it fully up to date, but the rest of the nodes will only update straight to the latest MCP. **Yes, that's correct.**

- Master / Worker MCs are created at the same time
MCPs are managed separately and in parall

[2020-06-15 22:19] #197 closed, assigned to j-pye

[2020-06-15 22:24] j-pye opened #256 "Hashicorp Vault Points of Contact"
Who are our points of contact for Hashicorp Vault:

- Subscriptions/Licensing/Access?
- Enterprise Support contact?

[2020-06-15 23:29] mitovskaol commented on #256
Assigning to @stewartshea who is our inital point of contact for Hashicorp licenses. Shea, can you please respond to Justin's questions above. Thanks!

[2020-06-16 15:13] stewartshea commented on #256
I've sent an introductory email :)

[2020-06-16 15:13] #256 closed, assigned to j-pye, stewartshea, jefkel, mitovskaol

[2020-06-16 17:42] StevenBarre commented on #186
https://github.com/bcgov-c/platform-ops/pull/246

[2020-06-16 19:01] mitovskaol commented on #198
Waiting to see if the new defaults implemented in OCP 3.11 work well and if they do, will carry them over to the new OCP 4 Platform

[2020-06-17 16:34] j-pye opened #257 "Gather Resource Requirements for ALL Tools"
- [ ] Aporeto
- [ ] Aqua
- [ ] Vault
- [ ] Artifactory?

Insert link to spreadsheet!

[2020-06-17 16:47] j-pye opened #258 "Aporeto: K8s NetworkPolicy Integration"
Does aporeto support the creation of k8s network policies from aporeto network policies or vice-versa?

[2020-06-17 16:49] StevenBarre commented on #37
Moving to blocked waiting on SDN compartment.

[2020-06-17 16:56] j-pye commented on #258
I've messaged Julian from Aporeto in Slack. Will update when I have more info.

[2020-06-17 16:59] jefkel commented on #255
From Brian Price:

[2020-06-17 17:01] StevenBarre commented on #199
Based on my reading and experiences with F5 so far, I'm going to vote against using the operator. I think it may be too restrictive in which options it supports vs just creating the deployments myself via ansible. Having direct control of the containers args instead of having an operator in the middle will give us more control and able to use new features more quickly.

The CIS components are not

[2020-06-17 17:01] #199 closed, assigned to StevenBarre

[2020-06-17 17:08] j-pye commented on #258
[code]

Given this is not going to be in future releases, we will not be using it.
Leaving this Open until after Sprint Planning.

[2020-06-17 18:09] StevenBarre commented on #205
@mitovskaol has approved the new names.

[2020-06-17 20:23] stewartshea opened #259 "ARO DNS Decision for Canadian Deployment"
We will need a subdomain created and delegated to Azure for ARO related clusters.
- [x] Determine subdomain
- [x] Create delegation records to Azure DNS

[2020-06-17 20:25] sbarre-esit commented on #200
I also want to create a simple python webapp middleman between AlertManager and Nagios. https://developers.redhat.com/blog/2020/04/29/alertmanager-watchdog-monitoring-with-nagios-passive-checks/

[2020-06-17 20:28] StevenBarre commented on #259
@jefkel @mitovskaol any ideas what we are naming this cluster?

[2020-06-17 20:35] stewartshea commented on #259
@sbarre-esit I don't think it's about the specific cluster name yet,  but more about the subdomain it will belong to. I'm thinking something like aro.devops.gov.bc.ca?

[2020-06-17 21:00] j-pye opened #261 "Discuss Alternatives for Handling Aporeto Failure"
The purpose of this ticket is to track our plan for Aporeto Outages (partial and complete)

We need to monitor that an Aporeto enforcer on a node is up and healthy:

 - [ ] move Aporeto enforcers daemon set as well as Aporeto and bcgov operators into the **"openshift-advsol-aporeto-*"** namespace so that it can be monitored automatically by the built-in Openshift and Kubernetes monitoring. (@j-pye

[2020-06-17 21:02] mitovskaol commented on #259
I like the aro.devops.gov.bc.ca!

[2020-06-17 21:21] jefkel commented on #174
Feedback from David Ell received, will be reviewing and making updates/changes as required.

[2020-06-17 21:32] #259 closed, assigned to stewartshea, jefkel, StevenBarre

[2020-06-17 21:32] StevenBarre commented on #259
Done!

[2020-06-17 22:16] StevenBarre opened #262 "Configure maxUnavailable for worker MCP"
- [ ] operational test cases
- [ ] better edge case impact descriptions
- [ ] hardware timing tests to be described

https://docs.openshift.com/container-platform/4.4/scalability_and_performance/recommended-host-practices.html#create-a-kubeletconfig-crd-to-edit-kubelet-parameters_

Make updates go faster. Zoom zoom.

[2020-06-17 22:17] StevenBarre commented on #203
https://docs.openshift.com/container-platform/4.4/nodes/nodes/nodes-nodes-resources-configuring.html#nodes-nodes-resources-configuring-setting_nodes-nodes-resources-configuring

[2020-06-17 22:18] #186 closed, assigned to StevenBarre

[2020-06-17 22:20] #23 closed, assigned to nobody

[2020-06-17 22:24] StevenBarre commented on #67
My understanding was that Gold-DR is being built entirely from repurposed v3 hardware? @jefkel

[2020-06-17 22:26] StevenBarre commented on #69
Completed in #36 and #151

[2020-06-17 22:26] #69 closed, assigned to nobody

[2020-06-17 22:32] StevenBarre commented on #88
https://github.com/bcgov-c/platform-ops/pull/209 started this work by adding a logo.

Notification banners are controled with ConsoleNotification objects. The statuspage bot could easily create those objects in response to PRs.

I don't think we have any specific links we want to add?

[2020-06-17 22:43] StevenBarre commented on #235
https://docs.openshift.com/container-platform/4.4/logging/cluster-logging-deploying-about.html#cluster-logging-deploy-storage-considerations_cluster-logging-deploying-about

[2020-06-17 22:47] StevenBarre opened #263 "Automate Event Router deployment"
https://docs.openshift.com/container-platform/4.4/logging/cluster-logging-eventrouter.html

[2020-06-17 22:52] StevenBarre commented on #235
I'm not even sure OCP4 supports separating the ops and apps logs? Opened a case with RH to ask.

[2020-06-17 22:56] StevenBarre commented on #208
So this has been handled in v4 with https://github.com/bcgov-c/platform-ops/pull/220

Who would manage that? Is that something for @NickCorcoran and the SIEM team to work on? or can this be closed now?

[2020-06-17 23:03] StevenBarre commented on #212
https://github.dxc.com/AdvSol/rhcos-ignition-builder/pull/12

If you need to add more nodes later, create their inventory and then run

[code]

This will pull down the new cert from api-int.cluster and add it into the ignition files as well as setting up dhcpd and tftpd. Follow the same steps to approve the CSRs and wait for the node to get added to the cluster.

[2020-06-17 23:03] #212 closed, assigned to nobody

[2020-06-17 23:06] StevenBarre commented on #195
@j-pye have you seen https://docs.openshift.com/container-platform/4.4/scalability_and_performance/argocd.html ?

Oh, nevermind. Looks like there's not much info in there. Neat that it does get a mention in the official docs though!

[2020-06-17 23:20] jefkel commented on #67
Yes, (not including NetApp though).  So this could change to "Ship Servers for Calgary DR?"

[2020-06-17 23:44] stewartshea commented on #28
This can be created under aro.devops.gov.bc.ca when deployed in Azure

[2020-06-18 17:59] StevenBarre opened #264 "Decomission KPROD/Pacific Cluster"
- [x] Rename mcs-kprod-util to mcs-silver-util to assist in building physical silver cluster
- [x] Rename / reimage 4 VMs mcs-kprod-app-\* to mcs-klab-app-\* to expand lab capacity
- [x] Decommission mcs-kprod-master-\* and mcs-kprod-infra-\*
- [x] Decomission Pacific ONTAP Select cluster
- [x] Use KPRODs current Prod subnet as the public side of the Silver F5
- [x] Use KPRODs MGMT and Storage sub

[2020-06-18 18:33] StevenBarre opened #265 "Automate Cluster Metering installation"
https://docs.openshift.com/container-platform/4.4/metering/metering-about-metering.html

[2020-06-18 22:26] StevenBarre opened #266 "Automate Cluster Monitoring setup"
While we've already got some code to move the monitoring to the infra nodes, there are more features we should configure and automate.

- [x] [Persistent Storage](https://docs.openshift.com/container-platform/4.4/monitoring/cluster_monitoring/configuring-the-monitoring-stack.html#configuring-persistent-storage)
- [x] [Retention time](https://docs.openshift.com/container-platform/4.4/monitoring/clu

[2020-06-19 17:54] StevenBarre commented on #266
https://github.com/bcgov-c/platform-ops/pull/251

[2020-06-19 20:17] StevenBarre commented on #155
https://github.com/bcgov-c/platform-ops/pull/253

[2020-06-23 17:44] StevenBarre commented on #263
https://github.com/bcgov-c/platform-ops/pull/254

[2020-06-23 17:45] #155 closed, assigned to StevenBarre

[2020-06-23 18:51] StevenBarre opened #268 "Configure default scheduler"
https://docs.openshift.com/container-platform/4.4/nodes/scheduling/nodes-scheduler-default.html

Configure the Scheduler/cluster object to set the defaultNodeSelector to just the worker nodes.

[2020-06-23 19:03] jefkel commented on #202
Todo:
Object Storage:
- [x] create bucket user (thetis cluster)
- [x] create bucket (Thetis test cluster registry)
- [x] validate connectivity/access
- [x] design load test scenario
- [ ] test failure scenarios and document failure outcomes

[2020-06-23 19:47] jefkel opened #269 "Migrate Developer SSO to OCP4"
Migration of existing SSO to OCP4 will need several steps:

- [ ] Deploy sandbox SSO in OCP4
- [ ] Change SSO endpoints from {x}.pathfinder.gov.bc.ca -> {x}.oidc.gov.bc.ca
- [ ] Create dev/test/prod deployment pipeline for OCP4
- [ ] State migration steps/plans
- [ ] Shutdown pathfinder deployed SSO instances

Definition of Done:
Platform Services SSO migration to the silver cluster is complete, w

[2020-06-23 23:15] StevenBarre commented on #262
https://github.com/bcgov-c/platform-ops/pull/255

[2020-06-23 23:17] StevenBarre commented on #262
@jefkel @mitovskaol what are your feelings on turning up this number for the Silver cluster? The biggest issue I see is that if someone has an application scaled up, but no PodDisruptionBudget, they could be unlucky and have all the nodes their pods are on get taken out at the same time for patching.

But as our cluster grows, doing serial rolling reboots is going to become more and more of a time

[2020-06-24 16:12] jefkel commented on #262
I think the question of "How do we speed up app node updates" is a good investigation to do.  What are all of the options for controlling updates, and what are some of the edge cases that we might run into:
some quick thoughts are:
- what are the timings that we're looking at now? (ie: how urgent is the issue of "faster updates"?)
- What does a "stuck" update look like?
- Ideas on other ways to ma

[2020-06-24 16:52] StevenBarre commented on #262
The update in OCP3 has been running since July 13th. Physical nodes are slow to reboot, take a long time to evacuate, and there's like 40 of them. When this is an automated process and there is no "end of the day, pause now please" button, I'm worried that OCP upgrades could take 24 or 48 hours straight.

In a 4 node VM cluster, there's not much I can test for timing.

`oc get mcp` will show a non

[2020-06-24 17:07] jefkel commented on #262
Not against the idea, however there is still testing that's outstanding before this can be decided.  (key tests are hardware timing, etc.)

Please add this to the backlog and if you're feeling eager, we still need operational test cases, better edge case impact descriptions, timing tests to be described.

[2020-06-24 19:25] StevenBarre commented on #268
https://github.com/bcgov-c/platform-ops/pull/257

[2020-06-24 19:27] StevenBarre commented on #203
https://github.com/bcgov-c/platform-ops/pull/256

[2020-06-25 16:01] #258 closed, assigned to j-pye

[2020-06-25 16:02] #257 closed, assigned to j-pye

[2020-06-25 18:11] StevenBarre commented on #265
Lots of goodies in https://github.com/kube-reporting/metering-operator/tree/release-4.4/manifests

[2020-06-25 18:34] jefkel opened #270 "CCM Integrations for DevSecOps Tools"
EPIC to track the deployment of the platform operations tools/services required for a working cluster.

- [x] SysDig
- [ ] AdvSol Monitoring
- [ ] Vault
- [ ] Artifactory
- [x] Aqua

[2020-06-26 20:13] #187 closed, assigned to StevenBarre, wmhutchison

[2020-06-26 20:14] StevenBarre opened #271 "OCP 4.4 fails to bootstrap (SPIKE)"
Testing our install scripts on OCP 4.4 fails to bootstrap. Opened a case with Red Hat https://access.redhat.com/support/cases/#/case/02689446

[2020-06-26 23:24] #265 closed, assigned to StevenBarre

[2020-06-26 23:25] #266 closed, assigned to StevenBarre

[2020-06-26 23:25] #263 closed, assigned to StevenBarre

[2020-06-26 23:25] #203 closed, assigned to StevenBarre

[2020-06-26 23:25] #268 closed, assigned to StevenBarre

[2020-06-26 23:28] StevenBarre commented on #202
Access validated and built a new image and confirmed it was stored in ECS

[2020-06-29 22:51] StevenBarre commented on #198
What's the maximum size we want any one container to be? We probably want to set it low and encourage horizontal scaling. How about 2 CPU cores?

We can also set the mimimum PVC size to match that of what Trident supports (which is quite small)

[code]

[2020-06-29 23:24] mitovskaol commented on #198
Everything I learnt about container auto-scaling points to horizontal scaling to be a preferred way over vertical scaling. Also, the Platform resources will remain to be an issue for a while even after the OCP 4 build-out . So I am thinking let's keep the defaults and quotas to minimum and have teams come to us if they need more storage/resources. @stewartshea @jefkel what are you thoughts about t

[2020-06-30 16:59] jefkel commented on #198
#### CPU and Memory Pod Maximums

There are some default maximums in place already (through namespace quotas), and my initial instinct is that if we are going to set a Max Pod resource limit, it should be as a percentage of the quota (ie: do we want to allow a team to consume 100% of it's quota in a single pod? 2 pods? should be pretty lenient)

We need to be careful about setting low _limit maxim

[2020-06-30 17:53] StevenBarre commented on #202
Going to see if I can re-purpose https://gist.github.com/ervinb/224359235ee046c68fbc9456d6c4662b for testing

[2020-06-30 18:03] StevenBarre commented on #173
@jefkel anything else we need here?

[2020-06-30 18:40] StevenBarre commented on #210
All Silver racks energized

[2020-06-30 18:40] #210 closed, assigned to stregear

[2020-06-30 18:44] StevenBarre commented on #253
The "Gold SCO" includes 3 masters and 19 worker/infras. @jefkel and @mitovskaol to discuss early next week how many are going into Gold and how many into Silver. GoldDR will be sized to match Gold.

[2020-06-30 21:51] jefkel commented on #173
Have you moved the missing pieces to other tickets? I'm still seeing some outstanding (blocked?) items on the list:
eg:
- [ ] Basic Nagios monitoring
- [ ] Figure out Ignition for physicals/bonding
etc...

[2020-06-30 22:57] jefkel commented on #173
@sbarre-esit  Looks like we need an external route for the registry setup?  (expected to see same behavior as production in ability to access registry remotely via docker commands)

[2020-07-02 20:42] tosazuwa opened #272 "Aporeto Enforcer in Network"
https://docs.pathfinder.gov.bc.ca/s/bn6v0ac6f9gue7hhirbg/protected-platform-services/d/bonkqskhpp5rkld1o310/aporeto-enforcer-in-network-zone-setup-guide

[2020-07-02 21:45] StevenBarre opened #273 "Automate setup of Nagios agentless monitoring of hosts"
**Describe the issue**
All servers should be monitored by the Nagios system for uptime via `ping` on their management interface and their iLO interface. We want to automate as much of this as possible.

**Definition of done Checklist (where applicable)**
- [x] Determine method of automation
- [x] Add lab cluster to Nagios monitoring
- [x] Test alerting
- [x] Support iLO monitoring

[2020-07-02 22:00] sbarre-esit opened #274 "Automate out of band management"
Automate via Ansible Tower configuring the out of band management of physical servers.

Server models
- [ ] HPE Gen9 iLO4
- [ ] HPE Gen10 iLO5
- [ ] Dell R640 iDRAC9

Things to automate
- [ ] Setting hostname
- [ ] Setting SNMP traps
- [ ] Connect to management tool (OneView, OpenManage)
- [ ] Setting Remote Syslog endpoints
- [ ] Setting DNS Servers
- [ ] Setting alert email SMTP and address

In

[2020-07-02 22:08] StevenBarre commented on #173
Done, also see https://github.com/BCDevOps/OpenShift4-RollOut/pull/275

https://github.com/bcgov-c/platform-ops/pull/262

[2020-07-03 18:53] StevenBarre commented on #202
Test results: object store is MUCH slower than NFS. Pushing a 512Mi image to NFS took 47s and objstor took 124s

Got a hold of some slides from the OCIO Client Forum and not this bit

I'm going to close this and revert to NFS.

[2020-07-06 16:29] jefkel commented on #202
@sbarre-esit Great to know, could you update this ticket with the retrieval performance comparison too?  (and if you have more than the single sample for both, this would be a great place to capture that detail)

Putting actual validation numbers here will give a consolidated location if we need to pull that detail for a conversation about Object Store performance in the future.

[2020-07-06 16:43] jefkel commented on #202
Regarding external route name (need to customize the default to something more developer friendly)

Some background/ideas:

Current cluster registry:
docker-registry.pathfinder.gov.bc.ca

Name Ideas:
ocp-registry.apps.*{cluster}*.devops.gov.bc.ca
docker-registry.apps.*{cluster}*.devops.gov.bc.ca
openshift-registry.apps.*{cluster}*.devops.gov.bc.ca

**Winning name:**
image-registry.apps.*{cluster}*

[2020-07-08 15:44] j-pye opened #276 "Vault MVP on OCP4"
Description:
The Vault Minimum Viable Product on the new OpenShift 4 platform comprises the following elements:
- HA Deployment in an OpenShift cluster
- Developer accessible service as an alternative to OpenShift secrets

Definition of Done:
- [X] Vault HA Deployment within a single cluster
- [ ] Vault Architecture Design Finalized and Documented
- [X] Vault Structure Design Documented
- [X] Prov

[2020-07-08 16:45] j-pye commented on #238
We still need to figure out the definition of done for this but the initial design and implementation can be found at:

https://github.com/BCDevOps/platform-services/tree/feature/hc-vault/security/vault

[2020-07-08 17:03] j-pye commented on #249
I need another cluster to test this on. I say this because there's potential to stall all work on said cluster during testing. Open to suggestions for testing this sooner.

[2020-07-08 17:13] jefkel opened #277 "Deploy Artifactory and Artifactory Operator to clab"
**Goal**

Create a working deployment of Artifactory in the clab cluster that includes the artifactory operator.

**Done**

- [ ] Artifactory is deployed and functional (without image repository certificates)
- [ ] Operator is managing repo and service account creation
- [ ] Caching repos have been verified (dockerhub and redhat image registry specifically)

[2020-07-08 17:39] #240 closed, assigned to NickCorcoran

[2020-07-08 17:51] StevenBarre commented on #173
I've implemented all the items identified in https://github.com/BCDevOps/OpenShift4-RollOut/blob/cluster-config-auto/docs/deploy/DeploymentChecklists.md that can be automated with Ansible to stand up and configure a cluster to date.

Moving this Epic to the backlog in case any additional items are identified later.

[2020-07-08 18:15] NickCorcoran opened #278 "Network Policy updates"
Work with hosting on updates to network policy to include details on software defined networking to support new network zone and use on OpenShift.

[2020-07-08 19:20] j-pye opened #279 "DNS Names and SSL Certs for Vault"
In order to get Vault into a production ready state we need to setup DNS records for Vault as a Service and request the appropriate SSL Certs for those DNS entries.

**Additional Information**
Prod
[code]
Lab
[code]

**Definition of Done**
- [x] DNS Entries Requested
- [x] DNS Entries Set (Steven)
- [x] SSL Certs Requested
- [x] SSL Certs Received

[2020-07-08 19:21] j-pye opened #280 "Track Request for Vault Service DNS/SSL Certs"

[2020-07-08 20:03] tosazuwa opened #281 "Project Provisioning"
**Describe the issue**
A clear and concise description of what you want to happen.
Reminder - add estimate to ticket (based on level complexity, effort, risk etc.)

**Which Sprint Goal is this issue related to?**
The 'Milestone' should clearly list Sprint Goals - which one is this issue related to?

**Additional context**
Add any other context, attachments or screenshots

**Definition of done Chec

[2020-07-08 20:30] #204 closed, assigned to stewartshea

[2020-07-08 20:32] StevenBarre commented on #88
@mitovskaol Can you please review the available [customizations](https://docs.openshift.com/container-platform/4.2/web-console/customizing-the-web-console.html) for the web console and update this ticket with any additional ones you'd like made to https://console-openshift-console.apps.thetis.devops.gov.bc.ca/

[2020-07-08 20:39] StevenBarre commented on #221
PR https://github.com/bcgov-c/platform-tools/pull/11

[2020-07-08 20:45] StevenBarre commented on #224
PR https://github.com/bcgov-c/platform-tools/pull/10

[2020-07-08 20:47] stewartshea opened #282 "Integrate ARO with config management"
The ARO Canadian Cluster needs additional configurations and exploration; for this task, integrate the cluster into a gitops based configuration framework.

Definition of Done
Demonstrate configuration changes via a GitOps approach to the platform-services ARO cluster.

[2020-07-08 20:52] StevenBarre commented on #273
Had a chat with the Monitoring team and got API docs and a key.

Started looking into [Ansible-based Operators](https://docs.openshift.com/container-platform/4.4/operators/operator_sdk/osdk-ansible.html) with the idea of having it watch Node objects and create Nagios entries for each node. Then it would respond automatically to having additional nodes added to a cluster.

[2020-07-08 21:04] #234 closed, assigned to filiy, tosazuwa

[2020-07-08 21:06] mitovskaol commented on #88
It looks good to me , and since nobody provided any other comments I am going to close the ticket.

[2020-07-08 21:06] #88 closed, assigned to mitovskaol

[2020-07-08 21:07] tosazuwa commented on #228
@stregear to update with dates and % completion

[2020-07-08 21:28] tosazuwa commented on #163
DXC Still waiting on network config

[2020-07-08 21:30] Joe-Craig commented on #191
SCO with Province for approval.

[2020-07-08 21:35] tosazuwa commented on #174
Updates and changes have been completed and sent back to David Ell. @stregear to check status with David Ell

[2020-07-08 21:38] tosazuwa commented on #174
@stregear to confirm with Jeff Legault to confirm if internal STRA (AS ISS) needed

[2020-07-08 21:51] tosazuwa commented on #278
@NickCorcoran , is this a duplicate ticket?

[2020-07-08 21:56] NickCorcoran commented on #278
@tosazuwa, I closed it on the other board and created here since moving between boards strips anything useful anyhow.

[2020-07-08 22:14] NickCorcoran opened #283 "OCP 4 STRA - DefSec Controls"
- [x] Create current state map
- [x] Map out projected map for implementation date
- [x] Identify gaps
- [x] Document in SoAR

[2020-07-08 22:57] manderson-it commented on #238
test comment

[2020-07-08 22:59] manderson-it opened #284 "Design Structure within Vault"
Namespaces and Mount Points are Vaults within Vault and are meant for consumption by applications/app-teams with strong isolation between them.
This design will outline the structure of these namespaces and Mount Points and potential structure/naming conventions, e.g., dev, qa, and prod.

Definition of done:
- [X] Design structure documented
- [x] Peer-reviewed

[2020-07-09 16:45] jefkel opened #285 "(SPIKE) investigate Postgres Operator for Patroni"
**Problem:** Patroni needs a new version/update for OCP4

- [x] Investigate the option to leverage the postgres operator (https://github.com/zalando/postgres-operator) to manage patroni deployments on the cluster.

- [x] Investigate patroni build changes to allow it to work with OCP 4

DoD: Thumbs up or down for current version of postgres-operator for OCP4 launch, and a working patroni deployment

[2020-07-09 17:16] jefkel opened #286 "Plat-Image Jenkins"
Problem: Platform managed Jenkins image needs to have an automated build/deployment pipeline created.

DoD:
- [ ] Jenkins image(s) built on a regular basis in a Lab environment
- [ ] Jenkins image(s) pipeline deploy/test through lab->azure->silver->gold clusters

[2020-07-09 17:16] jefkel opened #287 "Plat-Image patroni"
Problem: Platform managed patroni image needs to have an automated build/deployment pipeline created.

DoD:
- [ ] patroni image(s) built on a regular basis in a Lab environment
- [ ] patroni image(s) pipeline deploy/test through lab->azure->silver->gold clusters

[2020-07-09 17:16] jefkel opened #288 "Plat-image caddy"
Problem: Platform managed caddy image needs to have an automated build/deployment pipeline created.

DoD:
- [ ] caddy image(s) built on a regular basis in a Lab environment
- [ ] caddy image(s) pipeline deploy/test through lab->azure->silver->gold clusters

[2020-07-09 17:17] jefkel opened #289 "Plat-image openshift image scheduled updates"
Problem: Images in the openshift namespace need to be updated regularly

DoD:
- [ ] scheduled (automated) updates of all images in openshift namespace
- [ ] developer documentation available for schedule and impact of using images from openshift namespace
- [ ] (Stretch) remove images that the platform team does not want to manage (images are expected to be available directly from RH repositories,

[2020-07-09 17:17] jefkel opened #290 "SG - OCP 4 Platform - Shared Image Management"
Platform Services has imported or built images that development teams may rely on.  These images need to be documented with appropriate update schedules and build/deploy/import pipelines for deployment and synchronization across multiple clusters.

This Epic will Track the progress of the image management tasks.

Definition of Done
All Plaform managed images in OpenShift 4 will be identified with

[2020-07-09 21:53] StevenBarre commented on #255
OCIO has supplied the two new OCP Cluster Networks for use on Calgary clusters.

@jefkel which docs specifically need updating? How do I effect those changes?

[2020-07-10 19:16] StevenBarre opened #291 "CLAB Networking issues | SPIKE"
**Describe the issue**
The most consistent thing I've seen is API Request Success Rate on the overview screen will randomly drop and show no data. The console itself has been inaccessible but sometimes works if you refresh a couple of times. Connections between pods occasionally time out.

On both pods and cluster Events pages.
I see messages in red that say Error connecting ... Connection didn't

[2020-07-10 19:19] StevenBarre commented on #291
Opened a case with RH for "OCP4: Prometheus metrics scraping issues" which seems to have solved itself, all Prom targets are now up.

Opened a case with RH for "OCP4: errors in etcd-operator" as there are events and errors in the logs of that operator indicating connection issues to the etcd pods.

Opened a case with RH for "OCP4: clusteroperator/authentication degraded" as there are events and er

[2020-07-10 20:05] StevenBarre commented on #291
Attempting an upgrade to 4.4.11 to see if that resolves anything

[2020-07-10 22:52] jefkel opened #292 "Deploy Artifactory to clab"
**Describe the issue**
Deploy Artifactory and Artifactory Operator to clab Cluster

**Which Sprint Goal is this issue related to?**

**Done**

- [ ] Artifactory is deployed and functional (without image repository certificates)
- [ ] Operator is managing repo and service account creation
- [ ] Caching repos have been verified (dockerhub and redhat image registry specifically)

• All tests passed (

[2020-07-10 22:52] jefkel opened #293 "Artifactory Service Deployment"
**Describe the issue**
Artifactory deployed to Lab and Silver clusters with the following features:
- [x] Caching image repository for all external images
- [x] Automation for provisioning private repositories and Artifactory access (Via operator)

**Which Sprint Goal is this issue related to?**

**Additional context**
Artifactory service already exists with appropriate features/functionality.  Ad

[2020-07-10 22:57] jefkel opened #294 "Deploy Artifactory to Silver Cluster"
**Describe the issue**
Deploy Artifactory and Artifactory Operator to Silver Cluster

**Which Sprint Goal is this issue related to?**

**Additional context**
Add any other context, attachments or screenshots

**Definition of done Checklist (where applicable)**
- [x] Artifactory service deployed and configured
- [x] Operator deployed and functionally validated

• All tests passed (specify what kind

[2020-07-10 23:00] jefkel opened #295 "Deploy Artifactory to klab"
**Describe the issue**
Deploy Artifactory and Artifactory Operator to klab Cluster

**Which Sprint Goal is this issue related to?**

**Additional context**
Add any other context, attachments or screenshots

**Definition of done Checklist (where applicable)**
- [x] Artifactory service deployed and configured
  - [x] remote docker registries (caching) configured (basic usage documented)
  - [x] othe

[2020-07-10 23:04] jefkel commented on #292
Deployment has begun, but ran into an issue with Patroni image builds not building appropriated (tied to current issue Clecio is experiencing).

Started SPIKE to investigate whether deploying via Patroni based Postgresql-Operator would be an appropriate direction.

If not, then will resume troubleshooting patroni build issue.

[2020-07-13 01:17] #123 closed, assigned to nobody

[2020-07-13 01:18] tosazuwa commented on #123
Duplicate

[2020-07-13 18:01] StevenBarre commented on #291
Upgrade did not solve the issues. Seeing 503 errors in browser console when using webgui. Uploaded a must-gather to one of the Red Hat cases Friday evening.

Opened a case with PANW 01526415 about seeing Dropped packets in `apoclt stats query packets` but the enforcers are still in Discovery Mode.

[2020-07-14 22:29] StevenBarre commented on #264
Rename of util ordered as RITM0067130

[2020-07-15 00:58] jefkel commented on #285
Investigating latest build of Patroni from https://github.com/bcdevops/platform-services/apps/pgsql/patroni (using Clecio's current 1.6.5 branch patroni/bump-1.6.5)

Built and runs well on OCP3, however with OCP4 I'm unable to sync the first replica:

Logs:
[code]

Where IP address is the IP Address of the replica pod.

Running a test backup on node-0 using pg_basebackup and the replication user w

[2020-07-15 19:54] StevenBarre commented on #291
Worked with Red Hat and @j-pye to troubleshoot. At one point Justin adjusted Aporeto host protection policy to handle the kubelet and a lot of the errors seemed to go away. Monitoring for now as Justin finishes up Aporeto testing.

[2020-07-16 16:38] Joe-Craig commented on #163
HP switches are now installed and configured for use in the Silver cluster

[2020-07-16 16:39] #163 closed, assigned to Joe-Craig

[2020-07-16 16:44] #195 closed, assigned to j-pye

[2020-07-16 17:01] tosazuwa commented on #249
@j-pye , @sbarre-esit to update with testing results/concerns

[2020-07-16 17:03] StevenBarre opened #296 "F5 Virtual Edition License"
**Description**
We are currently using the free LAB license for the F5 Virtual Editions used in KLAB and eventually CLAB. The LAB license has a 10Mbps limit on all traffic.  Previously this wasn't an issue as only the API and Apps traffic was traversing the F5, both of which are fairly low bandwidth. Now that all traffic to the nodes is NAT'ed via the F5 the limit is much more impact-full.

**DoD*