[2020-12-07 20:00] jefkel commented on #351
Operational implementation into KLAB complete.
Outstanding operations task created for zero-trust tightening
 - https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/developer-experience/781

Closing

[2020-12-07 20:00] #351 closed, assigned to jefkel

[2020-12-07 21:19] mitovskaol commented on #189
This work is handled by Hosting Branch and DXC, closing the ticket.

[2020-12-07 21:19] #189 closed, assigned to mitovskaol, Joe-Craig

[2020-12-08 00:22] StevenBarre commented on #425
@mitovskaol is someone going to generate the images for me? I'm not much of a designer.

Did we make any decisions about extra links to add? Maybe to the dev hub?

[2020-12-08 00:36] mitovskaol commented on #425
If I remember correctly  @sbathgate  volunteered to help with the images. In terms of the links, lets make the BCDevExchange logo clickable and point to DevHub.

[2020-12-08 00:52] StevenBarre commented on #425
As stated before:

[2020-12-08 01:05] jefkel commented on #347
Looks like the summary (as of Dec 7, 2020) captures the detail of the meeting, excluding the escalation process for requesting a quota change to something that is not a current t-shirt size.  (the conversation about involving David Ell, etc in a larger conversation about architecture and possible use of other DC services.)

That said, could I suggest that a markdown file get's created in a reposit

[2020-12-08 01:16] sbathgate commented on #425
I can put something together for you. Wouldn't consider myself a designer but I can make something up in Photoshop that should work.

[2020-12-09 00:34] StevenBarre commented on #469
Day 1:
- Scheduled Dell firmware updates on next reboot
- Triggered the OCP upgrade
- Upgraded Cluster Logging
- All nodes upgraded to 4.5.20

[2020-12-09 00:35] StevenBarre commented on #469
Day 2:
- Upgraded firmware on app-01 to 06

[2020-12-09 00:37] StevenBarre commented on #475
Started messing with my Nagios/Ansible pod again and ran into a bug. https://github.com/openshift/openshift-restclient-python/issues/389

[2020-12-10 01:10] StevenBarre commented on #469
Day 3:
- Firmware patched on app-07 to -09
- Firmware patched on masters and infra

Patching complete

[2020-12-10 01:10] #469 closed, assigned to StevenBarre

[2020-12-10 01:12] StevenBarre commented on #462
@mitovskaol (and Bev, but I don't know her github) What is our rollout plan for this? How much warning to we want to give users? In theory no one is using these images that we are removing from the platform, but probably good to give them a heads up?

[2020-12-10 03:11] jleach commented on #462
Personally, I don’t like these images. They’re bad news or teams to use. Case in point in MongoDB. Looks like its depreciated in 4.6 and I think Karim is using it. Its best they copy images to their tools namespace with an ImageStreamTag and not relay on any images from `openshift`. Also, never use any image in prod with the `lates` tag unless its manufactured by the team; and even then its not pr

[2020-12-10 17:00] StevenBarre commented on #462
@jleach I agree they need to go. I just think we need to make sure all the end users are well aware of the plans before we do it.

[2020-12-10 17:40] wmhutchison commented on #470
Will need to work with Tim Baker on this more - have created the initial admin account DXC uses on all of the physical servers. Will review with him more about his playbook and possible reasons OpenManage isn't picking up the new iDRAC configs.

[2020-12-10 17:40] wmhutchison commented on #471
Firewall rules submitted/fulfilled. Waiting on iniitial cluster to be built before firewall rules can be officially tested before closing this off.

[2020-12-10 19:07] jleach commented on #462
@sbarre-esit Here is some text to alert teams:

---

# TL;DR

On Tuesday December 15th at 9AM we will prune many sample templates and images from the OCP4 openshift namespace. We're doing this for a few reasons, including: Dissuade teams for using legacy technology that is not well supported in government (I'm looking at you PHP); reduce clutter and confusion in templates; dissuade teams for relyi

[2020-12-10 20:51] wmhutchison commented on #472
Blocked for now. New server has DNS connectivity issues, which has been traced to missing firewall rules that would normally have been implemented during initial setup of the network and F5. This has been pushed for expedition, will revisit when firewall rules are confirmed to be in place.

[2020-12-10 23:12] StevenBarre commented on #462
CHG0021029 - MCS SILVER - Update Samples Operator to exclude most Templates and ImageStreams
scheduled for Dec 15th

Text copied into the notification PR https://github.com/BCDevOps/platform-services-status-page-notifications/pull/112

[2020-12-11 00:11] #216 closed, assigned to StevenBarre

[2020-12-11 18:04] mitovskaol commented on #347
@jefkel  All decisions pertaining to the OCP 4 Platform that impact product teams are documented as issues in the OCP 4 Migration repo and are searchable in DevHub.

[2020-12-11 19:27] StevenBarre commented on #475
Will resume work in the new year.

[2020-12-11 19:43] jefkel commented on #347
Typically, an issue description is written as the issue, and solutions/workarounds/etc are documented as comments within that structure.  The current use of the "issues" seems to be a mix of that approach, along with specific solutions documented in the Issue description.

The previous suggestion is specific to Solutions/Decisions written as Github "Issue descriptions".  These decisions do not hav

[2020-12-14 20:29] wmhutchison opened #476 "OCP GOLD - Bootstrap GOLD cluster"
**Describe the issue**
The initial bootstrap process involves populating the BOOTSTRAP VM with its base image and configuration and from there, continue bootstrapping the master and infra nodes until the process is at the stage where the BOOTSTRAP VM can be shut down due to no longer being required by the cluster. At the conclusion of this task we will have the core of a working OCP4 cluster for G

[2020-12-14 20:50] wmhutchison opened #477 "OCP GOLD - Configure the new GOLD cluster"
**Describe the issue**
After bootstrapping all nodes is complete, final configuration will need to be applied before the cluster is in a working state.

**Which Sprint Goal is this issue related to?**

**Additional context**
Involved playbook is found here: <https://github.com/bcgov-c/platform-ops/tree/ocp4-base/ocp4>

**Definition of done Checklist (where applicable)**
- [x] Run playbooks/config-

[2020-12-15 20:20] wmhutchison commented on #462
The scheduled RFC for this work in PROD failed with the following ansible message.

[code]

The strange thing is that we attempted to re-do the KLAB playbook as well and it couldn't execute either, despite Steven having done this change in KLAB previously.

For now, we'll do a deeper analysis of the "why" for this, since the involved UTIL servers where we run these playbooks for KLAB and SILVER we

[2020-12-16 17:53] wmhutchison opened #478 "OCP KLAB2 - Order required VMs"
**Describe the issue**
SDSF forms need to be generated based off of current KLAB2 specs for the purpose of facilitating the process of ordering and building out the new VMs required for the KLAB2 cluster. No UTIL server required for this work - it will leverage KLAB's existing UTIL server.

A total of 10 servers will be ordered.
- 3 master VMs
- 3 infra VMs
- 4 app VMs

**Which Sprint Goal is this

[2020-12-16 23:54] wmhutchison opened #479 "OCP GOLD - Setup NetApp Filer"
**Describe the issue**
While not technically required for the initial bootstrap of the core cluster, persistent storage as provided by a dedicated physical NetApp filer is crucial both for the completion of configuring the cluster and allowing the cluster to take on workloads.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable

[2020-12-17 17:21] mitovskaol commented on #308
@funixz What is the status of this work? Has the MVP been released yet? If so, I will close the ticket.

[2020-12-17 17:23] jefkel commented on #308
Sorry @mitovskaol , I'm reviewing and validating instructions, and aim to release this week.

[2020-12-17 21:12] mitovskaol commented on #162
Migrating teams are encouraged to contribute to the Q&A section that is captured in the OCP 4 Migration repo's Issues.

[2020-12-18 19:27] wmhutchison commented on #462
Blocked for now until some time can be invested into investigating the reason why the playbook involved no longer works in both KLAB and SILVER.

[2020-12-18 19:28] wmhutchison commented on #462
Moved to Sprint Backlog instead. Will attempt to revisit this over the holldays.

[2020-12-18 22:25] wmhutchison opened #480 "PRB0040484 AlertManager reporting hourly specific KubeAPIErrorsHigh failures"
**Describe the issue**
Once an hour both KPROD and SILVER clusters are showing specific LIST KubeAPIErrorsHigh errors for podmonitors, prometheusrules and servicemonitors. Appears to have started not long after we upgraded to OCP 4.5.20.

**Which Sprint Goal is this issue related to?**

**Additional context**
Red Hat case: https://access.redhat.com/support/cases/#/case/02829539

**Definition of do

[2020-12-18 22:27] wmhutchison commented on #480
preliminary web searches suggest that https://bugzilla.redhat.com/show_bug.cgi?id=18918 might apply here, which means final fix is an upgrade to OCP 4.5.22.

Opened a Red Hat case though and provided the must-gather for KLAB both to get a second opinion and also ensure nothing else is amiss.

[2020-12-24 21:21] wmhutchison commented on #472
Issues resolved. the UTIL server officially went live as a server build on Monday December 21st. Configuration of the UTIL server was completed by end of day December 23rd.

[2020-12-24 21:21] #472 closed, assigned to wmhutchison

[2020-12-24 21:25] wmhutchison commented on #476
Once we bootstrap the BOOTSTRAP VM, we will be able to properly QA the results of the previous internal API VIP config on the F5.

[2020-12-24 21:28] wmhutchison commented on #470
Work is complete. Delegated this entire task to Tim Baker to finish so that other work on the GOLD cluster could proceed un-impeded.

[2020-12-24 21:28] #470 closed, assigned to wmhutchison

[2020-12-31 06:56] wmhutchison commented on #462
Identified and fixed the issue. Root cause still needed, but a recent OS patch on our OCP4 UTIL servers bumped python2-kubernetes from python2-kubernetes-11.0.0-2.el7.noarch to python2-kubernetes-12.0.1-1.el7.noarch . A roll-back of that package fixes the problem.

Re-ran the playbook, executed flawlessly. Will close this off next business day if no meltdown is apparent.

[2020-12-31 17:55] wmhutchison commented on #462
Nothing broke and no screaming, closing this issue.

[2020-12-31 17:55] #462 closed, assigned to jleach, wmhutchison

[2021-01-04 16:43] wmhutchison commented on #471
Successfully tested remote API access by virtue of testing API VIP while addressing lack of internal access.

[2021-01-04 16:43] #471 closed, assigned to wmhutchison

[2021-01-04 19:57] wmhutchison opened #481 "Recent Python component upgrades break ansible k8s_info functionality"
**Describe the issue**
Recent OS patching revealed issues with ansible playbooks not able to run correctly and instead generate the following message.

[code]
A sizable portion of the current ansible playbooks needed to complete configuration of a new cluster rely upon the k8s_info module working correctly, thus this issue needs to be addressed with a permanent solution if possible, and a work-aro

[2021-01-05 17:03] mitovskaol commented on #347
@jefkel I find it easier to find the solution if it is documented in the body of the issue vs scrolling down and looking for it buried somewhere in the comments as it might not even be the last one. I agree that it is important to preserve the thought process that led us to the final solution so instead of deleting and replacing the solution  in the issue body with a new approach, we will be using

[2021-01-05 17:03] #347 closed, assigned to jleach, j-pye, juhewitt, mitovskaol

[2021-01-05 17:49] StevenBarre commented on #468
Trident v20.10 (current installed version) has now been cleared for OCP 4.6.8 https://github.com/NetApp/trident/commit/8ab8a5ccfa418cc90b8cb9bcf9169d4ca3d0755b

This ticket is no longer required.

[2021-01-05 20:10] wmhutchison commented on #476
Bootstrap complete. May need to do it again if configuration stage of the cluster doesn't work or if previously-broken VIPs affect the results, but that process will go fairly quickly when re-done.

[2021-01-05 20:10] #476 closed, assigned to wmhutchison

[2021-01-06 23:02] wmhutchison commented on #478
Ball's now in Luke's court to place the iStore orders.

[2021-01-06 23:03] wmhutchison commented on #479
Confirmed this works - automation is able to configure NetApp using credentials.

[2021-01-06 23:03] #479 closed, assigned to wmhutchison

[2021-01-06 23:32] j-pye commented on #424
Examples created.

Need to confirm whether TCP/UDP with different ports are supported in the same External Network. I received that question today.

[2021-01-06 23:49] #478 closed, assigned to wmhutchison

[2021-01-06 23:54] wmhutchison commented on #481
Work-around achieved on all OCP4 UTIL servers for now. Moving to Backlog until more time can be allocated into research into a longer-term fix.

[2021-01-06 23:57] wmhutchison commented on #480
Killing Prometheus operator works as a work-around. Moving to Blocked since we need an OCP upgrade to permanently fix.

[2021-01-07 00:18] wmhutchison opened #482 "OCP GOLD - Configure Nagios monitoring for the cluster"
**Describe the issue**
Automation currently exists in the form of an image which when build/provisioned, allows us to configure agentless monitoring for all available Openshift nodes within the cluster said image is ran on.

The DXC tools team has re-issued APIs for use with Nagios going forward, and thus will require us to first update the repo with new vault values.

**Which Sprint Goal is this

[2021-01-07 00:32] StevenBarre commented on #474
Blocked until the Aporeto namespace is renamed and we can do some testing.

[2021-01-07 19:32] StevenBarre commented on #482
9 gold hosts in Nagios.

[2021-01-07 23:37] jleach commented on #101
All the new RC material, including the helper app Reggie are located [here](https://github.com/bcgov/rocketchat).

[2021-01-07 23:43] jleach commented on #101
The data migration plan. Run time ~ 54min.

# Data Migration

### Prerequisites

1. Destroy and rebuild empty mono instance on Silver (without dry-run data);

### Dump

1. oc logon to the source cluster;
2. oc project e5imao-prod
3. oc scale dc/rocketchat --replicas=0
4. oc rsync data-pump:/uploads/ uploads/
5. oc port-forward service/mongodb 27017
6. docker run -it --rm --name mongo -v $(pwd):/da

[2021-01-08 20:17] StevenBarre commented on #468
Sneaky NetApp. They just released 20.10.1 which explicitly lists k8s 1.20. So reopening this.

[2021-01-08 23:43] wmhutchison commented on #477
Base configuration is complete.

[2021-01-08 23:43] #477 closed, assigned to wmhutchison

[2021-01-11 17:28] wmhutchison opened #483 "OCP GOLD - Complete cluster configuration using CCM"
**Describe the issue**
CCM will be used to complete configuration of the GOLD cluster. That includes core support software like Aporeto and Sysdig, as well as configuring oauth services and other configurations already delegated to CCM.

The goal is that unless needed for the initial cluster build, configuration work for the cluster should be handled via CCM.

**Which Sprint Goal is this issue rel

[2021-01-11 17:32] #101 closed, assigned to jleach

[2021-01-11 17:33] #399 closed, assigned to jleach

[2021-01-11 18:57] wmhutchison opened #484 "OCP KLAB2 - Submit iStore Orders for new VMs"
**Describe the issue**
BCGov stakeholders will need to place iStore orders with provided SDSF forms. DXCAS stakeholders will be able to confirm the orders once preliminary tasks for QA'd the SDSF forms arrive in ServiceNow.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Submit iStore orders with provided SDSF form

[2021-01-11 19:03] wmhutchison opened #485 "OCP KLAB2 - IP address reservations and DNS"
**Describe the issue**
IP addresses need to be assigned to the new VMs for the KLAB2 cluster.

VRA will be used to handle the IP address reservations and non-PROD DNS, and NNR will be used to create the production (DMZ domain) DNS entries.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] use VRA to reserve IP addres

[2021-01-11 19:28] wmhutchison opened #486 "OCP KLAB2 - Load balancer VIP requests"
**Describe the issue**
Unique VIPs will be needed for api/api-int/apps hostnames specific to the KLAB2 cluster.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] reserve IPs for new VIPs using VRA and NNR
- [x] submit ticket requests using standard forms for new VIPs
- [x] Confirm fulfillment of all LB tickets (now s

[2021-01-11 19:56] StevenBarre commented on #394
After discussions with the devs on Slack, VirtualStoragePools can't be used for multiple storagePrefixes. The way we are doing it now is the correct best practice.

[2021-01-11 19:58] StevenBarre commented on #394
Dynamic Export Policies docs contain this warning.

As best I can tell, this feature just makes sub-policies to limit access to just the IPs of the nodes. Since we have a dedicated private subnet for storage, there isn't really a risk of having non-authorized nodes attempt to mount volumes off the NetApp. We already have code to manage the NetApp and create that default policy limiting access to t

[2021-01-11 21:22] wmhutchison opened #487 "OCP KLAB2 - Firewall request for external API access"
**Describe the issue**
For allowing external API access to the new KLAB2 cluster, a firewall access request will need to be submitted.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Confirm first with Dan Deane how much of this now can be done inside NSX-T
- [x] DXCAS to submit internal ticket requesting firewall

[2021-01-11 21:30] wmhutchison opened #488 "OCP KLAB2 - UTIL server and multi-cluster compatibility"
**Describe the issue**
An Openshift 4 UTIL server is built to support an Openshift cluster with a distinct VLAN assignment. To save provisioning time, the call was originally made to deploy KLAB2 on the same network as KLAB, which means KLAB2 will need to share KLAB's UTIL server.

This issue will track due diligence meant to audit the UTIL server and supporting automation for building/maintaining

[2021-01-11 21:38] wmhutchison opened #489 "OCP KLAB2 - Prepare KLAB2 node inventory files"
**Describe the issue**
As part of the preparation for building out the KLAB2 cluster, we will need to prepare the YAML inventory files used to prepare both the TFTP/DHCP configuration as well as create suitable Ignition files on the UTIL server to allow bootstrapping of all the involved nodes.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist

[2021-01-11 21:43] wmhutchison opened #490 "OCP KLAB2 - Bootstrap KLAB2 cluster"
**Describe the issue**
This issue tracks effort spent bootstrapping the KLAB2 cluster, starting with the dedicated BOOTSTRAP VM (can re-use the one from KLAB) until all of the nodes are bootstrapped into operation.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Bootstrap BOOTSTRAP VM
- [x] Bootstrap master nodes a

[2021-01-14 00:36] StevenBarre commented on #394
Working on switching back to the Operator with https://github.com/bcgov-c/platform-ops/pull/346

[2021-01-14 00:38] StevenBarre commented on #426
Working in Draft PR https://github.com/bcgov-c/platform-ops/pull/346 on the namespace rename to `openshift-bcgov-trident`. Justin has updated the Apo policy in KLAB and I cycled all the enforcers.

I discovered some gotchas with namespace renaming and operators and am working to make a playbook to properly handle migrating all the CRs needed.

[2021-01-14 00:38] StevenBarre commented on #468
Working on this via https://github.com/bcgov-c/platform-ops/pull/346

[2021-01-14 00:59] StevenBarre commented on #425
Proposed solution is to use the banner thingy.

[code]

Other cluster colors are

- ![](https://via.placeholder.com/300x35/C0C0C0/000000?text=KAMLOOPS+SILVER+CLUSTER) SILVER #C0C0C0 / #000000
- ![](https://via.placeholder.com/300x35/FF0000/FFFFFF?text=KAMLOOPS+LAB+CLUSTER) KLAB #FF0000 / #FFFFFF
- ![](https://via.placeholder.com/300x35/FFD700/000000?text=KAMLOOPS+GOLD+CLUSTER) Gold #FFD700 / #0000

[2021-01-14 01:00] StevenBarre commented on #425
@mitovskaol Looks like we also need a colour chosen for GOLDDR / Calgary Gold Cluster

[2021-01-15 00:32] StevenBarre commented on #426
Testing stalled waiting for Apo to be re-installed in KLAB. Currently it has some reconcile issues with the trident namespace in OCP, vs the CRs in the apo namespace, and the objects in the cloud backend. This is preventing creation of trident related namespaces.

[2021-01-19 00:35] StevenBarre commented on #475
PR https://github.com/bcgov-c/platform-tools/pull/24

I might rewrite this from bash to ansible in the future, but it's a start!

[2021-01-19 00:37] StevenBarre commented on #474
Sounds like renaming the namespace isn't going to happen. New plan is to use Ansible in a CronJob to query Thanos with a service account for all the built in alerts but with the namespace addded and then publish those to Nagios.

[2021-01-19 17:44] wmhutchison commented on #485
Adding Tim Baker since he is working on this now, and moving into "In progress".

[2021-01-19 18:54] j-pye commented on #440
Add `openshift-oauth-apiserver` to excluded namespaces

[2021-01-20 16:49] StevenBarre commented on #446
**Subject: [FIRING:1] UpdateAvailable 1.2.3.4:9099 (stable-4.6 metrics cluster-version-operator openshift-cluster-version cluster-version-operator-748d5ddbbf-9tg94 openshift-monitoring/k8s cluster-version-operator info https://api.openshift.com/api/upgrades_...**

[code]

[2021-01-20 17:52] StevenBarre commented on #452
Emailed @NickCorcoran some JSON dumps from KLAB

[2021-01-20 22:31] StevenBarre commented on #475
@mitovskaol this is now deployed to SILVER. We'll be adding some additional monitoring under other tickets.

[2021-01-20 23:46] NickCorcoran commented on #452
JSON dumps reviewed.  Content acceptable to send to RedHat.

[2021-01-20 23:46] #452 closed, assigned to StevenBarre, NickCorcoran

[2021-01-21 00:05] mitovskaol commented on #475
thank you for awesome new @sbarre-esit it will definitely help me sleep better at night :)

[2021-01-21 00:30] StevenBarre commented on #482
Done

[2021-01-21 00:30] #482 closed, assigned to StevenBarre, wmhutchison

[2021-01-21 00:31] #475 closed, assigned to StevenBarre

[2021-01-21 18:42] wmhutchison opened #491 "OCP4 SILVER - Build 6 VMs for SILVER to augment capacity"
**Describe the issue**
Business stakeholders wanted some additional APP nodes to augment the SILVER cluster's capacity to take on new projects, so that more OCP3 migrations can be kicked off without first waiting for OCP3 hardware to be freed up.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Create SDSF forms and

[2021-01-21 18:55] wmhutchison commented on #491
Normally would have created this as its own Epic with broken-out Issue tickets to track all of the pieces, but due to the time constraint on needing to get this done quickly, opted to track under a single Issue ticket instead.

[2021-01-21 19:21] StevenBarre commented on #425
PR is ready to merge for SILVVER https://github.com/bcgov-c/platform-gitops-kamloops-silver/pull/15/files

I don't think we need a CHG for this do we? or a post in the alerts channel?

[2021-01-21 19:38] mitovskaol commented on #425
@sbarre-esit it is a minor chage, so just a post in #devops-alerts should be sufficient

[2021-01-21 20:15] StevenBarre commented on #425
Merged and tested in SILVER. Will close this now and revisit once more clusters get into CCM to get their colors.

[2021-01-21 20:15] #425 closed, assigned to StevenBarre, mitovskaol

[2021-01-21 21:50] wmhutchison commented on #491
CLosing this out due to hand-over completed.

[2021-01-21 21:50] #491 closed, assigned to wmhutchison, tbaker1313, tmorik

[2021-01-21 21:51] #484 closed, assigned to wmhutchison, lukegonis

[2021-01-21 22:10] tbaker1313 commented on #485
This is completed. DNS and IP addresses have been assigned.

[2021-01-21 22:10] #485 closed, assigned to wmhutchison, tbaker1313

[2021-01-21 23:04] wmhutchison commented on #486
Had forgotten the wildcard *.apps.klab2.devops.gov.bc.ca - entered that into NNR now, will confirm once NNR updates.

Order forms for VIPs submitted.

[2021-01-21 23:33] wmhutchison commented on #486
DNS all confirmed. Moving to Blocked while we wait for fulfillment of the F5 VIPs.

[2021-01-22 16:25] wmhutchison opened #492 "OCP KLAB2 - Determine whether or not signed certificates for APPS and API are required"
**Describe the issue**
Normally for an OCP cluster we would need to purchase certificates for the API URL as well as for the APPS wildcard DNS entries versus the self-signed certificate that an OCP4 cluster starts off with.

**Which Sprint Goal is this issue related to?**

**Additional context**

**Definition of done Checklist (where applicable)**
- [x] Discuss with Steven Barre if signed certs ar

[2021-01-22 22:22] wmhutchison commented on #492
Final answer: Steven confirmed we are not purchasing signed certs for KLAB2 on the basis that this is meant as a temporary/short term cluster build as a Proof of Concept only. If that changes, then we'll push forward with ordering/installing certs.

[2021-01-22 22:22] #492 closed, assigned to wmhutchison

[2021-01-22 22:37] wmhutchison commented on #444
Moving to Backlog for now  - we need to get a successful 4.6 upgrade completed first.

[2021-01-22 22:40] wmhutchison commented on #445
Will review once KLAB reaches a completely successful upgrade state regarding 4.6 upgrade.

[2021-01-22 23:39] wmhutchison opened #493 "OCP KLAB2 - Configure KLAB NetApp to support KLAB2"
**Describe the issue**
During earlier meetings involving this project and licensing, it was determined that we can leverage the existing KLAB NetApp virtual appliance instead of standing up a new appliance for KLAB2 only. This saves us time and resources for licensing since KLAB2 isn't meant to take on large workloads, being a Proof of Concept.

This issue will track efforts spent by the DXCAS Sto

[2021-01-25 18:15] wmhutchison commented on #486
Upstream tickets now created for fulfilling the LB requests. All are aiming for completion for the week of Feb 3rd-8th.

[2021-01-25 21:59] wmhutchison commented on #488
Step 1 is to look at the top-level playbook in the `rhcos-ignition-builder` repo to determine how much of the `config-util.yaml` playbook needs to be re-used for KLAB2. It calls the following roles as-is.

- httpd
- dhcpd
- tftpd
- ocp
- ignition

We do not need to re-include the httpd role. It gets installed and configured just once, and at present there's no rationale why KLAB2 needs a separate

[2021-01-26 00:48] StevenBarre commented on #394
Moving to Blocked until the Aporeto Enforcers can be restarted.

[2021-01-26 00:49] StevenBarre commented on #426
Moving to Blocked until the Aporeto Enforcers can be restarted.

[2021-01-26 00:49] StevenBarre commented on #468
Moving to Blocked until the Aporeto Enforcers can be restarted.

[2021-01-26 00:50] mitovskaol commented on #316
Adding a link to the slide deck with Clecio's idea for using Artifactory for image management.

[2021-01-26 18:26] wmhutchison commented on #493
Internal ticket RITM0082292 now created for Storage team to start working on this. Three STOR-VLAN IP addressses were assigned/specified in the ticket for Storage to configure the cluster.

[2021-01-27 01:08] StevenBarre commented on #474
Draft PR https://github.com/bcgov-c/platform-tools/pull/29

[2021-01-27 17:03] wmhutchison commented on #493
Due to Infoblox data for the KLAB STOR VLAN not being 100% up-to-date yet, we mistakenly assigned to Storage team incorrect IPs.

New IPs picked by Storage team:

192.168.103.40 - mcs-klab2-netapp-01.nfs.hs.advsol.tech
192.168.103.41 - mcs-klab2-netapp-01.iscsi1.hs.advsol.tech
192.168.103.42 - mcs-klab2-netapp-01.iscsi2.hs.advsol.tech

[2021-01-27 20:36] wmhutchison commented on #493
Confirmed new management IP works via SSH and shows us a working KLAB2 environment (192.168.103.40).

[2021-01-27 21:03] #493 closed, assigned to wmhutchison

[2021-01-28 00:59] StevenBarre commented on #446
Abandoning the 4.6 upgrade for now to focus on SDN issues. Moving to backlog.

This was solved with a sub-route to the warning/info route, but never committed to git.

[code]

[2021-01-28 01:03] StevenBarre commented on #261
Switching namespaces was abandoned due to difficulty.

Monitoring pod counts was implemented in Silver.

Additional prometheus based monitoring was done in KLAB, but not promoted to Silver.

Suggest we close this ticket now that we are moving towards SDN instead of Aporeto.

[2021-01-28 16:16] #489 closed, assigned to wmhutchison, tbaker1313

[2021-01-28 16:16] tbaker1313 commented on #489
This is completed and PR is ready for promotion.

[2021-01-28 17:56] #261 closed, assigned to j-pye, StevenBarre

[2021-01-29 19:44] j-pye commented on #425
Just following up on this. Making a diagram and it would be helpful to have the right color for GoldDR :)

[2021-01-29 20:04] mitovskaol commented on #425
@j-pye  We will go with  #FFD700 for Gold.

[2021-01-29 20:28] StevenBarre commented on #425
@mitovskaol Calgary GOLD DR should be a different color than Kamloops GOLD though?

[2021-01-29 20:35] wmhutchison commented on #490
Moving to Backlog for now, since it currently will not be happening during current Sprint. Will revisit when next sprint starts up.

[2021-01-29 21:36] mitovskaol commented on #425
@sbarre-esit How about we show a thin red horizontal strip on the top of the Gold DR banner (the banner colour will be gold as in Gild cluster)?

[2021-01-29 22:29] StevenBarre commented on #425
@mitovskaol that is not something the `ConsoleNotification` object supports. As shown above it only accepts values for text, text color, and background color.

[2021-01-29 22:33] mitovskaol commented on #425
What do you think of darker gold color #A38A00?

[2021-01-29 22:36] StevenBarre commented on #425
![](https://via.placeholder.com/300x35/A38A00/000000?text=CALGARY+GOLD+DR+CLUSTER) Works for me

[2021-01-30 00:43] wmhutchison commented on #488
Not quite finished - will likely need to go a bit into next Sprint.

[2021-02-01 20:36] StevenBarre commented on #481
The python2-kubernetes package has been rolled back to v11 in the RPM repos. So a `yum update python2-kubernetes` will fix this now.

[2021-02-01 20:36] #481 closed, assigned to wmhutchison

[2021-02-02 19:22] #424 closed, assigned to jleach, j-pye

[2021-02-02 19:22] j-pye commented on #424
Closing. Docs and Examples have been created in the migration repo. Further documentation will not be written.

[2021-02-02 23:41] StevenBarre commented on #474
@mitovskaol This work is 90% complete (and can be reused for other things), but should I finish this off for the 6 weeks we have left of aporeto? or just abandon it and close this ticket?

[2021-02-02 23:46] #486 closed, assigned to wmhutchison

[2021-02-03 18:42] wmhutchison commented on #488
https://github.com/bcgov-c/rhcos-ignition-builder/pull/23 created with respect to changes needed. Doing initially just the basic requirements to sandbox KLAB2 from KLAB in terms of updates of content to the UTIL server.

Will need to test it out, taking care to backup KLAB files in case something isn't properly done and KLAB content is clobbered.

Once complete, next step is integrating NSX-T YAML

[2021-02-03 23:08] wmhutchison commented on #487
Will be able to get this fired off this sprint.

[2021-02-03 23:09] wmhutchison commented on #488
Bumping estimate up due to new challenges being found in terms of modifying playbooks which combined with the UTIL server was truly meant to be only for a single cluster, and not multiple clusters.

Reviewing on more detail all of the playbooks and templates to best determine how to deal with this in a clean fashion.

[2021-02-04 00:08] StevenBarre commented on #474
Closing the ticket and keeping the github branch to be reused for other things.

[2021-02-04 00:08] #474 closed, assigned to StevenBarre

[2021-02-04 22:50] StevenBarre commented on #366
Argo PR https://github.com/bcgov-c/platform-gitops-gen/pull/72

[2021-02-08 19:36] manderson-it commented on #325
@j-pye This is complete. Reopen if you feel otherwise.

[2021-02-08 19:36] #325 closed, assigned to j-pye, manderson-it

[2021-02-08 19:38] manderson-it commented on #324
Since there is nothing to action here, as discussed months ago, I will close this @j-pye

[2021-02-08 19:38] #324 closed, assigned to j-pye, manderson-it

[2021-02-08 23:05] StevenBarre commented on #366
Rolled out to silver.

[2021-02-08 23:05] #366 closed, assigned to StevenBarre

[2021-02-09 00:33] StevenBarre commented on #217
Result of RFE

Since we run the soft-prune at 5am there's very little risk of pushing images then.

[2021-02-09 00:33] #217 closed, assigned to StevenBarre

[2021-02-11 22:08] wmhutchison commented on #488
Completed all prep work.

[2021-02-11 22:08] #488 closed, assigned to wmhutchison

[2021-02-11 22:12] wmhutchison commented on #490
Started work this week with VMWare. We are getting as far as bringing up the BOOTSTRAP VM, but not complete the initial process of booting up the MASTER nodes.

Work on this takes place daily with respect to working with VMWare stakeholders via con-call/screen-sharing to work out issues that are coming up bringing up the master nodes properly. This is related to NSX-T, which replaces key network c

[2021-02-12 19:08] jefkel commented on #376
cancelled (will be leveraging networkpolicy objects after aporeto removal)

[2021-02-12 19:08] #376 closed, assigned to j-pye

[2021-02-12 23:35] j-pye commented on #305
Closing. Aporeto install but only until complete removal.

[2021-02-12 23:35] #305 closed, assigned to j-pye

[2021-02-17 19:13] StevenBarre commented on #468
Completed via
CHG0022281 MCS SILVER - Move and Upgrade Trident to v20.10.1

[2021-02-17 19:13] #468 closed, assigned to StevenBarre

[2021-02-17 19:14] StevenBarre commented on #394
Completed via
CHG0022281 MCS SILVER - Move and Upgrade Trident to v20.10.1

[2021-02-17 19:14] #394 closed, assigned to StevenBarre

[2021-02-17 19:14] StevenBarre commented on #426
Completed via
CHG0022281 MCS SILVER - Move and Upgrade Trident to v20.10.1

[2021-02-17 19:14] #426 closed, assigned to j-pye, StevenBarre

[2021-02-18 07:50] j-pye commented on #357
This has been implemented and merged. We still need to sync to existing namespaces.
https://github.com/bcgov-c/devops-fulfillment-pipeline/pull/7

[2021-02-18 07:57] j-pye commented on #440
The aporeto service is being removed in from the platform and will not be installed in OCP4.6. Closing.

[2021-02-18 07:57] #440 closed, assigned to j-pye

[2021-02-18 21:49] mitovskaol commented on #252
As we are pivoting from Aporeto to OCP 4 SDN, this ticket is no longer relevant, closing it.

[2021-02-18 21:49] #252 closed, assigned to j-pye

[2021-02-18 21:50] mitovskaol commented on #312
The information hub for OCP 4 migration has been created in the OCP 4 Migration Repo where we also leverage the GitHub Issues to capture problems and their solutions in the Q&A format.

https://github.com/BCDevOps/OpenShift4-Migration

[2021-02-18 21:50] #312 closed, assigned to jefkel

[2021-02-18 21:52] #207 closed, assigned to StevenBarre

[2021-02-23 00:40] wmhutchison commented on #490
Not going to be completed within Sprint 23. Will definitely continue into Sprint 24.

While external progress is non-existent (stuck at getting Master nodes built and configured into working API/etcd cluster), daily progress is made with regards to the KLAB2 cluster and NSX-T systems. Ongoing daily efforts spent with DXCAS and VMware stakeholders working towards the completion of this task.

[2021-02-24 17:05] wmhutchison commented on #487
Leaving this in Sprint Backlog. Available time didn't present itself during Sprint 23 to tackle this at all due to work on initial bootstrapping of the cluster has eaten up all available time.

Am expecting a small lull in the cluster-bootstrap efforts to arise in the next few days, so will remain in Sprint Backlog with the intent of pushing this out the door during Sprint 24.

[2021-02-24 17:05] wmhutchison commented on #490
Work is ongoing. The following top-level changes have been made.
- a branch of the original playbooks in rhcos-ignition-builder was made and modified to be used for generating content for KLAB2
- baremetal install of OCP/NSX-T not possible with the provided instructions, need to follow the vSphere method of installing.
- vSphere method negates the need to feed the TFTPD configs for KLAB2, we need

[2021-02-24 17:11] wmhutchison commented on #490
DXCAS has an additional meeting with VMWare today to discuss current progress and roadblocks preventing initial cluster install to complete.

[2021-02-24 17:28] #398 closed, assigned to j-pye, manderson-it

[2021-02-24 17:29] mitovskaol commented on #398
The Vaultt Service has been implemented in KLAB and Silver for internal use (Platform Services team only) in Feb 2021.

[2021-02-24 17:55] j-pye commented on #458
@manderson-it Think we can close this since we're no longer using TF Cloud for the modules portion.

[2021-02-24 19:16] manderson-it commented on #458
@j-pye agreed, this has changed in the Terraform module is now cloned inside the GitHub Actions container. Closing.

[2021-02-24 19:16] #458 closed, assigned to j-pye, manderson-it

[2021-02-24 22:29] StevenBarre commented on #456
This was fixed in v4.5.27 and will be included in this quarters patching of Silver

[2021-02-24 22:31] StevenBarre commented on #480
Should be fixed in v4.5.22 and will be included in this quarters patching of Silver

[2021-02-25 23:00] StevenBarre commented on #483
Docs reviewed and followed to install CCM in Gold.

GOLD is having issues with SSH to GitHub, as we've had with other clusters. I've entered a ticket for the network team, but CCM will be in a semi working state in GOLD until that is resolved.

Moving to Blocked until SSH is fixed.

[2021-03-02 04:37] #480 closed, assigned to StevenBarre, wmhutchison

[2021-03-02 04:37] StevenBarre commented on #480
Silver upgraded to v4.5.31

[2021-03-02 04:38] StevenBarre commented on #483
SSH Fixed. Made a few more tweaks to CCM gen repo to get things nice and smooth.

[2021-03-02 04:38] #483 closed, assigned to StevenBarre, wmhutchison

[2021-03-02 04:38] StevenBarre commented on #456
Silver patched.

[2021-03-02 04:38] #456 closed, assigned to StevenBarre, wmhutchison

[2021-03-02 17:00] wmhutchison commented on #487
Moving to Blocked for now. There's been some recent network IP range changes to the KLAB2 project, and before we carve out a proper firewall request, want to make sure we have properly solidified on what is taking place so that the firewall rule requests will be accurate.

[2021-03-02 17:02] wmhutchison commented on #490
Moving to Blocked for now based off of feedback by Dan Deane as to current state (external connectivity to the Internet needs to be opened up to the NSX-T network since install process cannot download required Red Hat image files otherwise.

[2021-03-02 22:36] tmorik commented on #448
Investigating API docs and trying to get a metrics from klab-util server. Unlike the OCP bastion host,  KLAB util server seems to have route and FW rule to the API server. However, the user to the API server is not working and getting 401 authentication error.

[code]

Checking doc: http://docs.netapp.com/ocum-97/topic/com.netapp.doc.onc-um-api-dev/Managing%20your%20environment%20using%20REST%20AP

[2021-03-02 22:38] tmorik commented on #448
Need an API access permission?  The user that has been used here can login to the Active IQ GUI and API using a browser.

[2021-03-02 22:55] StevenBarre commented on #448
I think you are just running into an issue of bash interpreting the special symbols in the password. Try instead wrapping in single quotes

[code]

[2021-03-04 01:13] tmorik commented on #448
Made a simple POC script to call Net App's REST API and output it a csv format.

[code]
(Currently only MCS_SILVER-NETAPP-01 is used. )

These outputs are...

[code]

Based on this poc script, I will write up test script (add variables, args and error check etc, etc...)and try to made up a ansible play-book next.

[2021-03-04 17:16] StevenBarre commented on #448
https://docs.ansible.com/ansible/latest/collections/ansible/builtin/uri_module.html is going to be very helpful to interact with REST via Ansible.

[2021-03-04 22:18] j-pye commented on #422
Completed. But further documentation will not be written as Aporeto is being removed. Closing

[2021-03-04 22:18] #422 closed, assigned to j-pye

[2021-03-04 22:19] j-pye commented on #430
Completed in the last 2 sprints. Closing.

[2021-03-04 22:19] #430 closed, assigned to j-pye

[2021-03-04 22:44] #473 closed, assigned to wmhutchison

[2021-03-05 01:36] tmorik commented on #448
Changed script name to `getStorageNodeStatus.py` and modified the script to accept arges and added `storage node name` field after the time stamp:

example:

[code]

Looking for a location that I can upload these scripts on GitHUB...

[2021-03-13 00:56] wmhutchison opened #494 "OCP4 KLAB2 - Add extra network to cluster and configure persistent storage"
**Describe the issue**
This ticket will track efforts spent towards adding another network interface to the KLAB2 cluster for the purpose of allowing it to connect to the KLAB2 instance off the KLAB NetApp appliance. Was not able to add the storage network at the start of the cluster build since the required method of install (vSphere versus baremetal) seems to have issues at the start with multip

[2021-03-13 00:57] wmhutchison commented on #490
Was unblocked this week after some configmap.yaml changes were applied by request from VMWare engineering. Was able to complete a cluster build this week, but not able to proceed further since due to some initial limitations/issues only a PROD network interface was created for the nodes, we still need a STOR network interface to allow the nodes to connect to

[2021-03-13 00:57] #490 closed, assigned to wmhutchison

[2021-03-13 00:58] wmhutchison commented on #494
This was started near the end of Sprint 24, and almost certainly will need to go into Sprint 25 as well.

[2021-03-15 23:53] tmorik commented on #448
playbook has been created under this draft repo : https://github.com/bcgov-c/platform-tools/pull/32

Clone the repo and run the playbook:

[code]

and it will generate a csv file with current status of Netapp Silver cluster status:

[code]

Note: CSV file will store only the results of the latest run.  It contains : header, each storage cluster nodes status (silver just has two nodes), and Cluster

[2021-03-15 23:56] tmorik commented on #448
trying to use ansible's url module to make this happen, but looks like it's a bit confusing for me. so that I wrote it up in python. If we really need to use ansible's url module, will do it in next sprint.

[2021-03-16 17:47] tmorik commented on #448
PR opened : https://github.com/bcgov-c/platform-tools/pull/32

[2021-03-17 16:51] wmhutchison commented on #487
Moving from Blocked to Sprint Backlog for now. The development churn on KLAB2 appears to have subsided so we can safely plan on getting firewall rules implemented. Will push this out early in this upcoming sprint, but not right away (some remaining work on KLAB2 takes precedence).

[2021-03-17 16:54] wmhutchison commented on #494
Closing off this task as unexecuted. Copy/pasting below what was added to the main notes of the task.

UPDATE: Closing off this as no longer required. NSX-T stakeholders made the decision for the sake of completing the proof of concept in a timely fashion that the KLAB2 cluster remains a single-NIC deployment, and instead of using NetApp storage using VMware's native ESXi storage for PVC's will su

[2021-03-17 16:54] #494 closed, assigned to wmhutchison

[2021-03-17 16:57] wmhutchison opened #495 "KLAB2 OCP4 - Complete configuration of KLAB2 cluster"
**Describe the issue**
Now that KLAB2 cluster build has matured to the point that involved stakeholders no longer feel the need to rebuild it, work will now proceed to complete the overall configuration process so that the cluster may be viable for use by users involved to assist with testing of the cluster with respect to NSX-T.

**Which Sprint Goal is this issue related to?**

**Reasons) for Bei

[2021-03-19 18:02] StevenBarre commented on #357
@j-pye has this been synced to existing namespaces?

[2021-03-19 22:35] StevenBarre commented on #448
Moving to Blocked until I have time to review the PR.

[2021-03-19 23:44] wmhutchison commented on #433
https://docs.openshift.com/container-platform/4.6/installing/installing_bare_metal/installing-bare-metal.html#installation-user-infra-machines-advanced_disk_installing-bare-metal

"
Kubernetes supports only two filesystem partitions. If you add more than one partition to the original configuration, Kubernetes cannot monitor all of them."

Not sure if that's two filesystem partitions per disk, or t

[2021-03-25 16:08] #448 closed, assigned to StevenBarre, tmorik

[2021-03-25 16:08] StevenBarre commented on #448
Plan determined and [ticket](https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/developer-experience/946) for implementation created. Closing.

[2021-03-25 17:34] StevenBarre commented on #409
# Secure cookie 02817747
Turns out this was Artifactory and not part of OpenShift

[2021-03-25 19:15] wmhutchison commented on #495
Thus far the playbook  changes involved will require the following tweaks.

1. Do not run any portion of the playbooks which require installing purchased certs for API/APP VIP URLs. These are not required for the services involved with Openshift to function, the end users will need to be aware of this lack of certs and plan accordingly. Not hard to un-do if a decision is made later to revisit chan

[2021-03-25 19:19] wmhutchison commented on #487
Will confirm with Dan Deane when he's back in office next week as to how much of this can be fielded by NSX-T changes since the production interface for KLAB2 is now 100% within the control of NSX-T for firewall access.

[2021-03-25 21:16] #162 closed, assigned to jleach, jefkel

[2021-03-25 21:23] lukegonis commented on #384
No longer applicable!

[2021-03-25 21:23] #384 closed, assigned to jleach

[2021-03-25 21:26] jleach commented on #162
The Migration Toolkit for Containers is out of scope for this ticket. It is being done as part of another ticket(s).

[2021-03-25 21:34] jleach commented on #304
Closing. Aporeto was installed and is now removed. This ticket is no longer needed.

[2021-03-25 21:34] #304 closed, assigned to nobody

[2021-03-25 21:34] jleach commented on #251
This EPIC is no longer needed. Aporeto was installed and then removed from the cluster(s).

[2021-03-25 21:34] #251 closed, assigned to j-pye

[2021-03-25 21:38] j-pye commented on #226
I believe this has been tacked now but I'll leave it for you to close since you're the author @jefkel

[2021-03-25 21:39] jleach commented on #467
No longer relevant. The migration to OCP4 is well under way and may of these ideas may be outdated.

[2021-03-25 21:39] #467 closed, assigned to jleach

[2021-03-29 16:45] StevenBarre commented on #141
- tools: existing and new netapp specific tools

Storage team has existing monitoring tools and SMTP alerts configured and tested.

- roles: DXC has control, will need to present data as it's not exposed to other teams

Storage team owns this and will create any needed INCs. MCS will pass the info on via RC same as we would for a SAN issue.

[2021-03-29 16:45] #141 closed, assigned to StevenBarre

[2021-03-31 00:04] mitovskaol commented on #254
in March 2021, the PVC counts for medium and large size quotas have been increased from 20PVCs to 40 PVCs and 60PVCs respectively.

[2021-03-31 13:45] WadeBarnes commented on #254
I've confirmed the updated PVC counts in one of our Medium and Large project sets.

[2021-04-06 19:36] wmhutchison commented on #495
Not quite finished - will spill into Sprint 26 by a few business days.

[2021-04-06 19:40] wmhutchison commented on #487
Remains in Sprint Backlog, but should be finally fulfilled in the upcoming Sprint 26 due to other dependencies also seeking resolution during that Sprint period.

[2021-04-07 08:08] #357 closed, assigned to j-pye

[2021-04-07 17:37] lukegonis commented on #328
Cancelled, no longer needed

[2021-04-07 17:37] #328 closed, assigned to stewartshea

[2021-04-07 18:01] lukegonis commented on #309
closing this issue without updating the CLI download tools URL because it is not currently a supported configuration option for the openshift operator

[2021-04-07 18:01] #309 closed, assigned to StevenBarre

[2021-04-07 18:13] NickCorcoran commented on #409
Secure cookie issue moved to reflect Artifactory
- bcdevops/developer-experience/1087

[2021-04-07 22:42] NickCorcoran commented on #208
Closed and continued with https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/developer-experience/1096

[2021-04-07 22:42] #208 closed, assigned to jefkel, StevenBarre, NickCorcoran

[2021-04-12 19:47] StevenBarre commented on #446
Added to https://github.com/bcgov-c/platform-ops/pull/351/commits/bdeaf427305bada52fd0907d6371be51d424a697

[2021-04-12 19:47] StevenBarre commented on #450
Added to https://github.com/bcgov-c/platform-ops/pull/351 and tested in CLAB

[2021-04-13 18:12] StevenBarre commented on #441
Update included in https://github.com/bcgov-c/platform-tools/pull/28

[2021-04-13 22:01] StevenBarre commented on #438
@NickCorcoran I can confirm that 15m timeouts in the browser is a real pain in the butt :P

[2021-04-13 22:25] wmhutchison commented on #495
Blocking for now. While node IP addresses have access to vSphere and outside internet, the SNAT IP ranges which are assigned to each namespace does not have this yet. Dan Deane is aware of this and is submitting appropriate requests to address this problem. Once resolved, completion of cluster config can proceed.

[2021-04-13 22:28] wmhutchison commented on #432
When using openshift-install binary to create bootstrap for the BOOTSTRAP VM, the written Ignition for OCP4.6 is version 3.1.0.

[2021-04-13 23:02] StevenBarre commented on #451
Yes.

No.

[2021-04-13 23:24] StevenBarre commented on #451
https://github.com/bcgov-c/platform-ops/pull/351/commits/93f5f7889d3ae60cd384098286b5eaafe4837c05

[2021-04-14 17:01] StevenBarre commented on #439
https://github.com/bcgov-c/platform-gitops-gen/pull/125/commits/53463ca81fdda470b57eb36f9265759802f390aa

[2021-04-14 23:36] StevenBarre commented on #437
https://github.com/bcgov-c/platform-gitops-gen/pull/125/commits/eec1fb7b9f3002a847992446dd00943a5a4e68dd

Using the CIS profiles for now. Open to changing if desired @NickCorcoran

[2021-04-15 19:37] wmhutchison commented on #487
Backlogging this entirely for now. Too many other things for KLAB2 need to be figured out first and resolved before getting this done, so we avoid having to file multiple firewall requests. Dan's currently cooking up a big firewall request to resolve a bunch of operational issues.

[2021-04-19 23:49] StevenBarre commented on #438
Blocked on the 2021Q2 Silver upgrade CHG

[2021-04-19 23:50] #446 closed, assigned to StevenBarre

[2021-04-19 23:50] StevenBarre commented on #446
Updated config will get rolled out during quarterly patching.

[2021-04-19 23:50] StevenBarre commented on #444
Blocked on the 2021Q2 Silver upgrade CHG

[2021-04-19 23:50] StevenBarre commented on #445
Blocked on the 2021Q2 Silver upgrade CHG

[2021-04-19 23:51] StevenBarre commented on #443
Blocked on the 2021Q2 Silver upgrade CHG

[2021-04-19 23:51] StevenBarre commented on #442
Blocked on the 2021Q2 Silver upgrade CHG

[2021-04-19 23:52] StevenBarre commented on #450
Blocked awaiting @NickCorcoran confirming Audit logs are being captured

[2021-04-19 23:53] NickCorcoran commented on #450
Audit logs are captured by SIEM.

[2021-04-19 23:54] StevenBarre commented on #441
Blocked on the 2021Q2 Silver upgrade CHG

[2021-04-19 23:55] StevenBarre commented on #451
Blocked on the 2021Q2 Silver upgrade CHG

[2021-04-19 23:55] StevenBarre commented on #439
Blocked on the 2021Q2 Silver upgrade CHG

[2021-04-19 23:56] StevenBarre commented on #437
Blocked on the 2021Q2 Silver upgrade CHG

[2021-04-20 15:33] #450 closed, assigned to StevenBarre, NickCorcoran

[2021-04-21 16:28] wmhutchison commented on #495
Additional issues discovered and resolved. One being ansible playbooks for generating ignition file for bootstrap, where the following item was not being fulfilled in the playbooks in terms of manually removing specific generated manifest files.

https://docs.openshift.com/container-platform/4.5/installing/installing_vsphere/installing-vsphere.html#installation-user-infra-generate-k8s-manifest-ign

[2021-04-21 16:44] wmhutchison commented on #495
Currently there exist docs meant for CCM to configure oauth with a new cluster.

https://github.com/bcgov-c/advsol-docs/blob/master/OCP4/CCM/OAuth.md

Since CCM at the end of the day is just syncing/maintaining Kubernetes objects, we should be able to setup oauth via creation of suitable Kubernetes objects and ansible tasks to install them. Will review CCM to determine how that can best be done, s

[2021-04-22 16:25] wmhutchison commented on #495
Dan has filed a priority firewall request to resolve the last network access requirements which involve SNAT IPs assigned to namespaces as the source cannot reach outside to the Internet while node IPs can. Once this is resolved, then will the following work again:

- OCP cluster will be able to contact Red Hat servers for info on EFK InstallPlan data, thus allowing us to complete EFK logging inst

[2021-04-23 23:31] wmhutchison commented on #495
Firewall request was filed and fulfilled, but network access still not working. Opened incident ticket INC0052062 for Network to investigate and  resolve. Once resolved, that should unlock completely all remaining blockers for finishing KLAB2..

[2021-04-28 16:07] wmhutchison commented on #495
Net result of Network's due diligence is that the outside router is not advertising the CIDR in question. An emergency change request was entered to rectify this, should be applied in less than two business days, at which time we will revisit and determine if we can remove this item from Blocked.

[2021-04-29 17:08] wmhutchison commented on #495
No longer blocked, can proceed with completion. Will continue into Sprint 27.

[2021-04-29 17:09] wmhutchison commented on #487
Can proceed with this task in Sprint 27.

[2021-04-29 17:13] StevenBarre commented on #438
Completed via CHG0025038 - MCS SILVER - 2021 Q2 Patching - Upgrade to OCP 4.6.21

[2021-04-29 17:13] #438 closed, assigned to StevenBarre, NickCorcoran

[2021-04-29 17:13] StevenBarre commented on #444
Completed by CHG0025038 - MCS SILVER - 2021 Q2 Patching - Upgrade to OCP 4.6.21

[2021-04-29 17:13] #444 closed, assigned to StevenBarre

[2021-04-29 17:14] StevenBarre commented on #445
Completed by CHG0025038 - MCS SILVER - 2021 Q2 Patching - Upgrade to OCP 4.6.21

[2021-04-29 17:14] #445 closed, assigned to StevenBarre

[2021-04-29 17:14] StevenBarre commented on #443
Not cooperating on Silver reliably. Needs investigation.

[2021-04-29 17:16] #442 closed, assigned to StevenBarre

[2021-04-29 17:16] StevenBarre commented on #442
Completed by CHG0025038 - MCS SILVER - 2021 Q2 Patching - Upgrade to OCP 4.6.21

[2021-04-29 17:17] StevenBarre commented on #441
Completed by CHG0025038 - MCS SILVER - 2021 Q2 Patching - Upgrade to OCP 4.6.21

[2021-04-29 17:17] #441 closed, assigned to StevenBarre

[2021-04-29 17:18] StevenBarre commented on #437
Completed by CHG0025038 - MCS SILVER - 2021 Q2 Patching - Upgrade to OCP 4.6.21

[2021-04-29 17:18] #437 closed, assigned to StevenBarre

[2021-04-29 17:18] StevenBarre commented on #439
Completed by CHG0025038 - MCS SILVER - 2021 Q2 Patching - Upgrade to OCP 4.6.21

[2021-04-29 17:18] #439 closed, assigned to StevenBarre, NickCorcoran

[2021-04-29 17:19] #451 closed, assigned to StevenBarre

[2021-04-29 17:19] StevenBarre commented on #451
Completed by CHG0025038 - MCS SILVER - 2021 Q2 Patching - Upgrade to OCP 4.6.21

[2021-05-03 22:57] wmhutchison commented on #487
Firewall access request form filled out, internal request submitted under ticket RITM0092838.

[2021-05-06 21:04] wmhutchison commented on #495
Closing off this ticket. Some issues still remain, but stakeholders made the decision to release this cluster into production use while those issues continue being worked on by other stakeholders.

The major pressing issue is Kibana does not work at all, the NSX-T load Balancer consistently generates a 502 Bad Gateway error.

[2021-05-06 21:04] #495 closed, assigned to wmhutchison

[2021-05-06 21:06] wmhutchison commented on #487
Firewall change planned for evening of Monday May 10th, will confirm once work is announced as completed.

[2021-05-12 22:02] wmhutchison commented on #487
Setup completed, access confirmed with external network test against API.

[2021-05-12 22:02] #487 closed, assigned to wmhutchison

[2021-05-13 16:33] mitovskaol commented on #407
@ShellyXueHan Can you please change *pathfinder-rh-sso-prod* to *oidc.gov.bc.ca* or *BC Gov KeyCloak SSO*

[2021-05-13 17:27] #269 closed, assigned to ShellyXueHan

[2021-05-13 21:57] wmhutchison commented on #433
Might separate this one outside of the 4.6 upgrade Epic since while it's involving a feaure/option now available to us as a result of upgrading to 4.6, it is not needed to upgrade clusters to 4.6.

[2021-05-19 16:09] mitovskaol commented on #52
This work has been complete.

[2021-05-19 16:09] #52 closed, assigned to j-pye, StevenBarre

[2021-06-03 17:55] garywong-bc commented on #357
It still hasn't been fixed as we non-admins don't have access to the `entitlements.yml` file... can we please update https://github.com/BCDevOps/OpenShift4-Migration/issues/15#issue-736283810 to put back in the 'thou shalt talk to PlatformOps to do this..'?  /cc @StevenBarre

[2021-06-04 19:04] wmhutchison commented on #357
@garywong-bc The `entitlements.yml` file is deprecated since the contents are synced by the Project Registry into your -tools namespace.

[code]

[2021-06-07 17:38] #4 closed, assigned to nobody

[2021-06-07 17:39] mitovskaol commented on #7
This info will be included in ZenHub Etiquette that @lukegonis  is working on.

[2021-06-07 17:39] #7 closed, assigned to stewartshea

[2021-06-07 18:17] mitovskaol commented on #27
Our communication channels are documented [here](https://github.com/bcgov/devhub-resources/blob/master/resources/alignment/communication_community_and_support.md)

[2021-06-07 18:17] #27 closed, assigned to nobody

[2021-06-07 18:30] mitovskaol commented on #32
@j-pye Can you please have a look at this ticket and close if this had already been implemented.

[2021-06-07 18:32] mitovskaol commented on #40
This change has been implemented as Silver cluster MVP.

[2021-06-07 18:32] #40 closed, assigned to nobody

[2021-06-07 18:33] #51 closed, assigned to nobody

[2021-06-07 18:33] mitovskaol commented on #43
This has been implemented as Silver cluster MVP.

[2021-06-07 18:33] #43 closed, assigned to nobody

[2021-06-07 18:33] mitovskaol commented on #54
This has been implemented a KLAB cluster MVP.

[2021-06-07 18:33] #54 closed, assigned to nobody

[2021-06-07 18:34] mitovskaol commented on #60
This has been completed as CLAB cluster MVP.

[2021-06-07 18:34] #60 closed, assigned to StevenBarre, wmhutchison

[2021-06-07 18:34] mitovskaol commented on #62
This has been implemented as CLAB cluster MVP.

[2021-06-07 18:34] #62 closed, assigned to nobody

[2021-06-07 18:34] mitovskaol commented on #63
This has been implemented as CLAB cluster MVP.

[2021-06-07 18:34] #63 closed, assigned to nobody

[2021-06-07 18:34] mitovskaol commented on #65
This has been implemented as CLAB cluster MVP.

[2021-06-07 18:34] #65 closed, assigned to nobody

[2021-06-07 18:36] mitovskaol commented on #66
The failover design is documented in [this ticket](https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/developer-experience/1108)
A separate ticket will be open to document network details for Gold Kamloops and Gold Calgary (DR) clusters in Documize.

[2021-06-07 18:36] #66 closed, assigned to nobody

[2021-06-07 18:40] #28 closed, assigned to nobody

[2021-06-07 18:41] mitovskaol commented on #68
@wmhutchison Can this be closed?

[2021-06-07 18:42] mitovskaol commented on #70
@wmhutchison Can you please have a look and close the ticket if this work has already been completed.

[2021-06-07 18:43] mitovskaol commented on #72
@wmhutchison Has this been done?

[2021-06-07 18:43] mitovskaol commented on #73
@wmhutchison Has this been done?

[2021-06-07 18:45] mitovskaol commented on #74
This work will be traced in separate tickets once we decide what security tools will be deployed to Gold.

[2021-06-07 18:45] #74 closed, assigned to nobody

[2021-06-07 18:45] mitovskaol commented on #76
This work will be traced in separate tickets once we finalize the Gold service roll out strategy

[2021-06-07 18:45] #76 closed, assigned to nobody

[2021-06-07 18:46] mitovskaol commented on #84
This work will be tracked in new tickets once the work in ARO resumes

[2021-06-07 18:46] #84 closed, assigned to nobody

[2021-06-07 20:01] mitovskaol commented on #32
Since we are uncertain about our plans for ARO, closing the ticket and will open a new one once we have a more concrete plan.

[2021-06-07 20:01] #32 closed, assigned to nobody

[2021-06-07 20:53] mitovskaol commented on #91
Closing as it is not part of our roadmap at this moment.

[2021-06-07 20:53] #91 closed, assigned to nobody

[2021-06-07 20:54] mitovskaol commented on #96
Not enough context to understand the scope of this ticket.

[2021-06-07 20:54] #96 closed, assigned to nobody

[2021-06-07 20:54] mitovskaol commented on #99
These will be addressed in the the Gold service failover strategy.

[2021-06-07 20:54] #99 closed, assigned to nobody

[2021-06-07 20:55] mitovskaol commented on #100
Status page has not been retired in favour of the Uptime Robot Dashboard

[2021-06-07 20:55] #100 closed, assigned to nobody

[2021-06-07 20:56] mitovskaol commented on #92
This has been addresses as part of new project provisioning in Project Registry

[2021-06-07 20:56] #92 closed, assigned to nobody

[2021-06-07 20:56] mitovskaol commented on #85
Will be tracked in separate tickets , one per tool.

[2021-06-07 20:56] #85 closed, assigned to nobody

[2021-06-07 20:56] mitovskaol commented on #104
Not enough context

[2021-06-07 20:56] #104 closed, assigned to nobody

[2021-06-07 20:57] #105 closed, assigned to nobody

[2021-06-07 20:57] mitovskaol commented on #107
This work will planned and implemented once we have our training portfolio finalized.

[2021-06-07 20:57] #107 closed, assigned to nobody

[2021-06-07 20:58] mitovskaol commented on #108
This will be addressed when we build our training portfolio.

[2021-06-07 20:58] #108 closed, assigned to nobody

[2021-06-07 20:59] mitovskaol commented on #109
As we switched to. Openshift 4 SDN, teams will leverage KNPs for controlling ingress traffic.

[2021-06-07 20:59] #109 closed, assigned to stewartshea

[2021-06-07 21:00] mitovskaol commented on #110
This has been addressed with the roll out of the Openshift 4 Platform

[2021-06-07 21:00] #110 closed, assigned to nobody

[2021-06-07 21:00] mitovskaol commented on #126
The project provisioning project has been automated via the Project Registry.

[2021-06-07 21:00] #126 closed, assigned to sheaphillips

[2021-06-07 21:01] mitovskaol commented on #150
Not enough details, closing it.

[2021-06-07 21:01] #150 closed, assigned to nobody

[2021-06-07 21:03] mitovskaol commented on #169
This will tracked in separate tickets once we finalize our ARO plan

[2021-06-07 21:03] #169 closed, assigned to nobody

[2021-06-07 21:03] mitovskaol commented on #170
This work will tracked in separate tickets once we finalize our ARO plan.

[2021-06-07 21:03] #170 closed, assigned to nobody

[2021-06-07 21:03] #173 closed, assigned to tosazuwa

[2021-06-07 21:09] mitovskaol commented on #196
@patricksimonian  Is this still relevant?

[2021-06-07 21:15] #206 closed, assigned to nobody

[2021-06-07 21:15] #226 closed, assigned to nobody

[2021-06-07 21:16] mitovskaol commented on #227
@jleach Is this still relevant or it has been addressed through KNPs?

[2021-06-07 21:17] mitovskaol commented on #278
@NickCorcoran is this still relevant?

[2021-06-07 21:18] mitovskaol commented on #281
Project provisioning for Openshift 4 has been implemented in Project Registry

[2021-06-07 21:18] #281 closed, assigned to nobody

[2021-06-07 21:19] mitovskaol commented on #292
I think it has been complete.

[2021-06-07 21:19] #292 closed, assigned to caggles

[2021-06-07 21:20] mitovskaol commented on #288
@jleach Where did your thinking about this lead you ?

[2021-06-07 21:20] mitovskaol commented on #300
This work will be tracked in the Uptime Robot Dashboard development tickets.

[2021-06-07 21:20] #300 closed, assigned to nobody

[2021-06-07 21:21] #308 closed, assigned to arendej

[2021-06-07 21:21] mitovskaol commented on #308
MTC has been successfully installed and use to migrate multiple projects from OCP 3 to OCP 4

[2021-06-07 21:23] #350 closed, assigned to StevenBarre, wmhutchison

[2021-06-07 21:26] mitovskaol commented on #356
The domain will be reserved for PS team's use only.

[2021-06-07 21:26] #356 closed, assigned to nobody

[2021-06-07 21:27] mitovskaol commented on #364
@jleach Is this still relevant or can be closed?

[2021-06-07 21:28] mitovskaol commented on #378
The Migration Toolkit for Containers tool has been successully implemented and use for Openshift 3 to 4 migration.

[2021-06-07 21:28] #378 closed, assigned to jefkel

[2021-06-07 21:29] mitovskaol commented on #385
@j-pye Do you intend to still do this?

[2021-06-07 21:57] NickCorcoran commented on #278
@mitovskaol I think w/ Hosting working on the SDN Zone and AG's involvement there, my contributions will be less as they should be doing the heavy lifting on policy updates.  Will lower estimate, but is still something that will at least need my review cycles.

[2021-06-07 21:59] mitovskaol commented on #321
Checked it, still relevant.

[2021-06-07 22:33] j-pye commented on #227
@mitovskaol  Still relevant. This is to make CLAB to KLAB and Calgary Gold to Kamloops Gold non-http traffic possible for teams.

[2021-06-07 22:36] j-pye commented on #196
@mitovskaol still relevant but we could probably close this one in favor of some more specific tasks on the developer-experience board?

[2021-06-07 23:19] #196 closed, assigned to j-pye

[2021-06-07 23:22] mitovskaol commented on #313
It would be a great feature to have, will keep it in Backlog until we have capacity to tackle it.

[2021-06-07 23:32] mitovskaol commented on #405
@j-pye Can you please update the status of the ticket and if we are still awaiting the response from the vendor as per [this ticket](https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/openshift4-rollout/318) , please let me know and I can escalate.

[2021-06-07 23:37] mitovskaol commented on #417
@IanKWatts  When you have time, can you please look into this ticket to see if this could be a good automation opportunity for you to tackle in the future Sprints. Thank you :)

[2021-06-08 13:21] jleach commented on #288
I’d close it. We don’t offer Casddy as an image and I’m would prefer not to offer more. Also, In this specific case a chained build is the right way to go.

Regards,

Jason Leach

[2021-06-08 16:06] #288 closed, assigned to jleach

[2021-06-08 16:53] j-pye commented on #429
Base Upgrade PR: https://github.com/bcgov-c/platform-gitops-gen/pull/175
Misc fixes after testing in KLAB: https://github.com/bcgov-c/platform-gitops-gen/pull/176

[2021-06-09 17:10] #320 closed, assigned to j-pye

[2021-06-09 17:23] IanKWatts commented on #417
@j-pye @ShellyXueHan  Can you tell me if this issue is still relevant?  If so, has its status changed?

[2021-06-09 17:25] wmhutchison commented on #68
I believe so, the meeting we had earlier this week going over GOLD DR did not reveal any requirements from the F5 stakeholder (John Moody) apart from final VIP configuration (in progress).

[2021-06-09 17:25] #68 closed, assigned to StevenBarre, wmhutchison

[2021-06-09 17:29] ShellyXueHan commented on #417
@IanKWatts I've updated some details of this ticket yesterday. see the `Status` part ^^^ It is still relevant, but let's wait for a settlement on which SSO service we use for ocp cluster login.

[2021-06-09 17:35] wmhutchison commented on #70
Can be closed, tracking this via Epic https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/developer-experience/1224

[2021-06-09 17:35] #70 closed, assigned to wmhutchison

[2021-06-09 17:41] wmhutchison commented on #200
Will need to spend some time ingesting the overall contents of this particular ticket to determine if it's still relevant, or otherwise completed or now tracked under newer and more accurate tickets.

[2021-06-09 17:46] #67 closed, assigned to nobody

[2021-06-09 17:46] #103 closed, assigned to filiy

[2021-06-09 17:46] #124 closed, assigned to nobody

[2021-06-09 17:46] mitovskaol commented on #124
Project provisioning moved to Project Registry, we are also looking to automate GitHub org membership with Just Ask! app.

[2021-06-09 17:47] #172 closed, assigned to filiy

[2021-06-09 17:50] mitovskaol commented on #172
Closing ARO tickets for now as this work has been put on hold. Once we finalize our ARO adoption strategy, new tickets will be created.

[2021-06-09 17:51] mitovskaol commented on #182
Aporeto has been removed from OCP 4 Platform and we switched to use OCP 4 Built-In SDN instead.

[2021-06-09 17:51] #182 closed, assigned to stewartshea, DanDeane

[2021-06-10 18:02] mitovskaol commented on #363
@NickCorcoran If you already have a clear idea of how AQUA will scan prod namespaces, please document it here and close the ticket. If not, please book a meeting with the team to brainstorm it together.

[2021-06-10 18:02] #362 closed, assigned to jleach

[2021-06-10 20:38] wmhutchison commented on #443
May or may not even keep lldpad for the long term since it doesn't seem DXC Network folks are making use of this, and it's for their sake that we're attempting to make this work in Openshift.

[2021-06-10 20:40] wmhutchison commented on #227
Adding to Sprint Backlog for now to investigate more fully since it'll be part of the whole GOLD solution (GOLD/GOLD DR).

[2021-06-10 20:49] wmhutchison commented on #72
Already tracked under a much better ticket, closing.

[2021-06-10 20:49] #72 closed, assigned to wmhutchison

[2021-06-10 20:50] wmhutchison commented on #73
Not yet, but the work required is tracked under a much improved ticket. Closing.

[2021-06-10 20:50] #73 closed, assigned to wmhutchison

[2021-06-10 20:51] #17 closed, assigned to nobody

[2021-06-10 20:53] wmhutchison commented on #71
Keeping this ticket open a bit longer so we can confirm if it's needed on its own or if it's already tracked under an existing ticket.

[2021-06-10 20:54] wmhutchison commented on #413
Staying in Backlog for now since it's not clear yet if this is a dependency for GOLD DR or not.

[2021-06-17 21:35] wmhutchison commented on #431
Closing off this Epic since remaining tasks were not technically part of an upgrade process but more akin to activities that can take place once you have upgraded to 4.6.

[2021-06-17 21:35] #431 closed, assigned to StevenBarre, wmhutchison

[2021-06-22 21:15] #12 closed, assigned to nobody

[2021-06-22 21:15] mitovskaol commented on #89
This is captured as part of our CCM architecture docs.

[2021-06-22 21:15] #89 closed, assigned to nobody

[2021-06-22 21:15] mitovskaol commented on #20
This will be addressed via the Developer Access to SIEM work.

[2021-06-22 21:15] #20 closed, assigned to nobody

[2021-06-22 21:16] mitovskaol commented on #19
This will be addressed via Developer Access to the gov's SIEM product.

[2021-06-22 21:16] #19 closed, assigned to nobody

[2021-06-22 21:16] mitovskaol commented on #15
The app migration is wrapping up this week.

[2021-06-22 21:16] #15 closed, assigned to nobody

[2021-06-22 21:17] #14 closed, assigned to nobody

[2021-06-22 21:17] #9 closed, assigned to nobody

[2021-06-22 21:30] j-pye commented on #270
Vault is in progress.
Can't speak to AdvSol Monitoring
Artifactory hasn't be done. The app or Archeobot (operator)

[2021-06-24 20:21] #429 closed, assigned to j-pye

[2021-06-29 18:54] michaelshire commented on #313
Two things can help here!

1) Assuming your registry stores images on a PVC.  You can create an Alert when a PVC exceeds a certain threshold (e.g. size or %).  Very small effort to implement this.

2) Create a (daily?) cronjob that lists all the images above 100GB and their respective file sizes.  The output would be captured in the cronjob log (MVP), and with some additional configuration effort,

[2021-06-30 19:43] ShellyXueHan commented on #407
Done.

[2021-06-30 19:43] #407 closed, assigned to ShellyXueHan

[2021-07-06 20:13] j-pye commented on #457
Testing in LAB was successful. Vault was Rolled into prod on July 6th @ 1PM. Registry Sync on Prod has been started and this ticket will be closed once success is confirmed.

[2021-07-06 20:14] #326 closed, assigned to j-pye

[2021-07-06 20:16] j-pye commented on #318
This ticket will remain open until Gold and GoldDR are available with F5 CIS support for Cross Cluster Communication to support Vault's DR replication.

[2021-07-06 20:17] #405 closed, assigned to j-pye

[2021-07-14 18:47] michaelshire commented on #318
@j-pye  Had conversations with Marek on this topic before he left.  From my understanding, we should be able to use a Route with "TLS with SNI".  I have it generally documented.  I've used this pattern before to expose native Kafka ports (non HTTPS, but still TLS traffic).  If we have time tomorrow I can show you.

Is there a non-production environment where we could test out this solution?

[2021-07-14 19:32] j-pye commented on #318
@michaelshire we have two lab cluster, KLAB and CLAB which are located in Kamloops and Calgary respectively.
We have domains and certs for both Lab installations (Primary and Secondary (DR) sites)

Happy to discuss the SNI approach. And if you have any info or docs you can share then I can look over those before we meet.

[2021-07-15 15:10] michaelshire commented on #409
@StevenBarre @NickCorcoran

This is just an annotation that needs to be configured on the route.  Perhaps Aqua could have a policy to enforce the annotation on all routes?
https://docs.openshift.com/container-platform/4.6/networking/routes/route-configuration.html#nw-enabling-hsts_route-configuration

[2021-07-15 21:24] wmhutchison commented on #443
Closing this off, we're yanking lldpad from all OCP4 clusters for now due to too many technical issues and zero input/feedback from Network. May revisit at a later time/date. Will create a separate ticket to track disabling of lldapd pods on remaining clusters.

[2021-07-15 21:24] #443 closed, assigned to StevenBarre, wmhutchison

[2021-07-15 22:37] mitovskaol commented on #16
@wmhutchison can this now be closed?

[2021-07-15 22:43] wmhutchison commented on #16
@mitovskaol Yup, an unused Epic, can be closed. The single task https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/developer-experience/1314 remains open on a small bit of final paperwork that's about to drift in, and will be closed off as well when done.

[2021-07-15 22:43] #16 closed, assigned to nobody

[2021-07-16 15:25] michaelshire commented on #316
@lukegonis can you please add @arctiqaj to the Assignees

[2021-07-21 15:53] wmhutchison commented on #71
Proof of concept is nearing completion in our LAB environments. A good chance of this being tackled/completed in Sprint 31.

[2021-07-21 16:18] michaelshire commented on #316
Potential governance issue using multiple tools to encourage/enforce use of security toolsets (DAST/SAST).
Since all developer code is hosted on GitHub, recommendation was made to assess capabilities of GitHub Actions to meet the specific security automation requirements:
- Owasp-zap DAST
- Sonarcloud SAST
- CodeQL SAST
- Dependabot SAST
Perform high level assessment of potential costs for GitHub

[2021-07-21 16:22] NickCorcoran commented on #316
@michaelshire I would say that's after MVP.  Let's just get the scan integration there to start.

[2021-07-21 16:51] #457 closed, assigned to j-pye

[2021-07-21 20:00] StevenBarre commented on #433
https://access.redhat.com/solutions/4952011 has some more details for when we eventually get to this.

[2021-07-23 20:43] jleach commented on #227
I think this is probably a duplicate of a ticket @j-pye created to write an operator to do this work. He's 99.9% done.

[2021-07-23 20:58] mitovskaol commented on #227
@j-pye Can you please confirm this is the duplicate and if yes, close it, please.

[2021-07-23 21:07] michaelshire commented on #313
`oc -n openshift-image-registry exec deployment/image-registry -- find /registry -size 100G -exec ls -sh {} \;`
Will list all images larger than 100G.  This can be run in a cronjob, and you'll have a history of the outputs (in the logs).

[2021-07-23 21:56] #298 closed, assigned to StevenBarre, wmhutchison

[2021-07-26 16:54] ShellyXueHan commented on #463
this is for earlier when migrating RC to OCP4. Ticket already done, closing

[2021-07-26 16:54] #463 closed, assigned to caggles, ShellyXueHan

[2021-07-26 17:51] StevenBarre commented on #313
@michaelshire the issue is that images are stored in layers, and shared layers are only stored once. Individual images may also not be very large, but a namespace might have a lot of images. Additionally the data files and metadata files are stored separately so it is a bit of a process to determine which data files belong to which namespace. Here's some imperfect shell code we've used before. But

[2021-07-28 17:59] mitovskaol commented on #106
Closing as not enough context has been provided.

[2021-07-28 17:59] #106 closed, assigned to nobody

[2021-07-30 13:29] michaelshire commented on #316
Great news!  GitHub Actions are free for public repos!

https://docs.github.com/en/billing/managing-billing-for-github-actions/about-billing-for-github-actions#about-billing-for-github-actions

[2021-08-09 20:43] wmhutchison commented on #413
Issue no longer valid, since other tickets involving F5 integration work have taken us to newer versions of the operator across the board. Closing this off.

[2021-08-09 20:43] #413 closed, assigned to StevenBarre, wmhutchison

[2021-08-11 16:01] wmhutchison commented on #71
All Platform Operations work to my knowledge has been successfully completed to my knowledge. Wil have Steven Barre confirm this when he gets in, and if confirmed, this ticket will be closed. Otherwise it will likely stray into the next Sprint.

[2021-08-11 16:29] j-pye commented on #385
Confirmed Working.

[2021-08-11 16:29] #385 closed, assigned to j-pye

[2021-08-12 20:34] StevenBarre commented on #71
Done and tested.

[2021-08-12 20:34] #71 closed, assigned to StevenBarre, wmhutchison

[2021-08-23 17:07] j-pye commented on #227
Yes, it is.

[2021-08-23 17:07] #227 closed, assigned to j-pye, StevenBarre, wmhutchison

[2021-08-26 06:52] j-pye commented on #318
Closing as this appears to be working as expected now in both directions with the F5 CIS operator allowing for TCP traffic between the two clusters.

[2021-08-26 06:52] #318 closed, assigned to j-pye

[2021-09-13 19:38] wmhutchison commented on #432
Closing this off as no longer needed - has been superceded by https://app.zenhub.com/workspaces/platform-experience-5bb7c5ab4b5806bc2beb9d15/issues/bcdevops/developer-experience/1553

[2021-09-13 19:38] #432 closed, assigned to wmhutchison

[2021-09-21 01:46] NickCorcoran commented on #363
Agreed some brainstorming is needed, as well as standardization on expected image naming.  Many projects are using -tools images w/ latest label for builds to all environments.  I'll set something up for this.

[2021-09-22 21:17] wmhutchison commented on #447
The latest from Red Hat is that we should not be considering an upgrade to OVN until we're running an Openshift version that starts using OVN as the default on a new cluster install. This ticket will be revisited for consideration once that's changed.

[2021-09-22 21:24] wmhutchison commented on #433
Based on required R/D time and current maintenance work-loads, we might be able to start active research on this during 2021Q4, but more likely it'll be during 2022Q1. It's shaping up to be a busy quarter coming up (2021Q4) with both the existing maintenance work needing to be done, and then another errata push for OCP across the board. Any changes at this level will require each node to be re-ima

[2021-09-22 21:52] StevenBarre commented on #447
My understanding from Red Hat is they still don't have a well tested migration path from the old SDN to OVN. And it could be delayed until 4.9 or later.

Will close this and create a new ticket if/when we get an all clear from RH to upgrade.

[2021-09-22 21:52] #447 closed, assigned to mrobson, StevenBarre, wmhutchison

[2021-09-23 18:28] #185 closed, assigned to stregear

[2021-09-23 18:30] #220 closed, assigned to nobody

[2021-09-23 18:30] StevenBarre commented on #220
We no longer use the HPE tools on the servers. Closing.

[2021-09-23 18:30] StevenBarre commented on #222
Closing as out of date.

[2021-09-23 18:30] #222 closed, assigned to nobody

[2021-09-23 18:31] StevenBarre commented on #225
Not required on physical netapps.

[2021-09-23 18:31] #225 closed, assigned to nobody

[2021-09-23 19:54] Nicole-Huard opened #496 "DBaaS for Private Cloud: Options Analysis"
Arctiq to complete an Options Analysis for Off-the-shelf DBaaS solutions, compared to a "roll your own" solution (OpenSource on OpenShift) to provide an easy to consume Database solution for teams to consume.

Initial Discovery
Requirements gathering
Analysis
Delivery of documentation & high level architecture

[2021-10-13 00:05] #8 closed, assigned to nobody

[2021-10-13 00:05] #136 closed, assigned to filiy

[2021-10-13 00:05] #121 closed, assigned to jleach

[2021-10-13 00:17] #18 closed, assigned to nobody

[2021-10-13 00:19] #223 closed

[2021-10-13 00:19] #335 closed, assigned to stewartshea

[2021-10-13 21:54] lukegonis commented on #409
Closing this issue, as these items are low impact/low risk.

[2021-10-13 21:54] #409 closed, assigned to NickCorcoran

[2021-10-26 16:56] mitovskaol commented on #270
This work will tracked in separate tickets for each individual tool.

[2021-10-26 16:56] #270 closed, assigned to nobody

[2021-10-26 16:58] mitovskaol commented on #276
This work is tracked in a different ticket.

[2021-10-26 16:58] #276 closed, assigned to j-pye, manderson-it

[2021-10-26 17:30] mitovskaol commented on #278
No longer relevant. if needed, the new work will be tracked in a different ticket.

[2021-10-26 17:30] #278 closed, assigned to NickCorcoran

[2021-10-26 17:30] mitovskaol commented on #353
This work is tracked in a different issue,

[2021-10-26 17:30] #353 closed, assigned to j-pye